[2013-11-18 11:23] ghost opened #1 "README"
Hello!

I found an error in your README file! It says "This file is empy" instead of "Empty".

Thanks!

Btw, Hola Ray :dart:

[2013-11-18 23:15] #1 closed, assigned to nobody

[2014-11-09 09:52] debiatan opened #4 "Consider renaming "LoadCubesmap""
Hi! The issue I'm reporting here is kind of minor. If you find it too picky, feel free to ignore it without a second though.

[Cube mapping](https://en.wikipedia.org/wiki/Cube_mapping) has a long history in computer graphics and the term is already associated to a different concept than that implied by the raylib codebase.

Although a `Cubesmap` is not a [cube map](https://www.google.com/search?si

[2014-11-09 10:56] #4 closed, assigned to nobody

[2014-11-17 18:40] debiatan opened #7 "Pixel perfect DrawRectangleLines under OpenGL 1.1"
Currently, several pixel-based routines in RayLib are not pixel-perfect. I have picked `DrawRectangleLines` because I am using it in a program of mine.

`DrawRectangleLines` takes four arguments that define the shape of the rectangle to draw `(int posX, int posY, int width, int height)` and generates eight `rlVertex2i` calls to draw lines that define a square with corners in`(posX+1, posY+1)`, `(p

[2014-11-20 20:00] #7 closed, assigned to nobody

[2015-01-14 23:56] kd7tck opened #17 "Poor CPU Performance"
When running simple text based games, the CPU usage can be as high as 30%. It can be traced back to a poor implementation of system polling with GLFW.

[2015-01-18 11:01] raysan5 commented on #17
After further investigation, it seems that high (100% or 25% for quad-cores) CPU usage is the expected behavior for most cases in OpenGL/Direct3D games, **it mainly depends on graphics driver implementation**. Game loop just keeps running all the time if not locked in any way. In GLFW3 is possible to glfwWaitEvents() instead of glfwPollEvent() so frame swap can be locked waiting for events and CPU

[2015-01-19 04:47] kd7tck commented on #17
Having an option in the lib API for vsync might help allot. When vendor drivers have trouble with vsync, the opengl software can make up for that and override the driver settings.

[code]

[2015-01-19 15:11] raysan5 commented on #17
GLFW already uses `WGL_EXT_swap_control` extension to provide VSYNC (where this extension is available) but, again, it can be overriden by graphic driver, forcing on or off. Here it is further information on `Swap Internal`:

https://www.opengl.org/wiki/Swap_Interval

But there is something I can do; I can expose GLFW VSYNC mechanism to raylib users through a flag, to be set before windows creatio

[2015-01-20 02:49] kd7tck commented on #17
Thank you for the time and effort you have put into this.

[2015-01-24 08:56] procedural opened #18 "Update GLFW to 3.1?"
New GLFW version was released this week. I see raylib uses 3.0.4, which is a year old now.

[2015-01-24 13:43] raysan5 commented on #18
Thanks procedural, I already uploaded new GLFW version 3.1 to develop branch. It will be integrated into master branch in  next release (hopefully, in a couple of weeks).

[2015-01-24 13:54] raysan5 commented on #18
It seems that there are linking problems with new version with MinGW (32bit) under Windows 8.1 (64bit). I have to take a look at this issue: : undefined reference to `__ms_vsnprintf'

[2015-01-24 18:00] procedural commented on #18
Yea, your libs define these symbols:
[code]

And here I've compiled GLFW 3.1 today with mingw32 compiler on Windows 7:
[code]
Try them and if they work for you, you can use them for raylib:
https://mega.co.nz/#F!5J4F0Z4L!rP8BtygpB5pAIV5gI6clJA

[2015-01-26 21:16] raysan5 commented on #18
Thank you very much! It works for me! I integrate it into develop branch.

[2015-01-26 21:16] #18 closed

[2015-01-26 21:18] procedural commented on #18
Glad to help, @raysan5!

[2015-03-24 19:28] Yassine49 commented on #18
Thank you @procedural u save me from a looot o more searching

[2015-08-05 10:12] raysan5 commented on #17
Use function:     SetConfigFlags(FLAG_VSYNC_HINT);    // Use before InitWindow()

Underlying system, GLFW3, will try to enable vsync if graphic driver allows it.

Upcoming raylib v1.3 includes this change.

[2015-08-05 10:12] #17 closed

[2015-09-04 12:54] procedural opened #30 ""Shaders not supported on OpenGL 1.1" warning"
[code]
Then app runs without a shader applied. Same for other shader related examples.

Tested on latest Arch Linux with Mesa driver, here's `glxinfo` output:

[code]

[2015-09-04 13:02] procedural commented on #30
The only exception is `textures_particles_trail_blending`, it works as it should, no OpenGL 1.1 complaints.

[2015-09-04 15:55] raysan5 commented on #30
That's because library has been compiled to use OpenGL 1.1 and shaders are not supported. You must recompile raylib to use OpenGL 3.3; just change makefile line 52:

    # define raylib graphics api to use (on Windows desktop, OpenGL 1.1 by default)
    GRAPHICS ?= GRAPHICS_API_OPENGL_11
    #GRAPHICS = GRAPHICS_API_OPENGL_33  # Uncomment to use OpenGL 3.3

By default on Linux, raylib is configure

[2015-09-04 16:23] procedural commented on #30
Ah, should've read readme before opening an issue :) Thanks!

[2015-09-04 16:23] #30 closed

[2015-09-04 17:59] raysan5 opened #31 "[core] Fullscreen mode not working properly in some monitors"
When compiling a program to be fullscreen, depending on the monitor it runs it is not scaled (just centered on the screen) or not scaled properly. It seems this issue could be related to monitor supported videomodes; GLFW library initializes the correct videomode.

To enable fullscreen mode, call `SetConfigFlags(FLAG_FULLSCREEN_MODE)` before `InitWindow()`

Related functions [core.c]:

[code]

Use

[2015-09-04 18:07] raysan5 opened #32 "Android app cycle not paused when app loses focus"
raylib takes care internally of Android app cycle, this decisión was taken to make life easier to students that want to create raylib Android apps. After all, experienced programmers can just modify raylib internally. App cycle management should be reviewed.

Related functions [core.c]:

    void InitWindow(int width, int height, struct android_app *state);
    static void AndroidCommandCallback(s

[2015-09-04 18:10] raysan5 opened #33 "Android back button event breaks the app"
When pressing back button on a raylib Android app, it breaks.

Related functions [gestures.c]

    static int32_t AndroidInputCallback(struct android_app *app, AInputEvent *event);

Android back button event should be properly managed.

[2015-09-04 18:19] raysan5 opened #34 "Android volume buttons break the app"
When pressing up/down volume buttons, raylib Android app crashes. Not sure if this issue is device-dependant, sdk version-dependant or raylib's. Probably the third.

Related functions [gestures.c]

    static int32_t AndroidInputCallback(struct android_app *app, AInputEvent *event);

Android volume buttons should be properly managed and system master volume should be increased or decreased accordi

[2015-09-04 18:28] raysan5 opened #35 "[core][rlgl] Raycast system not working properly"
Raycast system intended for 3d picking is not working properly.

Related raylib example: `core_3d_picking.c`

Related functions [core.c][rlgl.c]:

    Ray GetMouseRay(Vector2 mousePosition, Camera camera);
    Vector3 rlglUnproject(Vector3 source, Matrix proj, Matrix view);

After long testing, it seems there is some error inside `rlglUnproject()` but not completely sure...
`rlglUnproject()` just

[2015-09-04 18:43] raysan5 opened #36 "[core][rlgl] TakeScreenshot() not working as expected"
When taking a screenshot, if some transparent element has been drawn, returned PNG image shows the transparent pixels.

Related functions [core.c][rlgl.c]

    static void TakeScreenshot(void);
    unsigned char *rlglReadScreenPixels(int width, int height);

Framebuffer color data is retrieved with `glReadPixels()` as GL_RGBA. Despite we don't see the transparent information in the running window,

[2015-09-04 18:50] raysan5 opened #37 "[camera] Small glitch on zoom-in with mouse wheel"
On CAMERA_FREE mode, after setting internal camera position and target, if zooming in with mouse wheel, the first zoom jump is not correct, it seems there is a small glitch.

Related raylib example: `core_3d_camera_free.c`

Related functions [camera.c]:

    static void ProcessCamera(Camera *camera, Vector3 *playerPosition);

It seems issue could be related to some distance calculation.

[2015-09-04 19:02] raysan5 opened #38 "[models] Billboards not working properly when drawing in front of lines"
It seems there is some depth-test issue when `DrawBillboard()` in front of grid lines.

Related raylib example: `models_billboard.c`

Related functions [models.c]:

    void DrawBillboard(Camera camera, Texture2D texture, Vector3 center, float size, Color tint)

Lines, Triangles and Quads are placed in different buffers inside `rlgl.c`. When calling `rlglDraw()`, buffers drawing order is always: T

[2015-09-04 19:23] raysan5 opened #39 "Raspberry Pi input system should be redesigned"
The way inputs (keyboard/mouse/gamepad) are managed on Raspberry Pi is far from ideal. Some keyboards don't work properly, mouse can be wrongly detected, no current gamepad support.

Related functions [core.c]:

    static void InitKeyboard(void);
    static void RestoreKeyboard(void);
    static void PollInputEvents(void);

    static void InitMouse(void);
    static void *MouseThread(void *arg);

[2015-09-04 23:21] raysan5 opened #40 "[gestures] GESTURE_HOLD not detected properly"
Gestures detection system doesn't detect HOLD properly, it changes to GESTURE_DRAG instead.

Related functions [gestures.c]:

    static void ProcessMotionEvent(GestureEvent event);

ProcessMotionEvent() is launched only when an event has been detected, gestures update logic should be reviewed to detect HOLD state correctly.

Here it is a quick draft of gestures detection states:

![image](https:/

[2015-09-04 23:39] raysan5 opened #41 "[gestures] Add possibility to enable only desired gestures"
Sometimes the user can be interested in detecting only some specific gestures and ignore all the others.

Related functions [gestures.c]

    void SetGesturesEnabled(unsigned int gestureFlags);

Function was declared to be completed, the idea was using mask-based flags system to enable/disable desired gestures. Enabled/Disabled gestures must be considered or not on `UpdateGestures()`

[2015-09-04 23:59] raysan5 opened #42 "[gestures] Include mouse-based gestures detection"
On desktop platforms (Windows, Linux, OSX), gestures can also be performed with mouse instead of the touch interface.

Related functions [gestures.c]:

    void InitGesturesSystem(void);

When initializing gestures system, mouse events callbacks should be setup. Right now GLFW3 takes care of mouse events detection on desktop platforms through `glfwPollEvents()` on module `core.c`.

Adding support

[2015-09-05 00:27] raysan5 opened #43 "[rlgl] Remove GLEW library dependency (if possible)"
In order to reduce raylib external dependencies, OpenGL extensions loading library `GLEW` could be replaced by a lightweight alternative to load only OpenGL 3.3 Core profile required extensions.

Related functions [rlgl.c]:

    void rlglInit(void);

Some alternatives have been already tested: `glad` and `glLoadGen`. Those libraries generate custom headers to be included in the project with only t

[2015-09-05 00:35] raysan5 opened #44 "[text] Add line-break support to DrawText()"
When drawing text, it will be very useful to be able to add line-breaks `\n`.

Related functions [text.c]:

    void DrawTextEx(SpriteFont spriteFont, const char *text, Vector2 position, int fontSize, int spacing, Color tint);

Just add a font-size-proportional Y-position increment and reset X-position value when character `\n` is parsed.

[2015-09-05 00:55] raysan5 opened #45 "[textures] Implement Floyd-Steinberg dithering for 16 bpp formats conversion"
When converting our texture to a 16 bpp format, support Floyd-Steinberg dithering algorithm.

Related functions [textures.c]:

    void ImageFormat(Image *image, int newFormat);

Dithering should be available (or automatically applied) when converting from `UNCOMPRESSED_R8G8B8` or `UNCOMPRESSED_R8G8B8A8` to the following formats:

    UNCOMPRESSED_R5G6B5,            // 16 bpp (no-alpha)
    UNCOMP

[2015-09-06 22:54] raysan5 opened #46 "[text] TrueType (TTF) fonts suppot"
Generate a SpriteFont from a TTF file, use stb_truetype library to read .ttf characters data.

Related functions [text.c]:

    static SpriteFont LoadTTF(const char *fileName, int fontSize);

The generated SpriteFont should contain a generated texture similar to:

![image](https://cloud.githubusercontent.com/assets/5766837/9706940/ed505f52-54f7-11e5-919a-3c963ba1c5bf.png)

To generate that texture

[2015-09-11 12:33] raysan5 opened #47 "[textures] Implement some image manipulation functions"
While creating examples and demos I missed some image manipulation functions. The following proposed functions could be useful.

Desired functions [textures.c]:

    void ImageCrop(Image *image, Rectangle crop);
    void ImageResize(Image *image, int newWidth, int newHeight); // Use stb_image_resize.h
    void ImageDraw(Image *dst, Image src, Rectangle srcRec, Rectangle dstRec);
    void ImageDraw

[2015-09-11 18:29] raysan5 opened #48 "[audio] Add support for WAV music streaming"
At the moment, only OGG music streaming is supported. Streaming from WAV file could be useful too.

Related functions [audio.c]:

    void PlayMusicStream(char *fileName);
    void UpdateMusicStream(void);
    static bool BufferMusicStream(ALuint buffer);

WAV file should be opened and data read piece by piece (some samples everytime).

[2015-09-11 18:39] raysan5 opened #49 "[core] Add support for new platform: Oculus Rift"
Add support for PLATFORM_OCULUS using Oculus SDK 0.7 (DK2).

Related functions [core.c]:

    static void InitDisplay(int width, int height);
    static void InitGraphics(void);
    void BeginDrawing(void);
    void EndDrawing(void);

Process goes as follow (draft):

* Initialize OVR device
* Initialize OpenGL FBOs with textures for render (every eye)
* On render, draw every eye independently (mul

[2015-09-11 18:45] raysan5 commented on #49
**Work on this issue is already on the go.**

I'm using Oculus SDK 0.7 and the samples included as the main reference code. Unfortunately, the samples are C++ and come with custom C++ helpers. I'm rewritting them to pure C.

Samples also mix OVR device code with OpenGL related code, I'm trying to separate it between `core` module and `rlgl` module.

Right now I'm working in local, if someone wants

[2015-09-13 12:02] raysan5 opened #50 "[textures][rlg] Add support for texture pixel data retrieval on OpenGL ES"
On OpenGL ES 2.0, `glGetTexImage()` is not supported to retrieve pixels data from texture id (GPU VRAM to CPU RAM data copy). It could be done using an FBO path; just rendering the texture to an FBO and retrieveing data using `glReadPixels()`.

Related functions [textures.c][rlgl.c]:

    Image GetTextureData(Texture2D texture);
    void *rlglReadTexturePixels(unsigned int textureId, unsigned int

[2015-09-13 12:06] raysan5 opened #51 "[examples] Implement Blinn-Phong lighting shading model example"
Implement basic Blinn-Phong lighting shader example: `shaders_basic_lighting.c`

[2015-09-13 12:19] raysan5 opened #52 "[audio] Is there a lightweight alternative to OpenAL Soft?"
Since raylib creation I've been looking for an alternative to [OpenAL Soft](http://kcat.strangesoft.net/openal.html). It works great but OpenAL Soft is a very big library and raylib programs must be distributed with openal32.dll, I don't like it.

Ideally, I would like to find an audio library with the following features:

* Lightweight, compilable as an small static library or a header-only libra

[2015-09-13 15:00] clix9 commented on #52
I saw this lightweight cross-platform audio library on Hacker News a few days ago.

http://libsound.io/

[2015-09-13 16:37] raysan5 commented on #52
Hello clix9, libsound.io looks very good, I'll take a closer look.

SDL2_mixer has many external dependencies that I'm trying to avoid (flac, libmikmod, libogg, libvorbis,    smpeg). I just want access to audio device.

SDL2 itself would be a full replacement for raylib... :P

[2015-09-14 14:26] raysan5 opened #53 "[gestures] Review time measuring system on Windows"
`gestures` module is designed to be used as standalone (as much as posible). Time measuring is required for TAP_TIMEOUT and when possible a high-resolution timer should be used.

Related functions [gestures.c]:

    static double GetCurrentTime();
    static void ProcessMotionEvent(GestureEvent event);

On Linux based systems (Linux, RaspberryPi, Android), `clock_gettime()` function included in `t

[2015-09-14 14:51] raysan5 opened #54 "[rlua] Add LUA support for scripting"
Add a simple an intuitive wrapper to LUA scripting language.

This issue is just a desired feature and it has not been developed yet (I mean, deciding how to implement it). Any help on developing it is highly appreciated!

A draft concept for possible function signature could be:

    void *ExecuteLuaScript(const char *name, int numParams, ...)

The idea is just call Lua script with required param

[2015-09-14 18:52] ghassanpl commented on #53
On Windows it's best to use QueryPerformanceCounter for a high resolution clock. You don't have to include windows.h, just predeclare the function:

    int __stdcall QueryPerformanceCounter(unsigned long long int *lpPerformanceCount);

You'd need to divide the returned value by the result of QueryPerformanceFrequency to get time in seconds.

[2015-09-14 22:48] raysan5 commented on #53
Thank you very much for your help! :D

[2015-09-15 08:27] ratkingsminion opened #55 "Make raylib even more directory independent"
The installer automatically installs raylib into C:\raylib - this is not desired by everyone. You can move the folder somewhere else of course, but the compiler scripts depend on this directory. It would be nice if those were relative.

[2015-09-15 10:24] raysan5 commented on #55
I know that not letting the user to choose the installation path could seem weird but after two years using raylib with my students, I took that decision because I faced the following problems doing otherwise:

* **PROBLEM 1**: Need to add raylib path to environment variable PATH: Some students had problems due to the security level configured in their systems (even adding a global var or a user v

[2015-09-15 12:11] On2iTAaryn commented on #18
Cheers @procedural finally got to compile.

[2015-09-15 16:50] cdoty commented on #52
Hekkus sound system is a nice library and he has considered open sourcing it. It can play wave, ogg files, and mod music files. It supports nearly any modern device, except maybe BlackBerry. Porting it to a new system is very easy.

[2015-09-15 18:41] ratkingsminion commented on #55
How about adding a short manual about which scripts need to reconfigure which paths? That wouldn't be so much hassle and cater the intermediate users.

[2015-09-16 12:05] ghassanpl commented on #54
I've pushed preliminary Lua support into my develop branch at https://github.com/ghassanpl/raylib/tree/develop

It's not really well documented (although most functions do what you expect). I've ported raylib, utils and raymath, with small exceptions.

https://github.com/ghassanpl/raylib/blob/develop/raylib/test.lua has the Flappy Jetpack game (https://kurnic.wordpress.com/portfolio/flappy-jetpack

[2015-09-16 15:24] JaredSartin commented on #54
Ooh. I know what I'm doing this weekend!

On Wed, Sep 16, 2015 at 05:05 ghassanpl <notifications@github.com> wrote:

[2015-09-16 15:27] ghassanpl commented on #54
@JaredSartin No problem, keep in mind that due to my nuclear hatred of git I'm pushing all my personal changes to a single branch to avoid problems, so there might be some other features in the latest commit of my branch. The latest Lua commit is cd84b7527a548fa6858671693cf0a1e38f1aa9bd at the moment. Sorry about the confusion.

[2015-09-17 09:31] raysan5 commented on #54
Wow! It's amazing! I have no words... really impressed...  :D

[2015-09-17 09:42] raysan5 commented on #52
Thanks for the info cdoty! I've been taking a look to Hekkus and it's too big for my taste; I'm looking for something simpler and lightweight, no external dependencies, no need for lots of audio formats support... libsound.io really seems a good candidate.

[2015-09-17 09:55] raysan5 commented on #47
Probably those functions were not a priority but I need them for a small project so I start implementing them. So far I got:

    void ImageCrop(Image *image, Rectangle crop);
    void ImageResize(Image *image, int newWidth, int newHeight); // Use stb_image_resize.h
    void ImageDraw(Image *dst, Image src, Rectangle srcRec, Rectangle dstRec);

Functions left (and some new ones I need):

    void

[2015-09-17 09:57] ghassanpl commented on #54
I kinda sorta don't really have time to test the Lua port properly, I'm afraid :( (Or maybe I just don't know how to test it well :P) So I'd appreciate some feedback.

[2015-09-17 10:05] raysan5 commented on #54
Ok, I'll try to port the examples collection to lua and check if everything works ok; for all the other systems I do this way. Usually I test single functions independently with a basic window and then I integrate them in a bigger example.

Again, congrats for your work, it's amazing!

[2015-09-17 11:42] raysan5 opened #57 "Create web skeleton for emscripten to show raylib web games"
When compiling a raylib game for web using [emscripten](http://kripken.github.io/emscripten-site/), the generated output files are:

* `mygame.html` - It's a web skeleton with a canvas element where mygame.js runs.
* `mygame.js` - It's the actual game code compiled to [asm.js](http://asmjs.org/).
* `mygame.data` - It's the game resources embedded into a binary file.

The base HTML skeleton or temp

[2015-09-18 09:37] ghassanpl commented on #54
While compiling on emscripten I found some things that needed fixing in the Lua implementation; I've pushed them to my develop branch (along with some other changes). It's a bit of a mess right now, sorry about that.

[2015-10-19 19:50] clix9 opened #59 "Feature Request"
Hi, out of curiosity, can there be support for the following features?

- OpenGL ES 1.1 support instead of OpenGL 1.1, which can allow the use of VBO's
- Render to Texture for OpenGL 3 / ES 2
- Lighting (and for OpenGL 3 / ES 2, a default shader that some supports lighting features)
- Light mapping (a second set of UV's in the Vertex Buffer)
- Generation of normals and UV's for spheres, boxes, pla

[2015-10-19 23:32] raysan5 commented on #59
Hello clix9! wow, that's a lot of features request! what are you building with raylib?!? :)

No plans to support OpenGL ES 1.1. I supported OpenGL 1.1 because raylib 1.0 used OpenGL 1.1, since raylib 1.1 a new internal module [rlgl](https://github.com/raysan5/raylib/blob/master/src/rlgl.c) was created to abstract the graphic API and support OpenGL 3.3+ and OpenGL ES 2.0. Even the lowest-end device

[2015-10-21 16:25] raysan5 commented on #44
Added feature on commit https://github.com/raysan5/raylib/commit/f13b30d6060ce7541a7ef7f3074966c623128090

[2015-10-21 16:25] #44 closed

[2015-10-21 18:51] raysan5 commented on #31
After some testing with GLFW library, it seems window scaling depends on monitor but also on GPU capabilities. On an nvidia GPU I get fullscreen scaling despite the adjustment of resolution to a supported videomode resolution; on an Intel HD Graphics GPU I get no scaling to fullscreen (image just centered in monitor).

From GLFW documentation:

Useful documentation:

[GLFW: Window creation](http:/

[2015-10-21 19:00] raysan5 commented on #31
Further investigations:

On nvidia GPU (image scaled to fullscreen - full monitor area), if using a valid monitor videomode and 16:9 aspect ratio for framebuffer, all works ok.

On Intel HD Graphics GPU (image not scaled to full monitor area, just centered), if using a valid monitor videomode and 16:9 aspect ratio for framebuffer, not scaled but centered ok. In any other configuration image gets c

[2015-10-22 13:22] clix9 commented on #59
I'd like to make a fully featured, cross platform game with Raylib, but it would need certain features.

I believe many netbooks still have only support up to OpenGL 1.4 on Windows, and many of the older smart phones have poor or limited OpenGL ES 2.0 support (i.e. shaders can be more expensive). Being that OpenGL ES 1.1 is a subset of OpenGL 1.4, you could use much of the same vertex buffer code.

[2015-10-24 23:53] raysan5 commented on #47
After some development, the following functions:
[code]
have been replaced by simpler (and more generic) versions:
[code]

All defined functions have been created and tested and also a new one:

    void ImageColorTint(Image *image, Color color);

Feature completed on commit https://github.com/raysan5/raylib/commit/afdf357fbee7f01535bddefb4e62cb1308ed55b5

[2015-10-24 23:53] #47 closed

[2015-10-25 00:14] raysan5 commented on #59
Glad to hear you are planning to use raylib for a fully featured project!

About OpenGL ES 1.1, I've analyzing the cost of adding it and despite it's not too complicated it would take me some time; right now I prefer to invest that time in adding new modern features rathen than supporting old systems. Looking at [Android dashboards](http://developer.android.com/about/dashboards/index.html#OpenGL)

[2015-10-25 00:16] kd7tck opened #60 "Direction for gradients?"
Will there be any future changes that allow for vector2 directions of gradients?

Something like
1,0 for 0,360
-1,0 for 180...

[2015-10-25 00:23] raysan5 commented on #60
Do you mean for the basic shapes?

    void DrawCircleGradient()
    void DrawRectangleGradient()

Right now, those functions gradients are automatically generated by the graphic API (OpenGL) using each color vertex information. It's not possible to control de gradient direction directly...

[2015-10-25 00:44] kd7tck commented on #60
I guess gradients are out then and textures will just have to do.  Performance wise, is there any difference between shapes and textures?

[2015-10-25 10:28] raysan5 commented on #60
Textures is the path to follow, actually, shapes are drawn using a white 1x1 texture for shader requirements.
When using textures, the only performance issue you will notice is the gpu memory required to load it. If the texture is very big, color fetching in the shader will be more costly but nothing to worry unless you are developing a really complex-graphics product for a really low-end device.

[2015-10-25 10:28] #60 closed

[2015-10-26 11:29] clix9 commented on #59
Thanks,

That sounds fine. I'll likely consider forking the project and adding my own OpenGL ES 1.1 support.

[2015-10-26 11:29] #59 closed

[2015-10-30 04:04] kd7tck commented on #54
I really like the example given at: http://github.com/BrettRToomey/Blog-Examples/tree/master/Lua53Embed

It allows for a hooked event from the lua script to be called every tick.
Sure would be nice if that kind of functionality could be built into ExecuteLuaScript.

I hope the system doesn't just run a series of scripts and that's it. Might be better if you could load Lua scripts as a series of mo

[2015-11-04 19:22] raysan5 commented on #36
After further investigation of this issue and long reads about pre-multiplied alpha and the way OpenGL manages blending, I got to the conclusion that the returned image screenshot is correct, despite the fact that probably user won't expect a transparent screenshot because it's not what they see in the running window.

Posible tweak: Process the returned backbuffer color data to get the expected (

[2015-11-05 08:47] raysan5 commented on #36
After further investigation and testing, I realized that colors are blended correctly and alpha is just useless (it has already been applied to color!).

Useful reference: http://www.andersriggelsen.dk/glblendfunc.php

Let's understand the used OpenGL blending function (additive equation):

     glBlendFunc(GL_SRC_ALPHA, GL_ONE_MINUS_SRC_ALPHA);

It translates to the following equation:

    final

[2015-11-05 08:47] #36 closed

[2015-11-05 11:33] raysan5 commented on #50
To implement this feature, I considered two possible options:

 * 1) Bind texture to color fbo attachment and glReadPixels()
 * 2) Create an fbo, activate it, render a quad with the texture and glReadPixels()

The easier way was option 1. It has been implemented and it works... but I noticed the following limitations:

 * Texture to bind must be same format as previous FBO color texture attachment

[2015-11-05 11:33] #50 closed

[2015-11-08 21:10] kd7tck opened #63 "Questions regarding development style"
Not sure if anyone is open to other development styles. Wanted to bounce an idea off you all and see what you thought.

Is it possible to have all function definitions pre-created for 1.4 goals? This might give guidance as to how you want things developed. Others could come along and complete things on a function by function basis rather than a feature by feature basis. Also, marking the definitio

[2015-11-09 12:11] raysan5 commented on #63
Hi @kd7tck, that's a great idea.

Actually, that was my intention (kind of) with the introduced issues; related functions are listed in the issue description.

Maybe I could add more fine-grained detail to the description for better understanding and implementation...

[2015-11-10 01:44] kd7tck commented on #63
The GetTime() function, I would like to have it global so I can animate things in game with it. Could we make that function global and not static?
Perhaps there are better ways to animate, like creating hooked functions that can be called at certain time intervals from the raylib side. Something like: ``` HookedCall(Function&, double interval);```

[2015-11-10 16:32] raysan5 commented on #63
I usually recommend setting a framerate (`SetTargetFPS()`) and using a `framesCounter` for animations but I understand that people can prefer time-based animations; a function is already available for that.

    float GetFrameTime(void);

Right now, animation should be controlled by user, there is no specific mechanism in raylib. I understand you propose some mechanism similar to javascript:

[2015-11-10 22:03] kd7tck commented on #63
I am assuming that the fixed interval animation type works because there is frame synchronization on the BeginDrawing or EndDrawing Call. Unfortunately I prefer frame rates that go as fast as possible and are not bound to any fixed value.

The following is code I am trying to optimize:
[code]

Any feedback or recommendations?

[2015-11-11 05:20] kd7tck commented on #63
Another thing that I do not understand;
Why raymath is part of the lib, and not just a plain header file. You could have the math function definitions set to auto inline themselves. This would greatly increase game speeds.

I would be willing to volunteer my time to do this for you if you wished.

[2015-11-22 18:37] dmalves opened #64 "GL_SELECT"
Is i possible to select a 3d  object (a cube for example) using GL_SELECT mode?

[2015-11-23 11:45] raysan5 commented on #64
Hello @dmalves,

GL_SELECT method for object picking is very old and deprecated in newer OpenGL versions. It could even be possible that some new graphic cards don't support that functionality at all. So, that functionality is not available in raylib and won't be added using GL_SELECT.

A newer picking method is being developed but, unfortunately, it's not working yet. You can see the related issu

[2015-11-23 12:32] raysan5 commented on #63
Hi @kd7tck

About animation management, your method is ok but I personally prefer to separate update logic from drawing. I would use an update function like:

    Vector2 UpdateAnimLine(Vector2 initValue, Vector2 finalValue, int framesDuration, int framesCounter);

The return value is directly the current value. Some extra parameters could also be added as `int framesDelay` or `int easingFunc`. Ac

[2015-11-24 21:18] kd7tck commented on #63
I just realized that the update rate is tied to the draw rate. So even if I get faster frame rates, it would simply speed up the animations. Is the version of GLFW you use threadable?

[2015-11-24 23:09] raysan5 commented on #63
About GLFW3 threads: http://www.glfw.org/docs/latest/intro.html#thread_safety

[2015-11-26 07:38] kd7tck commented on #63
I have a sample diff, (linked bellow) of the changes for the single raymath header file. Look it over and tell me if this is the direction it should go in.

https://drive.google.com/file/d/0B2jDwEP2AbatUUZ2TEVJeUtkU3c/view

[2015-11-27 09:20] raysan5 commented on #63
Thanks very much for the effort @kd7tck! :)

I've been checking the diff and it's not exactly what I'm looking for; I want to avoid any additional `#include` in `raylib.h`. I always try to decouple modules as much as possible.

My idea for `raymath.h` was something similar to [`stb_image.h`](https://github.com/raysan5/raylib/blob/master/src/stb_image.h) and just `#include` "raymath.h" in required

[2015-11-27 21:51] kd7tck commented on #63
You mean like this

https://drive.google.com/file/d/0B2jDwEP2AbatUUZ2TEVJeUtkU3c/view?usp=sharing

[2015-12-03 11:10] raysan5 commented on #63
Hi @kd7tck,

Despite being a bit difficult to see clearly all the changes in the .diff file, it seems you are in the right track, I like the solution.

Right now I'm investigating about the use of inline functions, not sure if that's the better option for all the functions, taking into consideration that some of them are quite big...

Here there are some references:

http://www.drdobbs.com/the-new

[2015-12-04 04:34] kd7tck commented on #63
The only downsides are when using 32 bit. 64 bit does not have page faults nearly as often, like 32 bit does. There should only be a performance boost, if you restrict the inlining to functions that are used every draw cycle. For me, math is one that always comes to mind.

[2015-12-04 07:12] kd7tck commented on #63
Here is a more clear example not in diff.

https://drive.google.com/folderview?id=0B2jDwEP2AbatVDdrTTFRVG1GMVE&usp=sharing

[2015-12-05 18:29] #64 closed

[2015-12-06 12:19] raysan5 commented on #63
Hi @kd7tck ,

Instead of defining for every function:
[code]
you can just define at the beginning:
[code]
and prepend functions with:
[code]
I really like [stb_image.h](https://github.com/nothings/stb/blob/master/stb_image.h) single header style. I would follow that style defining:
[code]
Actually, maybe `RAYMATH_IMPLEMENTATION` could be skipped and just use `RAYMATH_STANDALONE` to include or not

[2015-12-06 21:17] kd7tck commented on #63
Not a problem. I went ahead and updated the code, look over my changes to the defines.

[2015-12-13 22:14] victorfisac opened #65 "Store multisampling in FBO"
When using post-production shaders, the multisampling is not stored in FBO so the multisampling hint "SetConfigFlags()" doesn't make any difference...

I found some threads by the Internet about this issue:

- https://www.opengl.org/discussion_boards/showthread.php/167446-Multisample-FBO-and-render-to-depth-texture

- http://stackoverflow.com/questions/20482851/how-to-use-multisampling-with-opengl

[2015-12-14 09:17] raysan5 commented on #65
Hello @victorfisac ,

`SetConfigFlags(FLAG_MSAA_4X_HINT)` tryes to setup multisampling on main framebuffer, it depends on OpenGL version (> 3.0) and hardware support ([ARB_multisample extension](https://www.opengl.org/registry/specs/ARB/multisample.txt)). Setting multisampling on FBO requires manual setup; the default FBO used for post-processing effects has no multisampling enabled, it will be co

[2015-12-14 22:51] raysan5 commented on #49
Noticed that Oculus SDK 0.8 introduced breaking changes so I decided to postpone Oculus Rift support until Oculus SDK becomes a more stable version (maybe 1.0?).

On the other side, I couldn't get an Oculus DK2 before it get sold out (no oficial distribution to Spain). I'll better wait for the device to be on a more stable (and fortunately commercial) state.

[2015-12-15 10:03] victorfisac commented on #65
Found a working FXAA fragment shader! Here is an adapted to raylib version: http://pastebin.com/ZE6w1LKi (changed to version 330 and changed var names to fragTexCoord and fragColor. The shader just needs the screen resolution to work.

Source: https://www.opengl.org/discussion_boards/showthread.php/184192-GLSL-FXAA-rendering-off-screen

I think maybe it can be optimized a little bit... not sure. T

[2015-12-21 11:21] raysan5 commented on #65
Thanks @victorfisac! FXAA fragment shader will be added to raylib shaders collection on next version!

[2015-12-21 11:21] #65 closed

[2015-12-21 20:24] victorfisac commented on #51
Done. Implemented in Pull Request #66

[2015-12-30 03:10] dmalves opened #68 "release 1.3 android template small bug"
IsScreenTouched()  from 1.2 is used where I guess IsGestureDetected() from 1.3 should be used.

affected file:

https://github.com/raysan5/raylib/blob/master/templates/android_project/jni/basic_game.c

after that compilation to android compiles just fine and the app runs. I had to add
InitGesturesSystem(struct android_app *app);
and
void UpdateGestures(void);

to make it work, but still the game s

[2015-12-30 03:31] dmalves commented on #68
Now, I keep correcting myself. I added GetGestureType and made it work properly. I see that
SetGesturesEnabled is not been used (implemented) It would be nice to choose what gestures to lesson to.
And about this:

bool IsGestureDetected(void)
{
/*
    if (currentGesture == GESTURE_DRAG)                 TraceLog(INFO, "DRAG");
    else if (currentGesture == GESTURE_TAP)             TraceLog(INFO, "

[2015-12-30 03:46] victorfisac commented on #68
Hi, I'm currently working on that at #67

IsScreenTouched() from 1.2 already checked TAP input so detecting the scene switch worked fine one per touch. But now in 1.3 IsGestureDetected() returns true when any type of input is detected (look at gestures.h Gestures enum type data, line 56).

You can improve the code just checking GetGestureType() return value. If you see IsGestureDetected() declarat

[2015-12-30 12:27] raysan5 commented on #68
Hi @dmalves! Gestures module has been reviewed in develop branch for raylib 1.4.

Thanks @victorfisac for taking care of this issue. I just merged your pull request https://github.com/raysan5/raylib/pull/67 and commented it.

[2015-12-30 12:27] #68 closed

[2015-12-30 12:36] raysan5 commented on #53
Tested and working. Merged in commit https://github.com/raysan5/raylib/commit/5dbb93dbb476c35d8f8aab24d9c3507640b171e8

[2015-12-30 12:36] #53 closed

[2015-12-30 12:38] raysan5 commented on #45
New function implemented:

`void *ImageDither(Image *image, int rBpp, int gBpp, int bBpp, int aBpp);`

Merged in commit https://github.com/raysan5/raylib/commit/5dbb93dbb476c35d8f8aab24d9c3507640b171e8

[2015-12-30 12:38] #45 closed

[2016-01-02 09:49] raysan5 commented on #46
Basic TTF support has been implemented in https://github.com/raysan5/raylib/commit/fa057f512f6bcfb84a7f736d10c45da50793c8d9

We are not generating XNA style texture but fonts module has been improved to support new standards like AngelCode fonts (.fnt + .png).

[2016-01-02 09:49] #46 closed

[2016-01-03 12:04] raysan5 commented on #34
Fixed via commit https://github.com/raysan5/raylib/commit/d32feaa6685584e9856aa94f4d5bf80b7f5b861c

[2016-01-03 12:04] #34 closed

[2016-01-03 12:05] raysan5 commented on #33
Fixed on commit https://github.com/raysan5/raylib/commit/d32feaa6685584e9856aa94f4d5bf80b7f5b861c

[2016-01-03 12:05] #33 closed

[2016-01-03 12:05] raysan5 commented on #32
Fixed on commit https://github.com/raysan5/raylib/commit/d32feaa6685584e9856aa94f4d5bf80b7f5b861c

[2016-01-03 12:05] #32 closed

[2016-01-03 12:07] raysan5 commented on #41
Implemented on commit https://github.com/raysan5/raylib/commit/d32feaa6685584e9856aa94f4d5bf80b7f5b861c

[2016-01-03 12:07] #41 closed

[2016-01-07 16:23] raysan5 commented on #35
Fixed via commit https://github.com/raysan5/raylib/commit/21229aa3f6b5a13062563fc3950cd98fe47383b8

[2016-01-07 16:23] #35 closed

[2016-01-08 12:19] victorfisac commented on #38
If you change drawing order to lines, triangles and quads the problem dissapears... But there is always a depth issue due the drawing order (easy to see when drawing semi-transparent objects). I supose it cannot draw lines behind quads because they are not rendererd yet...

http://stackoverflow.com/questions/5984887/opengl-z-sorting-transparency

Discarting pixels is a possible solution when drawi

[2016-01-09 09:31] raysan5 commented on #38
Hi @victorfisac ,
Thank you very much for the info, you're right.
One solution would be spliting buffers for opaque and transparent elements but that requires a big code review... Need to think about it...

[2016-01-09 10:47] raysan5 commented on #48
After some thinking I concluded this feature is useless having available OGG music streaming.

[2016-01-09 10:47] #48 closed

[2016-01-11 09:45] raysan5 commented on #37
Fixed with pull-request https://github.com/raysan5/raylib/pull/72

[2016-01-11 09:45] #37 closed

[2016-01-11 11:04] raysan5 commented on #38
As proposed, a simple fixed has been applied (changing drawing order to lines, triangles and quads).

It works very good because in a previous commit it was added depth information to all vertex data.

Fixed on commit https://github.com/raysan5/raylib/commit/e5a56fa98515337c805e5a641cd3787cb6898596

[2016-01-11 11:04] #38 closed

[2016-01-13 15:09] dmalves opened #74 "Android Pause/Resume"
Hi,

How can I handle Pause/Resume on android devices?

[2016-01-13 19:27] victorfisac commented on #74
If you are looking for pause game loop cycle when pressing Home button or similar, the game loop is automatically paused and resumed when losing and recoverying focus in app.

Otherwise, if you are looking for pause your gameplay you should create a variable to determine if the game is paused and execute all your gameplay logic if it's false or your pause logic (continue/exit buttons, menu animati

[2016-01-13 23:03] raysan5 commented on #74
Just posting @victorfisac code directly for convenience:

[code]

[2016-01-14 00:25] dmalves commented on #74
I dont know if that is the best option. The game app could go to background
for other reasons beside the backbutton (antivirus kicking in, for
example). SDL2 is a C library too, and it can handle pause/resume events
Android platform. I am sending this message from my phone, so It is hard to
point it out on git, but I saw something related to pause/resume on raylib
with no usage example so far and

[2016-01-14 00:32] dmalves commented on #74
One more point. When the app pause it should save its state to a file and
load it back when resumed. Android could kill your app after a resume and
your app should be able to recover for death when android resumes it. This
is the whole porpose of the pause/resume scheme. Your app should look
always alive to the user,  even when the system needs to free resources
because the new foreground app(your

[2016-01-14 03:17] dmalves commented on #74
looks like the answer is here http://developer.android.com/intl/pt-br/reference/android/app/NativeActivity.html

[2016-01-14 09:30] raysan5 commented on #74
Hi @dmalves, thanks for the point and for the link (actually, that's the base code I used to implement raylib's Android support).

SDL2 manages Android activity in a different way than raylib (using the JNI Java wrapper layer); raylib uses the android_native_app_glue module provided with NDK (like in the example you link). Both ways can be used to handle activity events but on SDL2 they are more e

[2016-01-15 03:29] dmalves commented on #74
@raysan5 , nice! I was just looking around main repository :-) Well, I was thinking about a simple callback scheme only available for the android port and it could fit what you have on the repository already. When AndroidCommandCallback is called and APP_CMD_RESUME branch is executed a callback function set by the library user would be called.The user should write a function that could receive use

[2016-01-17 01:13] #51 closed

[2016-01-19 10:00] raysan5 commented on #54
Hi @ghassanpl !

I'm working hard towards raylib v1.4 milestone and I would like to include your LUA module implementation.

Don't know what's the state of the module but it would be great to be have it in raylib.

Please, could you make a pull-request to develop branch?

[2016-01-19 11:01] raysan5 commented on #63
Hi @kd7tck !

I'm working on raylib v1.4 and I would like to include the raymath.h header-only file.

Please, could you make a pull-request with your current implementation? I will review it.

Thanks! :D

[2016-01-19 11:36] raysan5 commented on #74
Hi @dmalves , it sound great to me. Please, let me know when you got it! :)

[2016-01-19 12:10] ghassanpl commented on #54
My Lua module hasn't been update for a long time, you'll have to give me some time to bring it up to feature parity with the develop branch :)

[2016-01-19 19:45] raysan5 commented on #54
Hey @ghassanpl !

Please, don't worry, take your time! Still working on some issues on develop branch and there is not a planned release date, it could be two weeks or a month...

No plan to add new functions, just review gestures module, redesign RPI inputs system and review the new structs (Light, Materials, Physics, Rigidbody, Colliders, ...). :)

[2016-01-20 18:15] raysan5 commented on #63
Changes merged and reviewed! :+1:

[2016-01-20 18:15] #63 closed

[2016-01-21 08:55] raysan5 commented on #43
After further investigation and testing, I realized a couple of things.

Extensions initialization should be moved from `rlgl.c` to `core.c` function `InitDisplay()`, just below function call `glfwMakeContextCurrent(window)`.

That way, all required GL functions will be loaded before `InitGraphics()`.

I confirm omitting `#include <windows.h>` on `glad.h` breaks the program (despite compilation wi

[2016-01-22 14:27] victorfisac commented on #40
I reviewed the module a little bit... During DOWN event, although in UpdateGestures() currentGesture is set to HOLD when currentGesture is TAP two frames in a row, I think this value is overwriten by ProcessGestureEvent() because **during the DOWN event, there is no check if the drag vector magnitude is less than FORCE_TO_SWYPE (and set it as HOLD because the movement is very little) or change it

[2016-01-22 16:09] victorfisac commented on #40
To enter in GESTURE_HOLD state, current gesture and previous gesture must be GESTURE_TAP two frames in a row.

When touching screen, GESTURE_TAP is called but in next frame, if touch position doesn't change the gesture callback is not called so previous gesture value is not changed. It must be changed in UpdateGestures() to change its value every frame and then check if current and previous are TA

[2016-01-23 10:36] raysan5 commented on #43
Issue solved on commit https://github.com/raysan5/raylib/commit/4e57bd1f18996990546920f2242a58894c6cec81

Thanks to @Dav1dde directions, GLEW was finally replaced by GLAD (Check https://github.com/Dav1dde/glad/issues/42).

GLEW alternative has also been maintained in the code (temporaly) while checking some weird behaviours on gDEBugger profiler.

[2016-01-23 10:36] #43 closed

[2016-01-23 10:53] raysan5 commented on #40
Thanks @victorfisac for taking care of this issue and for your pull request https://github.com/raysan5/raylib/commit/ed674d865ba2fc845a91aea6c77dffae7576e0c0

Currently we are refactoring `ProcessGestureEvent()` function from `gestures.c`, it was quite complicated and it can be simplified.

[2016-01-23 10:53] #40 closed

[2016-02-10 18:21] raysan5 commented on #42
Along the past week, the mouse-based gestures system has been tested and it seems it works pretty good.

[2016-02-10 18:21] #42 closed

[2016-02-13 11:22] raysan5 commented on #57
Added first version template https://github.com/raysan5/raylib/commit/9c9aeaef47fe612dbc0f446920fca9cb54781aef

[2016-02-13 11:22] #57 closed

[2016-02-19 23:37] raysan5 commented on #39
Input system has been reviewed and redesigned. Gamepad support has been partially implemented but still requires some testing. Now raylib uses the old input event handlers:

- Keyboard:  Reconfigure and read `stdin` (standard input)
- Mouse: Read from `/dev/input/mouse0` (new thread)
- Gamepad: Read from `/dev/input/js0` (new thread)

Most changes implemented in commit https://github.com/raysan5/r

[2016-02-19 23:37] #39 closed

[2016-02-29 10:49] raysan5 opened #89 "[rlgl] 2D vs 3D, review buffers usage, DEPTH issues"
raylib uses different **sets** of vertex buffers for LINES (position, color), TRIANGLES (position, color) and QUADS (position, texcoord, color, index). Depending on what we draw, vertices are loaded in a different set.

The problem comes because raylib uses those same sets equally for 2d and 3d vertex data. That decision was taken for simplicity and because at that moment raylib 3d support was qui

[2016-02-29 10:59] raysan5 opened #90 "[core] Review Gamepad support"
Review Gamepad support for Raspberry Pi. It doesn't work properly. It seems axis movement is not scaled properly, just raw values are read.

Related functions [core.c]:

    static void *GamepadThread(void *arg);
    Vector2 GetGamepadMovement(int gamepad);

Just scale read values properly.

[2016-02-29 11:19] raysan5 opened #91 "[physac] Redesign physics module (simplify)"
Physics module requires some redesign. It could be simplified for easier usage.

Proposed solution consist of keeping an internal physic objects pool and just update them all every frame (it also allows to move physics to a separate thread in the future).

Possible struct for PhysicObject:
[code]

Some posible functions:
[code]

Usage example:
[code]

[2016-02-29 11:28] raysan5 opened #92 "[core][rlgl] Redesign Shaders/Textures system, use Materials"
Right now, `struct Shader` references the `Texture2D` objects; `struct Model` keep references to `Shader` and `Texture2D` objects.

This data organization could be upated for a more professional (and coherent) layout. A new `struct Material` is proposed to include `Shader` and multiple `Texture2D` objects.

This change requires some internal raylib redesign, mainly of [rlgl] module, but in long te

[2016-02-29 11:49] raysan5 opened #93 "[camera] Implement touch-based camera controls (zoom, pan, rotate)"
It could be very useful to have touch-based camera controls for platforms like Android or HTML5.

Probably dependant on [gestures] module. Requires some analysis...

[2016-02-29 12:00] raysan5 opened #94 "[camera] Add an easy 2D camera system: Camera2D"
Some raylib users ask for a simple 2D camera system.

It could include basic movement, rotation and zooming.

Here it is a struct proposal:
[code]
Usage could be through `BeginDrawingEx()`:
[code]
An improved version of `BeginDrawingEx()` was already designed but it could be better moved to:
[code]
This new version tried to resemble XNA similar function for `spriteBatch.Begin()` but maybe some of

[2016-02-29 12:13] raysan5 opened #95 "[camera] Add support for changing camera FOVY"
Some students ask me about changing 3d camera field-of-view. Right now raylib FOVY for 3d is fixed to **45 degrees**. Allowing the user to change FOVY requires some redesign of `struct Camera` and review all examples... but after some thinking I realized it could be useful.

Camera system will be updated to:
[code]
Involved functions to change:
[code]

[2016-03-01 13:38] victorfisac commented on #91
I'm working on that. The current physics pipeline uses the next steps:

- Apply velocity.
- Update position.
- Check collision -> if true, reset to previous position and previous velocity (before changes).

So a grounded physic object will always be overlapping and fixing its position... But there is an accuracy issue. If the physic object has high velocity and after a frame it has moved 30 pixels

[2016-03-01 16:43] raysan5 opened #96 "[rlgl] Find a generic way to deal with shader maps"
Right now shader maps are not generic; in our default shader we define uniform location points for three kind of maps:
- diffuse -> binded to texture unit 0 (GL_TEXTURE0)
- normal -> binded to texture unit 1 (GL_TEXTURE1)
- specular -> binded to texture unit 2 (GL_TEXTURE2)

Those maps can be set with the following (not generic) functions:
[code]
It's not possible to add additional maps to our def

[2016-03-01 19:00] raysan5 commented on #91
The solution to that problem would be calling UpdatePhysics() in a second thread, independently of game update-draw loop and consequently at a higher call-rate. That's the way I think Unity works.

This issue will require some thinking...

[2016-03-01 19:18] raysan5 opened #97 "[models] Collision between box and sphere not working properly"
Function to review:
[code]
Code example involved: `models_box_collisions.c`

This function could use the new `struct BoundingBox` instead of `minBBox` and `maxBBox`.

[2016-03-01 19:53] raysan5 commented on #97
Solved on commit https://github.com/raysan5/raylib/commit/4011c13d4b0b7a684def27bac29f084085bf87a5

[2016-03-01 19:53] #97 closed

[2016-03-02 18:20] raysan5 opened #98 "[shapes] GetCollisionRec() not working properly"
Depending on the order of input parameters (Rectangles rec1 and rec2), collision rectangle is not returned properly.

[2016-03-05 08:48] kd7tck opened #99 "[audio] Chiptunes support"
Wondering if there was any support for this. I have been looking into it and am going this route: https://github.com/kd7tck/raylib/commit/8a16d76a6554bbf06969dc9d6bbae715c6f36a75

Wanted a little feedback, wondering if better libraries are out there.

[2016-03-05 13:03] raysan5 commented on #95
Added on commit: https://github.com/raysan5/raylib/commit/d8bd8634ab7d5179cb1481206176af1f8e592e75

[2016-03-05 13:03] #95 closed

[2016-03-05 14:28] raysan5 commented on #99
Hi @kd7tck, I really like chiptunes-based module music (MOD, XM, IT, S3M) and I already was looking for some way to add support for it to raylib.

I checked the following libraries:

- libxm (https://github.com/Artefact2/libxm)
- libxmp (http://xmp.sourceforge.net)
- DUMB (http://dumb.sourceforge.net/index.php)
- libmikmod (http://mikmod.sourceforge.net)
- libmodplug (http://modplug-xmms.sourcefor

[2016-03-05 15:15] raysan5 opened #100 "[core] GetTouchPosition() vs GetMousePosition()"
On PLATFORM_WEB, interaction can come from two inputs: mouse and screen-touch.

When using `GetTouchPosition()` position on PLATFORM_WEB, it looks for touch interface (it makes sense) but most of those times intectaction can just come from mouse and then gestures are not processed.

I need to find some way to support both interaction methods at the same time and return position depending on first

[2016-03-05 21:19] kd7tck commented on #99
Both DUMB and libxm require one external lib. However DUMB is ANSI C(DOS), and libxm is C11. Are you planning to add support for the modern version of C?

I am thinking about changing over to XMP, it seems easier to port into yours. DUMB works too but it does have these weird UNIX, DOS commands bundled in to maximize backwards compatibility.

[2016-03-05 21:47] kd7tck commented on #99
I want to make this my next project, I will make a stb_chiptunes header file. I plan to get a proto up and running in the next month or two. I hope to have an in game synth and a player that is incorporated directly into the playmusicstream function. The game I am working on is nearing completion and I totally forgot about music until the last minute.

I intend to make Raylib library the highlight

[2016-03-06 11:08] raysan5 commented on #99
Hi @kd7tck, that's fantastic! I have been looking for a single-header chiptunes file for long time but I couldn't find anything! As I told you, the closest approach was porting libxm to single file...

About a chiptune in the logo animation, it would be great, I already added a discrete beep in some of my games: http://www.raylib.com/games/just_do.html Undoubtly, it can be improved with some catch

[2016-03-08 04:46] kd7tck commented on #99
Here is an early draft for the XM format lib.
https://drive.google.com/file/d/0B2jDwEP2AbatRTJDSTBGOVRGY2s/view?usp=sharing

[2016-03-08 20:09] raysan5 commented on #99
Hi Joshua, it looks great!

It could be integrated with raylib audio module in PlayMusicStream().
Really promising! :D

Keep up with the good work!

Ray

PS. Better rename it to jr_xm.h, stb_ stands for Sean T. Barrett libs. :P

2016-03-08 5:46 GMT+01:00 Joshua Reisenauer <notifications@github.com>:

[2016-03-10 06:26] kd7tck commented on #99
Wondering if it was possible to change audio api to allow playing wav structs.

Something like:

[code]

[2016-03-10 07:09] kd7tck commented on #99
There is also a slight problem with getting the lib to work. We need 32bit floating point support in wav. I tried loading the raw data into a giant array and converted it into a wav struct. When I loaded it into a sound it played nothing at all. When I reset the bps to 16 or 8 it played static.

[2016-03-12 09:52] raysan5 commented on #99
Hi @kd7tck, I don't undestand clearly what you mean with the raw audio data playing... Do you refer to streaming audio data in a similar way of what we do with OGG?

If that's the case, why not keep using the Music struct and PlayMusicStream() - UpdateMusicStream()?

About the 32bit floating point support, I think it should only be some configuration parameter for OpenAL Soft library, I'll try to

[2016-03-12 21:29] kd7tck commented on #99
The play raw, will act as a plug and play system. It should allow anyone to attach third party sound libraries into raylib. The ability to push raw sound data into a sound queue is very helpful for testing new sound libraries.

[2016-03-13 16:57] raysan5 commented on #99
Sorry, my bad, still not understanding it clearly... Do you mean an streaming service for multiple audios? I mean, sample data loaded into the queue every certain time and then played by OpenAL system? That's the way PlayMusicStream() - UpdateMusicStream() work.

Right now, when calling PlayMusicStream(), it checks file format, opens the stream, init two internal buffers (the queue) and UpdateMusi

[2016-03-13 20:17] kd7tck commented on #99
When prototyping new audio libs sometimes converting everything in real time over to ogg files or wav files is really time consuming. The ability to simply push raw audio data allows you to skip that other step and just jump right in with pushing the data to be played. For example I could push the raw output of the sin function, and it would produce a simple soundwave. By modulating the period of

[2016-03-15 20:04] raysan5 commented on #99
Ok, I understand. At this moment audio data is already streamed by [chunks](https://github.com/raysan5/raylib/blob/master/src/audio.c#L671) that are picked from the ogg file, those samples could be generated from a sine wave and injected into the buffer in the same way... but it's true that right now those functions are not prepared to consume custom raw samples. Neither to say about concurrent mu

[2016-03-16 09:20] kd7tck commented on #99
The testing of the xm lib is nearing completion. There are still some problems with clipping and audio not outputting for certain xm files. I hope to have the final version out by next week.

[2016-03-16 16:30] raysan5 commented on #99
Great @kd7tck! It sounds fantastic! :D

[2016-03-16 16:33] raysan5 commented on #91
Just for tracking:

Physics module update 01: https://github.com/raysan5/raylib/commit/893facdf6d81a430f5291407afac0e70627d0f0d
Physics module update 02: https://github.com/raysan5/raylib/commit/d0e26247f4e4edd4492611dc52cc964bbafefe27

[2016-03-16 16:54] raysan5 commented on #98
Corrected on commit https://github.com/raysan5/raylib/commit/ee52b13ae63f098c4e26a9812b2088f80fcbe7cc

[2016-03-16 16:54] #98 closed

[2016-03-16 16:55] raysan5 commented on #90
Improved gamepad support with commit https://github.com/raysan5/raylib/commit/db4585b3e23cd3c5aa87da21aedc36fd8be21739

[2016-03-16 16:55] #90 closed

[2016-03-19 17:36] #74 closed

[2016-03-19 18:09] raysan5 commented on #92
Implemented in commit https://github.com/raysan5/raylib/commit/c9d22c7a14a84b24a94f876c9e438c621b4bf420

Still some work required to improve new `struct Material` usage...

[2016-03-20 15:40] raysan5 commented on #100
Fixed with commit https://github.com/raysan5/raylib/commit/fa78023aa427e0c6e5a25e82102b296c51c24fe4

Despite solving the issue, mouse-based gestures doesn't work perfectly on web. When mouse movement stops it should go from GESTURE_DRAG to GESTURE_HOLD and it doesn't. Also seem to be some problems with timing; GESTURE_SWIPE is detected despite taking some time before mouse-button released.

[2016-03-20 15:40] #100 closed

[2016-03-20 15:57] raysan5 commented on #89
After a deep review, and intermediate solution has been chosen to deal with all the issues and find an equilibrum between:
 - Multiple buffers (LINES, TRIANGLES, QUADS)
 - Depth Test (separate 2D from 3D)
 - Alpha Blending (blend colors properly despite using 3 different buffers)

[2016-03-23 15:40] raysan5 commented on #91
Redesign completed with commit https://github.com/raysan5/raylib/commit/db3dd9d200f0c70538960c61ce43c00bfd4a2182

[2016-03-23 15:40] #91 closed

[2016-03-23 19:58] #89 closed

[2016-03-29 11:25] raysan5 opened #106 "[rlgl] Redesign Postprocessing Shaders system"
Right now, postprocessing shaders system works in the following way:

When calling `SetPostproShader()` the following processes are executed:
 - Lazy initialization of FBO and quad model (`rlglInitPostpro()`)
 - Link postpro shader to quad model (`SetModelShader()`)
 - Create Texture2D using fbo.colorTextureId and assign texture to quad

Then, on [core] module, if `IsPostproShaderEnabled()`, fbo i

[2016-03-30 22:42] raysan5 commented on #49
Oculus PC SDK 1.3.0 has been released. Maybe it's a good time to re-consider this feature for raylib.

[2016-04-01 08:52] raysan5 commented on #106
Postprocessing system has been completely redesigned (https://github.com/raysan5/raylib/commit/66b096d97848eb096a043781f1f305e7189f2a00) and old postprocessing system has been removed (https://github.com/raysan5/raylib/commit/06a8d7eb06e1573d5cce991ca39f6cb1067ea6fb).

New postprocessing system additions:

[code]

Old postprocessing system has been completely removed with a consequent code simplif

[2016-04-01 08:52] #106 closed

[2016-04-22 06:16] kd7tck commented on #99
Alright, been doing lots of testing and found out we can either resample to 16bit or use the openal extensions for 32 bit floating point support:
[code]

I will be posting a patch for the lib in the next couple of days; I just wanted to give a heads up. Where do you want the header files dropped?

[2016-04-23 09:15] raysan5 commented on #99
Hi @kd7tck ! Great to read that! Really expecting to see your progress! :D

How many new header files you have? For the moment, you can drop them into the main src directory. Later on we can look for a better destination (maybe an external directory inside src to compile all single-header libs used by raylib).

[2016-04-24 08:37] kd7tck commented on #99
For now only one that fully works, it so happens it is the one format my game uses. XM seemed the logical choice since milky tracker was so easy to learn. You can find the lib under my jar folder on github. I plan to have the jar_MOD version ready in the next week, I am still having trouble with that one. There are too many versions of the [file format](http://www.fileformat.info/format/mod/corion

[2016-04-24 11:19] raysan5 commented on #99
Great work @kd7tck! I agree that support for XM is the logical choice.

About MOD files, it's an old format and it has changed a lot with time. I tried to look for some specs on the format, don't know if any could help:

http://textfiles.com/programming/FORMATS/modform.txt - Amiga ProTracker MOD format
http://www.textfiles.com/programming/FORMATS/mod-form.txt
http://textfiles.com/programming/FORMA

[2016-04-25 06:41] kd7tck commented on #99
I just updated my lib with a new remaining samples calculation. Hopefully it can be plugged in and work with your music system.

[2016-04-25 07:33] raysan5 commented on #99
Amazing work @kd7tck! Very clean integration with audio module, I like it! :)

[2016-04-25 07:50] kd7tck commented on #99
The audio.c file is still not updated to reflect the new remaining samples calculation I just added. That new function should allow for the calculation of remaining number of samples.

[2016-04-28 22:39] kd7tck commented on #99
Testing the MOD player is getting harder, the api for testing audio needs to be implemented.

Here is an updated audio api for testing samples:
[code]

I wanted some feedback on this new design.

[2016-04-29 10:32] raysan5 commented on #99
Hi @kd7tck! I think that audio module requires a redesign to adjust to new features and, in a future, find a replacement for OpenAL (probably [libsound.io](https://github.com/andrewrk/libsoundio)).

You can add the new struct and functions if they are required. Just for consistency with other raylib parts (loading and unloading structs), maybe functions signature could be:
[code]
or maybe, conside

[2016-05-01 00:54] kd7tck commented on #99
Now that the API is down, I will spend a week or two testing out how to fully implement it and wrap the Music system within it.

[2016-05-01 09:31] raysan5 commented on #99
Hi @kd7tck! Thank you very much for the effort and the hardwork! Those new addition are great! :)

[2016-05-01 09:52] raysan5 commented on #94
This feature is still under development, just a quick update for record:

`BeginDrawingPro()` has been removed from the API, it was not flexible enough and blending/shader configuration could be accomplished with:
[code]
World transform could also be accomplished using the camera systems (2D and 3D).

`BeginDrawingEx(Camera2D camera)` works ok but, again, it's not flexible enough. Camera 2D transf

[2016-05-01 10:15] raysan5 commented on #49
Just a quick update on this issue: I'm working on it.

A first sample of Oculus SDK 1.3 integration with raylib has been uploaded here: https://github.com/raysan5/raylib/tree/develop/examples/oculus_glfw_sample

Still not working properly; Oculus Rift device is detected and initialized correctly but there seems to be some connection problem between GLFW3 window/context  and Oculus window/context a

[2016-05-02 07:26] kd7tck commented on #99
I have been playing around with libsoundio the last couple of days and I don't like it very much. I prefer openal_soft/fmod. libsoundio literally is the most barebones setup possible. Antialiasing, mixing, effects, resampling, and other standard features you would expect from a professional audio lib are missing. I still think you should go ahead with it though, you just need to add in some of the

[2016-05-02 10:16] raysan5 commented on #99
Hi @kd7tck! Thank you very much for the update! No hurry on finishing the audio system, just take your time, don't worry! raylib is a hobby project and I expect everybody that collaborates on it just have fun doing it, no pressure at all.

Any patch you send to the library due to the use of it in real productions is welcome, that's the way to improve raylib.

Have fun working on your game and let

[2016-05-04 17:14] raysan5 commented on #49
Finally, it works! Right now, only window/context initialization with GLFW3 and blank screen. I managed to draw a simple red rectangle with [rlgl](https://github.com/raysan5/raylib/blob/develop/src/rlgl.c):

![raylib_oculusriftcv1](https://cloud.githubusercontent.com/assets/5766837/15022363/99aca562-122b-11e6-988b-15e29460b740.png)

Now I'm working in a simple 3D scene (a cube); I'm dealing with m

[2016-05-11 07:41] kd7tck commented on #99
Here is the fork where I am working on the new music system: [newaudio](https://github.com/kd7tck/raylib/tree/newaudio)

[2016-05-13 08:47] kd7tck commented on #99
Wondering if you had any time to look over the fork I made. I wanted some feedback and recommendations.

[2016-05-13 22:00] cHemingway opened #113 "[examples] Examples crash on OSX 10.11.4 when GRAPHICS = GRAPHICS_API_OPENGL_33"
After fixing some paths to get the examples to build, running shapes_basic_shapes gives the following output. This example runs fine with the standard `GRAPHICS=GRAPHICS_API_OPENGL_11`
 I have attached the standard OSX error report: [error_report.txt](https://github.com/raysan5/raylib/files/264137/error_report.txt).

[code]

This also happens when running examples that need OpenGL 3.3, such as sha

[2016-05-14 00:03] cHemingway commented on #113
This is apparently a [known issue](http://www.glfw.org/faq.html#how-do-i-create-an-opengl-30-context) with glfw on OSX.

If I change [line 1450 of core.c](https://github.com/raysan5/raylib/blob/develop/src/core.c#L1450) to  `glfwWindowHint(GLFW_OPENGL_FORWARD_COMPAT, GL_TRUE);` then examples run without segfaulting. A pull request is in the works to do this on OSX only.

The shaders for shaders_cu

[2016-05-16 22:07] raysan5 commented on #99
Hello @kd7tck! Excuse me for my late response, I've been out for some days... Additionally, current academic year is finishing in about a month and I'm very busy reviewing projects and preparing exams for my students... A part of that, when I have some free time, I work on raylib support for Oculus Rift CV1 (almost ready! :D).
I've been taking a quick review to your additions to audio module, you

[2016-05-16 22:22] cHemingway commented on #113
Closed by #114, cheers!

[2016-05-16 22:22] raysan5 commented on #113
Hi @cHemingway! Thank you very much for the update on OSX! Pull request https://github.com/raysan5/raylib/pull/114 already merged!

About the shaders not loaded properly on `shaders_custom_uniform` and `shaders_postprocessing`, please, could you provide the raylib output log? If they are not compiled/linked properly by the driver a message should appear...

[2016-05-16 22:32] cHemingway commented on #113
Of course, here is a gist with logs for both:
https://gist.github.com/cHemingway/f9cfdfa278723ac2de7379bbdb31ce1f

Here are some screenshots, which seem to show no effects being performed:
![shaders_custom_uniform](http://i.imgur.com/dK5hldB.png)
![shaders_postprocessing](http://i.imgur.com/E9fiapT.png)

Would you like me to move this to a new issue?

[2016-05-16 22:42] raysan5 commented on #113
Ok, I see the error. Just renamed `texture2D()` to `texture()`. First version is deprecated since GLSL 130, despite it should work... it seem not all drivers think the same...

Solved on commit https://github.com/raysan5/raylib/commit/0e29aa2951fe11e9d0fabec2182ed6309fce37bb

[2016-05-16 22:51] cHemingway commented on #113
And fixed! Fantastic! 👍

![shaders_custom_uniform](http://i.imgur.com/KGMZy0j.png)
![shaders_postprocessing](http://i.imgur.com/7nG06v3.png)

[2016-05-16 22:51] #113 closed

[2016-05-16 22:53] raysan5 commented on #113
Great! :D

[2016-05-17 02:40] kd7tck commented on #99
I have been experimenting with different ways of doing audio mixing in this fork. I have not yet achieved a result that I am pleased with. I hope to eventually hammer away at it until I get there. I will be gone later this week, so I hope to get as much done up until then.

Actually the four channels are needed so you can have any combination of midi,ogg,raw,wav playing at the same time. Up to fou

[2016-05-17 05:20] raysan5 commented on #99
Ok, I see, thanks for the explanation. About [OpenAL Soft](http://kcat.strangesoft.net/openal.html), probably I'm using an old versión of the library, I haven't updated it in a while. Maybe you can try with latest version but every platform uses its own implementation, so, Android or Raspberry Pi version could not match.

You're right, I prefer the second path, keep things simpler for the user. De

[2016-05-18 14:21] raysan5 commented on #96
This system has been redesigned and now maps usage is simpler. Still, there are three kind of maps and they are binded by default to fixed texture units:
 - diffuse -> binded to texture unit 0 (GL_TEXTURE0)
 - normal -> binded to texture unit 1 (GL_TEXTURE1)
 - specular -> binded to texture unit 2 (GL_TEXTURE2)

But now, depending on textures assigned to material, they are internally binded on dra

[2016-05-18 14:32] raysan5 commented on #92
Directly related to issue https://github.com/raysan5/raylib/issues/96

[2016-05-23 11:56] victorfisac commented on #92
Standard Material/Lighting system update 01: c60cc9e
Standard Material/Lighting system update 02: 80eb4f3

[2016-05-23 11:59] victorfisac commented on #92
Answering 9811a37 commit description: "It seems there are some problems with DrawLights()"

I think DrawLights() is correct. It draws:
- **Point light**: sphere wires.
- **Directional light**: it draws a sphere wire in its position and cube wires in target position. To set up a directional light, you just have to set up the direction vector that uses the standard shader by subtract target - positi

[2016-05-27 18:05] raysan5 commented on #49
Still working on it but almost finished! raylib rlgl module required a deep redesign to accomodate to the stereo rendering...

Just to keep track, new drawing system stores draw calls (models-drawing) in an array and everything (independent model buffers + internal default buffers) is processed at EndDrawing().

[2016-05-31 15:17] raysan5 commented on #92
Closed by pull request https://github.com/raysan5/raylib/commit/4b93349db575bedb48b8c13e95d37df1ec694387

Many thanks to @victorfisac for his amazing work!

[2016-05-31 15:17] #92 closed

[2016-05-31 15:22] victorfisac commented on #92
You are welcome @raysan5 . It will be improved over time.

[2016-05-31 15:39] raysan5 commented on #96
Updated Wiki with some related info: https://github.com/raysan5/raylib/wiki/raylib-generic-uber-shader-and-custom-shaders

[2016-05-31 15:39] #96 closed

[2016-06-03 13:54] raysan5 commented on #94
Many internal changes have been done since last update. A new flexible and easy-to-use system has been designed to accomodate a 2d camera control:

Camera2D is now defined as:
[code]
And the following functions have been added:
[code]
Maintaining consistency with the 3d equivalent functions:
[code]
An usage example has been added in commit https://github.com/raysan5/raylib/commit/501ef80bed15aff36

[2016-06-03 13:54] #94 closed

[2016-06-03 22:41] raysan5 commented on #49
Some recap on this issue:

Still working on [rlgl](https://github.com/raysan5/raylib/blob/develop/src/rlgl.c) module redesign, lots of changes done... and still some work required...

A working Oculus Rift sample has been [developed](https://github.com/raysan5/raylib/tree/develop/examples/oculus_glfw_sample). This sample uses rlgl module and includes a set of functions to deal with Oculus data.

N

[2016-06-07 13:14] raysan5 commented on #99
Hi @kd7tck, do you think we can close this issue?

[2016-06-07 15:52] raysan5 commented on #55
Updated Notepad++ scripts to allow custom user path configuration and added information on the raylib wiki: https://github.com/raysan5/raylib/wiki/Default-Paths

[2016-06-07 15:52] #55 closed

[2016-06-07 23:06] kd7tck commented on #99
I will be doing one more update to jar_mod in another day. Close it after that, we are pretty much done with chiptunes.

[2016-06-08 20:25] raysan5 commented on #99
Closing issue with commit https://github.com/raysan5/raylib/pull/126 after a bunch of updates and redesign of the audio module.

Probably still work to do for future updates and reviews...

[2016-06-08 20:25] #99 closed

[2016-06-09 09:10] raysan5 commented on #31
New function added to GLFW 3.2 for full-screen mode management: `glfwSetWindowMonitor()`

More info [here](http://www.glfw.org/docs/latest/window.html) and [here](http://www.glfw.org/docs/latest/group__window.html#ga81c76c418af80a1cce7055bccb0ae0a7).

[2016-06-12 13:02] LelixSuper opened #130 "Why there aren't corrispective headers in src/?"
Hi, I would like to know why all ".c" files don't have their equivalent headers. The only exception is "raylib.h", which is the header for almost all files in the folder.

raylib.h  (is the header for files with "\*")
camera.c <- ┐*
camera.h <- ┘
utils.c <- ┐*
utils.h <- ┘
gestures.c <- ┐*
gestures.h <- ┘
rlgl.c <- ┐*
rlgl.h <- ┘
audio.c <- ┐*
audio.h <- ┘
core.c *
models.c *
standard_shader.h
eas

[2016-06-12 16:58] raysan5 commented on #130
That's a library design decision. I came to raylib from a C# background with XNA/MonoGame and I don't like headers so I tried to minimize its use. Here it is a more detailed raylib arquitecture explanation:

![image](https://cloud.githubusercontent.com/assets/5766837/15992278/62292086-30c9-11e6-8761-369c2f1010d9.png)

I tried to make raylib as modular as posible, keeping a small number of specific

[2016-06-15 17:00] LelixSuper commented on #130
You have been very clear in the response of my answer. I have only one question: now there is CMakeList.txt, so the Makefile file is not necessary?

[2016-06-15 18:31] raysan5 commented on #130
`CMakeList.txt` has been added by another user and I thought it could be useful for someone but I don't use CMake and I don't know if it's ok or not... Makefile is ok.

[2016-06-16 00:41] JaredSartin commented on #54
This was removed from 1.5 milestone? :( ok

[2016-06-16 07:43] ghassanpl commented on #54
This is completely my fault and I apologize profusely. I haven't had much time (mostly due to personal stuff) to work on this. Also, I generated most of the code using a custom tool, and fixed problems by hand, so synchronizing it with the latest version of the lib would be a massive pain. I'm not that good at undirected work, so if anyone wants to take over, or tell me what to do, that would be g

[2016-06-16 12:00] raysan5 commented on #54
Hi @JaredSartin! raylib 1.5 represents a really big update for the library with the addition of a materials system and Oculus Rift support (that implied a lot of internal redesign). To add lua support, it's better to work over a stable version, so I was waiting for 1.5 release before coming back to this issue.

Hey @ghassanpl! No need to apologize, it's perfectly comprensible! I'll try to take a l

[2016-06-16 12:56] JaredSartin commented on #54
Awesome. Thanks for the updates - it makes sense as to the current status
and upcoming features.
On Thu, Jun 16, 2016 at 05:01 Ray <notifications@github.com> wrote:

--
Jared Sartin
*Mobile *(269) 364-1735 | *Twitter* @JaredSartin
<http://twitter.com/JaredSartin>
*Website* <http://jared.sart.in/>

[2016-06-16 23:48] kd7tck commented on #130
I tested Cmake out yesterday, it works just fine. The makefile is still there for those that prefer the POSIX standard way of building things.

[2016-06-17 06:52] LelixSuper commented on #130
Cmake can produce makefile file

Il 17 giugno 2016 01:48:19 CEST, Joshua Reisenauer <notifications@github.com> ha scritto:

--
Inviato dal mio dispositivo Android con K-9 Mail. Perdonate la brevità.

[2016-06-19 10:53] raysan5 commented on #49
Recap on this issue: still working on it.

Finally, all Oculus Rift related functionality has been moved to `rlgl` module. After some thinking, I decided to move Oculus functions to `rlgl` module for two reasons:

1. Most of the functions listed requires OpenGL functions. As I said, all OpenGL stuff is contained inside `rlgl` so it makes more sense to be there. The only functionality that shouldn'

[2016-06-21 18:09] LelixSuper commented on #130
It is still planned to hold the makefiles? Or will there be a migration to cmake? @raysan5

[2016-06-21 21:46] raysan5 commented on #130
no migration to cmake, I prefer the plain makefiles.

[2016-06-22 17:16] LelixSuper commented on #130
Ok, thank for the reply!

[2016-06-25 22:01] raysan5 commented on #130
I've moved arquitecture explanation to the Wiki: https://github.com/raysan5/raylib/wiki/raylib-arquitecture

Now I can close the issue. :)

[2016-06-25 22:01] #130 closed

[2016-06-26 00:00] raysan5 commented on #31
This issue is quite a nightmare... some code updated with commit https://github.com/raysan5/raylib/commit/6981e2bffaf6626b4ffc3f667dd9cc1de2c196da

Now, I check for monitor supported videomodes and I choose the closest videomode to the desired screen size. I set that mode to be the display size and I calculate the render size and viewport offsets considering that display size. It works... but I fi

[2016-06-27 08:21] raysan5 commented on #49
Final recap:

Stereo rendering is working pretty good, right now, using a for loop in the user side ([oculus example](https://github.com/raysan5/raylib/blob/develop/examples/core_oculus_rift.c)). This would be the implementation for the first version of this feature.

It has also been added support for Oculus simulator, it means, if no Oculus device is detected or raylib is compiled with no Oculus

[2016-07-04 22:40] raysan5 commented on #49
Update:

No `for` loop in the user side! Instead, managed internally in `rlgl`, in `DrawDefaultBuffers()` and `rlglDrawMesh()`. This improvement simplifies a lot user code, now VR experience could be easily enabled.

Now deciding the best way to begin/end stereo drawing... should it be integrated into `BeginDrawing()` and `EndDrawing()`? Thinking about it...

[2016-07-07 21:06] raysan5 commented on #49
VR related functions have been renamed to be HMD independent! Now, desired VR device can be controlled only with 3 functions:
[code]
Finally, begin/end stereo drawing has been moved to `Begin3dMode()` and `End3dMode()`, that way, users can only render in stereo 3d content (actually, it makes sense). Any "2d" content (GUI, text...) must be rendered into a 3d billboard...

Now working on HMD physica

[2016-07-12 16:48] raysan5 commented on #49
Ok, VR is ready! :)

[2016-07-12 16:48] #49 closed

[2016-07-16 10:19] LelixSuper opened #133 "raylib doesn't compile"
Hi, I've tried to compile raylib by master branch, but there is a compilation error with `rlgl.c` file.
The reference commit is a279437.

OS: Ubuntu 16.04 64 bit (Lubuntu)

[code]

[2016-07-16 13:00] raysan5 commented on #133
Hi @LelixSuper! Thank you very much for detecting this issue! :)

Bug corrected on commit https://github.com/raysan5/raylib/commit/0fbd48a8890d5f3e2158dbec12a6e452b6fb81b0

Changed Makefile to compile by default for OpenGL 3.3 instead of OpenGL 1.1

[2016-07-16 13:00] #133 closed

[2016-07-21 15:59] raysan5 opened #138 "[textures] Text drawing on Image not working properly"
Following functions don't seem to work properly:
[code]

There are multiple issues:

- [x] Default font letters spacing is not properly applied, issue related to `ImageText()` function
- [x] Default font texture used to draw on image has no alpha by default, it's black & white and should be processed.
- [x] Custom font image format don't seem to be properly considered.
- [x] When drawing outside t

[2016-07-21 16:05] raysan5 opened #139 "[shaders] Standard shader artifacts on web"
Weird artifacts with lighting on platform web... it could related to some `clamp()` on shader or maybe depth buffer being only 16 bit? Need some testing...

![image](https://cloud.githubusercontent.com/assets/5766837/17029903/7876d41a-4f6d-11e6-88f9-8c2aca26b4f9.png)

![image](https://cloud.githubusercontent.com/assets/5766837/17029897/703a4656-4f6d-11e6-8472-3eaba96f84df.png)

Running example can

[2016-07-21 16:09] raysan5 opened #140 "[core] Mouse buttons middle-right exchanged in web"
It seems that MOUSE_MIDDLE_BUTTON and MOUSE_RIGHT_BUTTON are exchanged in PLATFORM_WEB. This issue probably depends on GLFW3 version used by emscipten vs desktop one.

Needs some review...

[2016-07-21 16:22] raysan5 opened #141 "[textures] Error while trying to load ETC1 texture format on web"
As far as I remember, it worked in raylib 1.4. Maybe something changed in Chrome WebKit WebGL.

Checking JavaScript output error:

    WebGL: INVALID_ENUM: compressedTexImage2D: invalid format

It seems internalFormat parameter is not understood by `glCompressedTexImage2D()` but it's set to `GL_ETC1_RGB8_OES`... weird...

[2016-07-21 16:26] raysan5 opened #142 "[lights] Improve lights gizmos drawing"
Lights gizmos can be drawn using the following function in `models.c` module:

[code]

This function can be improved to draw more clear gizmos, icnluding attenuation distances and better defined lighting areas. Need to think exactly how to improve gizmos.

[2016-07-21 16:31] raysan5 opened #143 "[audio] Review error-code mechanism used by the module"
Right now errors-code registration is not unified between functions. Some functions just store the error code in the global variable `lastAudioError` before returning (similar to OpenGL behaviour) and other functions just return the error code.

It needs to be unified to one method and choose the right one... what's better: deal with a global variable all around or just return error codes (conside

[2016-07-21 16:44] raysan5 opened #144 "[audio] Review Music struct and Music playing"
Right now, every time a new Music is played, it gets internally indexed and that index must be used by all Music-related functions.

I'm thinking about creating a generic Music struct and use it as a new data type to be managed by the user, I mean:

[code]

This method seems more intuitive for the user instead of dealing with index numbers.

Another addition of raylib 1.5 is the support for multip

[2016-07-21 16:48] raysan5 opened #145 "[vr] Support simulated head-tracking on VR simulator"
Support simulated head-tracking using mouse/keyboard/touch inputs while using VR simulator.

Probably VR simulation functions should be moved to `core` module to add this feature and just leave VR rendering functions in `rlgl` module.

[2016-07-21 16:50] raysan5 opened #146 "[vr] Expose VR simulator configuration parameters to the user"
Right now HMD device parameters can be internally configured but it could be interesting for the user to have access to those parameters for custom configurations on games.

[2016-07-21 17:06] raysan5 opened #147 "[models] Review function: ResolveCollisionCubicmap()"
The following function from `models` module should be reviewed... and maybe removed!

[code]
  - First point: collision checking could be simplified
  - Second point: Not sure if it makes sense to be inside raylib, maybe it should be just in an example.

[2016-07-23 01:02] Ted-bissada opened #152 "Cannot Compile on PI 3"
cannot make from source due to compiler looking for a /rpi folder in the release folder that does not exist, even if i make for linux it will not install as /usr/local/lib/libraylib.a does not exist even if i  touch said file i still recive the same error

[2016-07-23 01:07] #152 closed

[2016-07-23 01:07] Ted-bissada commented on #152
my bad i saw the forum thread on the website about this issue

[2016-07-23 02:22] BlakeBarnes00 opened #153 "[compiling] Can't link libraries"
I have been reading up on this library for a few days now and decided to give it a shot. I am trying to link the libraries, but nothing happens. I am on Ubuntu 16.04, and I have followed the tutorial in the Wiki to install GLFW and OpenAL.

Makefile:
[code]

Errors after compiling:
[code]

All the libraries are in the lib folder, and the include file is in the include folder.

[2016-07-23 02:52] EdwardAngeles opened #154 "APPCRASH error"
Hi. I'm using raylib for the first time. I open one of the examples and when I try to compile and execute it, it gives me this an APPCRASH error.

![0](https://cloud.githubusercontent.com/assets/6760623/17075333/7f4fb4b8-505e-11e6-9230-a6db44ed69af.png)

I'm on Windows 7 Ultimate 64bit. Graphics: Mobile Intel® GM45 Express Chipset.

[2016-07-23 08:28] raysan5 commented on #153
It seems it's not linking with libraylib.a... and I also see you're not linking with all required libs... To verify it, try copying libraylib.a and raylib.h in same folder and compile again:

    c++ -w -std=c++11 -I. -L. -lraylib -lglfw3 -lGL -lopenal -lm -pthread -ldl *.cpp -o test

Please, let me know if it works!

[2016-07-23 08:36] raysan5 commented on #154
Hi @EdwardAngeles! Your GPU is quite old and it only supports up to OpenGL 2.0 on Windows systems. By default raylib uses OpenGL 3.3... but you can change that easily! :)

1. Open Notepad++ and open `C:\raylib\raylib\src\core.c`
2. Execute Notepad++ script: `raylib_source_compile_gl11` (this will recompile raylib with support for OpenGL 1.1 and copy all required files in required folders)
3. Open

[2016-07-23 09:28] BlakeBarnes00 commented on #153
I just tried that a few minutes ago, still got this:

[code]

[2016-07-23 16:41] EdwardAngeles commented on #154
It works! Thank you. Can't wait to start playing with the raylib.

[2016-07-23 16:41] #154 closed

[2016-07-23 17:15] raysan5 commented on #153
Hi @BlakeBarnes00,

Have you tried the default examples? Do they work?

Just go to raylib/examples folder and run the make file:

    make PLATFORM=PLATFORM_DESKTOP -B

raylib is a C library but it should work perfectly with C++.

Try compiling a single C example (`core_basic_window.c`) this way:

    gcc core_basic_window.c -o test -std=c99 -I. -I../src -L. -L../release/linux -lraylib -lglfw3 -lG

[2016-07-23 18:28] Ted-bissada opened #155 "[compiling] cannot compile using RPI 3"
I attempted to compile this following instructions as stated on the wiki and on the first attempt it ran for a while outputting many lines before reaching this error

[code]
on subsequent attempts this error is reached instantly
attempting to create this directory and  an empty file of this name via terminal changes the error slightly to

[code]

renaming the android or linux folders in release to

[2016-07-23 18:57] raysan5 commented on #155
Thanks for the issue report, I'll review those folder conflicts... it was a last-hour change...

[2016-07-23 20:04] Ted-bissada commented on #155
Ok thanks for the help i am really excited to try this library out after reading about it

[2016-07-25 11:32] meiry opened #156 "The lib looks very cool , any chance to support VSC++ ?"
I tried to run cmake for VSC++ 2013 , but it is to many compilation errors ?
is there any change to do VSC++ port ?
Thanks!

i started to do it , but stoped here ...
[code]

[2016-07-25 11:47] raysan5 commented on #156
Undoubtly is an improvement to consider!

Actually, I remember some raylib user was using it with VSC++, don't remember which version... It shouldn't be difficult to get it working...

I'll try to do some tests.

[2016-07-25 17:48] raysan5 commented on #155
Ok, solved on commit https://github.com/raysan5/raylib/commit/c604b53f78adc2c96d5f0ee6cd1becb3429c778a on develop branch. As it is a breaking issue I'll integrate it into master branch soon.

[2016-07-25 17:48] #155 closed

[2016-07-25 17:52] Ted-bissada commented on #155
Thanks for the help I will try compiling that commit tonight

[2016-07-25 18:52] paezao opened #157 "High-DPI support"
Hello,

I'm setting my window size as 800x600 and Im getting this:

http://screencloud.net/v/w7qU

I think this probably has to do with my laptop having a high dpi display. I know GLFW supports it, does raylib at this moment?

Edit: I just realized it gets fixed when I move the window..thats interesting.

Cheers

[2016-07-25 20:58] lewislepton opened #158 "running on mac brings pain. or at least does not work in xcode with paths set"
howdy,

rather than post an email to you, someone else may have got this as well on mac.
so...

ive done the set up, just translated the spanish wiki for doing it with mac, and whilst making things like glfw3 work and compile, and have also setup the location of raylib.h by clicking and dragging in the location to the `Search paths > header search paths/library search paths` it brings up an error.

[2016-07-25 21:15] lewislepton commented on #158
also my other settings, for the library settings & the search paths. screenshots given

<img width="1166" alt="screen shot 2016-07-25 at 22 14 06" src="https://cloud.githubusercontent.com/assets/11299322/17117683/30bd2336-52b5-11e6-9519-c935f75a6d5d.png">

<img width="1173" alt="screen shot 2016-07-25 at 22 14 21" src="https://cloud.githubusercontent.com/assets/11299322/17117697/3cccb038-52b5-11e6

[2016-07-25 21:56] raysan5 commented on #158
Hi lewislepton, just for record, you have tried adding to Library Search Paths: `"/Users/lepton/Developer/raylib/RAYLIBGLFW/../../../Downloads/raylib-master/release/osx"`?

[2016-07-25 21:58] lewislepton commented on #158
yeah, that also does not work

[2016-07-25 22:11] paezao commented on #157
Just an update.

I managed to make it work by getting the correct framebuffer size using glfwGetFramebufferSize and then passing that to rlViewport.

I don't know exactly how you want to handle this but there's also a FramebufferSize callback that should probably be used. glfwSetFramebufferSizeCallback

[2016-07-25 22:33] Ted-bissada opened #159 "[display detection] on RPI 3 all examples fail to start"
I was able to compile the library and all examples after downloading from the develop branch but upon starting any of the examples this error occurs

[code]

i am not ssh'ing my RPI 3 and have a monitor connected via HDMI with resolution greater than the required

attempting to open examples from within startx yields the same result

[2016-07-25 22:43] raysan5 commented on #158
Just reviewed tutorial and translated to english: https://github.com/raysan5/raylib/wiki/Compile-for-OSX

Tomorrow I'll try to check it on a Mac...

[2016-07-25 22:46] raysan5 commented on #157
Ok, are you using a Mac? are you working on OSX? I think that's an known issue... check NOTES at the end of the tutorial: https://github.com/raysan5/raylib/wiki/Compile-for-OSX

[2016-07-25 22:54] #159 closed

[2016-07-25 22:57] raysan5 commented on #159
It seems it's not able to connect o display device. Are you trying to run examples from a Terminal after initializing XWindow system?

raylib is prepared to work natively, not under XWindows...

[2016-07-25 22:58] raysan5 commented on #159
Hi @Ted-bissada, just closed the issue while I was writting... did you solve it? Did you find the problem? Please, let me know!

[2016-07-25 22:58] paezao commented on #157
Hello @raysan5!

Yes I am working on OSX.

It should be a simple fix though, you just need to use that function to determine the real framebuffer size and maybe handle the callback. Since I just got here (and dont know the lib intimately yet) I rather not submit a pull request for that.

Gracias :)

[2016-07-25 23:01] Ted-bissada commented on #159
it was a problem on my end for whatever reason start x would start but $DISPLAY was not set when i used echo $DISPLAY i got a blank line i am still trying to figure it out but it is not an issue with the library

[2016-07-25 23:04] raysan5 commented on #157
That's great @paezao!

I'll just keep the issue open until implementing your solution (I'll try to update code tomorrow)!

By the way, could you help with this issue: https://github.com/raysan5/raylib/issues/158?

[2016-07-25 23:05] raysan5 commented on #159
Ok, thank you very much for the feedback! :)

[2016-07-25 23:32] paezao commented on #158
Do you have a libraylib.a on the release/osx folder of the library source code?

[2016-07-25 23:35] paezao commented on #158
Do you have a libraylib.a on the release/osx folder of the library source code?

[2016-07-26 10:36] paezao commented on #157
I will definitely try and help @raysan5. Im working on vim and compiling via the terminal though.

[2016-07-26 11:08] raysan5 commented on #157
Updated code on commit https://github.com/raysan5/raylib/commit/07a375e2d626428f5a1b9f02907120a4b3b3a08a

Just updated `InitGraphicsDevice()` function on `core` module, actually, I already had `glfwGetFramebufferSize()` there but commented... I'd be great to talk with myself of the past to ask why I left that function there... can't remember... :P

If you test it, please, use develop branch.

[2016-07-26 11:20] paezao commented on #157
It didn't work here.

Also, I think you probably shouldn't use that for apple only because there may be other high dpi displays.

[2016-07-26 11:45] paezao commented on #157
If you want to do real time testing or give me some pointers so I can submit a PR I'm in IRC #raylib @ freenode.net

[2016-07-26 11:48] raysan5 commented on #157
Ok, that's great, just out for lunch right now but Ill be there in about an
hour.
On 26 Jul 2016 1:45 pm, "Marcelo Paez" <notifications@github.com> wrote:

[2016-07-26 15:03] raysan5 commented on #157
Issue solved on commit https://github.com/raysan5/raylib/commit/a422e394925e68ab687ef70527c3e207234d8bd7

[2016-07-26 15:03] #157 closed

[2016-07-26 18:21] lewislepton commented on #158
this is the setup with the library, which is right, also did compile etc. though i will move raylib to my developer folder just so it doesnt get lost in my downloads ;)

![screen shot 2016-07-26 at 19 20 53](https://cloud.githubusercontent.com/assets/11299322/17150127/261a83d6-5366-11e6-89a7-dc6213dd6935.png)

[2016-07-26 19:12] lewislepton commented on #158
ok. so i have tried the latest update to the tutorial to build with mac, plus have tried the develop version, just to see. but the same problem happens.
but did notice that a `raylib.h` has compiled when i compiled the release/osx. before that did not happen

![screen shot 2016-07-26 at 20 11 35](https://cloud.githubusercontent.com/assets/11299322/17151888/4273dda0-536d-11e6-9125-946f5a4a74d6.png)

[2016-07-26 19:17] lewislepton commented on #158
ah ha. noticed the error message is actually now saying that GLFW3 can not be found. which is weird, since i went through the same process. very odd

[2016-07-26 19:29] lewislepton commented on #158
but everything is set up right. followed everything well and to the point. very strange. even the master is not building, does come up with the `cant find glfw3` the same as the develop version, but master does not generate a raylib.h inside the `release/osx` folder

[2016-07-26 21:22] lewislepton commented on #158
here is the project im working, with xcode
[RAYLIBGLFW.zip](https://github.com/raysan5/raylib/files/384836/RAYLIBGLFW.zip)

[2016-07-26 21:23] lewislepton commented on #158
its set up with raylib just above the project folder, which was pointed to it

[2016-07-26 21:36] raysan5 commented on #158
Hi @lewislepton, not sure what's the problem, it seems related to paths, it should work ok; actually @paezao is developing on OSX with raylib and it works fine... Maybe he can give you some feedback on your issue...

[2016-07-26 22:05] lewislepton commented on #158
ok. so after some folling, did do a new project. everything works now. dont know why it did. because everything was the same settings, even c was used

here is the new, working project
[RAYRAY.zip](https://github.com/raysan5/raylib/files/384907/RAYRAY.zip)

[2016-07-27 00:36] paezao commented on #158
Nice! Im glad it worked!

[2016-07-27 10:25] #158 closed

[2016-07-27 10:39] paezao opened #160 "Milestones and connected Issues"
Hello @raysan5

Can we have a milestone toward the next version and maybe the issues to get to those milestones?

That would be really helpful to those willing to contribute :D

[2016-07-27 13:22] raysan5 commented on #160
Hi @paezao, just set next milestone for some of the issues Iisted.

Still reviewing additional features and improvements before adding them to the list. I prefer to keep it under control and not overloaded...

[2016-07-27 13:30] lewislepton opened #161 "[compiling] could ios be a future addition?"
as the title suggests, was more wondering if this could be a future thing with raylib?

i know you personally dont have a mac, but really a thought on if it could become a thing would be nice since android is possible

cheers

[2016-07-27 13:36] raysan5 opened #162 "[rlgl] Problems with GLAD when GPU debugging"
It seems that some extensions required for GPU debuggers are not properly loaded.

When trying to debug raylib applications with a GPU debugger like [gDEBugger](http://www.gremedy.com/products.php), [apitrace](http://apitrace.github.io/) or [RenderDoc](https://github.com/baldurk/renderdoc) textures are not detected or program crashes.

Previous versions of raylib using GLEW library worked ok with

[2016-07-27 13:46] paezao commented on #160
Awesome, thanks @raysan5 !

[2016-07-27 13:46] #160 closed

[2016-07-27 13:47] raysan5 commented on #161
It shouldn't be complicated but I don't have and iOS device to test and that's a handicap...

[2016-07-27 13:48] paezao commented on #161
I'm sure we can get something going soon.

[2016-07-27 14:01] raysan5 opened #163 "[core] Review touch inputs scaling"
On platforms that support touch inputs (Android, HTML5), if display size is different than screen size input requires some scaling for proper measurement.

When using full screen modes, that scaling factor is calculated and applied but it requires some testing, specially on web platform.

Functions involved that need review (`core.c`):

[code]

Need to verify it works ok.

[2016-07-27 14:02] lewislepton commented on #161
all those words i like - except for the no device thing. but all the other words, i like ;)

[2016-07-27 14:39] raysan5 opened #164 "[textures] Procedural Image generation"
Some time ago I started creating a bunch of functions to support some procedural Image generation, I thought it could be interesting for education and also useful at some point. The functions proposed are:

[code]

Unfortunately I left some implementations incomplete... Just attaching here my sample code if someone wants to take a look, test it or continue with it.

[gen_textures_image.zip](https:

[2016-07-27 14:42] raysan5 opened #165 "[models] Procedural Mesh generation"
Some time ago I started creating a bunch of functions to support some procedural Mesh generation, I thought it could be interesting for education and also useful at some point. The functions proposed are:

[code]

The idea was generating quite complete meshes, at least including texcoords and normals for texturing and lighting.

Unfortunately I left some implementations incomplete... Just attachin

[2016-07-27 15:16] paezao commented on #165
Would that be useful for voxel games?

[2016-07-27 15:30] raysan5 commented on #165
not really, it would be useful for fast 3d prototyping, to define basic level volumes or to create simple 3d games.

[2016-07-27 22:01] raysan5 commented on #162
Just for reference, I add link to possible related GL extension:

https://www.opengl.org/registry/specs/ARB/debug_output.txt
https://www.opengl.org/wiki/Debug_Output

[2016-07-28 11:30] zwparchman commented on #165
These sound great and would solve a problem I currently have. Mesh union would also be nice to have to create meshes with a few of these primitives.

[2016-07-28 19:14] NoxAtMidnight commented on #156
Hello there!
I've been trying to get raylib to work in Visual Studio 2015. I have a partial conversion of raylib.h to C++ (which is what I want to run it as) but even if I set the project to compile as C code I get some errors.

I'm including the header into my main.c file and I'm getting the following errors:

1>libraylib.a(core.o) : error LNK2019: unresolved external symbol _cosf referenced in f

[2016-07-28 20:22] raysan5 commented on #156
Hi @NoxAtMidnight, yes, actually @ghassanpl was the user that get it working on VS 2015! He also ported raylib to Lua and worked with a VS 2015 solution...

I'll try to take a look myself.

[2016-07-28 20:36] raysan5 commented on #156
Oh, I see one possible issue. You're trying to use MinGW compiled .a libraries directly in Visual Studio 2015. It's possible but libraries should include some MinGW specific objects (related: http://stackoverflow.com/questions/3537368/c-building-static-library-question) you should use Visual Studio 2015 library versions.

You probably need to re-compile raylib with Visual Studio 2015 to generate `

[2016-07-28 20:48] ghassanpl commented on #156
Making it *compile* on VS2015 (latest preview) is fairly easy: http://pastebin.com/raw/hyhptRm4

Didn't try to link/run it, so can't check if it actually runs and works :)

[2016-07-28 20:53] raysan5 commented on #156
Hi @ghassanpl! Thank you very much for the diff! :D

[2016-07-28 21:06] NoxAtMidnight commented on #156
Hey guys I've managed to mostly get it working right now! I've more-or-less managed to replicate @ghassanpl 's diff on my own and it's compiling. Including raylib as a different project in my solution so I could compile it manually also fixed the linking errors I mentioned above.

However, now I'm having another issue - rlgl is failing to link with OpenGL and it's pretty much a wall of

I'll keep

[2016-07-28 21:09] raysan5 commented on #156
Are you linking with OpenGL library?

[2016-07-28 21:11] NoxAtMidnight commented on #156
Nevermind, realised I wasn't :)) It works in C now! I'll try converting it to C++ next, at least partially, and I'll try to post some files over the weekend if I'm home if you guys still need it.

[2016-07-28 21:14] raysan5 commented on #156
Wow! Great news @NoxAtMidnight! I'll try adding @ghassanpl corrections for MSC compiler on raylib. It would be great to have a solution available for VS 2015! :D

[2016-07-28 21:16] ghassanpl commented on #156
@raysan5 You may also want to add the MSVC *.lib files to the src/external/*/lib directories, for easier out-of-the-box linking.

[2016-07-28 21:16] raysan5 commented on #156
sure!

[2016-07-28 21:41] NoxAtMidnight commented on #156
Some minor progress: I actually got it running in C++ but the C compound literals are C++ incompatible (see the color defines) and there's no constructors for the C structs so I had to write something like
`Color rayWhite = { 245, 245, 245, 255 };`
instead of passing
`RAYWHITE`

However, the biggest issue was some strange include weirdness where CloseWindow(), ShowCursor() and Rectangle were compl

[2016-07-28 21:54] raysan5 commented on #156
Great! Thanks for the update @NoxAtMidnight.

About redefinition issue, I face that problem several times when including "`windows.h`" (hate that header), why need to include that header?

[2016-07-29 08:28] NoxAtMidnight commented on #156
I'm not at home now so I can't check but basically I'm getting tons of errors from gl.h if I don't include windows.h ahead of it (mainly because it can't find the windows functions it's calling). The gl.h file itself belongs in the standard VS header folder so now that I'm thinking more clearly it could be an issue with that configuration in particular.

[2016-07-29 11:39] raysan5 commented on #156
Ok, just an update: Corrected MSC issues on commit https://github.com/raysan5/raylib/commit/a008d49230c0f7543d8921e68f757dea7934a8c5.

I setup a solution in Visual Studio Community 2015 with 3 projects:
 - **raylib** (static library) - Configured as Compile as C Code -> OK!
 - **raylib_example** (core_basic_window.c) - Configured as Compile as C Code -> OK!
 - **raylib_example_cpp** (core_basic_wi

[2016-07-29 13:09] meiry commented on #156
@raysan5  and other great job !
is it problem to ask to provide manual on how to configure VS or to Make VS 2013 solution also
as 2015 is to much for my poor pc .
and this is the point of this lib to be able to run on low end pc's , right ?
Thanks

[2016-07-29 16:48] raysan5 commented on #153
Any news on this issue? Does it work?

[2016-07-29 20:02] Kankulo commented on #153
I tried it too but I've got the same results.

[2016-07-30 08:01] raysan5 commented on #153
sorry, my bad, it should be `-lpthread`

Ok, full line again:
[code]

[2016-07-30 09:19] NoxAtMidnight commented on #156
@raysan5 Hey there, I just looked into your commit and I can't seem to find the .sln/vcproj/cpp files, nor anywhere else in the develop branch. I'm new to github though, if you could point me to the right place?
@meiry if @raysan5 can't do it I can give it a try on Monday when I get back to work, we use VS2013 there so I should be able to get it to run. Theoretically there shouldn't be any problem

[2016-07-30 10:17] raysan5 commented on #156
Sorry @NoxAtMidnight, not uploaded yet the solution, need to do some tests (examples) and organize it properly. I will post it in this issue (that's the reason it's still open :P).

About VS2013 I don't have it installed on my computer... but it shouldn't be difficult to configure, just setup *Project Properties*:

  - **Include directories**: C/C++ > General > Additional Include Directories
  - *

[2016-07-30 12:06] raysan5 commented on #144
Just for record in case someone is going to edit this module: I'm completely redesigning `audio` system.

There are many things I didn't really understand and find over-complicated.

For example, about MixChannels, shouldn't a music just allow a number of mix-channels? Anyone can provide an audio file with multiple mix-channels (let's say 4)?

Just redesigning the module...

[2016-07-30 13:06] raysan5 commented on #161
I've reviewed some old notes on making raylib work on iOS and it's more complicated than expected... Additionally, Apple has already bet for its new graphics API Metal and not sure how long OpenGL ES will be supported...

[2016-07-30 13:08] raysan5 commented on #161
So, for the moment, no plans to support iOS. If someone feels brave enough to deal with hell, feel free.

[2016-07-30 13:08] #161 closed

[2016-07-30 18:40] Ted-bissada opened #167 "[examples] Standard shader not working properly on RPI"
ok im back i now have this working on my pi 3 and all examples can compile and function other than
audio_module_playing
audio_music_stream
physics_basic_rigidbody
physics_forces

all of them return a variation on this error

[code]

im sorry i keep posting here but im not really experienced enough to figure out what is going on here, as a side note for some reason the mouse wheel cannot control th

[2016-07-30 19:25] raysan5 commented on #167
Hi @Ted-bissada, thanks for the feedback! I didn't try raylib on a Raspberry Pi 3. I just tested it on Raspberry Pi 1.

About the failing examples:

  - **audio_module_playing**: It should work, just tested it last week... are you linking with OpenAL library? Actually, right now I'm completely reviewing raylib audio module and those examples are going to change soon...
  - **audio_music_stream**:

[2016-07-30 19:57] Ted-bissada commented on #167
ok thanks for the info and no shaders_standard_lighting compiles and runs but the screen shows what might be the correct image for a fraction of a second before screwing up (screen half grey half coloured squares looks like somewat like gpu failure), the fps counter shows but is frozen as well as the model acknowledgment.

(with 128 mb vram will edit post with attempt at 512 mb vram in a bit)

The

[2016-07-31 20:03] jamiltron opened #168 "Display on Retina device occupies lower-left quad of screen"
When opening a window of 800x600 on a retina Macbook pro, raylib outputs that the render & screen size as being 800x600, but rendering only happens in the lower left section of the screen.

This is probably due to pixels and screen coordinates not being 1:1 on a retina display. See [section 4.3 of the glfw faq](http://www.glfw.org/faq.html#why-is-my-output-in-the-lower-left-corner-of-the-window).

[2016-07-31 20:15] raysan5 commented on #168
Hi @jamiltron,

Have you tried raylib [latest develop branch](https://github.com/raysan5/raylib/tree/develop)?

Supposedly, this issue was corrected with commit https://github.com/raysan5/raylib/commit/a422e394925e68ab687ef70527c3e207234d8bd7 some days ago. It was related to issue https://github.com/raysan5/raylib/issues/157.

Not integrated into master branch yet.

Please, let me know if it works

[2016-07-31 20:38] jamiltron commented on #168
I checked out the develop branch, and I tried including/linking with the release/osx directory, but am still running into the same issue.

When I try building the source (mkdir build; cd build; cmake ..; make)

I get 3 errors:

[code]

[2016-07-31 21:04] raysan5 commented on #168
Including/linking with release/osx does not work, raylib should be recompiled (build the source again).

Thanks for pointing the issue with audio, just updated that file a couple of days ago and now I'm redesigning the module (Issue https://github.com/raysan5/raylib/issues/144). Probably by tomorrow it will be ready and, hopefully, this issue solved.

[2016-07-31 22:16] jamiltron commented on #168
Thank you!

[2016-08-01 10:57] raysan5 commented on #144
Complete review of audio system in commit https://github.com/raysan5/raylib/commit/02c456432d7f284c41519f6d540ad6c4dfb4a065.

Still some work left on audio module:
- [ ] Expose AudioStream functionality for raw samples streaming
- [ ] Support multiple buffers on `BufferAudioStream()`
- [ ] Simplify `BufferMusicStream()`, lot of redundant code
- [ ] Review `UpdateMusicStream()` > `BufferMusicStream

[2016-08-01 11:00] raysan5 commented on #143
Error codes registration has been removed on commit https://github.com/raysan5/raylib/commit/2dc5f580a6b18345be999bf70dcbfd563459de5d.

It was quite professional but I decided to remove it to keep the consistency with other modules and raylib `TraceLog()` mechanism.

[2016-08-01 11:00] #143 closed

[2016-08-01 11:02] raysan5 commented on #168
Hi @jamiltron, just updated develop branch, please, could you try it again? Remember you need to recompile raylib source to make surelibrary is updated (verify creation date of `libraylib.a` once generated). Thanks!

[2016-08-01 11:07] raysan5 commented on #167
Wow! Thank you very much for the detailed information! On Raspberry Pi 1 I only got a white screen!

Could you upload some screenshot of the issue? Just run the example and press F12, a screenshot should be automatically generated in same folder with name `screenshot001.png`.

Definitely is an issue with the shader...

Thank you very much for your feedback!

[2016-08-01 14:09] Ted-bissada commented on #167
![screenshot000](https://cloud.githubusercontent.com/assets/20605185/17296554/d546bf9c-57cf-11e6-9000-08b8e4febbca.png)

i previously stated the fps was frozen when in fact it started at zero and moved to 7 after several seconds then froze there

[2016-08-01 21:09] raysan5 commented on #167
Wow! Amazing screenshot! Thank you very much for sharing!

In the image we can see the Videocore IV tiled rendering mechanism, rendering 32x32 pixels tiles to generate the 800x450 pixels image...

No idea what's the issue but the image is great! :D

[2016-08-02 04:55] jamiltron commented on #168
That fixed the issue, thank you very much!

[2016-08-02 14:55] lewislepton opened #169 "[BUG] GLFW not found in install path [mac]"
something i have found after you have made GLFW, placed in the required path in `usr/local/lib/lib`, even though it is located in that folder, raylib still looks for it in the path of which it was made in.

so if i build it in my downloads folder its looked for it in that. so i have to keep it there as well as using the `usr/local/lib/lib` folder.
very strange

[2016-08-02 15:30] lewislepton opened #170 "[REQUEST] allow package making for release of games"
just as an idea.
though raylib is simple, it would be nice if you can make package/binaries of games that have been made. give to your friends, grandmother, whatever

[2016-08-02 15:33] raysan5 commented on #144
Audio module update completed at commit https://github.com/raysan5/raylib/commit/68d647c1af1b9f0479f680dbd7c4f93586cd51a2

[2016-08-02 15:33] #144 closed

[2016-08-02 15:43] raysan5 commented on #169
Hi @lewislepton, it seems related to XCode configuration, it seems other user don't have this problem.

Please, @jamiltron, could you confirm this issue? Did you have the same problem?

[2016-08-02 15:45] raysan5 commented on #170
Well, actually, most of the games done with raylib are propietary or just samples/prototypes. To small and simple to create a packaging system.

Most of my students just zip them and share the zip file.

[2016-08-02 15:45] raysan5 commented on #153
Have you tried again? Does it work now?

[2016-08-02 15:51] Kankulo commented on #153
Yes! Thanks! I just sent you an e-mail to tell that it's working, but the makefiles LIBS flags needs update to work.

[2016-08-02 15:53] #153 closed

[2016-08-02 16:09] jamiltron commented on #169
I did not have that issue, but I compile from the command line and do not use XCode.

I installed glfw3 via homebrew, which (on my machine) installs to /usr/local/Cellar/glfw3/$VERSION/libs, but it should register with pkg-config no matter how you install it, I think. So you should be able to include it via `pkg-config --libs glfw3`

[2016-08-02 16:37] Ted-bissada commented on #167
Thanks for the info thats pretty cool as a look into what's happening in the hardware rendering systems

[2016-08-03 04:25] jamiltron commented on #169
So I just pointed XCode to glfw3.dylib, which was installed via homebrew, and raylib.a which I built from source and it ran just fine.

Are you using XCode @lewislepton?

[2016-08-03 19:45] raysan5 commented on #54
New module created: [rlua](https://github.com/raysan5/raylib/blob/develop/src/rlua.h) - A raylib 1.6 Lua binding (header-only, view [example](https://github.com/raysan5/raylib/blob/develop/examples/rlua_execute_file.c) for usage)

A preliminary working version has been uploaded at commit https://github.com/raysan5/raylib/commit/735968e68543bb5141122f181608d0d7ada9a3be

Still some work required, lo

[2016-08-03 20:09] raysan5 opened #171 "[rlua] Review, update and testing"
I open this new issue to discuss rlua development on a fresh thread. Please, @ghassanpl and @JaredSartin, feel free to join.

[2016-08-03 20:10] raysan5 commented on #54
Closing this issue and continue development on new Issue thread: https://github.com/raysan5/raylib/issues/171

[2016-08-03 20:10] #54 closed

[2016-08-03 20:10] ghassanpl commented on #171
The GAMEPAD enum is registered twice.

[2016-08-03 20:13] ghassanpl commented on #171
lua_CalculateBoundingBox, lua_IsAudioDeviceReady and lua_LoadMusicStream all return 0 when they should return 1.

[2016-08-03 20:14] raysan5 commented on #171
Thanks! Just copied it to expose XBOX gamepad enum but still thinking the better way to do that.

Wow! So fast finding issues! I'm on it! :D

[2016-08-03 20:15] raysan5 commented on #171
By the way, how could I manage (void *) data?

[2016-08-03 20:19] ghassanpl commented on #171
Lua strings are technically binary blobs, and manipulating them as such is easy thanks to string.pack/unpack ([Lua 5.3](https://www.lua.org/manual/5.3/manual.html#6.4.2)) so I'd recommend getting those arguments as strings (using lua_tolstring).

[2016-08-04 23:44] raysan5 commented on #141
After some investigation, those are my conclusions:

ETC1 compression is intended for OpenGL ES 2.0 (actually WebGL 1.0 is based on OpenGL ES 2.0) but despite being detected as available, at the very end it's a hardware implementation, so, the underlying hardware conducted by the driver must support ETC1 compression.

The sample is running over WebGL that, supposedly, detects ETC1 compression supp

[2016-08-04 23:44] #141 closed

[2016-08-04 23:50] raysan5 commented on #169
Just closing this issue. Seems more related to a configuration problem than an issue with raylib.

Please, feel free to reopen if thinking is a raylib issue.

[2016-08-04 23:50] #169 closed

[2016-08-06 09:37] raysan5 commented on #171
I've just ported all raylib examples to Lua: https://github.com/raysan5/raylib/tree/develop/examples

I've been testing them (https://github.com/raysan5/raylib/blob/develop/examples/rlua_execute_file.c) and most of them fail with the error:
[code]
Most of the times related to structs `Camera` and `Camera2D`, Probably I'm doing something wrong when defining them in `rlua.h` module.

Please, @ghassa

[2016-08-06 14:36] ghassanpl commented on #171
There a couple of bugs, both in the lua examples, as well as (my) bugs in the rlua.h file. I'm working on them right now, but I'm not sure how to get the changes to you :) I'll try using git but who knows how that'll work :P

[2016-08-06 14:44] raysan5 commented on #171
Hi @ghassanpl! Many thanks for your help!

I just did a commit a while ago and no plan to commit anything else in, at least one day. You can sync to latest raylib develop branch and work there or, if you prefer, just send me the changed files and I will update my files and do the commit.

[2016-08-06 18:00] raysan5 commented on #171
Hi @ghassanpl! Just reviewed your commit! Most of the examples already work! AMAZING!

Here it is a list with the functions that do not work properly on its Lua version:
[code]
It seems most of the issues are related to pointed data...

About the last two functions:
  - `CreateLight()` in C returns a pointer to struct and fields are accessed with `->`. In Lua that's not possible so I can return a

[2016-08-06 18:40] DanIsraelMalta opened #174 "problem compiling & running raylib 1.5 on windows (8)"
Hello,

I have a problem.
Upon perssing "raylib_compile_execute" in notepad++, I recive the following errors:
"
...ccaQNGnS.o:core_basic_window.c(.text+0x36): undefined reference to 'InitWindow'
...ccaQNGnS.o:core_basic_window.c(.text+0x36): undefined reference to 'SetTargetFPS'
collect2.exe:error: ld returned 1 exit status
"
can anyone help?

[2016-08-06 19:03] raysan5 commented on #174
Make sure raylib is installed in `C:\raylib` folder and that the following files exist:

raylib.h - `C:\raylib\raylib\src\raylib.h`
raylib.h - `C:\raylib\raylib\release\win32\raylib.h`
libraylib.a - `C:\raylib\raylib\release\win32\libraylib.a`

Did you choose any option while installing?

[2016-08-06 19:10] ghassanpl commented on #171
The problem with LoadImageEx, GetImageData, UpdateTexture and UpdateAudioStream is that they require Lua to create/hold/update large arrays or binary buffers. Lua tables are not well suited for that purpose unfortunately. Creating a 1024x1024 "array" in Lua is EXTREMELY costly.

There is no real solution to this problem. If you have any ideas, let me know.

As to the rest of the functions, I'm wor

[2016-08-06 19:42] raysan5 commented on #171
Hi @ghassanpl! What a quick response! Thanks for clarifying the issue with those functions, no problem, don't worry, if that functionality can not be added, it's ok.

Again, many thanks for your help and for the celerity on your answers! I'm extremely grateful.

[2016-08-07 17:12] DanIsraelMalta commented on #174
All the files are in the appropriate locations.
No. I performed the standard install.

[2016-08-07 17:12] #174 closed

[2016-08-08 15:27] raysan5 commented on #156
Just uploaded VS2015 solution with raylib project and a couple of example projects (C and C++). Check commit https://github.com/raysan5/raylib/commit/7e367273282f4ce1986b2b95cd86a2b8c8c4a81c.

Please, could someone let me know if it works? Thanks!

[2016-08-08 15:34] ghassanpl commented on #156
Works for me, however:

#ifdef __cplusplus
    Color(unsigned char cr, unsigned char cg, unsigned char cb, unsigned char ca) : r(cr), g(cg), b(cb), a(ca) { }
#endif

Is not necessary. Plain structures in C++ (without constructors) can be initialized from { } initializers.

[2016-08-09 21:05] raysan5 commented on #156
Hi @ghassanpl! Thank you very much for the note! Just changed in commit https://github.com/raysan5/raylib/commit/cc2b3228d18f3bc4cd58ee4298cde78846cfde9e.

[2016-08-09 21:07] Leinnan opened #176 "[build] CMake support"
Any chance for cmake support? It would make developing on Linux much easier.

[2016-08-09 21:10] raysan5 commented on #176
Hi @Leinnan, I'm not used to CMake... Someone created a [CMakeList.txt](https://github.com/raysan5/raylib/blob/develop/src/CMakeLists.txt), don't know if its ok...

[2016-08-09 21:11] raysan5 commented on #176
Any help on this issue is hightly appreciated!

[2016-08-10 08:44] raysan5 opened #177 "Support shared library raylib compilation: raylib.dll"
Add support for shared raylib library (.dll/.so).

It was already added for Linux by an user and it would be great to add it also for other platforms, specially Windows DLL (MinGW and MSC).

It shouldn't be difficult but need to investigate a bit...

[2016-08-10 08:57] raysan5 opened #178 "[vr] Support for 2D drawing on 3D (using billboards)"
Right now when switching to VR mode, it's only possible to draw 3D content, raylib 2D drawing mechanism is not supported in VR mode.

2D drawing must be adapted to allow drawing 2D content into a billboard texture in 3D vr mode.

It could be done enabling a RenderTexture2D when vr mode is active and doing all 2D rendering offline, then, at `EndDrawing()`, just render RenderTaget2D texture into a b

[2016-08-10 08:59] #156 closed

[2016-08-12 18:56] raysan5 commented on #177
After some investigation, this is the best reference I found:

http://gernotklingler.com/blog/creating-using-shared-libraries-different-compilers-different-operating-systems/

Now working in a proper compiler/os-independent implementation.

[2016-08-13 09:32] raysan5 commented on #177
Implemented in commit https://github.com/raysan5/raylib/commit/3377a4485b309ef52092cdf4da608313b266d919

[2016-08-13 09:32] #177 closed

[2016-08-13 13:34] ghassanpl opened #181 "[rlgl] Disable backface culling in 2D mode?"
I think backface culling should be disabled in 2D mode. It's not really necessary and would simplify rendering of triangles/quads for users.

[2016-08-13 15:46] raysan5 commented on #181
Hi @ghassanpl, backface culling is enabled by default for two reasons:

1. Minimize state changes in the main loop: Even rendering 2D or 3D or both (let's thing of 3D with some HUD), we keep that state untouchable. I don't know exactly the performance impact of enabling/disabling  culling state, probably is negligible but I try to change the minimum OpenGL required states in the loop.
2. The only

[2016-08-13 15:50] ghassanpl commented on #181
Those are both good points. I wanted to draw some custom polygons using rlgl, it's where it came up, but I guess the core library doesn't need it.

[2016-08-13 15:59] raysan5 commented on #181
Actually, if using `rlgl` module directly you can just enable/disable it on user code...

[2016-08-13 19:07] #181 closed

[2016-08-13 19:09] raysan5 commented on #171
I will close this issue for now, I will open independent [rlua] issues for anything related that could arise...

[2016-08-13 19:09] #171 closed

[2016-08-13 19:14] raysan5 commented on #52
Just for reference, here it is an interesting audio library: https://github.com/kinetiknz/cubeb

[2016-08-20 22:35] Giacom opened #182 "[Question] Resize window"
Not sure if this is a potential feature request, I might have missed it, but I noticed that there is no way to resize windows. It would be really handy if there was without having to close and reopen the window.

Also this library is really great and easy to use, it is definitely helping me learn C more. Thanks.

[2016-08-23 21:10] raysan5 commented on #182
Hello @Giacom, window resizing is not enabled by default to avoid problems...

Actually, what I saw with my students was that, when scaling the window, they expected an adaptative scaling of the screen (including drawn textures), that doesn't work that way, scaled window size just expands the canvas to draw on but drawn textures are not scaled.

On the other side, when enabling full screen mode, c

[2016-08-23 21:24] Giacom commented on #182
Oh that's a reasonable explanation. I didn't exactly need it, I was able to with around it by re-initialising the window, but I wanted to use it since I was experimenting with GetDroppedFiles() and wanted to resize the window to match any images being opened.

It is probably not worth doing just for that, though I am glad it is not just hidden and am missing it.

Cheers

[2016-08-23 21:34] raysan5 commented on #182
oh, it makes sense... but you have a couple of options for your problem:

1. Just lock window to a reasonable standard size (i.e. 1280x720) and add scrolling bars if loaded image is bigger than display area; it requires some work but solution is quite elegant.
2. Once you get image path, load `Image`, check size and, if a bigger window is required, just break while loop, `CloseWindow()` and `InitW

[2016-08-30 18:30] raysan5 opened #187 "[physac] Problems with ground detection"
It seems that there is some problem with ground detection.

[2016-09-12 17:27] raysan5 commented on #138
Everything corrected on commit https://github.com/raysan5/raylib/commit/173f1993132485ab8fe16b170ad7bf7e32f47ac7

Function `ImageDraw()` needs to be refactored, it could be simplified and improved...

[2016-09-12 17:27] #138 closed

[2016-09-20 11:12] #170 closed

[2016-09-26 18:46] oswjk commented on #176
Hello! I've done some work with CMake and I've got an example of what I did with raylib here:

https://github.com/oswjk/raylib/tree/cmake
https://github.com/oswjk/rayskeleton

I took a liberty of not using the binaries bundled in the git repository (in my opinion, they do not belong there). So my approach was to download and build the dependencies with CMake.

I've tested this stuff on Xubuntu 16.

[2016-09-26 18:51] oswjk commented on #52
Isn't it possible to compile openal-soft statically, in which case the dll would not need to be distributed?

[2016-09-26 18:56] Leinnan commented on #176
NICE! I will try check it out in two weeks because now I have to much work
with starting studying on university.

Can't wait to start working with Raylib :D

2016-09-26 20:46 GMT+02:00 Oskari Timperi <notifications@github.com>:

[2016-09-26 22:09] raysan5 commented on #52
I think so but last time I tried I got some missing dependencies with my old MinGW and I just left it... I've just updated MinGW to latest version and need to try again...

[2016-09-26 22:33] raysan5 commented on #176
Hi @oswjk! Thank you very much for this great addition!

Sorry, I'm not used to CMake build system... but I will try it, you can send me a pull-request if you want to integrate it into raylib develop branch.

In terms of build system, on raylib develop branch I just added support for shared library compilation (check [Makefile](https://github.com/raysan5/raylib/blob/develop/src/Makefile#L39)) and

[2016-09-27 04:21] oswjk commented on #176
I'm not comfortable yet with integrating the CMake build system, as there are untested and missing things (RPi for example). I can test the RPi myself as I have one somewhere :-)

I'm also not yet fully satisfied with the bootstrapping part of my additions. I need to think about it a bit more, if I could make it better.

Rayskeleton is just that. A (hopefully) simple to use skeleton that you shoul

[2016-09-28 10:56] raysan5 commented on #176
Hey @oswjk, would it be possible to centralize all CMake compiling files into a cmake folder?

[2016-09-28 10:59] raysan5 commented on #52
@oswjk, I just tried compiling [OpenAL Soft](https://github.com/kcat/openal-soft) as static library using latest MinGW and CMake and it didn't work for me... did you tried it? did it work for you?

[2016-09-28 20:30] oswjk commented on #52
At least on Linux it went smoothly. I'll try to compile it on Windows tomorrow.

[2016-09-29 16:08] oswjk commented on #52
I cloned https://github.com/kcat/openal-soft and did the following:

[code]

And the build completed successfully. I'm using mingw64 from msys2. I also tried to compile the library statically with VS2015 and it worked fine too.

[2016-09-29 16:10] oswjk commented on #176
It's certainly possible while not very idiomatic for CMake style. I'm refactoring the CMake support to be in one directory currently. We'll see where it goes. :-)

[2016-10-03 11:36] raysan5 commented on #147
Removed function from raylib (https://github.com/raysan5/raylib/commit/b082807b0b90bce07e15098d6d0a17574d100277).

It could be included in an example in a future... but it must be completely rewritten from scratch...

[2016-10-03 11:36] #147 closed

[2016-10-04 00:34] pixelpicosean commented on #52
Try [SoLoud](http://sol.gfxile.net/soloud/index.html), it's an amazing sound library.

[2016-10-04 00:39] pixelpicosean commented on #176
Do anyone know the [Fips](https://floooh.github.io/fips/index.html), a great CMake wrapper? CMake is IMHO too complex to use in such a situation(raylib designed for beginner and people who want to get start quickly), I'd highly recommend this awesome wrapper called `Fips`.

[2016-10-04 09:53] raysan5 commented on #52
Hi @oswjk, I tried running cmake again for openal-soft (master branch) using MinGW (32bit, GCC 5.3.0) and running from Windows CMD and it didn't work (here it is [output log](https://github.com/raysan5/raylib/files/508063/cmake_openalsoft_mingw32_cmd.zip)). It also keeps poping malware messages from Windows Defender (probably related to programs that cmake tries to run). I imagine is a related to

[2016-10-04 10:21] raysan5 commented on #52
Hi @pixelpicosean! Thanks for the proposal, I knew SoLoud but I discarded it earlier for being C++... now I see there is also a C API...

For the moment I will continue with OpenAL (really multiplatform) but I would like to use it as static lib and if possible reduce it size (don't need most of the extension features)...

I know it's asking for too much but it would be amazing a simple single-file

[2016-10-04 10:35] raysan5 commented on #176
Hi @oswjk! Thank you very much for the effort! :)

Hey @pixelpicosean, I didn't know Fips... despite being simple to use, it implies adding a new (non-standard) tool and new dependencies (Python). As you stated, raylib is designed for complete beginners and people who want to get start quickly and not worry much about dependencies or code building. I also tried to simplify as much as possible the

[2016-10-04 15:42] oswjk commented on #52
@raysan5 The errors you were receiving might be caused by antivirus tools. Someone has had similar problems earlier (http://public.kitware.com/pipermail/cmake/2014-March/057171.html).

I haven't seen such problems earlier on any of my Windows machines. The antivirus is my best bet, because you said that defender keeps popping up.

[2016-10-04 21:13] raysan5 commented on #52
Hey @oswjk, thanks for the answer! Yes, I already solved that issue with permissions, the problem seems to be in MinGW32 libs (http://openal.org/pipermail/openal/2014-May/000123.html), there are some incompatibilities...

[2016-10-04 22:52] raysan5 commented on #182
Just added a new flag (`FLAG_RESIZABLE_WINDOW`) to allow resizable window.

Implemented on commit https://github.com/raysan5/raylib/commit/db6538859cd2fabb44f1f29cd87f5b498ca0c2c8.

[2016-10-04 22:52] #182 closed

[2016-10-05 07:05] victorfisac commented on #187
I will work on that and other physics features those days. I will review everything and support custom shapes collisions, resolve collisions based on Contacts (new struct) and other features I saw by the Internet in other physics engines and tutorials. :)

[2016-10-05 13:27] raysan5 commented on #187
Hey @victorfisac! It sounds great to me! Please, take it easy! :D

By the way, for next raylib release I updated MinGW (GCC 5.3.0) and new version already comes with theading libraries, no need to link them manually.

[2016-10-09 11:29] raysan5 commented on #140
Reviewed, it seems it works ok now... corrected on commit https://github.com/raysan5/raylib/commit/3396743aba163545eb186beb47667d55d38528e9

Testing environment:
[code]

[2016-10-09 11:29] #140 closed

[2016-10-09 18:48] raysan5 commented on #145
Actually, it can be simulated just using a 1st person camera...

It's better to add this feature in `core_oculus_rift` example...

[2016-10-10 08:36] victorfisac commented on #139
I have just opened the example in a MAC using Chrome and it displays fine like on desktop platform :O!

MAC info:
OSX The Captain (version 10.11.6)
iMac (Retina 5K)
CPU: 3,3 GHz Intel Core i5
RAM: 8 GB 1600 MHz DDR3
GPU: AMD Radeon R9 M290 2048 MB

Chrome version: Versión 53.0.2785.143 (64-bit)

@raysan5 Could it be because it uses an AMD GPU and the problem is with Nvidia GPUs?

<img width="1728"

[2016-10-10 15:11] raysan5 commented on #139
Hi @victorfisac, thank you very much for the feedback!

I got the same issue with Intel GPU (didn't expect to work better than nvidia... :P), I think some of the maths should be simplified...

[2016-10-10 17:35] raysan5 commented on #178
I've been working on this issue for a while but didn't find a proper solution yet... the more I see current VR implementation, the more I think it needs to be redesigned to better accomodate for multiple VR devices and for 2D drawing on 3D... I imagine it's the result of working for too long on a system... :P

Current implementation checks for VR device availability and fall-backs to VR simulator

[2016-10-10 17:44] raysan5 commented on #146
not for the moment...

[2016-10-10 17:44] #146 closed

[2016-10-10 17:44] #145 closed

[2016-10-10 17:46] raysan5 commented on #145
Implementation improved in commit https://github.com/raysan5/raylib/commit/648676f46b01327f0fbd6f017292a3159ea9ab2f

Still some work to do (VR system redesign)

[2016-10-10 17:50] raysan5 commented on #93
Camera system has been redesigned to accomodate this feature... unfortunately, current implementation based on Euler angles (two-planes angles to define camera rotation, XZ-XY) is not the most comfortable to add this feature... camera system should be completely redone using quaternions...

Still, looking how to implement it in current camera system...

[2016-10-10 22:01] victorfisac commented on #139
@raysan5 tested adding a abs() to every 'f' parameter in pow(f, e) in shader_standard.h and it fixes the artifacts issue :D! I let you apply the changes by yourself because I don't have my fork up to date. Congratulations!

[2016-10-10 22:40] raysan5 commented on #139
Hi @victorfisac, I've just been working in this issue. Using `abs(f)` didn't solve the issue for me... After some investigation I find the problem. Specular value was not obtained correctly from texture; the following line needed to be changed:
[code]
by this:
[code]
The reason is because texture2D already returns values normalized in range 0..1, that's exactly what we need. If you check speculari

[2016-10-10 22:40] #139 closed

[2016-10-10 22:49] raysan5 commented on #167
Just for reference, I reviewed standard shader for issue https://github.com/raysan5/raylib/issues/139

I think it's not related... i bet RPI issue is more a matter of memory... but I should try updated shader to verify...

[2016-10-13 10:43] raysan5 commented on #167
After quite a lot of testing, I found the problem... well, kind of...

If the following piece of code from shader... :
[code]
...is replaced by a simplified version... :
[code]
... it works perfectly!

Investigating a bit about `for` loops and branches in GLSL shaders I found that all those structures  (specially `for` loops) are really discouraged to use due to potential silent-failing errors.

H

[2016-10-13 20:56] victorfisac commented on #187
*Current Physac development state*

- [x] Create physics thread based on time steps.
- [x] Add physics bodies and manifolds structs and functions.
- [x] Physics bodies basic dynamics (force -> velocity -> position).
- [x] Physics collision detection between circles.
- [x] Physics collision solving based on impulses and position correction due to overlapping.
- [x] [NEW] Physics angular velocity an

[2016-10-14 09:22] raysan5 commented on #187
Wow @victorfisac! What a list of features! Please, take it easy... :)

[2016-10-15 11:33] raysan5 commented on #52
Finally I managed to compile OpenAL Soft statically with MinGW32, there were some issues with MinGW32 libs (solved in MinGW-w64) and OpenAL Soft current CMake configuration.

More info here: https://github.com/kcat/openal-soft/issues/13

Right now I'm quite happy with OpenAL Soft API, I'm closing this issue.

[2016-10-15 11:33] #52 closed

[2016-10-23 13:11] KraXarN opened #190 "Compile fails on Visual Studio"
Firstly, it fails to compile due to `invalid numeric argument '/Wno-missing-braces'` and when removing it, it compiles with a lot of errors instead.
Running VS 2015.
Thanks! 😄

[code]

[2016-10-23 14:34] raysan5 commented on #190
Hi @KraXarN!

Which version are you trying to compile? Did you try with latest [develop branch](https://github.com/raysan5/raylib/tree/develop)?

I just tried the included `project/vs2015/raylib.sln`  it compiles ok...

Please, let me know if it works! :)

[2016-10-23 18:53] KraXarN commented on #190
Downloaded the version from the releases page which did not not include the project file. The master file works fine, but the Release version won't compile.

[2016-10-24 14:34] raysan5 commented on #190
Thanks for the feedback @KraXarN! I'm working on version 1.6 to be released next month, I'll make sure it works with Visual Studio 2015. :)

[2016-10-24 15:08] KraXarN commented on #190
Thanks! 😹

[2016-11-01 17:37] raysan5 commented on #187
Hey @victorfisac! Any news on those features? I'm planning to launch next raylib release in a couple of weeks and it 'd be great to include a `physac` update! :D

[2016-11-01 17:40] raysan5 commented on #176
Hi @oswjk! What's the state of this feature? I'm planning to release a new raylib version in a couple of weeks and it would be great to include this addition (if possible). :)

[2016-11-01 18:36] victorfisac commented on #187
Hi @raysan5 I'm currently trying to test Physac in Android. Then, I'll send you a zip with my repository and you can review the structure and suggest any changes or feedback. After making final changes, I'll release the Physac repository to public and you can add it to raylib with two examples I created :)

[2016-11-01 22:51] raysan5 commented on #187
Hey @victorfisac! It sounds like a plan! Great! :D

[2016-11-02 22:48] raysan5 commented on #187
Just for reference: https://github.com/victorfisac/Physac

[2016-11-06 14:08] #190 closed

[2016-11-06 14:08] #187 closed

[2016-11-07 22:08] marcin648 opened #191 "[models] LoadMaterial (LoadMTL) SIGSEGV - sscanf to NULL"
In LoadMTL function variable mapFileName is initialized to NULL
`char *mapFileName = NULL;`

The next function sscanf is executed
`sscanf(buffer, "newmtl %s", mapFileName);`

And generate SIGSEGV

RayLib v1.6.0 build on TDM-GCC-32 5.1.0 (Windows)

[2016-11-08 09:23] raysan5 commented on #191
Hi @marcin648! Thank you very much for pointing this issue! I'll take care of it ASAP.

[2016-11-13 23:12] raysan5 commented on #191
Corrected on commit https://github.com/raysan5/raylib/commit/42452378925e3b1d407a33084cd8cf0495632ee8

By the way, `LoadOBJ()` and `LoadMTL()` need further review and testing, specially `LoadMTL()`...

[2016-11-13 23:12] #191 closed

[2016-11-13 23:22] raysan5 commented on #167
Conclusion after further testing (and reading about shaders design and performance): Standard Shader needs to be redesigned (simplified) together with raylib lighting-materials system.

Branching should be avoided as much as possible and shader operations must be kept simpler despite being repetitive. Probably light types should be managed in a different way.

[2016-11-15 22:32] KraXarN commented on #190
Update since I noticed 1.6 is out. Now compiles just fine 😺

[2016-11-15 23:27] raysan5 opened #193 "[rREM] Update raylib Resource EMbedder!"
Update raylib Resource Embedder (rREM)...

[2016-11-15 23:28] raysan5 commented on #190
Hey @KraXarN! Actually raylib 1.6 is not published officially yet, I just updated the github master branch but still some things to do... I'm also working in the raylib Windows installer, webpage update, new examples, etc.

About rREM, it's very outdated, need to completely review that tool; fortunately, it's planned with high priority for next raylib version... I think right now it's not prepared

[2016-11-15 23:34] KraXarN commented on #190
Alright, would be nice to get some lua examples as well. I know the code examples were ported over, but how to actually use them would be nice.

About rREM, compression on .xm files isn't really necessary, since they are so small anyway, but still. Also, to get a Linux version would also be nice.

[2016-11-26 01:45] xspager opened #199 "[examples] Path separator only work for Windows on examples/physics_*.c"
To work anywhere beside Windows the path separator must be forward slash, it should work for Windows too.

[2016-11-26 10:13] raysan5 commented on #199
Done! Corrected on commit https://github.com/raysan5/raylib/commit/ab9f5d578025f71abd3b242170d6fb8ea6c2c297

[2016-11-26 10:13] #199 closed

[2016-11-27 22:18] raysan5 opened #200 "[build] Library customization: Configuration flags"
This issue is a proposal for a new feature. By default raylib includes a bunch of functionality (shapes drawing, multiple file-formats supported, audio system...) but some advance users don't need many of that functionality and it would be great to allow custom library building using configuration flags.

Every raylib module should offer some customization flags.

[2016-11-27 22:43] raysan5 opened #201 "[rlua] Find a proper implementation (if exists) for big data arrays management"
Some functions are not working properly because they need to manage big arrays of data. Involved functions are:

[code]
Maybe [GET_TABLE mechanism](https://github.com/raysan5/raylib/blob/master/src/rlua.h#L1663) should be reviewed.

[2016-12-04 10:15] raysan5 opened #202 "[build] Integrate Android build system into makefile"
Currently Android building of library and projects is based on `ndk-build`, it works great but it would be better if it was directly interated with default raylib build system based on make.

[2016-12-04 10:33] raysan5 opened #203 "[audio] Some sounds play twice"
Some loaded sounds from wave files repeat twice on playing, weird. It only happen with some .wav files, format and paramaters have been compared (between sounds that work ok and not) and they looks the same but when played, some sounds repeat twice... Need to investigate this issue in detail.

[2016-12-04 11:07] raysan5 commented on #203
Same issue also happen in Android, where generated audio buffer ids are wrong.

[2016-12-04 13:05] raysan5 opened #204 "[rlua] Issue when trying to access struct internal variable"
When trying to use `GenTextureMipmaps()` in example [`text_ttf_loading.lua`](https://github.com/raysan5/raylib/blob/master/examples/text_ttf_loading.lua), it throws the following error:

`ERROR: Lua Error: text_ttf_loading.lua:29: attempt to index a SpriteFont value (local 'font')`

It seems it can not access the texture variable inside the SpriteFont struct.

[2016-12-04 13:09] raysan5 opened #205 "[shaders] Redesign standard shader to avoid branches"
[Standard shader](https://github.com/raysan5/raylib/blob/master/examples/resources/shaders/glsl330/standard.fs) uses lots of branches (conditional statements) and it should be simplyfied for better performance.

This issue is related to https://github.com/raysan5/raylib/issues/167

[2016-12-17 17:55] raysan5 commented on #162
After some testing, it seems this issue is related to Intel GPU. RenderDoc works great with raylib on NVIDIA GPUs.

[2016-12-19 23:35] raysan5 commented on #203
Issue corrected on commit https://github.com/raysan5/raylib/commit/4a9b77dd705790ec1c15fb139afdcc7093c8e2ad

[2016-12-19 23:35] #203 closed

[2017-01-05 18:33] #162 closed

[2017-01-05 18:36] raysan5 commented on #193
Just started work on the new rRES (raylib resource) custom file format. Here a pre-liminary version of the API: [rres.h](https://github.com/raysan5/raylib/blob/develop/src/rres.h)

[2017-01-10 23:09] dmalves opened #215 "OpenGL ES2 on Linux"
Hello,

AFAIK OpenGL ES2 on RayLib is used by default on Android and Web versions. How can I compile RayLib to use OpenGL ES2 on Linux? I want to code on Linux and port shaders to Android, so maybe work with the same OpenGL version could help.

thx.

[2017-01-11 15:18] raysan5 commented on #215
Hi @dmalves,

OpenGL ES is intended for Embedded Systems, on desktop you should use OpenGL, actually, OpenGL ES 2.0 is [equivalent to OpenGL 3.x](http://stackoverflow.com/questions/9629897/opengl-es-2-0-vs-opengl-3-similarities-and-differences) in lot of functionality.

raylib uses OpenGL ES 2.0 for Android and Raspberry PI; for HTML5 raylib uses WebGL (it is directly translated from OpenGL ES 2.0

[2017-01-11 15:26] raysan5 commented on #215
About shaders porting... I recommend you to use GLSL 120 on desktop platform, it could work with OpenGL 2.1 or even 3.3 and it's quite similar to GLSL ES 100, the shader language used on OpenGL ES 2.0.

[2017-01-11 22:37] raysan5 commented on #202
Useful link: https://developer.android.com/ndk/guides/standalone_toolchain.html

[2017-01-15 00:33] #215 closed

[2017-01-15 00:38] raysan5 commented on #205
Currently standard shader deals with lighting (or it tries to deal with up to 8 lights). This design is going to change, most probably lighting will be moved out from raylib to an example, just for advance users.

Including the "standard" shader into raylib compilation makes things more complicated and most of the raylib users will never use it. Advance users can deal with it, being in an example

[2017-01-15 00:48] raysan5 commented on #200
This is the current flags proposal, organized by modules, still working on naming:
[code]

In raylib, naming is crucial, I'm still thinking about the most proper naming for those `#define` options; for example, not sure what would be better between `SUPPORT_` or `ENABLE_`.

[2017-01-15 00:52] raysan5 commented on #167
Just closing this issue because current standard shader raylib implementation will change and it will be moved to custom example. Lighting won't be included in raylib internals.

[2017-01-15 00:52] #167 closed

[2017-01-25 00:05] gen2brain opened #217 "[core] High CPU usage"
Hello,

basic_window example is taking a 100% of CPU, one whole core is occupied. I tried to use SetConfigFlags(FLAG_VSYNC_HINT) but it doesn't help. This is on Linux with Intel graphic card. Vsync is enabled, I can confirm that with glxgears util.

Now, I noticed that when I have both SetTargetFPS(60) and SetConfigFlags(FLAG_VSYNC_HINT) or just SetTargetFPS(60) CPU usage is 100%. If I disable Set

[2017-01-25 10:42] raysan5 commented on #217
Hello @gen2brain, thanks for the report.

Actually, this issue was already reported some time ago: https://github.com/raysan5/raylib/issues/17

Unfortunately, behaviour is dependant on graphic driver, for example, in my Surface Pro 3 with Intel i5 and integrated Intel graphic card, when enabling `FLAG_VSYNC_HINT` CPU usage drops to 10% independently of `SetTargetFPS(60)`.

But I applied your propo

[2017-01-25 11:50] gen2brain commented on #217
Thanks! I only have a little experience with SDL, which performs much better. But there you have to manually calculate frame delta and use SDL_Delay to sleep remaining time. There are probably other methods but that one was easiest for me, if you don't do anything to limit frame rate than CPU usage is also very high. But raylib is much nicer and easier to use :)

I am actually making a Go bindings

[2017-01-25 23:40] raysan5 commented on #217
Hi @gen2brain,

Actually I also calculate frame delta manually inside [`EndDrawing()`](https://github.com/raysan5/raylib/blob/develop/src/core.c#L643) but I investigated a bit further on how `SDL_Delay()` works (checked the source code) and it uses the windows function `Sleep(ms)` (implemented in `kernel32` library). It seems that, depending on the language and OS, the function implementation can

[2017-01-26 01:04] raysan5 commented on #217
Ok, just kept investigating and testing... definitely, it's a raylib issue. Just replaced the `busy wait loop` implementation by a `Sleep()` on windows and CPU usage drops to <3%, even in the most advance examples.

Now I need to find alternatives for the multiple platforms... keep working on this issue...

[2017-01-26 02:37] gen2brain commented on #217
Hey, great , I am glad I started something, and maybe pointed to right direction. I am not C expert so I can't help much with timing functions, but I can help with tests on Linux and other platforms. I have some experience with Android toolchains, and I have old rpi 1, so I think I can prepare everything for testing. And I have a lot of experience with compiling, cross compiling etc.

[2017-01-26 15:58] raysan5 commented on #217
Hey @gen2brain! You said you have some experience with Android toolchain, maybe you can help me with this issue: https://github.com/raysan5/raylib/issues/202

In the meantime, I'm working in this timming issue...

Thanks again for the help! :)

[2017-01-26 21:32] raysan5 commented on #202
raylib src Android building has already been integrated into Makefile in PR https://github.com/raysan5/raylib/pull/218

Need to see if it's also possible to integrate [project templates](https://github.com/raysan5/raylib/tree/develop/templates) building into Makefile because APK generation, alignment and signing requires some additional tooling...

[2017-01-27 09:54] gen2brain opened #219 "log2 is not available on Android"
https://github.com/raysan5/raylib/blob/master/src/rlgl.c#L1779

I solved it with log(MAX(texture->width, texture->height))/log(2) , not sure if this is correct?
Also, I don't understand why I was able to compile plain C lib and example for android without errors. When I am using my Go bindings (https://github.com/gen2brain/raylib-go) I get undefined reference to log2.

[2017-01-27 11:25] raysan5 commented on #219
Hi @gen2brain!

This issue is already solved in [develop branch]( https://github.com/raysan5/raylib/blob/develop/src/rlgl.c#L1781), I usually work on that branch and it's quite ahead of `master`.

Probably it worked because you used `develop` branch... :P

[2017-01-27 15:01] gen2brain commented on #219
Yes, sorry about that. And I thought I checked develop branch. Closing.

[2017-01-27 15:01] #219 closed

[2017-01-27 23:59] raysan5 commented on #217
New timming mechanism implemented in commit https://github.com/raysan5/raylib/commit/b681e8c2775bbb467c0f0607afd9840fda25c563, requires some testing on other platforms other than Windows.

[2017-01-27 23:59] #217 closed

[2017-01-28 00:01] raysan5 commented on #17
Issue corrected on commit https://github.com/raysan5/raylib/commit/b681e8c2775bbb467c0f0607afd9840fda25c563.

[2017-01-28 02:19] rof20004 opened #220 "[build] Error compilating on Linux"
I tried to compile following the wiki, but I get this errors:

[code]

My S.O:
[code]
[code]

[2017-01-28 11:34] raysan5 commented on #220
Hello @rof20004,

It seems you should link also against X11 libs also. Try adding the following libs to compilation: `-lX11 -lXxf86vm -lXrandr -lXi`

Compilation line:
[code]

[2017-01-29 10:49] raysan5 commented on #142
Lighting system has been moved out of raylib in commit https://github.com/raysan5/raylib/commit/37a64df7b9944d1d24872f07a7e713884b33432e.

Now light gizmos drawing owns to example [shaders_standard_lighting](https://github.com/raysan5/raylib/blob/develop/examples/shaders_standard_lighting.c), it can be improved by the user if required.

[2017-01-29 10:49] #142 closed

[2017-01-29 10:53] raysan5 commented on #205
Standard shader has been removed from raylib code-base in commit https://github.com/raysan5/raylib/commit/37a64df7b9944d1d24872f07a7e713884b33432e, now it comes with [shaders_standard_lighting](https://github.com/raysan5/raylib/blob/develop/examples/shaders_standard_lighting.c) example and can be edited by the user as desired.

[2017-01-29 16:15] monkeybird opened #221 "[core] TakeScreenshot capturing outside display bounds"
The function `TakeScreenshot` at line 2174 in core.c, captures screen shots of a fixed size, even if the window is partially off screen. The result is that the off screen part of the resulting screen shot is completely black. For examples, see these screen shots I made using the current code:

* [image 1](https://cloud.githubusercontent.com/assets/19928139/22405575/3c78918c-e645-11e6-9ae7-32569a13

[2017-01-29 21:20] AudioMorphology opened #222 "Gestures enumerated type different in gestures.h and raylib.h"
This had me confused for ages, as SetGesturesEnabled() wasn't doing what I expected - I was looking at the type definition in gestures.h rather than raylib.h !

I'm not sure which is the better typedef. The one in gestures.h is a correct bitfield, though having GESTURE_NONE = 0 may be quite convenient. For this reason I haven't changed it myself and issued a PR, as I am not certain what dependenci

[2017-01-29 21:32] raysan5 commented on #222
Ouch! Thanks for pointing this out @AudioMorphology!

Actually, the good one is `raylib.h`, also notice that `gestures.h` enum is only in case you're using `gestures.h` as a standalone library (independently of raylib) to process touch events into gestures...

Anyway, updated in commit https://github.com/raysan5/raylib/commit/30bb24aa6e80fe8ecc9eddc4efd008ecc89b60f4

[2017-01-29 21:32] #222 closed

[2017-01-29 21:49] raysan5 commented on #221
Hi @monkeybird, it seems this issue is GPU dependant, on my Surface Pro 3 with Intel graphics it works ok; if a part of the window is out of the screen, it captures the full render area... I'll try in other computers... which GPU and OS are you using?

Despite that fact, the expected behavior is capturing the full render area, independently of the visible part and independently of the GPU behaviou

[2017-01-30 10:35] monkeybird commented on #221
I hadn't considered the GPU dependence.

* OS: lubuntu 16.04
* GPU: GeForce GTX 750 Ti (proprietary 367.57 driver)

[2017-01-30 15:53] raysan5 commented on #221
Tested on NVIDIA Quadro 600 on Windows 10 64bit, it captures full render area independently of the visible part.

[2017-01-30 22:48] monkeybird commented on #221
Well, if it works as intended, then I guess this issue can be closed. I'm am mostly concerned about the bits of garbage in the unfilled areas of the screen shots. It is a stretch, but this could contain sensitive information.

I dug a little deeper and found that this happens in the `rlglReadScreenPixels` call in `rlgl.c`:

[code]

This buffer is never zeroed out before being passed into `glReadPi

[2017-01-30 23:22] raysan5 commented on #221
Hi @monkeybird, I can consider that point... actually, memory zeroing can be archive with:
[code]
`calloc()` zeroes reserved memory, with a small performance impact, but considering image y-flipping it's acceptable.

Please, let me know if it works and I'll implement that change.

[2017-01-31 11:16] monkeybird commented on #221
Yup, that works. Thanks.

[2017-01-31 23:29] raysan5 commented on #221
Implemented in commit https://github.com/raysan5/raylib/commit/a08117155da1a0a439239ad8801a58b85f528014.

[2017-01-31 23:29] #221 closed

[2017-02-02 23:40] #220 closed

[2017-02-02 23:41] raysan5 commented on #220
Please, just re-open in case it still fails.

[2017-02-08 19:14] raysan5 commented on #204
*Moved to repo [raysan5/raylib-lua](https://github.com/raysan5/raylib-lua)*

[2017-02-08 19:15] #204 closed

[2017-02-08 19:15] raysan5 commented on #201
*Moved to repo [raysan5/raylib-lua](https://github.com/raysan5/raylib-lua)*

[2017-02-08 19:15] #201 closed

[2017-02-10 15:24] gen2brain opened #225 "[textures] LoadImageRaw is broken"
textures_raw_data example is broken after commit 14cdd7f

    int bytes = fread(image.data, size, 1, rawFile);

Return value here will always be 1, number of elements. I fixed it by changing order of size and 1, but that is probably not efficient?

[2017-02-10 15:26] gen2brain opened #226 "[build] Use system OpenAL on OS X"
OpenAL installed with brew on OS X is "keg only", it doesn't link includes and libs to not conflict with system libs.

In Go bindings I fixed it like this https://github.com/gen2brain/raylib-go/commit/e56840b91ea03755e395bb097b0862f3ba2d9bf5

I also removed stdbool type in that commit so clang doesn't complain and build now works (affects also Android build with newer ndk where clang is default).

[2017-02-11 09:21] raysan5 commented on #225
Hey @gen2brain! Good catch! I'll review all `fread()` calls around the code...

[2017-02-11 22:19] raysan5 commented on #225
Corrected in commit https://github.com/raysan5/raylib/commit/afcd748fdf2d4f379f7a3be1706c1d6cd2ff504d

I also reviewed all other `fread()` around the code (just in case), it seems that `fread()` usage is a bit ambiguous and implementation dependant...

Some references I checked:
http://stackoverflow.com/questions/8589425/how-does-fread-really-work
http://stackoverflow.com/questions/295994/what-is-

[2017-02-11 22:19] #225 closed

[2017-02-11 22:34] raysan5 commented on #226
Thank you very much for the patch! Implemented in commit https://github.com/raysan5/raylib/commit/05f039f85fb43f9ae4598747a4d9c6770ec5774b

Unfortunately, I don't have an OS X to test it but hopefully it will be all right.

Thanks also for pointing the stdbool type issue; personally, never liked to include that header...

[2017-02-11 22:34] #226 closed

[2017-02-22 10:07] raysan5 opened #227 "[core] Support monitor selection on fullscreen"
Some users require raylib window in a different monitor when turning to fullscreen mode. Some option to choose target monitor could be useful.

[2017-02-23 17:47] OdnetninI commented on #227
Glfw give us some help :)
http://www.glfw.org/docs/3.0/monitor.html

[2017-02-28 09:24] kewp opened #231 "Unable to build examples on Linux"
I'm getting reference errors when building the examples

[2017-02-28 09:36] kewp commented on #231
Fixed by uncommenting line 150 in Makefile (why do I need to do this?)

[2017-02-28 10:34] gen2brain commented on #231
That line is required on all Linux distros. I tried in Ubuntu, Fedora and Gentoo. Maybe the only case where it would not be required is if Wayland is used instead of X, I think glfw has some support for wayland.

I don't know of any Linux distro that works only with wayland and without X support.

[2017-02-28 10:57] kewp opened #232 "Unable to build physics demo on Linux"

[2017-02-28 11:01] raysan5 commented on #231
Hi @gen2brain, thank you very much for the info!

Uncommented by default on commit https://github.com/raysan5/raylib/commit/2ac956208db4e0fcde5081a03a8fc3ba2dedff9b

[2017-02-28 11:01] #231 closed

[2017-02-28 11:06] raysan5 commented on #232
This issue was already corrected some days ago in commit https://github.com/raysan5/raylib/commit/c46989a1d961f3d8f898348e25c2b5b948ade9b2

Here it is the PR with more info https://github.com/raysan5/raylib/pull/230

Fix would be included in the upcomming raylib v1.7, in the meantime you can just implement the fix yourself or use develop branch instead.

[2017-02-28 11:13] kewp commented on #232
I see. Will fix myself. Thanks.

[2017-02-28 11:13] #232 closed

[2017-02-28 12:23] kewp opened #233 "[physac] Jump sticking in physics movement example"
Pressing up does not respond immediately (intermittent). Issue goes away when isGrounded check is removed on line 74.

[2017-02-28 14:49] raysan5 commented on #233
I think this issue is related to sync between main game thread and physics thread. Probably @victorfisac, creator of `physac.h`, can provide further info.

[2017-02-28 16:24] OdnetninI commented on #231
@raysan5 @gen2brain I tried to compile it with only wayland, and it requires Xorg libraries. Probably system's libraries need an update to remove dependencies. And with XOrg, is also needed (obiously).

[2017-02-28 16:42] victorfisac commented on #233
Hi @kewp @raysan5

Yes. I realized about this issue and I couldn't find any solution by the moment. I think too it is related to sync due to physics thread is not limited and maybe the grounded state changes during loops while a physics object is "sleeping" in ground.

Dynamics are all time applying gravity and other forces and solving collisions to avoid colliders overlapping. I just check if any

[2017-02-28 20:07] kewp commented on #233
This is strange. I added a print to the normals at the bottom of SolvePhysicsManifold (line 1347).

Instead of just negative ones (when leaving the block on the floor) I'm getting zeros as well, repeating 4x between.

http://oi66.tinypic.com/24l3ofn.jpg

That's strange, right ? Only the block is enabled in the scene.

Doesn't explain the intermittent hopping when holding up, though ...

[2017-03-04 11:43] raysan5 opened #235 "[audio] Make sure buffers are ready for update"
Some very random crashes have been detected on music playing and screens transitioning, they seem related to [audio](https://github.com/raysan5/raylib/blob/develop/src/audio.c#L779) function `UpdateMusicStream()` when trying to update stream buffers.

Just make sure buffers are ready for update and verify music state.

[2017-03-05 09:56] raysan5 commented on #227
Added a couple of functions on commit https://github.com/raysan5/raylib/commit/9cfaa81a7e7741f03db1f9579aa0b49bee42cdd7

[2017-03-05 09:56] #227 closed

[2017-03-05 09:59] raysan5 commented on #193
RRES file format support will be ready for raylib v1.7 but visual tool could take a bit longer. Probably rREM will be command line only on first implementation...

[2017-03-06 08:45] victorfisac commented on #233
I reviewed Physac and found the solution!

I was overwriting isGrounded value in each manifold solving. So when player-floor collision sets isGrounded to true, next manifold player-platform (not colliding) was changing isGrounded to false again and obviously manifold->normal.y to 0.0f.

You can check that removing all colliders except floor and player and normal.y will be always -1.0f and player w

[2017-03-06 08:59] victorfisac commented on #233
Fixed in pull request #239

[2017-03-06 09:13] kewp commented on #233
Tested on Windows. Works great (no more sticking when jumping).

[2017-03-06 09:13] #233 closed

[2017-03-09 01:58] Phyllostachys opened #243 "[build] raylib doesn't build under mingw-w64"
I tried building raylib 1.6 in MinGW-w64 but there are name conflicts with the wingdi system that MinGW-w64 exposes. I tried taking that include path out but ```GL/gl.h```, as required by GLFW3, is in the w32api folder path which includes the ```wingdi.h``` files.

The log looks like this:
[code]

It also doesn't seem to like the names ```near``` and ```far```:
[code]

:-(  I can't really think of

[2017-03-09 08:58] raysan5 commented on #243
Ouch... the infamous `windows.h` strikes again...

I've seen this issue about conflicting types several times... `GL/gl.h` header shouldn't include `windows.h`. Checking the related lines in `mingw-w64/mingw-w64-headers/include/GL/gl.h`:
[code]
You can try defining WINGDIAPI at compilation... let me know if it works...

About `near` and `far` issue, I'll change those names ASAP.

[2017-03-09 10:14] raysan5 commented on #243
I compared `GL\gl.h` from `mingw32` and `mingw-w64`. Personally, I find better organized and with more comments the `mingw32` implementation (and it doesn't require `windows.h`).

Just for reference, here it is the header definitions system on `mingw32` `GL\gl.h`:
[code]
in comparison to the `mingw-w64` `GL\gl.h`:
[code]

[2017-03-09 10:37] raysan5 commented on #243
Ok, as I see it, `windows.h` is ONLY required to define `WINGDIAPI` and `APIENTRY` in case they are not defined... seems a bit cumbersome...

Actually, WINGDIAPI is not defined in `windows.h`, it's defined in `wingdi.h`:
[code]
And `DECLSPEC_IMPORT` is defined who knows where (multiple source files), sometimes with value `__declspec(dllimport)` and sometimes blank...

When I see all this, I keep a

[2017-03-09 12:46] Phyllostachys commented on #243
I hear you there on that one! Nobody likes KISS anymore.

I'll try tinkering with it more. Any idea why it doesn't like near/far? I've never encountered that before and they aren't reserved words.

[2017-03-09 13:00] Phyllostachys commented on #243
Oh... This is interesting. I'm on another machine with MinGW-w64 installed and it built fine. I think I do have some extra mingw headers installed on the other machine... I suspect that it picked up some headers that nobody anticipated it picking up.

Here are [build outputs](https://gist.github.com/Phyllostachys/933ea1029a6b49f3dc64ccb6176ec3ef) without and with ```-v``` passed to gcc.

[2017-03-09 15:27] raysan5 commented on #243
Hi @Phyllostachys! Thanks for the info!

It seems in one machine there are some headers around that complicate things... do you have Visual Studio installed in any of the two machines? Which version? Maybe it creates some environment definitions...

About `far` and `near`, they seem to be no-standard reserved words to deal with 16 bit and 32 bit pointers, that's the reason the compiler complaints.

[2017-03-09 17:34] Phyllostachys commented on #243
I have MSVC command line build tools install on both. I'll have to see what is installed in MinGW on the other machine to see what is extra. I'll try the develop branch too. Thanks a bunch!

[2017-03-09 17:34] #243 closed

[2017-03-09 17:55] raysan5 commented on #243
Thanks to you for trying the library and reporting the issue! :)

[2017-03-10 22:55] Chillance opened #244 "[shapes] Curved Line"
Hey!

I was wondering how I could draw a curved line with this? Or is it something I would have to implement myself using DrawPixel or something? If I have to do it myself, please do share tips on that.

Thanks!

[2017-03-11 07:56] raysan5 commented on #244
Hi Chillance,

Note that 'curved lines' can be drawn in multiple different ways, more curved, less curved, with control points ([bezier curves](https://en.wikipedia.org/wiki/B%C3%A9zier_curve)). raylib doesn't include by default a function to draw curved lines but you can use [easing function](http://easings.net/). Those math functions return intermediate values when interpolating from one initial

[2017-03-11 13:37] Chillance commented on #244
Will this enable me to do this https://cloud.githubusercontent.com/assets/8057201/9976995/e81ac04a-5ef7-11e5-872b-acd54fbeee03.gif ?

The nuklear library seems to specify angles with the nk_stroke_curve function to draw curves.

I will try this out in the meantime, so thanks!

[2017-03-11 13:48] RafaelOliveira commented on #244
For bezier curves this tutorial can be used:
http://devmag.org.za/2011/04/05/bzier-curves-a-tutorial/

[2017-03-11 16:41] victorfisac commented on #244
Hi @Chillance I worked on a node based tool for raylib to build shaders with nodes and compile it as a GLSL shader program. Here is the repo: https://github.com/victorfisac/FNode

Search in the repo the function: DrawNodeLine(). The param FLine contains the from and to nodes ids to get its positions and draw the line between the nodes.

![fnode_default_line](https://cloud.githubusercontent.com/ass

[2017-03-11 19:10] Chillance commented on #244
Wow, thanks @victorfisac ! That works out fantastically!  I'm actually using https://github.com/gen2brain/raylib-go (Go wrapper for raylib), and converted this to Go, and it works great! I assume this is not something that will be added to raylib? Drawing curved lines that is.

[2017-03-12 02:29] Chillance commented on #244
Uh, for some reason, wherever I put this code to draw this curved line, it seems to end up behind the other rectangles I draw within the Begin2dMode. Not sure why. Even if placed last, it's still behind the rectangles drawn earlier. After End2dMode is shows above the rectangles. Why is this?

[2017-03-12 09:55] raysan5 commented on #244
Hi Chillance,

It can be added.

About drawing order, that's related to the way raylib processes vertex information internally, QUADS buffers (used to draw rectangles and textures) are always processed after LINES buffers (used to draw lines). For that reason, LINES are always drawn first. Note the all drawing actually happens at `EndDrawing()`, before that point, you're only storing required vert

[2017-03-12 13:14] Chillance commented on #244
Cool! However, something is off regarding math, as now it draws them correctly in one direction, but not the other: http://i.imgur.com/QlU8CFp.png

[2017-03-12 14:39] raysan5 commented on #244
Is that issue happening when using `DrawLineEx()`?
Does it only happen when `(startPoint.x > endPoint.x)`?

About curved lines drawing, I can add the following function:
[code]
Actually, to be technically correct, it would be a cubic-bezier line but the two control points are not configurable in the function... later on a `DrawLineBezierEx()` could be added...

[2017-03-12 15:50] Chillance commented on #244
Yes, only happens with DrawLineEx(). And it actually only happens when startPoint.x < endPoint.X.

[2017-03-12 15:59] Chillance commented on #244
Also, that DrawLineBezier would be cool. So, the Ex version would support points which would make it possible to change the angle or something? Right now, the curving is from the start and end position, but as I mentioned earlier, the function from nuklear supports angles that makes the curve bend more before going towards the other point.

[2017-03-13 23:26] raysan5 commented on #244
`DrawLineBezier()` added in commit https://github.com/raysan5/raylib/commit/3813722f170066c3113d4a3ef6a21ec53af71034.

Also corrected issue with `DrawLineEx()`, actually, `DrawLineBezier()` uses that function.

I recommend you to use
[code]
before `InitWindow()` to avoid aliasing.

[2017-03-13 23:27] raysan5 commented on #244
Closing this issue for now.

[2017-03-13 23:27] #244 closed

[2017-03-15 00:11] Chillance commented on #244
Great! Thanks!

[2017-03-21 06:27] RDR8 opened #247 "Review updates to rlgl.h"
`gcc -c rlgl.c -O1 -Wall -std=gnu99 -fgnu89-inline -Wno-missing-braces -I. -Iexternal -Iexternal/glfw3/include -Iexternal/openal_soft/include -DGRAPHICS_API_OPENGL_33
rlgl.c:254:8: error: unknown type name ‘DrawMode’
 static DrawMode currentDrawMode;
        ^
Makefile:301: recipe for target 'rlgl.o' failed
make: *** [rlgl.o] Error 1
`

[2017-03-21 06:48] RDR8 commented on #247
src/rlgl.h:134 was removed in recent commit "Review some comments"

[2017-03-21 12:24] raysan5 commented on #247
Corrected on commit https://github.com/raysan5/raylib/commit/974a6d4031edbe9f4cfafed0c9bc5ed362d51a2a

[2017-03-21 12:24] #247 closed

[2017-03-21 12:51] raysan5 commented on #200
Currently supported and implemented (*) flags:
[code]

[2017-03-29 18:54] JacobGood1 opened #252 "[build] An easy way to set up visual studio"
1. run the default installer
2. create a win32 console project from vs
3. in Configuration Properties/Linker/General add C:\raylib\raylib\release\win32
4. in Configuration Properties/Linker/Additional Dependencies add raylib.lib
5. in Configuration Properties/VC++ Directories/Include Directories add C:\raylib\raylib\release\win32
6. Configuration Properties/VC++ Directories/Library Directories add

[2017-03-29 20:58] JacobGood1 commented on #252
whoops, looks like I got too excited and did not read the docs =)
(I do that all the time)

[2017-03-29 21:01] raysan5 commented on #252
Hey! No problem! Really appreciate any try to help and contributing! :D

Just let me know if it works ok! ;)

[2017-03-29 21:01] ismyhc opened #253 "iOS support planned?"
Im curious why no iOS support?

[2017-03-29 21:02] ismyhc commented on #253
whoops. just say the other thread.

[2017-03-29 21:02] #253 closed

[2017-03-29 21:23] raysan5 commented on #253
wow! what a fast issue! I wish all issue were so fast to close! :D

[2017-03-30 12:38] #252 closed

[2017-04-02 14:21] sanderboer opened #254 "[build] Add -D _POSIX_C_SOURCE=200809L to CFLAGS"
Hi,

I'm just starting out with raylib, the emscripten layer is what interests me.
When building raylib, make fails on an implicit function declaration. I can't seem to be able to use nanosleep() (or usleep() ) without this error popping up.
Apparently, the _POSIX_C_SOURCE macro must be defined with an appropriate value for the POSIX extensions to be available:

`ifeq ($(PLATFORM),PLATFORM_WEB)

[2017-04-02 14:31] sanderboer opened #255 "[examples] Broken mouse input and other examples issues"
Hi,

I am on a manjaro Linux machine and I noticed that the core_3d_camera_free example on the raylib website observed different mouseclicks than adverstised, i.e. the left-mouse button instead of the middle mouse button/wheel.
To make matters worse, when I built the example myself, no button worked. That is a real bummer.

It is probably a glfw3 matter, as raylib and emscripten come with their ow

[2017-04-02 17:27] raysan5 commented on #254
Hi @sanderboer, this part was changed just some days ago... Are you using develop branch?

Maybe @RDR8 could give us some feedback, it was reviewed in PR https://github.com/raysan5/raylib/pull/248

[2017-04-02 17:35] raysan5 commented on #255
Hi @sanderboer, thanks for the feedback.

I've been just working on the web examples this week, not finished yet, I'm using latest raylib v1.7 from develop branch and just updated to `emsdk 1.37.9 64bit`. Before I was using `emsdk 1.35.0`, so, some things could have changed...

I'll try to address all the related issues and make sure all examples work.

[2017-04-02 20:02] sanderboer commented on #254
Hi @raysan5 ,
I just checked out the master branch...

S

[2017-04-02 23:28] RDR8 commented on #254
Since you're using c99, use _DEFAULT_SOURCE is the flag you, as when compiling PLATFORM=PLATFORM_DESKTOP on Linux.

[2017-04-03 12:43] sanderboer commented on #176
fwiw, FIPS has some great features to aid in cross-platformness:
./fips setup android
./fips setup emscripten
take care of the hassle of setting up android and emscripten.

Fips is made by the same person that made Oryol.

[2017-04-04 06:48] RDR8 commented on #254
No idea what is actually going on here. @sanderboer is right, master is broken but the changes made to the development branch at 44de97e are working for me "as is" on Linux. That is, without any _SOURCE type flags. Maybe --profilng CFLAG is the diff.

[2017-04-04 07:40] RDR8 commented on #254
@sanderboer If that code snippet above is in your makefile, check the syntax of -D_POSIX_C_SOURCE=200809L

[2017-04-04 08:35] RDR8 commented on #254
@sanderboer If that code snippet above is in your makefile, check the syntax of -D_POSIX_C_SOURCE=200809L

[2017-04-04 09:49] sanderboer commented on #254
That code snippet is in my makefile, I added the -D_POSIX_C_SOURCE=200809L for it to compile.
Or do you mean, I'd try it with -D_DEFAULT_SOURCE instead of -D_POSIX_C_SOURCE=200809L ?

[2017-04-04 09:56] sanderboer commented on #254
Wait,
I forgot to mention, I'm building PLATFORM_WEB here, I needed to add -D_POSIX_C_SOURCE=200809L for the emscripten build.

btw. I double checked.
On the master branch I can't build PLATFORM_WEB, unless I add -D_DEFAULT_SOURCE or -D_POSIX_C_SOURCE_200809L to the CFLAGS in the Makefile.

[2017-04-04 10:19] raysan5 commented on #254
Hi! Just integrated develop branch into master, it should be ok now, tried compiling for Windows and PLATFORM_WEB using Notepad++ script and it worked ok.

[2017-04-04 10:45] raysan5 commented on #255
Status report on web examples (compiled with latest raylib develop branch and emsdk 1.37.9), only listing examples that doesn't work or have some issues:

 - [ ] `core_3d_camera_first_person`: Mouse lock not supported on web yet, needs to be implemented.
 - [ ] `core_input_gamepad`: Gamepad support on web has been added recently. Port example.
 - [ ] `core_vr_simulator`: NEW example. Need to be ad

[2017-04-04 15:17] RDR8 commented on #254
@sanderboer understand about the platform.  I only mention Linux because I encountered a similiar issue there and made changes to the Makefiles recently. I think this is more of a c99 vs gnu99 issue, with each needing relevant CFLAGS. I'll update the Makefiles with options in the comments if @raysan5 already hasn't

I ask about the snippet because it has a typo. Just "no stone unturned' etc.. (^;

[2017-04-04 21:20] raysan5 commented on #255
Update 1: Color issues seem to have been solved after recompiling...

[2017-04-05 09:40] raysan5 opened #257 "[camera] Support mouse lock on web"
On web platform mouse cursor positioning doesn't work, consequently, first person camera system (that requires mouse reposition or locking) doesn't work properly.

The proper solution in web is locking the mouse position when canvas get focused (for example, after mouse-click event) and use relative mouse movement for camera rotation. When ESC is pressed unlock mouse and return focus to the browse

[2017-04-05 12:52] sanderboer commented on #255
fwiw, there is a nice write-up of touch on multiplatform:
http://flohofwoe.blogspot.nl/2014/10/cross-platform-multitouch-input.html

[2017-04-05 21:01] raysan5 commented on #255
hey @sanderboer, thanks for the info! good reference!

Actually that stuff was already implemented in raylib gestures system, here it is an example: http://www.raylib.com/examples/web/loader.html?name=core_gestures_detection

Additionally, raylib can process mouse inputs as touches to detect gestures (and the other way round). That's specially useful if you create a game for desktop platform and t

[2017-04-06 21:08] Effer opened #259 "Visual Studio examples wrong relative path"
Hi,
first of all great job @raysan5 .
I think last refactor of code example broke the link in the VS2015 project:
it's:
..\..\..\examples\core_basic_window.c
it should be
 ..\..\..\examples\core\core_basic_window.c

Both in master and develop branch. It's an easy fix and will help newcomers.

[2017-04-06 22:53] raysan5 commented on #259
Hey @Effer! Thanks for pointing this issue!

I'm doing some work with examples (add, remove, modify), trying to update collection a bit...

Issue corrected in commit https://github.com/raysan5/raylib/commit/74255b6eb2584c272ff647cfbac1cdceceb1965f

[2017-04-07 17:45] Effer commented on #259
Hi @raysan5 , tested and works perfectly.
Debug on VS is very comfortable, thanks for share the solution.

Do you plan to write a book? I would be very interested in learn game programming from you, but come to your country and follow your course could be cumbersome :)

[2017-04-07 17:45] #259 closed

[2017-04-07 18:30] raysan5 commented on #259
Hey @Effer! You're welcome!

I would really like to write a book about game development, it's been 5 years now teaching games dev (programming, data management, optimization, graphics, projects organization...) and I really got a lot of knowledge to share from an educational point of view (knowing common student errors, concepts that are more difficult to understand, best ways to share specific kn

[2017-04-07 22:18] raysan5 commented on #257
Implemented mouse pointer lock in commit https://github.com/raysan5/raylib/commit/d2d4b17633d623999eb2509ff24f741b5d669b35

Just testing it, it works ok, mouse pointer is locked when click on canvas... do we really want this? just in some cases? camera system still needs to be reviewed...

[2017-04-13 01:34] RDR8 commented on #254
This may help. #260

[2017-04-13 13:05] raysan5 commented on #254
Reviewed in commit https://github.com/raysan5/raylib/commit/82c54449bf4f472d2b46413288c0343e31eae8dc

[2017-04-13 13:05] #254 closed

[2017-04-14 03:46] RDR8 commented on #176
Initial references.

[Cmake Tutorial](https://cmake.org/cmake-tutorial/)
[Cmake support in Visual Studio](https://blogs.msdn.microsoft.com/vcblog/2016/10/05/cmake-support-in-visual-studio/)

[2017-04-18 06:35] raysan5 commented on #257
Just a note, testing examples on web I noticed this behaviour could be a bit unconfortable in some situations, specially when you need to keep clicking on the canvas! Thinking a way to activate it only if required... probably only on 1st person camera modes...

[2017-04-18 09:07] raysan5 commented on #255
All the examples have been reviewed, some details still pending but I'm closing this issue.

[2017-04-18 09:07] #255 closed

[2017-04-18 09:56] raysan5 commented on #200
Shapes flags (SUPPORT_QUADS_ONLY and SUPPORT_TRIANGLES_ONLY) require some thinking and redesign and won't be implemented for the moment.

Just closing this issue.

[2017-04-18 09:56] #200 closed

[2017-04-21 04:00] Triangle345 opened #265 "[build] VSCode instead of Npp?"
For a few years now I've been using Visual Studio Code (NOT VISUAL STUDIO - they are different). VSCode is an open source, cross platform, general purpose editor built on Electron framework.

For c++ i found  VSCode to be great because it has code completion, jump to definition, build/test tasks, debugger, code minimap (like sublime).

Not only can VSCode do what Npp does, but it is also cross pla

[2017-04-21 14:24] raysan5 commented on #265
Yes, I know VSCode, it's amazing, it would be great to configure raylib for VSCode, or at least provide required configuration tasks to integrate with raylib and MinGW, actually, it's on the roadmap...

The point is that it requires some work and Notepad++ is already preconfigured for raylib (compiling scripts, intellisense help, program configuration...).

Undoubtely is an editor to consider for

[2017-04-22 12:34] Triangle345 opened #267 "[rlgl] MAX_QUADS_BATCH limit?"
There is a finite size of drawable quads. This would basically make a game crash without warning. Why does it exist?  Thinking maybe remove it as it may cause confusion on larger projects?

https://github.com/raysan5/raylib/blob/develop/src/rlgl.h#L107

[2017-04-23 10:20] raysan5 commented on #267
Actually, if MAX_QUADS_BATCH is reached, a warning message is output to console log... but the that value is just the maximum quads supported by raylib batching system to be processed in a single draw call, it means, if that limit is reached (my students never reached that limit), a draw call is launched and the buffer starts being filled again. What it means is that you can draw up to 50K quads i

[2017-04-23 13:52] Triangle345 commented on #267
Thanks for the reply. I'm not sure where you got the the number 50k from. The code is this:

[code]

which gives a TraceLog ERROR, which is defaulted to abort.  However; if changed to not abort on ERROR, it would not draw anymore?

I also experimented with increasing this number and noticed that when number of quads is ~18k, any on screen Text just disappears?

[2017-04-23 16:36] raysan5 commented on #267
Hey @Triangle345, yes, you're right, but quad batch is reset in `rlDisableTexture()`:

[code]

About batch size limit (~18K) it seems related to max number of indexes supported, I was investigating it in the past and so I added the code provided above... actually, I tried a bunnymark and reached about 50K quads drawn.

[2017-04-23 16:39] raysan5 commented on #267
Mmmm... I see that if you are only drawing with plain color quads, I mean not changing from base white texture, then probably that code point is reached and batch system is not reseted... need to check it!

[2017-04-23 17:19] raysan5 opened #268 "Transparency problems with WebGL"
On WebGL blending is done with white background canvas resulting in undesired blending issues. Here there are more details on this issue: https://webglfundamentals.org/webgl/lessons/webgl-and-alpha.html

One quick solution, just change canvas background color to black.

[2017-04-23 17:25] raysan5 commented on #268
Quick fix implemented in commit https://github.com/raysan5/raylib/commit/332f3b4f9d58eabf54f44a348de24d73d728f560

[2017-04-23 17:25] #268 closed

[2017-04-26 07:41] raysan5 commented on #205
Example has been removed, it's going to be redesigned.

[2017-04-26 07:41] #205 closed

[2017-04-30 12:48] Triangle345 opened #271 "real time tracelog"
Is it possible to do tracelog real time at the moment you execute it.  Currently it seems the messages are buffered and displayed at the end. Real time tracelog is useful for debugging issues that would otherwise be hard to do in a debugger. I'm not sure if there is a macro or some switch to make it real time?

[2017-04-30 22:18] raysan5 commented on #271
Actually, `TraceLog()` messages are sent to console output in real time; if youy execute the program from command line you will see those messages as soon as they occur.

Maybe you refer to Notepad++ output console? It seems they are not displayed until program is closed...

[2017-05-01 02:38] Triangle345 commented on #271
you are correct.  All though i'm using VSCode output console. However; it displays fine on command line.  These plugins probably open a new process and try to read the buffer output.  Thus they get buffered until exit.

[2017-05-01 02:38] #271 closed

[2017-05-01 09:54] kewp opened #272 "Examples build but don't run on Windows"
The .exes get generated fine but nothing happens when I run them.

gcc -o core_basic_window core_basic_window.c -O2 -s -Wall -std=c99 -I. -I../src -I../src/external -I../release/win32/mingw32 -I../src/external/glfw3/include -I../src/external/openal_soft/include -L. -L../src -L../release/win32/mingw32 -L../src/external/glfw3/lib/win32 -L../src/external/openal_soft/lib/win32 -lraylib -lglfw3 -lopeng

[2017-05-01 10:09] kewp opened #273 "android/asset_manager.h not found when compiling for android"
[armeabi] Compile thumb  : raylib <= core.c
In file included from jni/../../rlgl.h:53:0,
                 from jni/../../core.c:46:
jni/../../utils.h:31:75: fatal error: android/asset_manager.h: No such file or directory
     #include <android/asset_manager.h>      // Required for: AAssetManager
                                                                           ^
compilation terminated.
ma

[2017-05-01 12:20] raysan5 commented on #272
Have you tried to compile one example individually with Notepad++ `compile_and_execute` script? What GPU do you have? How old is it?

[2017-05-01 13:59] kewp commented on #272
I can't find where the notepad scripts are, or how to run them. Plugins ?

I have an old m14 alienware laptop. Graphics card is a Geforce GT 555M.

[2017-05-01 14:01] kewp commented on #272
Oh I see. F6. I ran it. Still nothing comes up.

-------------------------------------
SET: RAYLIB_DIR = C:\raylib
$(RAYLIB_DIR) = C:\raylib
ENV_SET: PATH=C:\raylib\MinGW\bin
$(SYS.PATH) = C:\raylib\MinGW\bin
CD: C:\raylib\raylib\examples
Current directory: C:\raylib\raylib\examples

NOTE: raylib uses OpenAL Soft library compiled statically and linked into the executable

-------------------------

[2017-05-01 14:05] kewp commented on #272
Is there a way to compile with verbose debugging logged to the console ?

[2017-05-01 15:01] kewp commented on #273
Problem solved: You need at least r11 of the ndk.

Should update the docs, which give a link to r10e ! https://github.com/raysan5/raylib/wiki/Compile-for-Android

[2017-05-01 15:02] kewp commented on #273
Now I'm getting various compile errors.

jni/../../audio.c:197:6: error: conflicting types for 'IsAudioDeviceReady'
bool IsAudioDeviceReady(void)
     ^
jni/../../raylib.h:930:12: note: previous declaration is here
RLAPI bool IsAudioDeviceReady(void);                                  // Check if audio device has been initiali...
           ^
jni/../../audio.c:526:6: error: conflicting types for 'I

[2017-05-01 17:10] raysan5 commented on #272
Hi @kewp, that `Exit code` doesn't look good...

Your GPU is ok, it supports OpenGL 3.3 (actually, it supports OpenGL up to 4.5), so it should work...

When compiling just delete `-Wl,--subsystem,windows` compilation parameter to show console output and let me know what info do you get.

[2017-05-01 17:17] raysan5 commented on #273
Hi @kewp, thanks for pointing this issues, just updated docs to latest Android SDK and NDK versions.

Are you using raylib 1.6 (from Windows installer) or [latest develop version](https://github.com/raysan5/raylib/tree/develop)?

I'm working on raylib v1.7, it's almost ready, and I'm changing quite a lot of things, one of the changes is a Android build system, using a standalone toolchain... but s

[2017-05-01 19:08] kewp commented on #273
Hi raysan. No problem.

Im using version 1.6

[2017-05-01 19:16] kewp commented on #272
Here's the output

INFO: Initializing raylib (v1.6.0)
WARNING: [GLFW3 Error] Code: 65543 Decription: WGL: OpenGL profile requested but WGL_ARB_create_context_profile is unavailable

[2017-05-01 21:43] raysan5 commented on #272
Ok, I see, the problem is that an OpenGL 3.3 Core context can not be created, it's not supported by the GPU. I investigated a bit about your Alienware M14x and it seems it comes with two GPUs, the NVIDIA GeForce GT 555M (a very good GPU) and an Intel HD 3000 (a not that good GPU, only supports up to OpenGL 3.1). It seems that system can change automatically from one GPU to the other depending on t

[2017-05-01 21:46] raysan5 commented on #273
ok, I'll try to upload new raylib version in a couple of weeks...

[2017-05-01 22:25] kewp commented on #272
Worked great. I recompiled to gl21. Nice one. Should have picked that up.

[2017-05-01 22:27] kewp commented on #273
Great. Thanks, I'll let you know how it goes. And will keep trying this end.

[2017-05-01 22:49] raysan5 commented on #272
Great to read that! :D

Just in case, I found this: http://forum.notebookreview.com/threads/manually-switch-to-nvidia-graphics-m14x-r2.683706/

[2017-05-01 22:49] #272 closed

[2017-05-02 19:44] Triangle345 opened #274 "Generic utils such as lists and hash tables."
Ray lib has most other basic tools such as math, gui, physics etc implemented in a simple to use way.  However; there maybe times when a user may want to store things more dynamically.

I propose a generic "utils" library such as linked list, array list, hash table, etc.  Often times these data structures are problematic for people to create because of memory leaks and inefficiency.  It would also

[2017-05-02 19:59] gen2brain commented on #193
Hi Ray,

I now you are busy with new release, just wanted to ask what is the status of rREM util? In Go bindings I started with something like this https://github.com/gen2brain/raylib-go/blob/master/raylib/rres.go , but I can't test, source for rREM util is missing, and I am not sure what final format would be.

I would like to make a binary util for that, in native Go it can be easily cross compi

[2017-05-02 22:46] raysan5 commented on #274
Hi @Triangle345, I thought about it some time ago but I decided it was out of scope of raylib, I hardly can manage with all the current libraries and sub-libraries to add new ones. So, no intention for the moment.

Additionaly, there are some great single-file heade-only implementations here: https://github.com/nothings/single_file_libs#data-structures

[2017-05-02 22:59] #274 closed

[2017-05-02 23:17] raysan5 commented on #193
Hi Milan!

Lately I've been pretty busy in my daily job, preparing classes, setting and correcting exercises, preparing exams... I didn't have much time to focus on [rres.h](https://github.com/raysan5/raylib/blob/master/src/rres.h) (implementation isn't incomplete), neither in rREM; latest implementation of that tool dates from 2014 (completely outdated, needs to be reworked from scratch) and the

[2017-05-02 23:20] raysan5 commented on #273
Just closing this issue for now...

[2017-05-02 23:20] #273 closed

[2017-05-04 15:53] raysan5 opened #276 "[example] Plane rotations on 3D: roll, pitch, yaw"
An example of 3D rotation on RaspberryPi: [plane_rotations.zip](https://github.com/raysan5/raylib/files/976740/plane_rotations.zip)

It seems there was some performance problem when using a RenderTexture2D, just reviewed example and upload it here for further testing.

Note that this example uses latest raylib develop branch because it requires some small modifications introduced to the library.

[2017-05-07 17:52] raysan5 opened #277 "[camera] Review 1st person camera implementation"
Current implementation for first person camera uses [`SetMousePosition()`](https://github.com/raysan5/raylib/blob/master/src/camera.h#L296) to recenter mouse when going out of screen limits, that's not the proper way to handle this situation.

Ideally, mouse should be disabled to get a virtual unlimited canvas mouse and use standard mouse functions to retrieve mouse movement data and use it for fi

[2017-05-07 18:12] raysan5 commented on #265
Just a reference in case someone wants to compile C from VSCode: http://stackoverflow.com/questions/39998471/how-to-build-and-run-c-code-in-visual-studio-code

[2017-05-07 23:37] raysan5 commented on #202
Reviewed Android library generation on commit https://github.com/raysan5/raylib/commit/0ebd8b0f6ec1887f281f840052218d4ff0363cca

Also investigated how to generate .APK package from command line with no default build system (`ant`, `ndk-build`), it's no trivial and there are multiple tools involved... I'm opening a new issue to document that process and keep investigating.

[2017-05-07 23:37] #202 closed

[2017-05-08 00:10] raysan5 opened #278 "[build] Android APK building from command line"
Just studying the possibility to directly build .apk programs from command line... to include with raylib all required tools, curated and packed in a single zip.

A lot of tools are involved in APK generation and they come in different Android packages, more info [here](http://stackoverflow.com/questions/19911762/what-are-the-android-sdk-build-tools-platform-tools-and-tools-and-which-versio).

Her

[2017-05-08 01:12] Zoarial94 opened #279 "[core] Full Screen window opens but can not interact with mouse (RPI 3)"
After compiling the core examples I opened the core_2d_camera executable, it opened in fullscreen however I am unable to see my mouse or use the keyboard. I was able to find out while using a VNC connection that when I run it in Terminal the terminal window appears on the VNC connection but the full screen is only on the monitor. If I have the terminal as my current window I am able to use the key

[2017-05-08 07:13] dginu85 opened #280 "[core] EGL_TRANSPARENT_RGB flag crash"
Hi guys, I'm developing gui for rpi, but I need the background to be transparent ...

I tried to rebuild the library with this "**EGL_TRANSPARENT_RGB**" flag but it does not work, as soon as I start my application, the library is initialized correctly but can not get the surface information and subsequently generates a "SIGSEGV: Segmentation fault" error.

How can I create a transparent background

[2017-05-08 07:15] raysan5 commented on #279
Are you running it from XWindow interface?
How did you compile it? Did you use `make PLATFORM=PLATFORM_RPI`?

raylib is prepared by default to run in console mode (no XWindow graphic interface); in that mode it [reconfigures keyboard](https://github.com/raysan5/raylib/blob/develop/src/core.c#L2855) to read from standard input in raw mode, mouse is also read in raw mode (no XWindow processing).

[2017-05-08 07:27] raysan5 commented on #280
Hi @dginu85, I assume you set that flag on `core.c` -> `InitGraphicsDevice()` -> [framebufferAttribs](https://github.com/raysan5/raylib/blob/develop/src/core.c#L1822) this way:
[code]
If it doesn't work that way, maybe it's not supported by the hardware...

[2017-05-08 09:49] dginu85 commented on #280
HI raysan5, Thanks for reply :-)

look here https://www.facebook.com/DavGiorgianni/videos/1297212513693209/
i try your code..

[2017-05-08 10:03] dginu85 commented on #280
@raysan5 :-(
INFO: Initializing raylib (v1.7.0)
INFO: Display device initialized successfully
INFO: Display size: 800 x 480
INFO: Render size: 800 x 480
INFO: Screen size: 800 x 480
INFO: Viewport offsets: 0, 0
INFO: GPU: Vendor:   (null)
INFO: GPU: Renderer: (null)
INFO: GPU: Version:  (null)
INFO: GPU: GLSL:     (null)

[2017-05-08 10:31] raysan5 commented on #280
mmm... don't know... maybe it's some config parameter missing? I saw the following params are also available:
[code]
Can you build the GUI just using transparent textures, directy drawing on canvas?

Or maybe you can use a framebuffer object (RenderTexture2D) to do the drawing: https://github.com/raysan5/raylib/blob/master/examples/shaders/shaders_postprocessing.c