[2020-05-23 16:10] raysan5 commented on #594
@Louis-DR `Model` structure contains `meshes` that actually can be any kind of data, 2d or 3d. Just need to fill the structures with the desired data and set the shader with all the texture sampler2d required.

[2020-05-23 17:25] raysan5 commented on #1232
`LoadIQM()`, `LoadModelAnimations()` reviewed in commit https://github.com/raysan5/raylib/commit/0bcb89297532d4622c76501a47478678ca8342e7

[2020-05-23 18:21] rfaile313 commented on #1198
Possible to extend this for WAV use in general in raylib?

[2020-05-23 18:27] raysan5 commented on #1198
@rfaile313 what do you mean? WAV is already supported for Wave/Sound...

[2020-05-23 20:03] rfaile313 commented on #1198
Doesn't it usually have issues? I thought only OGG files don't have issues?

[2020-05-23 20:28] raysan5 commented on #1198
@rfaile313 personally I hardly ever had any issue with WAV loading... 🤔

[2020-05-23 21:43] raysan5 commented on #1232
`LoadWAV()` and `Save()` now use [drwav](https://github.com/mackron/dr_libs/blob/master/dr_wav.h) library. It opens/closes the finally internally. It's possible to use memory buffers to do the same but for the moment we are not using them because `LoadFileData()` and `SaveFileData()` are not available on `RAUDIO_STANDALONE`.

[2020-05-24 13:51] raysan5 commented on #1232
Redesigned `ExportWaveAsCode()` to use memory buffer on commit https://github.com/raysan5/raylib/commit/1c5df677e1f4c096d32c460fb6979b0c934dab04.

[2020-05-24 14:08] raysan5 commented on #1232
`LoadOBJ()` had issues with material loading when .obj was not in the working directory (for example inside a `resources/models` directory).

Implemented solution on raylib was using `chdir()` to move to .obj directory before calling `tinyobj_parse_obj()` and return to current directory at the end of the function. It works but I don't like that solution. Also, user has no control over the file acc

[2020-05-24 14:08] #1232 closed

[2020-05-24 14:11] raysan5 commented on #1164
This issue is already on track, it should be corrected with the new CD system.

[2020-05-24 14:11] #1164 closed

[2020-05-24 14:12] #1167 closed

[2020-05-24 18:55] rfaile313 commented on #1198
Maybe I'm wrong, sorry :)

[2020-05-25 03:11] accidentalrebel commented on #1198
I plan to work on the `textures_cubemap` examples next.

Is the new API being referred to this one?
[code]

[2020-05-25 15:47] raysan5 commented on #1198
@accidentalrebel hey! yes, but that function was not tested and it can have issues or be uncomplete. Actually, an example would be required just for that reason.

[2020-05-25 18:36] TheBricktop commented on #1042
Mind sharing your experience?

[2020-05-25 20:45] raysan5 commented on #1245
I looked at the related code but I can not find the issue, it works ok on Windows desktop.

Are you trying it in native mode? Or Linux desktop?
Are you using a touch screen or just with the mouse?

[2020-05-25 21:15] raysan5 commented on #1218
I did a quick test with a small image (512x285), adapting `ImageFlipVertical()`.

Current implementation took aprox. `7515 microseconds` while adapted version took `218 microseconds`, that's an speed improvement of `3447 %`. Not bad.

[2020-05-25 22:04] accidentalrebel commented on #1198
No problem. I'll give it a go and report if there are any bugs.

On Mon, May 25, 2020 at 11:47 PM Ray <notifications@github.com> wrote:

[2020-05-26 06:39] o3o commented on #1245
Actually it's strange, it works also in Linux desktop.

I'm trying on Raspberrry Pi3B with [7" touchscreen display](https://www.raspberrypi.org/products/raspberry-pi-touch-display/) and raylib rel. 3.0.0 in native native mode
If I use a mouse, it works well, if I swipe on touchscreen GetGestureDetected() returns always GESTURE_SWIPE_LEFT.
I think  issue is on to touchscreen

Thank you

[2020-05-26 07:13] Louis-DR commented on #594
@raysan5 Thank you very much ! I made it work with Meshes. If anyone is struggling, here it is :
[code]
And they are then available as `texture0` and `texture1` in the fragment shader.
It's unfortunate that it is that inconvenient, as it requires switching the whole pipeline to use 3D cameras, models etc. Also, the material shader is applied after the texture filter, instead of before, which can c

[2020-05-26 10:28] raysan5 commented on #1218
Second test with `ImageFlipHorizontal()`, this time it was a bit more complex because moving image rows could be done by row-chunks but moving columns is more difficult because the memory layout.

First approximation was similar to `ImageFlipVertical()`, also using `memcpy()` calls:
[code]
Improvement was from `7713 us` to `2125 us`, that's about `3.5` times faster... but I imagine so many `memcpy

[2020-05-28 12:56] thevojacek commented on #837
Will this ever get fixed? I am using Raylib 3.0.0 and this is exact behavior i get. What helps is to manually move the window, then everything gets rendered correctly.

[2020-05-28 13:32] raysan5 commented on #837
@thevojacek actually this issue is related to https://github.com/raysan5/raylib/issues/1086. It's also macOS dependant. No solution found yet...

[2020-05-28 15:51] raysan5 commented on #1245
Closing the issue...

[2020-05-28 15:51] #1245 closed

[2020-06-02 14:38] peppemas opened #1265 "[models] Application crash when you try to access mesh indices[]"
Hi @raysan5 ,

When you create a Mesh with GenMeshXXX (that use par_shapes.h) you do not update the indices anymore.
When you try to access them with the following code the application crash:

for (int i = 0; i < mesh->triangleCount; i+=3) {
      mesh->indices[i] = xxx;
}
rlUpdateMesh(*mesh, 6, mesh->triangleCount);

Is there another way to access the triangle list of the mesh ?

[2020-06-02 14:49] raysan5 commented on #1265
@peppemas Yeah, that's because indices are not used. Triangles are just defined by the vertex order.

[2020-06-03 10:54] raysan5 commented on #1265
I can do much about this issue, mesh data is directly exposed so it's up to the user to check pointers are valid...

[2020-06-03 10:54] #1265 closed

[2020-06-03 11:27] peppemas commented on #1265
Hi @raysan5 ,

I added the ability to invert the normals of the sphere and hemisphere because it could be useful to draw inside the model.  (In the screenshot you can see an example, where I project an atmospheric scattering shader inside the sphere)
![atmo_scattering](https://user-images.githubusercontent.com/666841/83631430-cdd5a280-a59d-11ea-95e0-14a574ada7f7.png)

Mesh GenMeshSphereEx(float ra

[2020-06-03 22:38] cf-isys opened #1266 "BeginDraw & EndDraw Question"
I don't want use a infinite cycle, how to you show in your examples. I want only show a line and for this I use this:

[code]

If I make only this nothing happened! for see the line I have to repeat twice:

[code]

Why is this?

I use the last version on windows and compile using visual studio 2019

I wait for your answer, Thank so much!!!

[2020-06-03 23:02] raysan5 commented on #1266
@cf-isys Everything is actually processed and drawn in `EndDrawing()`, if you finish the program after first `EndDrawing()` you have no time to see the result.

In any case, a game always use the loop and keeps updating the screen at a fixed framerate.

[2020-06-03 23:02] #1266 closed

[2020-06-03 23:26] cf-isys commented on #1266
befor the endDrawing I not exit of my program, I put a pause.

SetConfigFlags( FLAG_WINDOW_UNDECORATED );
InitWindow( 1024, 600, "Test Application" );
SetTargetFPS( 0 );
// 1 Step
BeginDrawing( );
ClearBackground( BLACK );
DrawLine( 0, 0, 1024, 600, WHITE);
EndDrawing( );
// 2 Step for show
BeginDrawing( );
ClearBackground( BLACK );
DrawLine( 0, 0, 1024, 600, WHITE);
EndDrawing( );
getch();

[2020-06-03 23:27] cf-isys commented on #1266
Después del EndDrawing no saldo del programa yo tengo una pausa….

Saludos/Regards

[cid:image003.png@01D639E5.705B8B70]
Carlos A. Fernández

Director, Integrisys S.A.

M
+54.9.261.5136.993
P
+54.11.5252.4446

W
www.integri-sys.com<http://www.integri-sys.com/>
A
Pringles 432, C1183AEH, Bs. As., Argentina

De: Ray <notifications@github.com>
Enviado el: miércoles, 3 de junio de 2020 20:03
Para: rays

[2020-06-03 23:36] raysan5 commented on #1266
@cf-isys are you using latest raylib version from github master branch?

[2020-06-03 23:39] cf-isys commented on #1266
Yes, I download the last 3.0, but this problema happened with old version too.

Saludos/Regards

[cid:image003.png@01D639E7.13A13950]
Carlos A. Fernández

Director, Integrisys S.A.

M
+54.9.261.5136.993
P
+54.11.5252.4446

W
www.integri-sys.com<http://www.integri-sys.com/>
A
Pringles 432, C1183AEH, Bs. As., Argentina

De: Ray <notifications@github.com>
Enviado el: miércoles, 3 de junio de 2020 20:

[2020-06-04 04:04] cf-isys commented on #1266
Ray,

I download the last master from github and now the problem is fixed.

Thanks

[2020-06-04 20:19] cf-isys opened #1267 "Draw Rectangule with Transparency"
Is possible make a box and fill with a transparency color? If is possible how to make this?

Thanks,

[2020-06-04 20:26] cf-isys commented on #1267
I have a picture of background and I want to make a rectangle with less bright for show a text

[2020-06-04 21:12] raysan5 commented on #1267
@cf-isys you can draw a half-transparent white rectangle.

By the way, for questions better use raylib Discord forum, GitHub is more intended for bugs, actually, there is a template for that.

[2020-06-04 21:12] #1267 closed

[2020-06-05 11:27] frithrah opened #1268 "[models] Buffer overrun fix"
There's a buffer overrun on the vertices array in GenMeshPoly when using certain numbers of sides - 11 or 50 are good examples.

And here's a patch that fixes the issue. :)

[GenMeshPoly-buffer-overrun-fix.txt](https://github.com/raysan5/raylib/files/4735746/GenMeshPoly-buffer-overrun-fix.txt)

Fixed vertices buffer overrun by restricting to vertexCount. Changed degree plotting to floats in order

[2020-06-05 11:43] raysan5 commented on #1268
@frithrah please, could you send a PR with the improvement?

[2020-06-05 13:52] frithrah commented on #1268
Certainly. Done. First PR!

[2020-06-05 13:52] #1268 closed

[2020-06-06 18:15] brankoku commented on #1218
When optimizing the image flipping functions, here are two things to strive for:
1. Do the mirroring in place (avoiding unnecessary allocations)
2. Dedicated functions for each bit depth (creates more optimization opportunities)

I have created a working example for 32-bit image data, attached to this comment as a file. The only dependency is the C standard library, since I don't have raylib set u

[2020-06-06 18:45] raysan5 commented on #1218
@brankoku Thanks for the implementation! I'll give it a try. Why `uint32_t` is important? I try to avoid `stdint.h` types on raylib...

[2020-06-06 19:22] brankoku commented on #1218
@raysan5 `uint32_t` is important because it is guaranteed to be 32 bits, and this optimized form treats every pixel as a 32-bit value. `stdint.h` was introduced in C99, and raylib is C99, so there should be no portability issues. If there are, however, an alternative to consider may be maintaining a `ray_u32` type, with a compile-time assertion to ensure it's the right size. `stb.h` accomplishes s

[2020-06-07 09:27] raysan5 commented on #1218
@brankoku I tested your solution and indeed it's the fastest option. On my computer it gave me times of `~400us` to `~600us` on `-O2`, around two times faster than my latest implementation.

Despite that, I'm going for the byte-moving implementation, it's slower but more generic to be used in all Image manipulation functions. Also, performance improvement comparing to current implementation is sev

[2020-06-07 16:33] brankoku commented on #1218
@raysan5 Thanks for testing it out for me, and well-done on these updates. :+1: I may still tweak and PR your new functions to eliminate unnecessary allocations in situations where we can get away with modifying the image data in-place (rotate/flip).

[2020-06-08 04:58] peppemas opened #1270 "[shaders] Skybox is flipped vertical"
Hi,

I had an issue with the skybox.c example running on my Windows 10 with the following configuration:

INFO: Initializing raylib 3.0
INFO: DISPLAY: Device initialized successfully
INFO:     > Display size: 1920 x 1080
INFO:     > Render size:  1920 x 1080
INFO:     > Screen size:  1920 x 1080
INFO:     > Viewport offsets: 0, 0
INFO: GLAD: OpenGL extensions loaded successfully
INFO: GL: OpenGL 3

[2020-06-08 16:37] raysan5 commented on #1218
After some more changes in commits https://github.com/raysan5/raylib/commit/82f7dd017ee3899ff09475c25222e995f70a80b8 and https://github.com/raysan5/raylib/commit/40bc6afdbd06d213a07a5e321f4f285d613a1fe5, a small recap on the changes:

 - *Functions NOT REQUIRING color modification* -> All those functions have been **REDESIGNED** with faster implementations.

 - *Functions REQUIRING color modificat

[2020-06-11 10:53] raysan5 commented on #1218
Despite all the effort put on `ImageDraw()` optimization to avoid `ImageCrop()` calls and other data allocation and move bytes directly from source... it didn't perfom better than original implementation.

Dealing with alpha blending is complex, src and dst could have different pixel formats and to support all possible configurations the easiest way is formating data to a common format...

Just le

[2020-06-11 10:53] #1218 closed

[2020-06-12 22:23] shawnpringle opened #1273 "Macros needed for MinGW for compilation"
It wont compile because of conflicting function names between winuser.h and its own function.

Unable to compile on MinGW/32, I added these lines to one of your C files around #include <windows.h> to get it to compile:
#define CloseWindow CloseWindowDontUse
#define ShowCursor ShowCursorDontUse
#define UnhideWindow UnHideWindowDontUse
#include <windows.h>
#undef UnhideWindow
#undef ShowCursor
#unde

[2020-06-14 06:32] imandana opened #1275 "[rlgl.h] RLGL undeclared for OpenGL 1.1"
Dear Raymond.

My computer has OpenGL 1.1 (Windows 7)
Then i want to compile using,

But there was a problem on
RLGL (rlgl.h) line 1742, RLGL undeclared.

Then i explore and found the the declared RLGL was just for OpenGL 33 and ES 2 on line 854 ...

Thanks in advance

[2020-06-14 06:46] imandana commented on #1275
Solved by adding

|| defined (GRPHICS_API_OPENGL_11)

On both rlglData's struct and the declaration of RLGL

[2020-06-14 06:47] #1275 closed

[2020-06-14 15:08] peppemas opened #1276 "[UWP] GetFPS() always return 0"
Hi @raysan5,

With PLATFORM_UWP GetFPS() function always return 0.

in core.c:

    // Frame time control system
    CORE.Time.current = GetTime();
    CORE.Time.draw = CORE.Time.current - CORE.Time.previous;
    CORE.Time.previous = CORE.Time.current;

CORE.Time.current is correct (successfully call the callback function in App.cpp and increase)
*BUT* CORE.Time.draw is always 0

[2020-06-14 19:45] raysan5 commented on #1273
Closing the issue. Already discussing it in the PR.

[2020-06-14 19:45] #1273 closed

[2020-06-16 04:15] mkarr opened #1277 "[textures] New Fade() macro breaks examples (and probably other stuff)"
The commit ad954dc7abd854030791fcdbc64b32af592b3834 refactors and renames color functions. As part of this, the macro Fade() was implemented to point to the new replacement ColorAlpha(). This macro breaks uses if Fade() in existing code, including the examples. A sample error output from the compilation is included below:

[code]

Replacing all the instances of Fade() with ones to ColorAlpha() fix

[2020-06-16 08:37] raysan5 commented on #1277
@mkarr Yeap... I see. I re-added Fade() in commit https://github.com/raysan5/raylib/commit/afcc584fb6f865de88a1f560d59aeb92b4afd818.

[2020-06-16 13:13] #1277 closed

[2020-06-16 17:28] sparkskapil opened #1278 "[core] Implementing zoom to point with Camera2D"
I wanted to implement zoom to mouse position using Camera2D.
I tried setting the camera target to the mouse position (screentoworld coordinates).
This moves the complete viewport.
I already have panning implemented but I am facing difficulty implementing the point zoom.
The viewport should scale with respect to the mouse position.

For now I have zoom to fixed target is working fine.
Can you pleas

[2020-06-16 20:34] JasonNumberThirteen opened #1279 "[build] Cannot build for Android due to missing "logo" image files"
### Issue description

Trying to build an APK file for the Android system tracking instructions given here: https://github.com/raysan5/raylib/wiki/Working-for-Android

I cannot successfully compile it due to **error consisting of missing some "_logo_" files** (I'm stuck after the step 1 of the "_Compiling a raylib game for Android_"). I even tried to add some junk images manually, but still with n

[2020-06-17 11:22] raysan5 commented on #1279
@JasonNumberThirteen It seems the issue is related to logo images not installed by the default raylib installer, you can find them in GitHub raylib/logo.

Also note that Makefile should be reviewed to point to your Android SDK/NDK paths and API version.

[2020-06-17 11:22] #1279 closed

[2020-06-17 11:23] raysan5 commented on #1278
This is an implementation issue, not an issue with raylib. You need to animate the zoom value.

[2020-06-17 11:23] #1278 closed

[2020-06-17 13:17] JasonNumberThirteen commented on #1279
@raysan5 Thanks for your answer. Indeed, adding the "_logo_" directory solved the problem, but after all it should be provided by main installer. It's only my suggestion.

[2020-06-17 20:19] Bambofy opened #1281 "[core] BeginScissorMode() fails on macOS"
### Issue description
Using BeginScissorMode() on OS X results in nothing being drawn on the screen in the scissored area.

### Environment
OS X 10.15.5
Raylib 3.0

### Issue Screenshot
I'm drawing a 200x200 black square at 0,0. These images are with and without scissor at (0,0,800,600)

Without scissor:
<img width="816" alt="Screenshot 2020-06-17 at 21 17 45" src="https://user-images.githubuserco

[2020-06-18 22:22] alanbork commented on #1096
Is there any chance of a single binary that would work on all versions of the PI? My understanding is to make a native CLI binary that works on the 4 you need to

"make PLATFORM=PLATFORM_RPI RPI_VERSION=RPI_VERSION_4"

precluding use on earlier PIs.

[2020-06-19 10:13] raysan5 commented on #1096
@alanbork Actually those changes have not been integrated on raylib, at the moment raylib does not support RaspberryPi 4 officially.

Unfortunately, it's not possible to have a single binary for all the RPi, RPI4 dratically changed the required libraries for native GPU access and old libraries do not work anymore.

[2020-06-19 10:27] raysan5 commented on #1276
@peppemas thanks for reporting. Unfortunately I can't maintain UWP implementation, it was a contribution. Feel free to send a PR if you find a solution.

[2020-06-19 10:28] raysan5 commented on #1270
@peppemas Please, could you send a PR with the improvement? Thanks!

[2020-06-19 11:15] raysan5 commented on #1281
@Bambofy Oh, this is weird... I tried on Windows and it works ok.

Maybe it could be related to HighDPI display, there are some related issues on macOS... are you using a retina/highDPI display?

[2020-06-19 12:26] Bambofy commented on #1281
yep it is a HighDPI display

[2020-06-19 18:47] alanbork commented on #1096
I see. The main website does say you can compile to support the pi 4 - am I
misunderstanding this?  From the webpage it sure looks like it's CLI not
x11:

 *On Raspberry Pi platform (native mode), Videocore API and EGL libraries
are used for window/context management. Inputs are processed
using evdev Linux libraries. To build for the Raspberry Pi 4:*

cd src
make PLATFORM=PLATFORM_RPI RPI_VERSION=

[2020-06-20 05:41] 0r33 opened #1283 "[textures] ImageDraw() cannot crop if source image is larger than destination"
There’s a problem in the current master branch when trying to crop using ImageDraw().
If you’re trying to draw image2 on top of image1 then if image2 is longer in any dimension than image1 or if it’s positioned in such a way that any part of it will be drawn outside of image1 then the source rectangle provided will be ignored and the image2 will be drawn to the edge of image1 even if the source re

[2020-06-20 15:56] #1270 closed

[2020-06-20 16:49] raysan5 commented on #1283
Also noted another possible issue with negative source offsets.

[2020-06-20 17:56] Rover656 commented on #1276
I'll take a little lookie at this...

[2020-06-20 18:23] Rover656 commented on #1276
I am pushing a fix to the example project, however for the OP I shall share the solution as it needs to be worked into their own solution.

The original Query Time function I added in the rework PR had a precision problem, where if say 4.21345 seconds had passed, it'd return 4, causing some very obvious problems. This function I am attaching fixes this issue. Dropping this in should fix your probl

[2020-06-20 19:13] #1276 closed

[2020-06-20 20:33] alanbork commented on #1096
never-mind, I see that the website in question is a fork of the current raylib for supporting rpi4.

[2020-06-21 04:08] alanbork commented on #1096
Has anybody else working on getting raylib for the pi4 gotten this error?

FATAL: kms: Unable to access GPU via DRM

(this is using the rpi4 branch contributed by jonlidgard). I'd file an issue with his branch but it doesn't seem possible?!

[2020-06-21 04:38] alanbork commented on #1096
ok, I figured that out on my own: I need to enable DRM in the boot/config.txt overlay:

dtoverlay=vc4-fkms-v3d

Except maybe not, as now I get this message

INFO: Initializing raylib 3.0
INFO: DRM: Using /dev/dri/card1
* failed to add service - already in use?

[2020-06-22 03:46] alanbork opened #1285 "[core] rpi4 branch places the window top below the top of the screen"
I've been testing out the rpi4 branch (https://github.com/jonlidgard/raylib/tree/rpi4) and it almost works - to the point that it runs and displays textures, responds to input, etc. BUT there's one huge issue: the rendering is always shifted down somewhat relative to the top of the screen, even when the window resolution exactly matches the screen resolution. In 720p 0,0 is only about 20 pixels be

[2020-06-22 03:48] alanbork commented on #1096
strangely it's working for me now. I think I was linking in some of the old videocore libraries, and I should not have been, but I didn't keep careful notes :-(

[2020-06-22 12:03] raysan5 commented on #1285
@alanbork I'm afraid you should open this issue on raylib RPI4 fork, not in raylib... Actually, current raylib does not support RPI4.

[2020-06-22 12:03] #1285 closed

[2020-06-22 12:03] #1283 closed

[2020-06-22 12:05] raysan5 commented on #1238
Closing this issue.

[2020-06-22 12:05] #1238 closed

[2020-06-22 15:34] alanbork opened #1286 "[examples] more efficient creation of texture from in-memory array?"
The current textures_raw_data example works fine but seems like it needlessly requires an extra malloc which can really hurt if you are generating a new texture on every frame. Here's how I do it instead, with no problems I can see. But maybe I am missing something?

[code]

For reference, here's the official example (textures_raw_data.c):

[code]

[2020-06-22 22:09] Andrew-Maxwell opened #1287 "[core] ToggleFullscreen() can't exit fullscreen mode"
- [*] I tested it on latest raylib version from master branch
 - [*] I checked there is no similar issue already reported
 - [*] My code has no errors or misuse of raylib

### Issue description
Raylib launches in windowed mode. Calling ToggleFullscreen() once causes it to enter fullscreen mode, but it fails to return to windowed mode on subsequent calls.
### Environment

Platform: Desktop, Ubuntu

[2020-06-22 22:39] raysan5 commented on #1287
@Andrew-Maxwell It should be addressed on latest commit.

[2020-06-22 23:11] raysan5 commented on #1286
@alanbork Updated example to avoid the extra allocation.

[2020-06-22 23:11] #1286 closed

[2020-06-23 14:09] RandomErrorMessage opened #1288 "[raudio] SetSoundPitch() doesn't work"
### Issue description

SetSoundPitch() does not work

### Environment

Tested on Linux (PulseAudio) and Windows 7.

### Code Example

These all sound identical

[code]

[2020-06-23 15:23] Andrew-Maxwell commented on #1287
Yep, looks like it's working now. Thanks again!

[2020-06-23 15:23] #1287 closed

[2020-06-25 17:33] raysan5 commented on #1260
@RobLoach I took a look at this issue, please, could you try this:

[code]

[2020-06-26 16:05] ChrisDill commented on #1127
Been a while since I opened this issue. Still more I want to do with this but I decided to share what I have so far. You can find the repo [here](https://github.com/ChrisDill/raylib-instancing).

Note that this is a work in progress so I will probably change things a bunch.

[2020-06-26 16:13] raysan5 commented on #1127
@ChrisDill Thanks for sharing! I'll take a look!

[2020-06-26 18:09] TSnake41 opened #1290 "[rlgl] GRAPHICS_API_OPENGL_21 can leave some OpenGL functions undefined."
- [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description

Framebuffer/RenderTexture2D functions may cause crashes if GRAPHICS_API_OPENGL_21 is used.
https://github.com/raysan5/raylib/blob/master/src/rlgl.h#L124 makes some `GRAPHICS_API_OPENGL_33` parts used inclu

[2020-06-29 07:54] theamazingwaffle opened #1292 "[text] String returned from TextToLower gets changed unexpectedly throughout the program"
[code]

It's because `TextToLower` returns a pointer to a statically allocated buffer.
[code]

This issue can also arise at any point in any other function that returns a pointer to a static variable.

Solution: Make TextToLower take in input and output parameters.

[code]

[2020-06-29 18:35] raysan5 commented on #1292
@theamazingwaffle Sorry, raylib text functions are designed to work that way.

[2020-06-29 18:35] #1292 closed

[2020-06-29 18:42] raysan5 commented on #1290
I'm trying to find a good solution but it actually implies some redesign... the easy solution would be just comment fbo support for OpenGL 2.1, despite most platforms support it. The correct solution would be detect the extension it OpenGL 2.1 case and enable the functions when available...

[2020-06-29 21:16] raysan5 opened #1294 "[core] ToggleFullscreen() could change screen width/height"
When calling `ToggleFullscreen()`, it could (wrongly) change requested `screenWidth` or `screenHeight`.

Internal call sequence go as follow:
[code]

Maybe issue is GLFW side and `glfwSetWindowMonitor()` shouldn't call `WindowSizeCallback()`?

EDIT 1: One possible solution is just commenting `WindowSizeCallback()` internals.

EDIT 2: `InitGraphicsDevice()` also looks for closest monitor supported

[2020-06-29 21:51] raysan5 opened #1295 "[utils] Support CPU/GPU stats analytics"
It could be useful to keep track of some CPU/GPU analytics, like memory usage.

Info already displayed on initialization: GPU vendor, renderer, version, GLSL version

Data loading memory usage:
 - CPU: Images / Sounds / MusicStream / Font.chars
 - GPU: Textures / Shaders / Meshes / Font.texture

Data loading can be registered with:  `RL_MALLOC()` / `RL_CALLOC()` / `RL_FREE()`

[code]

 - GPU memor

[2020-07-01 03:02] alanbork commented on #1096
After a lot of work I have gotten the unofficial port (https://github.com/jonlidgard/raylib/tree/rpi4) to work on my pi4. It is, however fragile. it's sensitive to how the resolution is configured; using tvservice + fbset doesn't work right or at least it doesn't work like it did in the pie zero. But if you set the resolution using rasp-config the result looks good - so long as your code isn't ver

[2020-07-02 16:35] JasonNumberThirteen opened #1296 "[build] Android APK gets stuck when pressed the back button to exit"
### Issue description

After compiling an APK for Android using example source code (attached below), moving it to my smartphone, installing and launching, everything works properly until I press the "back" key on smartphone to exit application. **It immediately gets stuck after pressing the button**. Having no clues what's wrong with it, I decided to write this here, maybe someone else had this p

[2020-07-06 06:18] peppemas opened #1298 "[examples] models_skybox render window is completely blank"
Hi @raysan5,

When you run the example I see just the "raywhite" color background (no skybox, no grid, no FPS).

When you comment this line:

https://github.com/raysan5/raylib/blob/00fda3be650ade80f1492105c2107a4ace6bc575/examples/models/models_skybox.c#L53

You will return to see the FPS and the grid (the skybox of course not :) )

P.S.: I'm using the last master branch 3.1-dev

[2020-07-08 18:32] RandomErrorMessage opened #1299 "[raudio] Audio distortion in Chromium"
### Issue description

Chromium seems to do a poor job at updating it's audio stream. Under heavier load than the raudio examples it becomes extremely choppy and distorted. I was able to resolve this issue by increasing the miniaudio config.periodSizeInMilliseconds to about 30 (instead of the default 10). There is an issue on this https://github.com/dr-soft/miniaudio/issues/150

Note that "heavier

[2020-07-09 03:52] Mloren opened #1301 "[rlgl] Memory leaks in rlgl.h"
### Issue description

rlgl.h contains several memory leaks which I noticed using the memory leak tracker in crtdbg.h.
I wrote some code to find the exact line, logging every allocation and deallocation:
[code]
### Environment

Windows 10
VS 2017
raylib 3.0

### Code Example

I used a minimal project and you can get a print out of the leaks to the output window using this code:

[code]

Other user

[2020-07-09 15:44] chrissyan0 opened #1303 "[rlgl] Windows and OpenGL1.1: compiling core with tcc and mingw-gcc fails"
Thank you for providing raylib.
I need to compile raylib core with SET GRAPHIC_API=GRAPHICS_API_OPENGL_11 in raylib_source_compile (using npp).
In file included from core.c:136:
rlgl.h:1742: error: 'RLGL' undeclared
In fact, RLGL is referenced in a few functions throughout rlgl.h though obviously not used with OPENGL 1.1

Thank you!

[2020-07-09 18:44] raysan5 commented on #1303
@chrissyan0 Did you try with latest raylib from GitHub master branch? This issue should be already solved...

Please, feel free to reopen if issue still persist.

[2020-07-09 18:44] #1303 closed

[2020-07-09 18:49] raysan5 commented on #1301
This issue should be solved with @terrehbyte PR. Many thanks for reporting it!

A side note, `RenderBatch` is a recent addition, so this leak shouldn't be present in `raylib 3.0` release.

[2020-07-09 22:47] musteresel opened #1304 "format-security error rlgl_standalone.c"
This line:

https://github.com/raysan5/raylib/blob/871cd1a76a41e9e7882ad51dbcd13e5f044a80a1/examples/others/rlgl_standalone.c#L222

causes a build using cmake with no specified options to fail on my system:

[code]

Compiler:

[code]

System is NixOS Linux.

Fix:

[code]

[2020-07-10 09:18] #1304 closed

[2020-07-10 09:18] #1301 closed

[2020-07-10 09:28] raysan5 commented on #1299
@RandomErrorMessage Thanks for reporting, I added a review to your PR.

[2020-07-10 09:33] raysan5 commented on #1260
@RobLoach Did you take a look to this issue?

[2020-07-10 09:42] raysan5 commented on #1296
@JasonNumberThirteen Please could you try:
[code]

[2020-07-10 10:35] #1299 closed

[2020-07-10 10:37] raysan5 commented on #1298
This could be tricky... no problem with shaders or code apparently...

[2020-07-10 11:29] #1288 closed

[2020-07-10 13:22] RobLoach commented on #1260
I haven't checked it out yet, no! Will definitely try it out this weekend :smile: Thanks so much for the help.

[2020-07-10 13:24] RobLoach commented on #1260
I don't want to jam up the raylib issue queue, so going to close this for now and try it out over at https://github.com/RobLoach/raylib-libretro/issues/2 .

I'll report back! Thanks so much.

[2020-07-10 13:24] #1260 closed

[2020-07-10 14:39] JasonNumberThirteen commented on #1296
@raysan5 Unfortunately, it didn't solve the problem. App is getting stuck just like before.

[2020-07-10 16:31] raysan5 commented on #1260
thanks @RobLoach, please, keep me updated about it.

[2020-07-10 17:55] raysan5 commented on #1296
@JasonNumberThirteen Checking the related code, I'm afraid that's the expected behaviour. You're closing the rendering system and consequently application stops. What are you trying to do? Keep in mind that raylib is C and low level, all possible Android states should be manually managed (probably from an upper Java layer).

[2020-07-10 19:51] JasonNumberThirteen commented on #1296
@raysan5 I know that C makes all low level operations available being a high level language and is very portable (that's why I've chosen C) and it might be some issues when trying to port to different platform, but something different is weird for me: Android platform support has some longer time and nobody had this issue before (and no one reported this)? I can't believe it. Even on Discord chann

[2020-07-13 21:21] Werelien opened #1307 "[models] Truly custom mesh generation, sub data updatable..."
Whilst I can 'fake' a model to do this, and I can change/extend underlying code as well, it would be nice to have a dynamic updateable mesh standard in raylib for all , where verts, uvs etc can be locked, regionally changed, and then unlocked.

[2020-07-14 02:11] alanbork commented on #1096
FYI this can be done with X11 too:

https://linuxconfig.org/how-to-run-x-applications-without-a-desktop-or-a-wm

(tested, and working with version 3.0 of raylib).

Admittedly, this thread is about running without X11, but I'm not sure wayland is going to be more lightweight? I have determined that using xinit/no wm does give better latency than using whatever the default Rpi4 desktop X11 environme

[2020-07-14 02:44] alanbork opened #1308 "[core] detect current display refresh rate"
It would be nice if there was a function that would return the current refresh rate (either in hz or fraction of a second). I realize that it's possible to estimate this empirically by using tight loop that just swaps buffers without drawing and measuring the timing, but it seems like a waste to do that when this information must be stored somewhere already, presumably where raylib can get access

[2020-07-14 16:26] raysan5 commented on #1308
@alanbork Actually, there is. It was added some weeks ago:
[code]

[2020-07-14 16:26] #1308 closed

[2020-07-14 16:30] raysan5 commented on #1307
@Werelien Actually, you can use the Mesh structure directly and the low-level `rlgl` function `rlUpdateMesh()`, what is the problem with that approach?

[2020-07-14 16:34] alanbork commented on #1308
Awesome! needs to be added to the cheat sheet!

On Tue, Jul 14, 2020 at 9:26 AM Ray <notifications@github.com> wrote:

[2020-07-14 16:42] Werelien commented on #1307
Yeah, sorry, I wasn't clear. I was messing around with that. It's just I wondered if that will always work and not break on future versions of raylib, as it seemed an 'unofficial' way, since not in cheat sheet. Cool lib BTW. 🙂

[2020-07-14 16:52] raysan5 commented on #1296
@JasonNumberThirteen I reviewed the code and by default back-button interaction is disabled internally, the reason is because if leaving the control to the OS, it closes the graphic context and app needs to be restarted, so, the most appropiate way to manage back-button is from a higher-level Java class, instead of raylib.

So, I'm afraid that it will be up to you to investigate a solution or chan

[2020-07-14 16:52] #1296 closed

[2020-07-14 16:54] raysan5 commented on #1307
@Werelien Thanks, no plans for the moment to change that part of the API so it will probably remain in time.

[2020-07-14 16:54] #1307 closed

[2020-07-15 20:37] TSnake41 opened #1312 "[raudio] LoadSound() doesn't rely LoadFileData()"
raylib commit : https://github.com/raysan5/raylib/commit/bdd253a66ad4944b07d29a8533b795fd214c33fd

`LoadSound` doesn't use `LoadFileData` as expected with raylib v3.0.0 (which expects to use buffers instead of file I/O).

LoadWAV, LoadOGG, LoadMP3 and LoadFLAC should use buffers (with `LoadFileData`) with appropriate functions (like stb_vorbis_open_memory and drwav_open_memory_and_read_pcm_frames_

[2020-07-16 08:30] kororro opened #1313 "[examples] Model picking"
In  models_mesh_picking.c
when I change tower model's position ie
Vector3 towerPos = { -10.0f, 0.0f, 0.0f };                    // Set model position

picking doesnt work right anymore.
GetCollisionRayModel() function needs models to be in origin?

[2020-07-16 14:08] raysan5 commented on #1313
@kororro It happens because model vertex position transformation happens in the drawing but it's not directly assigned to the model. To attach the transformation to the model to be considered by `GetCollisionRayModel()`, just do at init:
[code]
That way, model translation is defined inside model and considered on mesh picking.

[2020-07-16 14:08] #1313 closed

[2020-07-16 14:12] raysan5 commented on #1312
Wow! How could I miss that... very weird... if I left it that way there was probably some reason to do that...

I'll review it again...

[2020-07-16 23:34] dlpnet opened #1314 "[core] Display screen not displaying on Raspberry Pi native mode"
### Issue description

There was a change introduced in:
https://github.com/raysan5/raylib/commit/8d51ad567fb2968d4df582bbe71ebd157dde1d85

in particular these 2 lines:
core.c: 3225
CORE.Window.render.width = CORE.Window.display.width;
CORE.Window.render.height = CORE.Window.display.height;

That causes the display to stay blank (background color) with the given examples.

Removing the 2 lines see

[2020-07-17 04:04] seanpringle opened #1315 "[core] LoadIQM triangle vertex order"
While implementing model loading for STL meshes and checking my triangle vertex order, I noticed this comment in the `LoadIQM` code saying that raylib "sets opengl to clockwise drawing":

https://github.com/raysan5/raylib/blob/bdd253a66ad4944b07d29a8533b795fd214c33fd/src/models.c#L3246

That code does appear to go on and deliberately reverse IQM triangle vertex order, so the comment is not an orph

[2020-07-17 16:22] raysan5 commented on #1315
@seanpringle Thanks for pointing that out, raylib follows the standard counter-clockwise convention, I didn't notice that comment. Actually, `LoadIQM()` was contributed by a raylib user.

Looking at the code it reverses triangles _indexes_, raylib expects vertex data provided in counter-clockwise order but triangles indexes are processed in linear order (this is the expected way), so the reversing

[2020-07-17 16:40] raysan5 commented on #1314
@dlpnet Thank you very much for reporting and taking the time to track this issue origin, actually this issue also affected Android platform.

Corrected in attached commit. Please, let me know if it works now.

[2020-07-17 17:09] raysan5 commented on #1198
Just note that raylib Wikipedia entry has been improved and draft has been submitted for review and publishing. Review process could take up to seven weeks, in the meantime article can be further improved.

[2020-07-17 17:41] raysan5 commented on #1290
The current approach is not the best one because highly popular platforms like RaspberryPi with FBO support by default on OpenGL 2.1 become painfully affected, so, I implemented a better (simple) solution.

[2020-07-17 17:43] #1290 closed

[2020-07-17 19:21] dlpnet commented on #1314
from my quick test, all good !! thanks for the quick turn around.

[2020-07-17 19:21] #1314 closed

[2020-07-18 00:24] seanpringle commented on #1315
@raysan5 thanks, that makes more sense! I confused the index and vertex ordering.

[2020-07-18 00:24] #1315 closed

[2020-07-18 13:45] wtjcn opened #1316 "[shapes] DrawTriangleFan() not drawing"
DrawTriangleFan Draw nothing, while DrawLineStrip with the same data draw as expected, and DrawPoly is OK.
I compare DrawTriangleFan and DrawPoly, and make sure they both use SUPPORT_QUADS_DRAW_MODE branch,
they are so like, but I realy can not fix it.
I use ubuntu 18.04 system.  I use the latest git version of raylib.

[2020-07-18 14:18] wtjcn commented on #1316
maybe it's about clockwise and counterclockwise

[2020-07-18 15:56] seanpringle commented on #1127
Quite keen to try this feature out. In case it's of use to anyone [here is a proof of concept](https://github.com/seanpringle/raylib/blob/rlDrawMeshInstanced/src/rlgl.h#L2837) `rlDrawMeshInstanced()` function I'm using to reduce CPU load in the meantime. It's not as nice as @ChrisDill's proposed API though :)

[2020-07-19 11:43] raysan5 commented on #1316
@wtjcn Please, could you share your sample code? It could be related to vertex order definition...

[2020-07-19 11:44] TakUnderhand commented on #1086
Hey @raysan5.

I had an issue that may be related.

First I turned off the following in libs/raylib/src/core.c:
//#define SUPPORT_HIGH_DPI // Force HighDPI support on macOS

With this removed, I get the following behaviour:

1) App loads and behaves normally

2) Resizing the app leads to the following:
a) Screen image is 1/2 size and positioned in the bottom left corner:

<img width="799" alt="Scr

[2020-07-19 13:45] ChrisDill commented on #1127
@seanpringle Thanks for sharing! I like the idea of the function passing in transforms as that is a common use case for models.

Currently I use opengl directly to create instance buffers. I would like rlgl to be able to create them so examples are not tied to opengl but I am unsure on the api for that.

[2020-07-20 09:04] raysan5 commented on #1086
@TakUnderhand Thanks for reporting! I'm afraid behaviour could be dependant of macOS version as well as retina display... but, in any case, your solution points to GLFW library, maybe that issue could also be asked on their repo to make it available for all the users.

Also, note that current GLFW version used in raylib is about 4 month old, maybe something changed on GLFW side on that time.

[2020-07-20 09:10] raysan5 commented on #1127
@seanpringle @ChrisDill I also like the `rlDrawMeshInstanced()` function, maybe it's lower level than the proposed API but I also thinks that instancing is probably a functionality that only some advance users will require, so, it could be nice to keep it on `rlgl`. It also can be exposed in a higher level if required at some point.

[2020-07-20 10:15] TakUnderhand commented on #1086
Thanks :)
I took GLFW 3.3.2 from their repo, combined it into Raylib, just to see if that latest version would have any fix for this issue.  (It didn't).
If I get chance, I'll put a simple test case together, to raise an issue on the GLFW team.

[2020-07-20 10:23] raysan5 commented on #1086
@TakUnderhand Thank you very much for your time an effort! This issue has been open for some time, it would be great to find a proper fix! :)

[2020-07-21 00:03] seanpringle commented on #1127
#1318 is not intended to derail this ticket. I think an eventual higher level API might be able to handle the instance buffer VBO(s) more intelligently, possibly with double buffering and better draw hints for static and dynamic instances.

[2020-07-21 09:39] wtjcn commented on #1316
DrawTriangle dose the same way. demo code:
		Vector2 v1 = { 100,100 };
		Vector2 v2 = { 200,100 };
		Vector2 v3 = { 200,200 };
		BeginDrawing();
		ClearBackground(RAYWHITE);
		DrawTriangle(v1, v2, v3, RED);// will not show
		DrawTriangle(v1, v3, v2, RED);// will show
		EndDrawing();

if found in rlgl.h Line 1752:
            glFrontFace(GL_CCW);                                    // Front face are

[2020-07-22 06:54] muevoid opened #1319 "[input] Gamepad buttons and axis not working (linux)"
### Issue description

I have tried in both my own project and the gamepad example both in browser and
on my machine compiled. However it just shows up with gamepad not detected.
I have tested with jstest to make sure the joystick is showing up on a system
level and it appears to be fine. (To note i have tried this with both a Xbox
one controller and a steam controller)

### Environment

I am on K

[2020-07-22 09:15] raysan5 commented on #1316
@wtjcn Actually, `DrawTriangle()` has a comment on the function code, added another comment on `DrawTriangleFan()`.

I also attach a working example for future reference:

[code]

[2020-07-22 09:15] #1316 closed

[2020-07-24 04:23] seanpringle opened #1320 "[rlgl] rlEnd, rlPopMatrix, and DEFAULT_BATCH_BUFFER_ELEMENTS"
Why is it necessary for `rlEnd` to leave the matrix stack into an unbalanced state when forcing an `rlglDraw`?
https://github.com/raysan5/raylib/blob/14d37464adecd4d29504ff9f11702a58df2de7da/src/rlgl.h#L1203

I see the nearby comment:
https://github.com/raysan5/raylib/blob/14d37464adecd4d29504ff9f11702a58df2de7da/src/rlgl.h#L1200

Should the stack be restored afterwards so that callers that nest `

[2020-07-24 11:39] fossegutten opened #1322 "[Core] GetMonitorWidth() and GetMonitorHeight() returns wrong value when in fullscreen"
Please, before submitting a new issue verify and check:

 - [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description
GetMonitorWidth() and GetMonitorHeight() returns wrong value when in fullscreen. When in window mode, they return the correct value!
I want to set t

[2020-07-24 11:44] raysan5 commented on #1322
@fossegutten What are the values returned? I'm afraid it could be the expected behaviour, when switching to fullscreen monitor resolution is adjusted to fullscreen requested resolution (probably the one returned).

[2020-07-24 11:52] fossegutten commented on #1322
@raysan5 the values seem to change, depending on the previous window size.
I get wrong values when calling the same two functions before the InitWindow() function too.

Not sure if it is relevant, but I have commented out this in the config `//#define SUPPORT_HIGH_DPI            1`

[2020-07-24 12:01] raysan5 commented on #1320
@seanpringle If I remember correctly, the origin of this issue is https://github.com/raysan5/raylib/issues/901.

It's been some time since I wrote that code so I can miss some detail on my explanation but when `rlEnd()` requires to force a `rlglDraw()` and that happens between rlPushMatrix()/rlPopMatrix(), we reset all matrix transformations for the following calls... but actually you are right wi

[2020-07-24 12:08] raysan5 commented on #1322
@fossegutten Those functions can't be called before `InitWindow()` because they actually depend on GLFW initialization. Also returned values when toggling fullscreen are constrained to the closer monitor supported fullscreeen resolution, for example asking for a 800x450 fullscreen will probably return a 800x600 fullscreen because it's the closed fullscreen mode supported by the monitor.

Actually,

[2020-07-24 12:15] fossegutten commented on #1322
Oh, right. That is probably what happened! Seems like the values returned was constrained to my monitors supported fullscreen resolutions.
Sorry for reporting this, I thought it was a bug. This is complicated stuff to me!

[2020-07-24 13:06] raysan5 commented on #1322
@fossegutten No worries, it's also complicate stuff for me! I've been trying to find the better solution for fullscreen mode for long time but there are lots of side cases, especially when dealing with small/non-standard resolutions... also, every platform deals with that in a different way... Here two open issues related: https://github.com/raysan5/raylib/issues/1294, https://github.com/raysan5/r

[2020-07-24 13:06] #1322 closed

[2020-07-24 13:58] anatagawa opened #1323 "[Core] Empty Title string crash game"
If you put an empty string like this :

[code]

game crash immediately.

To resolve this problem, need to add into **Core.c**

[code]
or

[code]

to add a default string.

[2020-07-24 16:21] raysan5 commented on #1323
@anatagawa I tested it and empty string `""` works ok on Windows, does it crash on Linux?

I prefer not assigning a default title, maybe the user just wants to keep the Window with no title...

[2020-07-24 21:03] anatagawa commented on #1323
Trying with last source from github , and no problem with empty Title into windows or linux.

Maybe a problem with first Raylib 3.0 release

[2020-07-24 22:34] xdrie commented on #814
@raysan5 why is HIDPI disabled by default? i don't see a reason to not just enable the support by default?

[2020-07-25 08:27] raysan5 commented on #814
@xdrie because it does not fully work on some platforms (macOS) and I prefered to stay with a fully working solution by default.

[2020-07-25 08:27] #1323 closed

[2020-07-25 18:18] raysan5 commented on #1319
@muevoid is the gamepad connected before running the example? It should be at least detected... it could be a KISS Linux specific issue...

[2020-07-25 18:24] muevoid commented on #1319
Yes i can confirm the gamepad is connected before hand. I'm not sure exactly what on KISS could cause this issue.

[2020-07-25 18:42] raysan5 commented on #1319
@muevoid raylib uses GLFW internally on DESKTOP_PLATFORM (Windows, Linux, macOS) to manage inputs. Every frame [core] `PollInputEvents()` is called that also scans possible gamepads with `glfwJoystickPresent()`.

`IsGamepadAvailable(int gamepad)` just returns the result of that detection (`true` or `false`), you can try with different `int gamepad` values just in case but if the function always re

[2020-07-25 18:43] muevoid commented on #1319
Kk I am familiar with glfw and will test this tommorow.

[2020-07-25 18:48] raysan5 commented on #1319
Just a reference in case it can be useful in the future for gamepad buttons mapping: https://www.glfw.org/docs/3.3/input_guide.html#gamepad

[2020-07-27 00:12] aberba opened #1325 "Instruction on installing prebuilt in Linux"
Its not immediately obvious what to do with **prebuilt binaries** in release so it would be more helpful if an **INSTALLATION** file with instructions in the zip file.

[code]

[2020-07-27 10:09] raysan5 commented on #1325
Hi @aberba, actually that information should probably be contained in [raylib Wiki](https://github.com/raysan5/raylib/wiki/Working-on-GNU-Linux). Feel free to edit it if you find some missing information.

Adding the installation instructions in every release would imply adding different instructions for every release in an automatic way and maintaining those files. Also, multiple Linux distributi

[2020-07-27 10:09] #1325 closed

[2020-07-28 03:04] Maddix commented on #1298
Ran into the same issue today after pulling the repository and compiling the examples. Here is the INFO trace after commenting out line `53`. Hope this helps.

[code]

[2020-07-28 09:28] raysan5 commented on #1298
@Maddix Thanks for the report, I pushed a small shader fix. Actually it works for me, shader compilation depend on the graphic driver compiler, it seams your Mesa driver is more compliant to the GLSL specs than mine...

I'll keep investigating the issue...

[2020-07-28 09:45] raysan5 commented on #1298
It should work now.

[2020-07-28 09:45] #1298 closed

[2020-07-28 09:57] raysan5 opened #1326 "❗ made with raylib showcase"
Hi! I open this issue to allow users to share their raylib projects!

Actually, [raylib Discord](https://discord.com/invite/VkzNHUE) has a `#madewithraylib` specific channel but the showcased projects get lost in the thread.

You can post:
 - **A small description** (1-3 lines) of the project
 - **A screenshot (or better a gif)** of the project
 - GitHub project link (if open source)

Waiting for

[2020-07-28 19:22] Skytrias commented on #1326
[Todolib](https://github.com/Skytrias/todolib) a tiny, fast and infinite todo editor that I made because of my frustrations with other todo apps / styles like kanban.
Pretty rough and new project but enough for my usage already.

![preview](https://user-images.githubusercontent.com/22886746/88711337-57c26780-d118-11ea-9857-2a6c4ecfb1a5.gif)

source: https://github.com/Skytrias/todolib

[2020-07-28 21:07] shingle-bells opened #1327 "[core] Loading data from memory using PhysFS"
I'm trying to integrate PhysFS into my raylib game, but I've hit a critical roadblock: loading files through PhysFS. My main issue is loading images from memory, but this would also apply to other complex filetypes such as fonts (bmfont, ttf) or audio. Here's the code I was trying to get to work before I hit this roadblock:
[code]

[2020-07-28 22:37] jamesl-github commented on #1327
maybe with LoadImageEx and figure out how to turn the *buf into an array of raylib Colors
https://www.raylib.com/examples/web/textures/loader.html?name=textures_raw_data

[2020-07-29 02:11] Maddix commented on #1298
Just confirming that the fix works for me! Thanks so much!

[2020-07-29 09:05] xdrie opened #1328 "[raymath] bug in QuaternionToMatrix/QuaternionFromMatrix?"
Please, before submitting a new issue verify and check:

 - [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib (I do not think so, at least)

### Issue description

Source:
[code]

This prints:
[code]

These are indeed different angles, which is not what I think would be expected,

[2020-07-29 10:16] raysan5 commented on #1328
@xdrie Thanks for reporting! Unfortunately, I'm not a math expert to assure those numbers are right or wrong... did you try with other math libraries? Maybe the resultant `quat2` is equivalent to `quad1`...

Any maths expert in the room?

[2020-07-29 10:54] raysan5 opened #1329 "[rmem] Using custom memory allocator with a mem pool"
Following a conversation on Discord, here it is a usage example or `rmem` to use a custom memory pool for all raylib internal allocations:

First, `raylib.h` needs to redefine the allocation macros. `rmem.h` needs to be splitted into `rmem.c` to be compiled along raylib.

[code]

raylib example using custom memory allocator:

[code]

Actually this example approach requires some internal raylib twe

[2020-07-29 11:15] raysan5 commented on #1327
@jamesl-github that's not possible, buffer data is the file itself, that data needs to be read and processed properly to extract the pixels data (or any other kind of that depending on the file format).

Actually, `LoadFileData()` returns what we already have from PHYSFS: `buf` and `len` but that function is called inside all the other functions... once cumbersome solution is allow setting a globa

[2020-07-29 16:58] xdrie commented on #1328
Unfortunately I'm not a math gal either, I really have been dreading all the matrix math too 😅

But if you look at the Euler angles, you can see that they are different: one is 45 around the Y axis and one is -45, which are clearly different angles. I also graphed the quaternions and they do match the Euler angles but they don't match each other. looks to me like the issue is in the matrix convers

[2020-07-29 22:55] chriscamacho commented on #1328
I'm no expert! But I was under the impression that there were many quaternion orientations that could represent a specific eular orientation

In general chopping back and forth between orientation systems is usually a bad idea...

[2020-07-29 23:03] xdrie commented on #1328
Even despite that, the euler orientations don't match:
+ `euler1: (0,45,0)`
+ `euler2: (0,-45,0)`
these are definitely different angles.

[2020-07-29 23:21] alanbork commented on #713
in case it's unclear: this is still an issue, it has not been fixed.

[2020-07-30 11:10] edubart commented on #1326
2048 game made with Raylib in [Nelua](https://github.com/edubart/nelua-lang) programming language, playable on the browser at https://edubart.github.io/nelua-game2048/
![](https://raw.githubusercontent.com/edubart/nelua-game2048/master/screenshot.gif)
source: https://github.com/edubart/nelua-game2048

[2020-07-30 11:31] fr3fou commented on #1326
[flappy-go](https://github.com/fr3fou/flappy-go) and [flappy-ai](https://github.com/fr3fou/flappy-ai) are made in go with raylib, all built from scratch, including the neural network and genetic algorithm that power flappy-ai!

You can read more about how the AI was integrated with the game on [simo.sh/projects/flappy-ai](https://simo.sh/projects/flappy-ai)!

![ezgif com-video-to-gif (2)](https://

[2020-07-30 12:26] DunkUK commented on #1326
Waste of Space is a spaceship building game with crafting, automation, exploration and combat.
Built in C++ with Raylib, it uses ENet with a custom deterministic rollback system for it's online coop.
![GIF169](https://user-images.githubusercontent.com/30832665/88922086-89961400-d267-11ea-8831-fc8badb992f1.gif)

[2020-07-30 15:46] wtjcn opened #1331 "[core] can not input chinese on linux"
on ubuntu 18.04, use fcitx class IME, raylib with both internal and external glfw,(external glfw 3.3.2),
raylib can not get chinese input from in callback of glfwSetCharCallback.
My another program use the same external libglfw, on the same computer, it can receive chinese input.

[2020-07-30 15:57] Rabios commented on #1326
raytaiko

A custom simple game engine for the japanese rhythm game Taiko no Tatsujin,Improved with implemented controls,Supports customization and modding via LuaJIT

<img src="https://raw.githubusercontent.com/Rabios/raytaiko/master/Screenshot%20(201).png">
<br>

[Source code on my GitHub account](https://github.com/Rabios/raytaiko)

[2020-07-30 17:40] raysan5 commented on #1331
@wtjcn Are you using latest raylib from GitHub master branch? That was reviewed a while ago.

Also, please, could you share some code sample and screenshot showing the issue?

[2020-07-31 00:45] xdrie commented on #1326
Wanted to add my in progress game engine!

project page: [rengfx](https://github.com/xdrie/rengfx)

![demo gif](https://raw.githubusercontent.com/wiki/xdrie/rengfx/img/rec-2020-07-30_17.17.12.gif)

[source](https://github.com/xdrie/rengfx/blob/v0.3.4/demo/blocks/source/play.d) for the scene

[2020-07-31 02:41] wtjcn commented on #1331
It maybe glfw's fault, I see the problem in simplest glfw program. please close this.

[2020-07-31 08:10] #1331 closed

[2020-07-31 10:19] raysan5 commented on #1312
`LoadSound()` now uses `LoadFileData()` but `LoadMusicStream()` still rely on files.

Music is streamed from the file in chunks, moving to a memory approximation would imply loading the full file to memory and decompress chunks for streaming. When using `MP3/OGG` it could be fine because files are relatively small (3MB-10MB) but `WAV/FLAC` would require a big chunk of memory to preload them (>100M

[2020-07-31 17:09] SolarLune commented on #1326
I'm working on [MasterPlan](https://solarlune.itch.io/masterplan), a to-do list and ideaboard, written in Go with the raylib-go port of Raylib. I've been working on it for the past few months, and it's really shaping up.

![MasterPlan](https://user-images.githubusercontent.com/4733521/89059243-b1dc4c00-d315-11ea-9970-43f637826fc8.gif)

![MasterPlanScreenshot](https://user-images.githubusercontent.

[2020-07-31 18:53] raysan5 commented on #1312
`LoadMusicStream(const char *fileName);` uses internally the following file-access calls:
[code]

[2020-07-31 19:35] raysan5 commented on #1230
Here it is a table with the resources used by examples and their licences.

| module   | resource                       | author      | licence | notes |
| :------: | :----------------------------- | :---------: | :------ | :---- |
| core     | xbox.png             | @raysan5    | [CC0](https://creativecommons.org/publicdomain/zero/1.0/)     |
| core     | ps3.png              | @raysan5    | [CC0

[2020-07-31 20:31] edubart commented on #1326
Clone of Tetris game in [Nelua](https://github.com/edubart/nelua-lang) programming language using Raylib. Play on the browser [here](https://edubart.github.io/nelua-tetris/).
I've used rFXGen to create the sound effects and LMMS to create the music.
![](https://raw.githubusercontent.com/edubart/nelua-tetris/master/screenshot.gif)
source: https://github.com/edubart/nelua-tetris

[2020-08-01 07:19] chriscamacho commented on #1328
I'll have a play over the weekend, its probably a variable transposed
somewhere I'm betting...

On Thursday, 30 July 2020, Adrie <notifications@github.com> wrote:

https://ci5.googleusercontent.com/proxy/y5Bg62YfNrfqW2ub7PWmH6H2kUR-hcbiXRaCIzHJ6t8CdghhrDDCY55NLfzriGwU-yjBR7jGYCFKsgSSJQ-hY_pnVjDcN6aq1a1QUp7TR-uIgH8VtkWzGnlqwd0_dI7ZrhSLrboDvy6Z10lG09UAfNhIOMtOxzQ38R65ugQBD9UWsxa5nM9MmXS0EjcSULYKpth9

[2020-08-01 19:48] atomicstan opened #1333 "[rlgl] Multiple sampler2D per shader in 2d"
I wanted to use multiple sampler2D within one fragment shader for 2d. I struggled a bit but then I found: #594 and I realized it's probably not even possible in 2d mode, so the only way to handle that is in 3d mode (as described in the last comment in #594). I managed to do that, but further changes seem to require creating my own mesh (to have plane aligned with XY, the default is XZ), allocating

[2020-08-02 10:50] firststef commented on #1326
My 2 cents: A work in progress ECS library for games: [ECSlib](https://github.com/firststef/ECSlib). I tried developing a fighting game with it: [Ciopillis](https://github.com/firststef/Ciopillis) but only managed to do some basic stuff 😅😅😅. Still, thank you Raylib!

![Game](https://user-images.githubusercontent.com/38469823/89121300-62894d80-d4c6-11ea-835f-5febc84cbeed.PNG)

[2020-08-04 00:20] creutzerb opened #1334 "[textures] Alpha blending when drawing in RenderTexture vs screen"
Hello, I'm experiencing an unexpected behavior.
It looks like drawing on a render texture overrides previous drawing.

### Issue description
drawing on a render texture behaves differently to drawing directly

### Environment
Manjaro linux
raylib github version

### Issue Screenshot

![opacity_override](https://user-images.githubusercontent.com/10078731/89238718-505afc80-d5f7-11ea-8448-0fb4d2fc746

[2020-08-04 06:49] ChrisDill commented on #1127
@raysan5 Yeah instancing is powerful for specific use cases. I can add the rl prefix to make that clear that this is a low level rlgl feature.

I am considering replacing begin and end with setters like `rlSetInstancedMode` or `rlSetInstancedCount`. I am not sure if that would make a better api than using Begin and End though.

[2020-08-04 10:20] wtjcn opened #1335 "[core] How to use multiple windows with raylib?"
How to use multiple windows with raylib? I know glfw support multiple windows.

[2020-08-04 15:27] chriscamacho commented on #1328
okay I can see (i think) equivalent but different values happening with euler to quat with different code, the problem seems to be with matrix to quat, which seems to be way out...
I've tried a few other similar methods but seem to not be getting correct results... I'll have a think about it and try again another time, in the mean time if anyone else wants to chip in by all means!

[2020-08-04 22:53] sorenbug opened #1336 "[input] Key position based GetKeyPressed for use in keybinding menus"
This is slightly related to #1077.

glfw provides [`glfwGetKeyName`](https://github.com/raysan5/raylib/blob/master/src/external/glfw/src/input.c#L597), [`glfwGetKeyScancode`](https://github.com/raysan5/raylib/blob/master/src/external/glfw/src/input.c#L616), and [`glfwGetKey`](https://github.com/raysan5/raylib/blob/master/src/external/glfw/src/input.c#L629) functions which can abstract over layouts

[2020-08-05 09:17] raysan5 commented on #1335
@wtjcn Currently raylib does not expose that functionality from GLFW.

But here there are some tips to implement it: https://github.com/raysan5/raylib/wiki/Use-multiple-windows

[2020-08-05 09:17] #1335 closed

[2020-08-05 09:22] raysan5 commented on #1336
Hi @sorenbug! Yeah, this is a required improvement, adding it to the TODO list!

[2020-08-05 09:30] raysan5 commented on #1333
Hi @prokopst! I think changing the current batch system to allow multiple sampler2D will add an unnecessary level of complexity and overload for most use cases but I could consider providing some ready-to-use function to avoid this cubersome process.

For example, `rlgl` defines internally a `GenDrawQuad()` used on some shader-based texture generation operation (`GenTextureBRDF()`). Actually, that

[2020-08-05 09:36] raysan5 commented on #1334
@creutzerb This is a tricky issue: https://github.com/raysan5/raylib/issues/1121

[2020-08-05 11:03] chriscamacho commented on #1328
the order of eular rotations are important, first think I note is that MatrixRotateXYZ is a different order to Quat to Matrix

    		q1 = QuaternionFromEuler(v1.x, v1.y, v1.z);

		m1 = MatrixRotateX(v1.x);
		m1 = MatrixMultiply(MatrixRotateY(v1.y), m1);
		m1 = MatrixMultiply(MatrixRotateZ(v1.z), m1);
		m2 = QuaternionToMatrix(q1);

when these two matrices are applied to separate models they remain

[2020-08-05 11:11] raysan5 commented on #1328
@chriscamacho Good catch! Actually rotation matrices should probably be multiplied in the inverse order...

In any case, a convention should be chosen and all functions should follow that convention.

Just keep me update with your findings! :D

[2020-08-05 11:25] chriscamacho commented on #1328
this works:

    Matrix MatrixRotateZYX(Vector3 ang)
    {
    	Matrix result = MatrixIdentity();
	float x = ang.x, y = ang.y, z = ang.z;
	float a = cosf( x ), b = sinf( x );
	float c = cosf( y ), d = sinf( y );
	float e = cosf( z ), f = sinf( z );

	float ce = c * e, cf = c * f, de = d * e, df = d * f;

	result.m0  = ce - df * b;
	result.m4  = - a * f;
	result.m8  = de + cf * b;

	result.m1  = cf

[2020-08-05 13:27] legends2k opened #1337 "[build] Buggy raylib-config.cmake for mingw"
### Issue description

On Windows, I downloaded the release archive [raylib-3.0.0-Win64-mingw.zip](https://github.com/raysan5/raylib/releases/download/3.0.0/raylib-3.0.0-Win64-mingw.zip) and extracted this to `D:/libs`.  Doing this seems to work

[code]

But I noticed that it has malformed paths and I didn't have any of my files in `C:/Program Files (x86)` yet I see them.  Going ahead with the bui

[2020-08-05 16:12] IFixedI opened #1338 "Failed to load material data, default to white material"
![Capture2](https://user-images.githubusercontent.com/69256648/89437007-b064b680-d74f-11ea-973d-46f1111278a0.PNG)
HI a am using raylib with golang and I encountered a problem loading material for a 3d model here my code:
 package main

import (
	rl "github.com/gen2brain/raylib-go/raylib"
)

func main() {
	screenWidth := int32(800)
	screenHeight := int32(450)

	rl.InitWindow(screenWidth, screenHeig

[2020-08-05 20:08] prokopst commented on #1333
@raysan5 thank you for your thoughts.

While this would definitely help, I wonder if there is a better direction - for example making 2d API more powerful, like provide functionality which would introduce sprites which would also understand the concept of materials. Or to expose materials in something like `BeginMaterialMode`, which would apply the material on everything between `BeginMaterialMode

[2020-08-06 03:41] powerc9000 commented on #1326
[Cute Asset Pipeline](https://powerc9000.itch.io/cute-asset-pipeline) a PSD asset manager/exporter for gamedev. Export PSDs to PNG.

![Screen Shot 2020-08-05 at 9 41 00 PM](https://user-images.githubusercontent.com/1013528/89488113-663a0000-d764-11ea-8d12-1dc32ebf369c.png)

[2020-08-06 03:48] powerc9000 opened #1339 "[core] Allow user to cancel WindowShouldClose()"
- [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description

Raylib already uses the function `glfwSetWindowShouldClose` internally. It would be nice if there was an interface around it, similar to the existing `WindowShouldClose`.
My use case is I am making a GUI a

[2020-08-06 09:50] raysan5 commented on #1339
@powerc9000 Added a small change to allow user control. Here a usage example:
[code]

It should work, please let me know.

[2020-08-06 09:55] raysan5 commented on #1338
@IFixedI Are you using latest raylib version from github?

Did you try `examples/models/models_loading.c` example? It works ok for me.
[code]

It seems issue could be related to `raylib-go`, not raylib itself.

[2020-08-06 09:55] #1338 closed

[2020-08-06 09:57] raysan5 commented on #1337
@legends2k Please, could you try with latest raylib from github master branch?

[2020-08-06 10:35] IFixedI commented on #1338
Yes I'm using the latest version from github.Yes I tried examples/models/models_loading.c example in C in Notepad everything works fine,but it doesn't work on golang.Most likely, you are right and this is due to raylib-go

[2020-08-06 18:20] Obscure2020 opened #1340 "[audio] Not all types of WAV files supported"
- [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description

I have been testing out raylib's music streaming abilities by changing `audio_music_stream.c` to refer to other sound files and compiling it to see how well it works. In my testing I have come across somet

[2020-08-06 20:24] legends2k commented on #1337
@raysan5 I built raylib from `master` using CMake on Windows with MinGW.  Once built, I made a dist package using `cpack` and it gave me `raylib-3.0.0.tar`.  Here's its extracted dir hierarchy

[code]

Trying to use this leads to

[code]

I checked `d:\libs\raylib-3.0.0\lib\cmake\raylib\raylib-config.cmake` and saw that the script expects `libraylib.a` while the directory listing above shows the s

[2020-08-07 08:50] raysan5 commented on #1337
@legends2k Unfortunately I don't maintain the CMake build system, maybe @a3f can take a look to this issue.

[2020-08-07 10:16] #1334 closed

[2020-08-07 10:16] #1339 closed

[2020-08-07 22:57] Obscure2020 commented on #1295
Most games on Steam list their minimum required RAM and VRAM. It would be handy to have some sort of way to get a raylib program to spit out the maximum amount of RAM and VRAM it ever used while running, so that we know what to put for the minimum required stats for games we publish that were made using raylib. What do you think?

[2020-08-07 22:57] a3f commented on #1337
Ye, for MinGW we can drop the _static.

We can fix support for space in `CMAKE_INSTALL_PREFIX`. That's where the `C:\Program Files (x86)\` bit comes from, because that's the CMake default on Windows.

Additionally, it needs the correct prefix in `raylib.pc`. I'd have assumed it works because of [`--enable-define-prefix` apparently being the default on Windows.](https://stackoverflow.com/questions/

[2020-08-08 08:10] pupiraresdi opened #1342 "[Build] Cannot get raylib dll to work for OpenGL 2.1"
I am using the dll from the msvc15 raylib release in bin, but it only supports OpenGL 3.3 and my pc only has OpenGL 2.1 please help

[2020-08-08 12:11] raysan5 commented on #1337
@a3f thank you very much for reviewing the issue! 👍

[2020-08-08 12:13] raysan5 commented on #1342
Hi @pupiraresdi, I'm afraid you should recompile raylib yourself to enable OpenGL 2.1. Here some info: https://github.com/raysan5/raylib/wiki/Working-on-Windows

[2020-08-08 12:13] #1342 closed

[2020-08-08 21:13] raysan5 commented on #1295
@Obscure2020 Actually that's some of the information intended to be provided by this new feature.

[2020-08-08 22:30] alexanderwanyoike opened #1343 "[core] Compound literals issues with Clang C++ compiler on macOS"
Hey I have been expiriementing with your library and I really like the minimalistic design plus the code base is understandable. I have although found an issue when trying to use Color constants in c++

[code]

Debug the issue lead me to this.

https://github.com/raysan5/raylib/blob/959d0d259146c943fe3db61fd1664169303c6394/src/raylib.h#L118

I noticed the reason as to why I was expiriencing this w

[2020-08-09 00:04] Obscure2020 commented on #1295
Wonderful. I am in support of these features!

[2020-08-10 01:31] paezao commented on #753
Hey guys! Is someone working on this?

[2020-08-10 08:23] raysan5 commented on #753
Hi @paezao! Not really, I did some review a while ago but it's not functional at this moment...

My plan was simplifying the API and use UDP-only.

[2020-08-10 09:01] raysan5 commented on #1343
Hi @alexanderwanyoike, actually this issue is trickier than it seems... compound-literals support are a C99 feature and depending on the compiler, they are supported or not in C++ but also they could behave differently.

The proposed solution:
[code]
would restrict it to Window but there could be some compiler in another platform that does not support compound-literals on C++. Actually, it seems t

[2020-08-10 13:46] wernsey commented on #792
I came across this issue when trying to compile with Mingw32 using `cmake -G 'MSYS Makefiles' ..`

The problem is that `raudio.c` pulls in Win32's `windows.h` through `miniaudio.h`, causing the Win32 `CloseWindow` and `ShowCursor` definitions to conflict with the Raylib definitions of those functions.

I see that `raudio.c` has these lines before `#include <windows.h>` to get rid of the unwanted f

[2020-08-10 14:54] callowaysutton opened #1344 "2D Array Kills Program"
This might be a MingW bug but I wanted to double check to see if anyone else had/resolved this problem. Basically, when I declare a 2D array in the program the program dies on Windows. It compiles and there is an executable to run but whenever it gets to the part of the program where the 2D array is being declared, it just (afaik) peacefully exits. I don't know why, there are no errors or warnings

[2020-08-10 15:29] raysan5 commented on #1344
@callowaysutton This issue is not related to raylib, you are trying to create a too big array and you go stack-overflow, you should reserve memory dynamically.

[2020-08-10 15:29] #1344 closed

[2020-08-10 17:39] Ggcpp opened #1345 "Problem : Raylib with Dietpi (* failed to add service – already in use?)"
I have compile raylib on dietpi in native mode on my raspberry pi 3b+ by following this wiki (https://github.com/raysan5/raylib/wiki/Working-on-Raspberry-Pi). There were just few warnings while running the "make PLATFORM=PLATFORM_RPI" command in "raylib/src/" folder. Then I compile the examples by the same command (make PLATFORM=PLATFORM_RPI) in the "raylib/examples/" folder. Up to here everything

[2020-08-10 18:37] Ggcpp commented on #1345
It is ok I have now find a solution. I had just to disable vc4-kms-v3.

[2020-08-10 18:37] #1345 closed

[2020-08-10 18:41] chriscamacho commented on #1328
I see issues with multiple quaternion conversions (not just matrix)
I've not managed to get a quat to matrix working as I suspect that different functions are using different rotation orders (in effect)
this code should highlight the issues I see
    #include "raylib.h"
    #include "raymath.h"

    // gcc main.c -lm -lX11 libraylib.a -ldl -lpthread

    Matrix QtoM(Quaternion q)
    {
        Mat

[2020-08-10 19:07] raysan5 commented on #1345
@Ggcpp Oh! You find it fast! :D

Just note that you can also use raylib on Linux desktop with PLATFORM_DESKTOP.

[2020-08-10 21:32] defutura commented on #1319
An additional perspective > I just tried this on Ubuntu 20.04 LTS x86_64, kernel: 5.4.0-42-generic. My build of 'core_input_gamepad.c' detects both a cheap Logitech controller and an 8bitdo SNES controller. They do not need to be plugged in before compilation; I can disconnect and reconnect the controllers, and the program will detect them and display their names correctly. However, I can't seem t

[2020-08-10 21:33] muevoid commented on #1319
Hmmm I am still doing testing will post here soon.

[2020-08-10 21:34] Ggcpp commented on #1345
@raysan5 Thanks for your reply and thanks for all your work on raylib, I really enjoy it ! ^o^

[2020-08-11 04:42] muevoid commented on #1319
This is for sure an issue with my configuration and not raylib. So I will close this jist of it was my Xorg configuration and some stuff with evdev.

[2020-08-11 07:26] muevoid commented on #1319
I may have talked too soon my issue is now identical to defuturas. Gamepad is detected by raylib however no buttons or axis is detected.

[2020-08-11 12:40] Ggcpp commented on #984
For those who have the same problem, in "raylib/src/core.c" file, just remove these lines:
`#if defined(PLATFORM_RPI) && defined(SUPPORT_MOUSE_CURSOR_RPI)`
`// On RPI native mode we have no system mouse cursor, so,`
`// we draw a small rectangle for user reference`
`DrawRectangle(CORE.Input.Mouse.position.x, CORE.Input.Mouse.position.y, 3, 3, MAROON);`
`#endif`
and recompile the library.

[2020-08-11 13:07] defutura commented on #1319
I should have expressed myself more clearly here. The program does in fact detect the 5 axes correctly with GetGamepadAxisCount() on line 179, and displays them with the following for loop, but no input data is shown for any of them.

[2020-08-11 17:08] raysan5 commented on #1340
It should work now. Feel free to reopen if it still fails.

[2020-08-11 17:08] #1340 closed

[2020-08-11 17:10] raysan5 commented on #1327
From raylib Discord conversation, here it is a proposal:
[code]

[2020-08-12 22:19] Shadowblitz16 opened #1349 "[shapes] drawing functions are not consistant"
Please, before submitting a new issue verify and check:

 - [x] I tested it on latest raylib version from master branch
 - [ ] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description
drawing functions seems to use different types and signatures depending on the shape and seem to lack some features for some shapes.

for example...

[2020-08-13 06:09] jimcruse opened #1350 "All Header files not installed"
The makefile made from cmake does not include raymath.h or
Raygui.h
It would be better to have all useable header files installed

[2020-08-13 06:16] jimcruse commented on #1198
I'd love to see more scientific graphics available in the examples section alla GitHub.com/ProfJski/Raylib-Examples

[2020-08-13 08:39] raysan5 commented on #1350
@jimcruse Actually, advance users requiring those extensions could pick them directly from the repo. I prefer just installing the minimum necessary libs: `raylib.h`

[2020-08-13 08:39] #1350 closed

[2020-08-13 08:45] raysan5 commented on #1349
@Shadowblitz16 I agree there could be a lack of consitency between some shapes functions but I prefer to keep it like it is.

Most of the differences are related to having a novel-user-intended function vs having an advance-user-intended function. Actually, raylib was initially designed for teaching pourposes, so it's very useful to start using a basic data type like `int` to later move to more ad

[2020-08-13 08:45] #1349 closed

[2020-08-13 09:24] jimcruse commented on #1350
Ok, I understand

[2020-08-13 14:35] tomc1998 opened #1351 "[text] .fnt files exported from Hiero/BMFont fail to load"
### Issue description

Loading a BMFont file (.fnt) exported from Hiero or BMFont (Angelcode) results in an error.

### Environment

Linux, RTX 2070, GL 3.3 Core Profile

### Issue Screenshot

No point screenshotting, here are the logs though:

[code]

### Code Example

After window initialisation:

[code]

hack-12.png and hack-12.fnt are in the current working directory when executing the binary,

[2020-08-14 01:45] Shadowblitz16 commented on #1349
@raysan5 so what what about the usability aspect of it?

[code]

most of these are missing because there isn't consistency when new drawing functions are added.

[2020-08-14 10:31] raysan5 commented on #1349
In regards to usability, I think hardly any raylib user uses DrawEllipse() function, that actually was a user contribution.

I prefer to keep a small set of basic functions that try to add lots of functions with lots of options.

In terms of 3D, raylib is more than enough to start playing, for any serious 3D development I recommend an engine like Unity and Unreal.

[2020-08-14 15:00] horseyhorsey commented on #344
Any idea to fix without editing the header files? Does the "RAYLIB_PATH" actually work?

![image](https://user-images.githubusercontent.com/5377332/90263166-2ef3df00-de47-11ea-8e1e-12bf627c88fa.png)

[2020-08-14 15:10] leigh966 opened #1352 "HTML 5: Uncaught type error when loading textures"
Attached images show reproduction code, the accompanying error messages and my build line.
I am using the latest emcc upstream package, Raylib 3.0.0 and testing on a python localhost http server using Google Chrome
**Note: the exception is only thrown when the texture is loaded successfully.**

![error](https://user-images.githubusercontent.com/56688635/90263308-6bbfd600-de47-11ea-9b67-5e72423d99a

[2020-08-14 19:02] raysan5 commented on #1352
Textures must be loaded always after InitWindow().

[2020-08-14 19:02] #1352 closed

[2020-08-15 09:33] raysan5 commented on #1351
Issue was related to placing the .fnt in the .exe path instead of an assets directory, relative path for image was wrongly calculated. Now it should work.

![screenshot000](https://user-images.githubusercontent.com/5766837/90309365-5c449980-dee8-11ea-90e2-5b1de304283d.png)

[2020-08-15 09:33] #1351 closed

[2020-08-15 11:07] #1337 closed

[2020-08-17 11:11] Rabios commented on #1326
Autocompletion for raylib lua bindings (ZeroBrane Studio), Get it [here!](https://github.com/Rabios/raylua/blob/master/zerobrane/README.md)

<img src="https://github.com/Rabios/raylua/blob/master/zerobrane/demo.gif">

List of supported bindings:

1. [Alexander Matz's FFI bindings (raylib.lua)](https://gist.github.com/alexander-matz/f8ee4eb9fdf676203d70c1e5e329a6ec)
2. [My bindings (raylua)](https:

[2020-08-18 14:28] dabba39 opened #1354 "build examples also with m32?"
why the lib is build with -m32, but the examples not?

[2020-08-19 06:33] chunqian opened #1355 "[core] 3d camera smooth zoom not work on macos"
## Issue description
build and run, examples/core/core_3d_camera_free.c
3d camera smooth zoom not work
## Environment
osx 10.14.6
raylib master

[2020-08-19 07:43] muevoid opened #1356 "[core] FixedUpdate Loop"
### Fixed Update
I propose having possibly having two functions in the raylib api that would be quite useful to game developers and I believe wouldnt add much complexity. Having an update function and a fixed update function. This way people could render in the update function and do game logic in fixed update.

There is a few ways to do this I believe. Possiblly something like this:

[code]

[2020-08-19 08:05] raysan5 commented on #1354
CI build system is being redesigned, examples building will be added eventually.

[2020-08-19 08:05] #1354 closed

[2020-08-19 08:23] raysan5 commented on #1356
@muevoid that's not easy to implement, `EndDrawing()` waits for the `SetTargetFPS()`... I prefer leave that option to the user (for example using threads) instead of being provided by raylib.

[2020-08-19 08:23] #1356 closed

[2020-08-19 08:24] muevoid commented on #1356
Understandable. Thank you!

[2020-08-19 18:38] powerc9000 opened #1358 "Ability to draw a texture warped."
It would be nice to be able to warp a 2d texture with control points like this image.

<img width="796" alt="Screen Shot 2020-08-19 at 11 14 06 AM" src="https://user-images.githubusercontent.com/1013528/90675986-7ba93280-e218-11ea-9856-f04e9102fe85.png">

It is technically possible with shaders I understand but they can be a bit daunting to figure out and set up for beginners and warping a texture

[2020-08-19 21:09] raysan5 commented on #1358
Hi @powerc9000! Actually, a function to do that could be a bit user specific... but you can use `rlgl` directly to accomplish that on raylib:
[code]
Changing `rlVertex2f()` positions you can do the warping effects. Just need to `#include "rlgl.h"` that you will find in raylib/src and you can use this functionality.

[2020-08-19 21:09] #1358 closed

[2020-08-19 21:56] powerc9000 commented on #1358
Awesome! This should be great thanks!

[2020-08-20 13:16] chriscamacho commented on #1328
sorry haven't had time to look at this till now....

my QtoM function seems to line up with taking a quat from a matrix and again if you take a quat to euler and then create a matrix rotated in the order XYZ ...

[2020-08-20 16:01] raysan5 commented on #1328
@chriscamacho hey! that's nice! thanks for looking into it! feel free to send a PR for integration. :)

[2020-08-21 08:25] chriscamacho commented on #1328
really need to chat about it, as it would need an extra function for euler
xyz order rotation to make a matrix and really if people are expecting to
mix eulers and quats there really needs to be some kind of documentation at
least about euler rotation orders...

On Thu, 20 Aug 2020 at 17:02, Ray <notifications@github.com> wrote:

--

blog bedroomcoders.co.uk <http://bedroomcoders.co.uk>

Disclaime

[2020-08-23 19:14] raysan5 commented on #1328
@chriscamacho thanks for the PR! I'm closing this issue.

[2020-08-23 19:14] #1328 closed

[2020-08-27 07:20] creikey opened #1360 "[module] Uncompressed grayscale format updating broken on GLES2"
**WARNING: Please, read this note carefully before submitting a new issue:**

It is important to realise that **this is NOT A SUPPORT FORUM**, this is for reproducible BUGS with raylib ONLY.

There are lots of generous and helpful people ready to help you out on [raylib Discord forum](https://discord.gg/VkzNHUE) or [raylib reddit](https://www.reddit.com/r/raylib/).

Remember that asking for suppor

[2020-08-27 09:58] raysan5 commented on #1360
@creikey Actually, that's the expected behaviour.

`GetImageData()` always return data as `Color` (RGBA), independently of the `Image` format.

It's up to the user to provide valid data to `UpdateTexture()` with the same format as `texture.format`.

Also, note that:
[code]
shouldn't be done because `texture.format` just takes same format as `image.format`.

[2020-08-27 09:58] #1360 closed

[2020-08-27 10:06] raysan5 commented on #1343
Investigating [a bit further](https://stackoverflow.com/questions/27734247/clang-and-gcc-different-behavior-with-compound-literal), compound literals are not part of C++ so proposed `defined(__cplusplus)` should work with any C++ compiler.

[2020-08-27 10:06] #1343 closed

[2020-08-27 10:17] raysan5 commented on #1355
Ok, that's right, because it requires `CTRL` key... you should redefine that key with `SetCameraSmoothZoomControl()`.

In any case, I'd recommend using a custom camera implementation. Provided camera modes are quite limited...

[2020-08-27 10:17] #1355 closed

[2020-08-27 12:37] chunqian commented on #1355
Thanks for your reply and thanks for all your work on raylib, I enjoy raylib!
I made new golang binding for raylib, it called go-raylib.
[https://github.com/chunqian/go-raylib](url)

[2020-08-27 14:38] chriscamacho commented on #1328
@xdrie have you had a look at the new euler example, does this address what you were talking about ?

[2020-08-30 11:00] kernelkinetic commented on #1096
I modified the Raspberry Pi portions of core.c for VideoCore VI (which is supported by the V3D driver and which is in hardware in the Raspberry Pi 4) when a **preprocessor definition V3D** is set and I added a build-rpi4.sh script. Other makefiles, CMake files or project files aren't modified because I currently don't know the best way to integrate this new option into the current build system of

[2020-08-31 06:36] kernelkinetic commented on #1096
From the raylib code I assume that raylib on VideoCore IV doesn't support the V3D drivers (kms and fake kms) but only the legacy graphics using the bcm libs. If this is right, my code could also be used on Raspberry Pi 1-3 with the kms/fkms drivers with just one line changed. Is it possible then to build one binary running on all Raspberry Pis without X using the kms or fkms V3D driver (again, I d

[2020-09-01 19:24] raysan5 commented on #1127
@ChrisDill I'm about to merge https://github.com/raysan5/raylib/pull/1318, do you find any problems with this implementation? It's lower level than your proposed API but more intended for advance users.

[2020-09-01 20:30] alanbork commented on #1096
So this is interesting and I'd be happy to test it out some but you've left out a lot of details here. Which drivers (kms/fkms, or nothing) should be loaded? what's the proper command line call to make that would build the raylib examples?

[2020-09-02 00:07] muevoid commented on #1319
@defutura Have you had any luck with this yet?

[2020-09-02 04:58] kernelkinetic commented on #1096
@alanbork You need to use the V3D driver which you can setup using `raspi-config` and selecting `GL (Fake KMS)` or by adding `dtoverlay=vc4-fkms-v3d` to your` /boot/config.txt` (that's the same what `raspi-config` is doing).
I didn't commit the Makefiles for lib and examples because I don't know how it is "the raylib way" to support all of the Raspberry Pi versions. Anyways, I pushed to my reposit

[2020-09-02 10:09] raysan5 opened #1367 "[core] New Window state configuration API"
This issue is related to the recently merged PR: https://github.com/raysan5/raylib/pull/1357

Some additional Window configuration functions were proposed and merged, they are useful to control some Window state properties after Window initialization (some were only configurable with `SetConfigFlags()`).

One idea is replacing some of those `*Window()` functions by something like `SetWindowState(F

[2020-09-02 10:33] raysan5 commented on #1367
Still thinking about it... maybe no new function required, just review internals to support `SetConfigFlags()` after `InitWindow()`.

But in this case, `SetConfigFlags()` is probably not the best name for the function... I like `SetWindowState()`, it's very descriptive, but some flags do not refer to a *Window*...

I can also keep individual functions available but I like the API reduction...

As

[2020-09-02 10:37] raysan5 commented on #1096
@kernelkinetic current V3D driver replaces the old Broadcom driver? Does it work for RPI 0,1,2,3 in native mode? In that case, what is the performance of V3D in comparison to the old Broadcom?

[2020-09-02 13:58] juan-medina commented on #1367
I like the idea of having a `SetWindowState` and `SetConfigFlags` separated, for example platforms that may not have a window they can not use `SetWindowState`.

In this it will have a small API for different things.

`FLAG_FULLSCREEN` may be a general flag but `WINDOW_DECORATED` only apply to Desktop platforms that have a window.

Of course, that means that some flags may need to be moved to a `W

[2020-09-02 15:34] kernelkinetic commented on #1096
@raysan5 V3D is since Raspberry Pi 4 the current driver (see https://www.raspberrypi.org/blog/raspberry-pi-4-on-sale-now-from-35/), the previous non-GL VideoCore IV "bcm..." stuff is considered "legacy" on Raspberry Pi 4. V3D is public available since 02/2016 as experimental driver and the announcement says it's only available from Pi 2 because of memory requirements (https://www.raspberrypi.org/b

[2020-09-02 22:45] alanbork commented on #1096
kernelkinetic: I just tried your code. I'm having some very strange
behaviors on a pi4 with the latest fkms firmware (rpi-update
039088f7d929b0d1cc49e8d2012df0652f908518). instead of opening up in the
desired resolution (1280x720, or whatever) it always opens at 1920x1080,
and then places the rendering window down in the right corner. If I try to
go full screen by passing 0,0 or 1920x1080 I just g

[2020-09-03 00:25] alanbork commented on #1096
ps i'm pretty sure it's not my firmware, as a simpler bit of code (https://www.raspberrypi.org/forums/viewtopic.php?f=68&t=243707&hilit=pi4#p1499181) has no problem running full screen in each of the modes my display supports. it might be something related to how the pi initializes it's often-smaller-than full-screen rendering window.

[2020-09-03 01:47] alanbork commented on #1096
@kernelkinetic I'm not sure what I was doing wrong but your code is working fine now. perhaps the firmware I had installed was causing intermittent issues. I've deleted my earlier comments since they were  in essence wrong.

[2020-09-03 02:01] alanbork commented on #1096
ps it is definitely possible to get a lower resolution properly - using the code at

https://www.raspberrypi.org/forums/viewtopic.php?f=68&t=243707&hilit=pi4#p1499181

I can select different modes from the mode array and they come up just fine.  So this is a fixable problem in your code.

[2020-09-03 17:31] kernelkinetic commented on #1096
@alanbork Wow, thanks for your obviously deep analysis. I'm happy that it works so far and I'll look into my code and your link the next days to fix this. I'll notice here when it's finished.

[2020-09-05 05:16] kernelkinetic commented on #1096
@alanbork Different resolutions should now work as expected. https://github.com/kernelkinetic/raylib/commit/25a687b275ecfe9416b52380c1c5818ceede74d4

[2020-09-05 12:33] Kienyew commented on #1326
Music Tiles
[Github project](https://github.com/Kienyew/MusicTiles)
A simple Piano Tiles like desktop game created using raylib !
![screenshot](https://raw.githubusercontent.com/Kienyew/MusicTiles/master/screenshot.gif)

[2020-09-05 12:55] frithrah opened #1368 "[core] CPU usage when idle - SUPPORT_EVENTS_WAITING"
I'm using raylib for a desktop app - it's going well. One issue is CPU and GPU usage when idle. I'm looking for very low power usage when the app is inactive and the full 60fps when in use.

I just tried compiling with SUPPORT_EVENTS_WAITING. It's good for low power usage - less than 1% for CPU and GPU when idle. And it wakes up nicely when input events come in. The problem with this mode is the r

[2020-09-05 14:57] defutura commented on #1319
@muevoid No, I haven't looked at it yet, I'm doing most of my programming on a Windows machine. Will post here if I find anything out.

[2020-09-05 17:19] alanbork commented on #1096
Excellent work! 720x480, 1280x720 and 1920x1080 result in the desired resolution. still some more to go, however.

Calling InitWindow(0,0, "name") gives a segfault, rather than using whatever the current video mode is (set at boot with config.txt or via tvservice at runtime).  Raylib on pi0..3 get this right, including matching the interlacing of the current mode, which can be important if used wi

[2020-09-05 18:51] kernelkinetic commented on #1096
@alanbork Thanks, and thanks again for testing, get ready for the next session :) https://github.com/kernelkinetic/raylib/commit/b1f3d8ab27cdef6a5fc6cdb0cc61c6ac5e2d4888 contains the screen size security check from PLATFORM_DESKTOP and PLATFORM_RPI to support also `InitWindow(0, 0, ...)`. I'm not sure if this uses the current video mode because I don't know if I can get this information via DRM. A

[2020-09-05 18:58] alanbork commented on #1096
@kernelkinetic

not sure if this is relevant, but the 0,0 thing is officially supported:

https://github.com/raysan5/raylib/issues/1186

[2020-09-05 19:03] kernelkinetic commented on #1096
@alanbork Thanks, so I expect my already mentioned commit to work the same way as mentioned in this issue.

[2020-09-05 19:06] alanbork commented on #1096
current raylib on pi0.3 it uses the current mode set by
config.txt/tvservice , which makes sense i think.

user chose that mode for a reason. for instance on my tv 0th mode is
an interlaced mode that doesn't actually match tv's native resolution.
not a great solution :-(

On Sat, Sep 5, 2020 at 12:03 PM kernelkinetic <notifications@github.com> wrote:

[2020-09-05 19:14] alanbork commented on #1096
@kernelkinetic , see if this works. for me it shows 1280x720, as expected

cat /sys/kernel/debug/dri/1/*

[2020-09-05 19:23] alanbork commented on #1096
sorry I should have checked - that seems to be constant independent of calls to tvservice. maybe it's the boot resolution?

[2020-09-05 19:34] kernelkinetic commented on #1096
@alanbork You lead me to an idea: I think I could use the same function to get the current display size as for Raspberry Pi 0..3. I'll check that tomorrow 👍🏼

[2020-09-05 20:03] alanbork commented on #1096
@kernelkinetic there's this option:

https://blog.weghos.com/userland/PiUserland/host_applications/linux/apps/tvservice/tvservice.c.html#451

but that seems to use non-drm methods to get the current mode. Since we are talking about supporting he the pi4 that wouldn't be the end of the world, but certainly not elegant.

[2020-09-06 06:58] kernelkinetic commented on #1096
@alanbork Thanks for your hints, I also thought to use `graphics_get_display_size()` from bcm, but I think we should stick to DRM because that's what should be available on every Linux system and so we may build a base for other embedded linux boards already. I was going a little bit deeper into DRM: According to https://manpages.debian.org/testing/libdrm-dev/drmModeGetResources.3.en.html the corr

[2020-09-06 09:58] kernelkinetic commented on #1096
@alanbork Beside we should also answer the previous question, I added that the current screen settings are used if `InitWindow()` isn't called with two positive size values in https://github.com/kernelkinetic/raylib/commit/926f6f7b1f8eb3deaaa434a18b3e62a652a545c4

[2020-09-06 11:44] TSnake41 commented on #1096
@kernelkinetic you shouldn't name this support "V3D", the API you use is supported on most (if not all) DRI supported platforms.
So nouveau, r200/r300/r600, radeonsi, iris, i965, lima, panfrost, and many others are supported with your code.

Maybe name it `PLATFORM_KMS` ?

[2020-09-06 11:57] kernelkinetic commented on #1096
Thanks for the hint, @TSnake41. This touches the (still not answered) question how to integrate this into the current raylib build system. Since I'm currently not aware wether and how DRM and X11 works together and I'm concentrating on raylib's "native mode" only, I'm not able to answer this question. Of course I'm open to suggestions or decisions how to integrate this into raylib the proper way a

[2020-09-06 12:08] TSnake41 commented on #1096
I can run your fork with `-DPLATFORM_RPI` and `-DV3D` fine on my Linux laptop (i5-5300U, HD 5500) and should work as long as you have "Open Source drivers" (got the same idea working on a Orange Pi One and my desktop (i5-4670k, GTX 750-Ti (nouveau driver)).
Just compile it, and it runs properly.

About project integration, making a `PLATFORM_DRM` platform looks fine with shared parts between `PLAT

[2020-09-06 16:09] kernelkinetic commented on #1096
@TSnake41 Okay, sounds reasonable to me. So I'll change my implementation to a new `PLATFORM_DRM` :)

[2020-09-06 16:54] alanbork commented on #1096
wrt to getting the current mode, from another forum post:

The current mode is a setting on the crtc (the thing that applies the video timings), so you'll find the current mode in "drmModeCrtc" as "mode".

[2020-09-06 16:58] kernelkinetic commented on #1096
@alanbork Thanks, I already implemented this in https://github.com/kernelkinetic/raylib/commit/926f6f7b1f8eb3deaaa434a18b3e62a652a545c4 :D

[2020-09-06 17:27] kernelkinetic commented on #1096
I've updated my repo to https://github.com/kernelkinetic/raylib/commit/f900a4017e02f5c86fd47e3a19d05d5662d89c22 containing my implementation as new PLATFORM_DRM and I also modified the Makefiles in src and in examples for first test builds.

[2020-09-06 17:44] alanbork commented on #1096
@kernelkinetic Ah, ok. I just downloaded your newest release and it's working great. Even potentially tricky bits like 480p vs 480i are maintained properly! FYI things start to go south once you use tvservice to set to current display mode; but this is because tvservice is deprecated for fkms. IMHO, at least from the users side of things this is functionally ready for consideration of a merge with

[2020-09-06 18:04] raysan5 commented on #1096
@kernelkinetic great work! I need to see how to integrate it in raylib properly...
@alanbork I'm afraid RPI0-3 and RPI4 paths should be separated in some way and users need to recompile raylib with the proper libraries for every platform... I'm considering splitting `PLATFORM_RPI` into:

 - `PLATFORM_RPI_NATIVE_VC4`
 - `PLATFORM_RPI_NATIVE_V3D` or `PLATFORM_NATIVE_DRM`

Is this implementation supp

[2020-09-06 18:08] kernelkinetic commented on #1096
Thanks a lot @alanbork and @raysan5, I'm glad to read this! I didn't check input et. al., only the graphic part. Because I only updated the PLATFORM_RPI defines to also be included on PLATFORM_DRM, I didn't expect any flaws there.

I mentioned earlier that my implementation should also work with V3D (f)kms driver on Raspberry Pi 2 and above. If we want to support both APIs in one binary, the only

[2020-09-06 18:29] kernelkinetic commented on #1096
Some useful links to DRM:

DRM in the Linux kernel documentation: https://www.kernel.org/doc/html/latest/gpu/introduction.html

DRM on Android: https://www.collabora.com/news-and-blog/blog/2018/12/17/a-dream-come-true-android-finally-using-drm/kms/

NVIDIA: https://download.nvidia.com/XFree86/Linux-x86_64/396.51/README/kms.html

[2020-09-06 19:01] alanbork commented on #1096
FYI the current raylib implementation of keyboard input works fine on the pi4. I have not tested usb gamepads but I would expect it to work.

[2020-09-07 09:55] raysan5 commented on #1368
Hi @frithrah, I think this option is only possible if being controlled by user, enabling/disabling active mode when required.

raylib does not expose this option at the moment and, actually, events waiting is only available on desktop platform...

No plans to change this but you can check `core.c -> PollInputEvents()` implementation, probably it can be tweaked in some way.

[2020-09-07 09:55] #1368 closed

[2020-09-07 10:56] frithrah commented on #1368
Aye. I will play with this. Expect a pull request one day.

[2020-09-07 15:44] TSnake41 commented on #1096
@raysan5 @kernelkinetic
I can confirm raylib with DRM working on desktop and other ARM platforms (Orange Pi One).
I could try to test on a Raspberry Pi Zero, but I need to find a micro sd card for it.

[2020-09-07 15:53] raysan5 commented on #1096
@TSnake41 thank you very much for testing! Did you also test native mode? Some RPI0 testing would be great...

[2020-09-07 15:59] alanbork commented on #1096
are you talking about testing pi0 with platform_rpi or platform_drm? I could be wrong but I vaguely recall fkms not supporting pi0.

[2020-09-07 16:00] alanbork commented on #1096
from the firmware developers:

4. Does FKMS work on every Pi model?
Yes, although it'll be very slow on the 0/1, and you'll be very short of memory.

[2020-09-07 16:33] chriscamacho commented on #1096
Just a thought guys - an option to run without X on desktop could be nice...

[2020-09-07 16:38] alanbork commented on #1096
what do you mean, exactly?

[2020-09-07 16:41] chriscamacho commented on #1096
the ability to run a Linux Raylib application without X running.

[2020-09-07 17:30] alanbork commented on #1096
that's exactly what we are doing here, at least for the raspberry pi hardware.  feel free to try the platform_drm code being tested here to see if it can be run under desktop x86 linux (I assume that's what you are talking about?) to see if that works - it might.

[2020-09-07 17:44] kernelkinetic commented on #1096
@alanbork Is there a reason that you focus on x86 Linux only? I don't see why it shouldn't work on x64, too.

[2020-09-07 17:58] alanbork commented on #1096
@kernelkinetic, sorry for the confusion I still think of x86 as
encompassing both 32 and 64 bit ISAs.

On Mon, Sep 7, 2020 at 10:44 AM kernelkinetic <notifications@github.com>
wrote:

[2020-09-07 18:10] chriscamacho commented on #1096
@alanbork do you have some code, that actually compiles, stuff missing on
the 1st post...

happy to test it out and get it working, on desktop too...

On Mon, 7 Sep 2020 at 18:30, alanbork <notifications@github.com> wrote:

--

blog bedroomcoders.co.uk <http://bedroomcoders.co.uk>

Disclaimer:
By sending an email to ANY of my addresses you are agreeing that:

   1. I am by definition, "the intende

[2020-09-07 18:11] kernelkinetic commented on #1096
@chriscamacho https://github.com/kernelkinetic/raylib

[2020-09-07 21:34] chriscamacho commented on #1096
thanks, first look it compiles as PLATFORM_DRM, but the examples won't
link....
undefined refs to GBM DRM and EGL....

On Mon, 7 Sep 2020 at 19:11, kernelkinetic <notifications@github.com> wrote:

--

blog bedroomcoders.co.uk <http://bedroomcoders.co.uk>

Disclaimer:
By sending an email to ANY of my addresses you are agreeing that:

   1. I am by definition, "the intended recipient"

   2. All inf

[2020-09-07 21:38] chriscamacho commented on #1096
I got the examples compiled! forgot the PLATFORM define for them....

however I now see
shaders_fog: core.c:3923: SwapBuffers: Assertion `bo' failed.

I'll test further and get back....

[2020-09-07 21:51] alanbork commented on #1096
@TSnake41 got it work on his linux laptop... Is this a regression, or something else?

[2020-09-08 03:47] kernelkinetic commented on #1096
@chriscamacho That's a hint that raylib can't lock the front buffer because it's not available (headless) or someone already locked it, e. g. a running X server or another running raylib instance.

[2020-09-08 08:24] raysan5 commented on #1096
@kernelkinetic So... just to clarify... not sure if I understood it correctly... `PLATFORM_NATIVE_DRM` can allow raylib running on any Linux distribution with no X required? That sounds too awesome to me...

[2020-09-08 09:02] raysan5 opened #1370 "[core][texture][text][shapes] Software renderer for 2D"
raylib includes a set of `ImageDraw*()` functions that rely only on CPU memory (no GPU required). Those functions can be used to implement a basic 2d software rendered. Actually, those functions have been improved a lot in performance lately.

Here there are some notes about how it can be implemented, still under consideration:

 - New compilation flag: `USE_SOFTWARE_RENDERER` -> Some modules are

[2020-09-08 09:05] kernelkinetic commented on #1096
@raysan5 That's the case (and it may also work for some Android devices: https://www.collabora.com/news-and-blog/blog/2018/12/17/a-dream-come-true-android-finally-using-drm/kms/), as long as the graphic system supports:

- OpenGL ES 2.0 (we could change this to OpenGL 2.0 for example, but OpenGL ES 2.0 is the current setting for raylib on Raspberry Pi)
- DRM, which should be the case for most syst

[2020-09-08 09:06] JackoT-Bit commented on #1370
h

[2020-09-08 09:13] chriscamacho commented on #1096
ran it from the command line without X running, really i need just the
egl/gbm/drm stuff without the raylib.... to get something working...

On Tue, 8 Sep 2020 at 04:48, kernelkinetic <notifications@github.com> wrote:

--

blog bedroomcoders.co.uk <http://bedroomcoders.co.uk>

Disclaimer:
By sending an email to ANY of my addresses you are agreeing that:

   1. I am by definition, "the intended rec

[2020-09-08 09:23] mackron commented on #1370
For X11 I use `XShmPutImage()` if the shared memory extension is available and fall back to `XPutImage()` if not: https://github.com/mackron/mintaro/blob/master/mintaro.h#L1232. Some of those examples in that GLFW issue you posted look less than ideal. One of them is looping over each pixel and then calling `XDrawPoint()` which seems crazy inefficient to me. If you're outputting directly to the wi

[2020-09-08 09:31] Berni8k commented on #1370
Id say it is an advantage not having any way of rendering it to the screen.
This frees raylib of any platform specific libraries and allows it to compile for any C platform. Just point it to a frame buffer and away you go. Modern MCUs are powerful enough to run it these days. Another use for it is opening a png file from a console app, manipulating it, then saving it to png again, no OpenGL instan

[2020-09-08 11:30] ChrisDill commented on #1370
I think this is a interesting idea. I agree with compiling raylib without requiring the gpu but I also feel some parts might be better made explicit instead. Here are a couple of examples:

1. How does Texture2D store the Image? If `LoadTexture` uses `LoadImage` internally then you need your own storage and id setup similar to opengl. Same for types like RenderTexture2D etc.

2. I can't take a exi

[2020-09-08 11:39] mackron commented on #1370
I could not agree with this any less. People aren't going to want to stuff around trying to figure out how to get their output onto screen. There's no reason why you can't support both rendering to in-memory buffers and rendering to the screen, which is how it should be in my opinion, because it'll all use a common infrastructure under the hood anyway (I would think).

That's just a lazy implement

[2020-09-08 11:54] kernelkinetic commented on #1096
@chriscamacho I'm not sure if I get you right, but you need to clone https://github.com/kernelkinetic/raylib and build raylib using the Makefile in src with the option `PLATFORM=PLATFORM_DRM`. If you want to use build the examples then use the Makefile in examples again with the option `PLATFORM=PLATFORM_DRM`. If you want to link the built raylib.a with your own sources, you need to link to `libGL

[2020-09-08 12:10] raysan5 commented on #1370
@mackron @Berni8k I think it depends on the kind of user that feature is intended to. Probably low-level embedded-devices coders would feel more confortable with just the pixels on memory, ready to be sent anywhere while the common raylib user (students, hobbyist, people that want to put something on screen quickly...) would prefer to just enable a software renderer and expect the same result as G

[2020-09-08 14:22] arydevy commented on #1370
waw a good fecer with the cpu textures

[2020-09-08 14:22] arydevy commented on #1370
waw a good fecer with the cpu textures

[2020-09-08 15:55] chriscamacho commented on #1096
yeah i got it to compile and run, it just doesn't open a context - even
without x running... in order to debug what is going on I need a *minimal*
example of opening a valid context so I can debug it without the confusion
of all the various ifdef's in the raylib code base, I've looked at a number
of different ways to do this no found a working method just yet (at least
on my hardware i7-10510U)

[2020-09-08 16:03] kernelkinetic commented on #1096
@chriscamacho At least for my code there should be an error message or a failing assertion if it doesn't work properly. Otherwise I'll consider this to be a bug. I'll try this in a virtual machine, too.
According your specific problem: DRM and GBM needs to be supported by your graphic card driver, maybe you can check that. And DRM and GBM is implemented by mesa, so maybe an update breaks something

[2020-09-08 16:50] kernelkinetic commented on #1096
@chriscamacho I can successfully compile and run raylib and the core_basic_window example on a current Ubuntu 20.04 in a current VMware Player machine. But again: It is necessary to switch from the graphical login screen to a console window to allow raylib to aquire the graphics buffer.

[2020-09-08 18:30] kernelkinetic commented on #1096
@alanbork If you want to build one binary for both Raspberry Pi implementations, you can replace the calls to the external functions by function pointers, dynamic load the necessary libraries and set the function calls. For the (to be fair really easy) `bcm_host_init()` call it could be like:

[code]
You need to decide which library to load by checking the available driver for example.

[2020-09-09 07:08] MikeHart66 commented on #1370
Imho, if it still depends of OpenGL or a different API, which GLFW/SDL/X11 uses, it isnt really software rendering.

[2020-09-09 10:26] chriscamacho commented on #1096
on an unrealed project I have been using exact technique - it works well,
ends up transparent to the end user...

On Tue, 8 Sep 2020 at 19:31, kernelkinetic <notifications@github.com> wrote:

--

blog bedroomcoders.co.uk <http://bedroomcoders.co.uk>

Disclaimer:
By sending an email to ANY of my addresses you are agreeing that:

   1. I am by definition, "the intended recipient"

   2. All informat

[2020-09-09 10:34] chriscamacho commented on #1370
@MikeHart66 as humble as your opinion is - its wrong, you can use these (image routines) without initialising a window (only then does it create a gl context) all the above (no gpu calls) can be used happily, there is no  GLFW or X11 usage and it just works without the GPU - thankfully raylib as nothing to do the sdl.....  its super useful for tools you make to call from a makefile.... (where you

[2020-09-09 11:08] raysan5 commented on #1096
@kernelkinetic As commented on Discord, I prefer letting the users compile the right version for their needs but thanks for saring the code snipped, very interesting!

[2020-09-09 15:12] Berni8k commented on #1370
Re @raysan5 Understandable. Tho what is the purpose of this no GPU mode then? Every modern PC/Mac/Android/iOS platform has support for OpenGL so what would be the motivation for someone to not use it?

It does remove the dependency on OpenGL, but at the same time introduces a dependency on to some other platform specific API to create a window and pull inputs. The only thing i can see this being u

[2020-09-09 21:51] aberba commented on #1325
@raysan5 well I'm too lazy to do that

[2020-09-10 09:49] chriscamacho commented on #1370
I've already given one really good reason above! You can leverage
raylibs no GPU functions without the need of initialising a window
very useful for custom tools in your build processes...

On 09/09/2020, Berni8k <notifications@github.com> wrote:

--

blog bedroomcoders.co.uk <http://bedroomcoders.co.uk>

Disclaimer:
By sending an email to ANY of my addresses you are agreeing that:

   1. I am by

[2020-09-11 12:03] chriscamacho commented on #1096
@kernelkinetic can you open "issues" on your github I'm still looking at this - would be very useful to make it none PI specific! (but still automagically detect pi2/3/4 desktop without X....

when testing I was not running X !

I see this output

    [chris@chris-N150CU core]$ ./core_basic_window
    INFO: Initializing raylib 3.1-dev
    WARNING: DISPLAY: Failed to create EGL window surface: 0x30

[2020-09-11 12:33] kernelkinetic commented on #1096
@chriscamacho Issues are open 👍

I'm pretty sure we'll get this to work, we need just to see which of your available configs matches the raylib requirements. But maybe we discuss this in a issue you file at https://github.com/kernelkinetic/raylib/issues.

[2020-09-11 14:44] chriscamacho commented on #1096
+1 done!

[2020-09-11 17:13] Bethleem opened #1372 "[text] Hyperlink"
Not really a bug but a feature request: add hyperlinks functionality to raylib. Not only for text navigation, but for detecting the click on the active text and allow to perform any actions.

[2020-09-11 22:16] raysan5 commented on #1372
@Bethleem actually, you can do it with current raylib funtions and using OpenURL(), I prefer to let the user manage it. For reference you can check raygui label button.

[2020-09-11 22:16] #1372 closed

[2020-09-12 01:08] chriscamacho commented on #1367
I have an idea about how to add multiple windows (only for PLATFORM_DESKTOP) which would work as normal ecxept with a few extra API functions

... InitAdditionalWindow(,,,)
SwitchWindow(,,,)

so windows would have a raylib "id" where 0 is the window created by InitWindow and raylib will supply id's you can use with SwitchWindow, when you do switch windows all raylib functions operate on that speci

[2020-09-12 02:55] chriscamacho opened #1373 "[core] core.c is too unwieldy!"
Due in no small part to the amazingly wide range of platforms for raylib, there are a LOT of #IFDEFS add in that won't be too long before its >6k lines then when trying to look through the code, and work out an execution path can be difficult, requiring multiple views on the same source, adding significant time to debugging in core.c, I'm sure I can't be the first to notice, but it does look a big

[2020-09-12 05:45] chriscamacho commented on #1327
i did it the hard way http://bedroomcoders.co.uk/physfs-and-raylib/

[2020-09-12 08:54] raysan5 commented on #1373
@chriscamacho I'm aware of this situation but no plans to change it for the moment.

[2020-09-12 08:54] #1373 closed

[2020-09-12 08:57] raysan5 commented on #1367
@chriscamacho multiple windows is unrelated to this issue and no plans to support it but here you have some docs on a possible implementation: https://github.com/raysan5/raylib/wiki/Use-multiple-windows

[2020-09-12 09:00] raysan5 commented on #1327
@chriscamacho yeah, I'm trying to avoid adding new functions like `Load*FromMemory()`... but this is probably the best option...

[2020-09-13 09:11] raysan5 commented on #1327
Analyzing this issue more carefully... here there are the raylib functions that require external file access:
[code]

The commented functions do not actually require a `*FromMemory()` equivalent function.

Some basic functions that could be added:
[code]

Those functions can be useful to let the user loading from memory but when we have a virtual file system, we need a mechanism that internally ma

[2020-09-13 10:53] chriscamacho commented on #1373
if I can figure out how to drive a make rule from a define I could split out a core.c for each platform, the makefile would then compile in either say core_android.c or core_drm.c as apropriate

This is a fair bit of work! but I think would be very beneficial, if I were to undertake this work, would I be wasting my time?

[2020-09-13 13:14] BaconOFBurger opened #1374 "[models] Unable to load certain OBJ models."
### Unable to load certain OBJ models.

When I try loading certain models such as [model.zip](https://github.com/raysan5/raylib/files/5214117/model.zip), or [model_2.zip](https://github.com/raysan5/raylib/files/5214119/model_2.zip) with their corresponding .mtl files, the program freezes indefinitely and causes a segfault in a debugger.

### Environment

Windows, Windows 10, OpenGL 4.6, GeForce GT

[2020-09-13 14:07] raysan5 commented on #1327
Also tried to implement:
[code]

Unfortunately those cases are not trivial:
 - BMFonts depend on a `.fnt` file that references a `.png` file.
 - OBJ model depends on a `.obj` file that references a `.mtl` file.
 - glTF models could reference multiple `.glb` files and multiple `image` files

Some redesign would be required to get dependencies from memory along the main file... not trivial...

[2020-09-13 14:52] raysan5 commented on #1327
Current redesign with added functions allow to load from memory `Image`, `Wave` and `Font`. It addresses the initial issue.

For the moment there are no plans to add more `*FromMemory()` functions, some other mechanism could be added in the future.

Closing this issue for now.

[2020-09-13 14:52] #1327 closed

[2020-09-13 14:58] raysan5 commented on #1198
Notes on #1327: Several `Load*FromMemory()` functions have been added to allow loading some types of data from a PHYSFS returned buffer. But some data types involve loading multiple files, i.e. model involves mesh/material/image files, usually referenced between them... loading all of them from memory is not trivial, a proper VFS must be setup and a proper API to access/configure it must be provid

[2020-09-14 05:42] muevoid opened #1376 "[rlgl] Headless Wayland OpenGL ES support (no X11)"
Please, before submitting a new issue verify and check:

 - [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description

I would like to build raylib completely without libX11 however I am not sure if this is possible. I have switched to the gles for graphics as that

[2020-09-14 05:50] chriscamacho commented on #1376
there is a working version of PLATFORM_DRM that works without X running -
indeed you need to alt-tab-1 before running it, see
https://github.com/kernelkinetic/raylib still WIP but very much better for
Rpi and works on my laptop too (intel GPU) basically should just work
regardless of hardware on Linux as long as you have a working framebuffer
and mesa installed !

if you want it to work in wayland

[2020-09-14 14:09] raysan5 commented on #1376
@muevoid As far as I know raylib does not support headless Wayland... as @chriscamacho commented, maybe the upcoming `PLATFORM_DRM` could support it...

[2020-09-14 16:27] arydevy commented on #796
It dosent work for me i have opengl2.1

[2020-09-14 16:34] arydevy commented on #796
@raysan5

[2020-09-14 18:14] raysan5 commented on #796
@arydevy did you recompile raylib for OpenGL 2.1? Maybe your system does not support some OPenGL 2.1 features... You can also try recompiling for OpenGL 1.1.

[2020-09-14 20:51] muevoid commented on #1376
I've gotten this working in normal raylib quite easily.

in rlgl.h where you check for ES2 you can do another ifdef if wayland and no x then if so define EGL_NO_X11. Then when it checks for vao support also check if wayland and no x then skip checking for vao support. when it generates the build.ninja if using cmake with ninja replace -lGL with -lGLESv2

[2020-09-14 20:53] muevoid commented on #1376
I can open a pull request if you'd like?

[2020-09-14 23:45] masterex1000 commented on #1374
After spending some time with a debugger I have figured out that its a problem with tinyobjloader's hashmap implementation.

In tinyobj_loader.h you have this code
[code]
Which tries to insert the value into the hashmap, but if it can't then it tries to expand the hashmap

If the table has enough space then hash_table_maybe_grow won't expand it at all

[code]

When its trying to add an object it l

[2020-09-15 05:05] arydevy commented on #796
i tryed your command @raysan5 an on other linux distro it worked perfctrly (manjaro) now i use linux
mint

[2020-09-15 07:17] adamlwgriffiths opened #1377 "[examples/shaders_eratosthenes] Black window and shader errors"
### Issue description

Running the shaders_eratosthenes example shows only a black window, and some shader errors.

[code]

### Environment

Raylib 3.0.0 AND Raylib HEAD
NixOS 20.03 using my [raylib.nix package](https://github.com/NixOS/nixpkgs/pull/98030)
Nvidia GTX 1080
X11 + Gnome 3 + pulseaudio

### Issue Screenshot

Raylib 3.0.0
![image](https://user-images.githubusercontent.com/1239156/93176

[2020-09-15 09:41] raysan5 commented on #1377
@adamlwgriffiths Just pushed a commit, it should work now.

[2020-09-15 09:41] #1377 closed

[2020-09-15 09:42] HeartofPhos commented on #1143
@raysan5 This may not be the correct issue but I agree with the suggestion to have `BeginMode3D()` and `Camera3D` to be matrix based and instead rework the Camera module to transform the data currently stored in `Camera3D` into a view matrix.

Something along the lines of `void UpdateCamera(Camera *camera, CameraData *cameraData)`
Reasoning being that when not using the Camera module the current d

[2020-09-15 09:43] raysan5 commented on #1376
@muevoid Nice! Feel free to send a PR, not sure if merging but at least for reference implementation.

[2020-09-15 09:45] muevoid commented on #1376
Can do will work on cleaning it up however I don't know cmake well enough to have that properly configured because it needs to detect if wayland is enable and x11 is disabled and graphics api set to es2 then replace -lGL with -lGLESv2

[2020-09-15 09:46] raysan5 commented on #1143
@HeartofPhos I prefer keeping the `Camera3D` as it is, it's easier for the final user to understand the concepts, despite being more complex to deal with internally.

[2020-09-15 09:47] raysan5 commented on #1376
@muevoid You can just omit that part for the moment (and add a comment in the code). I don't maintain the CMake build system, only the plain `Makefiles`.

[2020-09-15 09:59] adamlwgriffiths commented on #1377
Updated and now I get output
![image](https://user-images.githubusercontent.com/1239156/93196568-f587f980-f78d-11ea-877c-f49bec761847.png)
Assume that is the correct output

Thanks for the prompt fix!

[2020-09-15 14:45] arydevy commented on #796
i also tried 11 ant it dosent work

[2020-09-16 05:51] muevoid commented on #1376
I tried to do the pr but I don't know enough about Makefiles atm to have this be part of the build system. I will leave snippets of what needs to be done here as archival purposes for anyone else whod like to do this and possibly make a pr.

First edit rlgl.h
In the ifdef to check for glesv2 add(if this were actually added possibly have an ifdef something called like NO_XLIB)
#define EGL_NO_X11

f

[2020-09-16 08:20] chriscamacho opened #1378 "[models] all examples atempting to texture and obj segfault"
see the examples, for example shader_basic_lighting

[2020-09-16 09:23] raysan5 commented on #1378
@chriscamacho It works perfectly on my side... Please, could you provide more details?

[2020-09-16 12:54] chriscamacho commented on #1378
[code]

[code]
It would be nice to have a robust RetextureModel(MeshId, TextureId)

which would allocate a material if needed...

    modelA.materials[0].maps[MAP_DIFFUSE].texture = texture;

was a quick hack the first time I did it meaning to find the "proper" api way to do it later....

[2020-09-16 14:08] raysan5 commented on #1378
@chriscamacho sorry, I can't reproduce the issue. Are you using latest raylib from github master branch? Platform? GPU? Could you list the examples that fail for you? Thanks.

[2020-09-16 14:29] chriscamacho commented on #1378
current pull from github
Linux 64-bit PLATFORM_DESKTOP

./shaders_basic_lighting
./shaders_custom_uniform
./shaders_fog
./shaders_model_shader
./shaders_postprocessing
./shaders_simple_mask
./models_yaw_pitch_roll

right thats enough !

grep -n "MAP_DIFFUSE\].texture" * -Ri
models/models_mesh_picking.c:40:
 tower.materials[0].maps[MAP_DIFFUSE].texture = texture;                 //
Set model diffus

[2020-09-16 14:30] chriscamacho commented on #1378
INFO: GLAD: OpenGL extensions loaded successfully
INFO: GL: OpenGL 3.3 Core profile supported
INFO: GL: OpenGL device information:
INFO:     > Vendor:   Intel
INFO:     > Renderer: Mesa Intel(R) UHD Graphics (CML GT2)
INFO:     > Version:  4.6 (Core Profile) Mesa 20.1.7
INFO:     > GLSL:     4.60
INFO: GL: Supported extensions count: 220
INFO: GL: DXT compressed textures supported
INFO: GL: ETC2/E

[2020-09-16 15:06] raysan5 commented on #1378
Could you try reproducing on a 32bit platform? Did you notice this issue from a certain commit?

I have no idea why this could be failing...

[2020-09-16 15:09] chriscamacho commented on #1378
noticed it yesterday I think...

I don't own any 32-bit hardware! well maybe PI somewhere but that would
need setting up...

On Wed, 16 Sep 2020 at 16:06, Ray <notifications@github.com> wrote:

--

blog bedroomcoders.co.uk <http://bedroomcoders.co.uk>

Disclaimer:
By sending an email to ANY of my addresses you are agreeing that:

   1. I am by definition, "the intended recipient"

   2. All inform

[2020-09-16 15:11] chriscamacho commented on #1378
I'll see about rolling back till it stops and let you know the commit....

[2020-09-16 15:15] chriscamacho commented on #1378
b870b9f is bad any idea how i get a list of recent commit hashes ?

[2020-09-16 15:32] chriscamacho commented on #1378
90befff4b8ee15d52d8497957af4acff76fd5410 segs
43b9113c0c776d7b1b7f6205dbf9816ca237e808 segs
dace2172d194c057359ccc101278d38cf2f75649 segs

grabbing a fresh clone and taking that back in case its something silly...

[2020-09-16 15:41] chriscamacho commented on #1378
sorry wasn't wasn't using your fork - sorry for the noise ! (:embarased:)

While were on though this is a little hacky

    modelA.materials[0].maps[MAP_DIFFUSE].texture = texture;

A function to apply a texture to a model that will cope with even models without previously assigned materials, would be nice!

[2020-09-16 15:41] #1378 closed

[2020-09-16 16:58] raysan5 commented on #1378
@chriscamacho ok, thanks for letting me know! I was worrying about it! :D

[2020-09-16 17:46] chriscamacho commented on #1378
me too!

Whats your thoughts on a re-texture model function

On Wed, 16 Sep 2020 at 17:59, Ray <notifications@github.com> wrote:

--

blog bedroomcoders.co.uk <http://bedroomcoders.co.uk>

Disclaimer:
By sending an email to ANY of my addresses you are agreeing that:

   1. I am by definition, "the intended recipient"

   2. All information in the email is mine to do with as I see fit and make
such

[2020-09-16 19:48] coderoth commented on #1319
@defutura, I had the same problem today. Raylib identified my gamepad and correctly detected connections/disconnections, but couldn identify button presses and axis movements.

My joystick worked fine with SDL and glfw3 sample codes, but not with raylib.
My case was that the glfw gamepad database mapping was not updated with my model (03000000c62400003a54000001010000).

I've found a mapping for my

[2020-09-17 06:03] rhf104 commented on #1374
The hash table implementation seems to be Quadratic probing...
[code]
I found this [explanation of the algorithm on Wikipedia](https://en.wikipedia.org/wiki/Quadratic_probing#Limitations)
An interesting disclaimer:

I haven't been able to fix the algorithm yet but it seems like [there are ways to guarantee an empty cell is found by adding constraints to the possible table sizes and search indexing

[2020-09-17 13:09] arydevy commented on #1370
#796

[2020-09-17 20:10] RGFTheCoder commented on #153
Just wanted to say that for me it won't work if i put the `-lraylib` before the source files:

Works:
[code]

Doesn't Work:
[code]

[2020-09-18 00:19] raysan5 commented on #1378
@chriscamacho I thought about it... here there are a couple of options:
[code]
Personally I find more simple just accessing the model members directly, that's one of the advantages of raylib...

[2020-09-18 00:20] raysan5 commented on #1374
@masterex1000 @rhf104 thank you very much for reviewing this issue, it seems it's related to https://github.com/syoyo/tinyobjloader-c project, maybe you can open an issue on their repo an link with this one.

[2020-09-18 00:24] raysan5 commented on #1319
@coderoth thank you very much for reporting!

Please, could you check if [GLFW3](https://github.com/glfw/glfw) main branch is also updated? I will update raylib glfw version with it...

[2020-09-18 03:54] coderoth commented on #1319
My gamepad ID is not in their repository [mappings.h](https://github.com/glfw/glfw/blob/master/src/mappings.h) list (03000000c62400003a54000001010000).

They have a Cmake script that "updates" the mappings.h file with the latest gamecontrollerdb.txt file:
https://github.com/glfw/glfw/blob/master/CMake/GenerateMappings.cmake

It seems the repository mappings.h is outdated (was updated 10 months ago

[2020-09-18 06:29] chriscamacho commented on #1378
is

SetModelTexture

fairly new?

On Fri, 18 Sep 2020 at 01:19, Ray <notifications@github.com> wrote:

--

blog bedroomcoders.co.uk <http://bedroomcoders.co.uk>

Disclaimer:
By sending an email to ANY of my addresses you are agreeing that:

   1. I am by definition, "the intended recipient"

   2. All information in the email is mine to do with as I see fit and make
such financial profit, politica

[2020-09-18 06:32] chriscamacho commented on #153
@RGFTheCoder this is expected behaviour with g++ and gcc for that matter, nothing to do with raylib ...

[2020-09-18 06:54] raysan5 commented on #1378
Actually those functions do not exist, they are just an idea. Similar functions existed in the past but were removed.

[2020-09-18 07:01] chriscamacho commented on #1378
personally i think they are less dawnting for the newer coderer, people can
be intimidated by "hacking" away at internal structures...

yes that's okay if you (think!) you know what you are doing... but fancy
explaining it to a 10 year old you're teaching python too? (any why
shouldn't said 10 year old have access to raylib straight away - i'd have
loved something like this 40+ years ago!)

On Fri

[2020-09-18 13:59] adamlwgriffiths opened #1380 "[cmake] Incorrect CMake paths"
I'm trying to package Raylib for NixOS and am running into some troubles with the pkgconfig.

I'm not well versed with CMake nor NixOS and so cannot provide much detail here. Suffice to say, I'm seeing a duplication of paths in the pkconfig output.

Here are two examples or the output:
From [contributor](https://github.com/NixOS/nixpkgs/pull/98030#pullrequestreview-488765959)
[code]
My own workspa

[2020-09-18 14:41] raysan5 commented on #1380
I @adamlwgriffiths, I'm not an expert on CMake, maybe @a3f can take a look to this issue.

[2020-09-18 16:42] a3f commented on #1380
Huh, there is both `CMAKE_INSTALL_LIBDIR` and `CMAKE_INSTALL_FULL_LIBDIR`,  so I'd have assumed the first is relative and the second is absolute. Seems that is not so.

Do you want to send a patch? Basically the same that https://github.com/fmtlib/fmt/pull/1657/files is doing.

[2020-09-18 18:50] raysan5 commented on #1198
`model_skybox` (Cubemap generation and drawing) already works on OpenGL ES 2.0 (commit https://github.com/raysan5/raylib/commit/b5d50ee51afe7d30bbbcdd619534e9d4f432f4d3).

[2020-09-19 05:02] adamlwgriffiths commented on #1380
I'm trying to get to grips with how Nix does things, so it may take me a while.

[2020-09-19 12:59] kernelkinetic commented on #1096
@alanbork @chriscamacho I want to provide a clean fork with branches for DRM etc. After fiddeling with too much trouble with this github thing 😀 I'll start again and will commit the already done code in a new branch at https://github.com/kernelkinetic/raylib, please be patient.

[2020-09-19 15:34] alanbork commented on #1096
ok, let us know. seems like all the filed issues got deleted whatever it was you did

[2020-09-19 17:27] raysan5 commented on #1096
@kernelkinetic @chriscamacho @alanbork @TSnake41 @dginu85 Thank you very much to you all for working on this improvement! Now I got three implementation: [@dginu85 one](https://github.com/raysan5/raylib/issues/1096#issue-563451616), [@TSnake41 one](https://github.com/raysan5/raylib/pull/1293) and [@kernelkinetic one](https://github.com/kernelkinetic/raylib). It seems that last one is the most prom

[2020-09-19 17:32] raysan5 commented on #1319
@coderoth I maintain the plain Makefiles building system, not the CMake... maybe I can just update `mappings.h` manually on raylib side. Could you provide the updated file, please?

[2020-09-19 17:34] kernelkinetic commented on #1096
@raysan5 Thanks. I'm currently working out an issue with @alanbork about progressive and interlaced mode selection. I think this should go into the DRM implementation. If this is finished I'll send the PR, if this is okay.

[2020-09-19 17:35] alanbork commented on #1096
the @kernelkinetic/raylib
<reply@reply.github.com> one is
very good, but still has at least one bug to be fixed before it's ready.

On Sat, Sep 19, 2020 at 10:27 AM Ray <notifications@github.com> wrote:

[2020-09-19 18:25] coderoth commented on #1319
Updated version of the file:
[mappings.h.txt](https://github.com/raysan5/raylib/files/5250343/mappings.h.txt)

Created the following pull request, if you prefer:
https://github.com/raysan5/raylib/pull/1381

[2020-09-19 18:32] kernelkinetic commented on #1096
@alanbork I just wanted to contribute some code and not to manage a github repo, sorry for the inconvenience 😬 Anyways, I added branch https://github.com/kernelkinetic/raylib/tree/platform-drm with the well-known code and modified mode selection. Finding the right mode in the list of modes isn't an easy thing, so now first an exactly matching (according width and height) mode is searched (interlac

[2020-09-19 18:44] alanbork commented on #1096
I'll take a look. is there a way to see if you got the requested
interlacing? (I don't mind looking inside the CORE data structure).

On Sat, Sep 19, 2020 at 11:32 AM kernelkinetic <notifications@github.com> wrote:

[2020-09-19 18:46] kernelkinetic commented on #1096
Set `logTypeLevel` in `utils.c` to LOG_TRACE before building raylib to see the available modes and the selected mode.

[2020-09-19 19:10] alanbork commented on #1096
bug is less nasty but still there when asking for 1080 (no interlace flag
set) on a display that only does 1080i:

INFO: DISPLAY: no graphic card set, trying card1
TRACE: DISPLAY: 1 connectors found
TRACE: DISPLAY: connector index 0
TRACE: DISPLAY: there are 11 connector modes
TRACE: DRM mode connected
TRACE: selecting for (res 1920x1080)
TRACE: mode 10 h=640 v=480
TRACE: progressive mode
TRACE: m

[2020-09-19 19:11] alanbork commented on #1096
I meant programmatically .

[2020-09-20 02:14] alanbork commented on #1096
so as I suspected the refresh rates are an issue - on a tv you can have anything from 25 to 75hz supported, and gamers have 144hz screens...  currently it chooses randomly. 25hz is probably not what we want in any situation.

raylib already has a framerate function, SetTargetFPS, so you could use that.  60hz would be a reasonable default, or you could go for max.

[2020-09-20 09:57] kernelkinetic commented on #1096
@alanbork
Thanks for testing! I found a way to test DRM mode selection without proper hardware and so it should work now as expected.
Thanks for your hint about the framerate, I modified the frame rate selection to respect target fps if set and to try 60 Hz otherwise. `InitWindow()` fails if no requested or higher screen refresh rate is found. Of course `SetTargetFPS()` must be called before `Init

[2020-09-20 10:06] a3f commented on #1380
This is issue has nothing to do with NIx. We have an assumption in the CMake code that doesn't always hold true apparently, you can fix it our CMake script.

[2020-09-20 10:33] adamlwgriffiths commented on #1380
I understand that, but I'm running Nix and am just getting to grips with the basics. Ie, getting a cmake environment.

[2020-09-20 13:07] WEREMSOFT commented on #1326
I created a car simulation inspired on the game “art of rally” using #raylib. All physics are hand made.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/808249/93712002-d05f0680-fb52-11ea-8b0c-8d0a4ec5089c.gif)
Source code: https://github.com/WEREMSOFT/c99-raylib-car-physics
online demo: https://weremsoft.github.io/c99-raylib-car-physics/

[2020-09-20 19:17] RGFTheCoder commented on #153
Just wanted to point it out because It took me a really long time to realize.

[2020-09-20 19:23] chriscamacho commented on #153
@RGFTheCoder  have a look at this https://stackoverflow.com/questions/45135/why-does-the-order-in-which-libraries-are-linked-sometimes-cause-errors-in-gcc

[2020-09-20 20:11] alanbork commented on #1096
this is looking very good. I tried asking for 480i on a display that didn't
have 480i and it gave me 1080i, which is maybe not ideal but there's no
ideal option in that case so I'd call it good enough. Everything else
worked right: 50 and 24hz refresh rates were selectable, correctly, for
both 1080i and 1080p. And with the hardware I'm using I can confirm that
the pi even was producing those modes

[2020-09-20 23:55] alanbork commented on #1096
in case anybody wants to support fractional refresh rates (necessary if you need to select NTSC aka 59.97hz), here's the relevant bit of changes. As I said this is probably beyond what anybody else is using raylib for so I'm not submitting an official patch, just an FYI for anybody with unusual needs like mine.

allow setTargetFPS to take a float, and:

[code]

[2020-09-21 04:30] adamlwgriffiths commented on #1380
I've got a branch with this fix: https://github.com/adamlwgriffiths/raylib/tree/1380_cmake_paths
It appears to fix the issue when building using the Nix package manager.
[code]

However, I get some strange paths when I build it inside a self contained environment.
[code]

I'm not sure if this is an artifact of nix or an error in the change.

[2020-09-21 12:15] kernelkinetic commented on #1096
@alanbork Thanks again for testing! I'm glad to see that it's working now 😀 I'll update `GetMonitorRefreshRate()`, thanks for the hint. Is there anything more I should implement before we will consider PLATFORM_DRM ready to send a pull request, @alanbork and @chriscamacho?
@chriscamacho I didn't forget your two issues but I think they don't belong to PLATFORM_DRM so I'll handle them later.

[2020-09-21 13:02] Ilya3point999K commented on #1326
[Crusher](https://github.com/Ilya3point999K/Crusher) is a fancy inifinite-srolling breakout clone in 3D
![Demo](https://user-images.githubusercontent.com/55090478/93769571-6e76cd80-fc34-11ea-98d2-43a668b3512e.gif)

[2020-09-21 16:31] chriscamacho commented on #1096
@kernelkinetic at the moment it seems very PI specific, I wonder if some
things like default /dev/drm/cardX settings and a few other things could go
in config.h or maybe set before calling initWindow() ???

Consider adding switch to tty-1 automagically if a lock can't be achieved
(or have you already)

look at removing down scaling code, we only ever upscale to letterbox, a
smaller screen is never

[2020-09-21 16:33] chriscamacho commented on #1096
above not withstanding this is great work btw, adds greatly to the utility of raylib

[2020-09-22 03:27] ianpan870102 commented on #1199
@chriscamacho Hi Chris, a bit off topic here, but you mentioned that you use WSL as well. I'm a WSL user myself and the OpenGL version is sadly 1.4 only, which is far from the 3.3 required for raylib to work properly. Microsoft hasn't announced a possible timeline for proper OpenGL support in WSL either. How do you develop at the moment?

[2020-09-22 04:00] ianpan870102 opened #1384 "[example] models_material_png broken, ‘GenTextureCubemap()’ changed"
When building the given examples, I encountered this error:  too few arguments to function ‘**GenTextureCubemap**’.

Upon investigation, it seems that the function **GenTextureCubemap** is declared to have 4 arguments, when in **models/models_skybox.c** and **models/models_material_pbr.c**, only 3 were passed in when calling the function.

[2020-09-22 06:28] chriscamacho commented on #1199
I boot windows very infrequently - it's basically a toy to play the odd
game not available in Linux (and that's getting rarer)  I dual boot a box
which does have WSL,  this was enough! I verified that exe I create in
Linux also work just like the WSL version.

I use the following packages to on the very odd occasion I need to make an
exe for someone

    [chris@chris-N150CU ~]$ xbps-query -s mingw

[2020-09-22 07:36] raysan5 commented on #1384
@ianpan870102 good catch! actually that function was changed yesterday... in any case `models_material_pbr.c` doesn't work properly at this point

[2020-09-22 08:08] ianpan870102 commented on #1384
@raysan5 Thanks Ray, I see. Guess I'll keep this issue for a while till it's solved? 👍

[2020-09-22 08:10] ianpan870102 commented on #1384
Speaking of, do you have plans on producing a stable branch for people to download directly with git? Or perhaps have current unstable development live in a dev branch? Just thinking out loud.
Anyways, thanks for maintaining this project, I came across this yesterday and it's very inspiring!

[2020-09-22 08:21] chriscamacho commented on #1384
personally I always use the "dev" branch, it's only occasionally an example stays broke sometimes just a few hours...

too many versions kicking about - confusion !

[2020-09-22 10:52] raysan5 commented on #1384
@ianpan870102 I used to have a `develop` branch but after CI system addition I switched to one main branch. raylib is usually stable.

[2020-09-22 11:31] chriscamacho opened #1385 "[core] unable to enable GIF recording"
setting

#define SUPPORT_GIF_RECORDING       1

in config.h has no effect for me on Linux

even putting deliberate error in ifdefined blocks allows compiling to complete!

is something wiping out SUPPORT_GIF_RECORDING is so I can't see what!

[2020-09-22 14:26] alanbork commented on #1096
I think it's ready. There's maybe a few issues raised about how raylib in general should support multiple monitors, finer grained control over refresh rates, etc, but as is what you have adds significant value to the current iteration of raylib.

things like default /dev/drm/cardX settings and a few other things could go
in config.h or maybe set before calling initWindow() ???

that's a very trick

[2020-09-22 15:36] alanbork commented on #1096
@kernelkinetic one last thought:

instead of hint interlaced = avoid progressive you might think instead of hint allow interlaced, (unset= avoid interlaced). Because most people will probably prefer to get progressive even if it means not getting the exact resolution requested. but if getting the resolution you want is more important, then allow interlaced to get it. make sense?

[2020-09-22 17:48] WEREMSOFT commented on #1326
Shadowmapping for raylib. Uses smokes and mirrors. Don't expect anything very advanced.

Code: https://github.com/WEREMSOFT/c99-raylib-shadowmap
Online Demo:  https://weremsoft.github.io/c99-raylib-shadowmap/

![Screenshot from 2020-09-22 19-38-07](https://user-images.githubusercontent.com/808249/93918253-5b373100-fd0c-11ea-8a86-66f26c913612.png)

[2020-09-22 19:57] jagorochi opened #1386 "[texture] rendering even or odd frame only rendered"
- [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description

Issue creation requested by @raysan5  after report on discord
Raylib only render even or odd frames
sample code provided and screenshot

### Environment

laptop Acer Aspire A715-73G
Processor Intel Core i7

[2020-09-22 20:13] jagorochi commented on #1386
![tx_TAP_Display_White_old](https://user-images.githubusercontent.com/17936869/93932656-d1459300-fd20-11ea-9bea-f941d58dd66f.png)
the png file used

[2020-09-23 03:12] chriscamacho commented on #1326
@WEREMSOFT nicely done!

[2020-09-23 03:26] chriscamacho commented on #1386
can't replicate on Linux I'm seeing a *solid* line

[2020-09-23 14:28] kernelkinetic commented on #1096
@chriscamacho Thanks for your view. The card1/card0 thing is indeed Raspberry Pi specific to support Raspberry Pi 4 and the previous ones. For Linux in general I've implemented a `SetGraphicDeviceName()` as you suggested to set any card name. I currently don't get what you mean with "downscaling code", but maybe you can add a note to the PR 😊 I like your idea to switch to console but I'm not sure

[2020-09-24 03:48] mosujiba opened #1387 "[core] Support user-defined floating-point type"
It would be convenient if the user could customize the floating-point type used by raylib without having to edit the source code. Right now the API almost exclusively uses float, but some users might want to use double, etc. One way to achieve this customizability would be to have raylib use a common alias whose concrete type can be defined at compile time.

[code]

[2020-09-24 06:23] chriscamacho commented on #1096
You never select a buffer that is smaller than the requested screen size - so you only ever need to down scale to a letterbox, never do you need to upscale yet you are checking for both cases...

[2020-09-24 06:27] chriscamacho commented on #1387
You might want to profile some code, casting all doubles to floats to pass to opengl has a cost, additionally some structures just won't fit and will need recreating into structs with floats, not as straight forward as a define for the floating point type.

[2020-09-24 06:49] raysan5 commented on #1387
@mosujiba that change would imply lot of redesign, no plans for now.

[2020-09-24 06:49] #1387 closed

[2020-09-24 10:07] raysan5 commented on #1384
I'm closing this issue for now, `models_material_pbr` will be reviewed in the future...

[2020-09-24 10:07] #1384 closed

[2020-09-24 10:14] raysan5 commented on #1386
@jagorochi I reviewed the example. First, you should call ClearBackground() between frames. I can see the square correctly moving one step every time. Here the reviewed code:
[code]

[2020-09-24 10:28] raysan5 commented on #1385
@chriscamacho I verified it neither works on Windows... I will review it...

[2020-09-24 14:18] chriscamacho commented on #1385
Thanks, just be working for some? Seen the gif's !  Can't understand what's killing the define for me???

[2020-09-24 16:12] kernelkinetic commented on #1096
@chriscamacho The mode list isn't necessarily sorted so I had some trouble with it. Maybe I fixed this already and maybe you are so kind to check this in https://github.com/raysan5/raylib/pull/1388.

[2020-09-24 16:20] chriscamacho commented on #1096
I can't checkin PRs on this repo!

once the PR is in I will test again

[2020-09-24 16:22] kernelkinetic commented on #1096
@chriscamacho Oh, sorry. I've PRed my https://github.com/kernelkinetic/raylib/tree/platform-drm

[2020-09-24 16:37] raysan5 commented on #1096
@kernelkinetic Excuse for the late response! Thank you very much for the PR, it looks really good! Just two concerns out-of-curiosity:

 1. Would it be possible to avoid the `drm_mouse_img.h`? Just asking, I'll think about it more carefully...
 2. About the new set of variables for `PLATFORM_DRM`, are all of them required to be stored?

I'll review the PR more carefully after merging (maybe doing

[2020-09-24 16:45] kernelkinetic commented on #1096
@raysan5 Thanks 😀  `drm_mouse_img.h` contains a good looking mouse pointer contributed by @chriscamacho, so maybe he can say more about this.

I carefully selected to store only the variables that are really necessary, but I will double check that again 👍

[2020-09-24 17:12] alanbork commented on #1096
I'm not a fan of the cursor addition actually - way too big on low
resolution screens and too small on high ones.

On Thu, Sep 24, 2020, 9:46 AM kernelkinetic <notifications@github.com>
wrote:

[2020-09-24 17:57] kernelkinetic commented on #1096
@raysan5 I've checked the variables I introduced into `CORE.Window` and I'm afraid they are all necessary as long as the window exists:
[code]
is set using SetGraphicDeviceName(...) before calling InitWindow(...).

[code]
are necessary in consecutive calls to SwapBuffers(...).

[code]
are the native display and surface on which EGL relies as long as it uses the window.

According to the mouse poin

[2020-09-24 18:18] alanbork commented on #1096
btw I have a question raised by

struct gbm_bo *prevBO;              // previous used GBM buffer object
(during frame swapping)

uint32_t prevFB;                    // previous used GBM framebufer
(during frame swapping)

I'm measuring output with a photometer, and it looks like what's
happening is that the display outputs the frame as soon as you call
swap buffer, and blocks if it hasn't finished

[2020-09-24 18:20] raysan5 commented on #1096
@kernelkinetic thanks for the detailed explanation.

About the `SetGraphicDeviceName()` before `InitWindow()`, it seems a bit cumbersome solution to me, I believe most users probably don't want to worry about that, I'd would prefer to use (if possible) a default `#define DRM_DEVICE_NAME` and let the advance users re-define it when required (despite having to recompile the library).

About `drm_mou

[2020-09-24 18:26] kernelkinetic commented on #1096
@alanbork Interesting question. Yes, there are two buffers used in `SwapBuffers()` and as far as I know I it can be extended to three buffers if hardware supports it. I'll investigate further.

@raysan5 Both sounds reasonable to me. I'll change this and and commit to the PR when it's ready 👍 Should I remove the two checks for Raspberry Pi and use just one defined device name or should this stay as

[2020-09-24 18:45] raysan5 commented on #1096
@kernelkinetic Sorry, could you point me to the specific code line?

Also considering using `PLATFORM_NATIVE_DRM` and rename `PLATFORM_NATIVE_RPI`, what do you thing? defines would be longer but maybe more descriptive for future users... in any case, this change could be applied after merging.

[2020-09-24 19:31] alanbork commented on #1096
are there any platform_unative's planned? cuz otherwise it seems
unnecessarily long.

On Thu, Sep 24, 2020 at 11:45 AM Ray <notifications@github.com> wrote:

[2020-09-24 19:42] kernelkinetic commented on #1096
@raysan5 I mean lines 3086..3092 in core.c.

I'm not sure about the platform names, on the one hand RPI and DRM are a little bit misleading because DRM is the new RPI, otherwise DRM works also on Linux as native mode 🤔

[2020-09-25 05:11] kernelkinetic commented on #1096
I corrected my previous post.

@alanbork Additional to the native platforms there is PLATFORM_DESKTOP which is incorporating X and also work on Raspberry Pi and Linux and which is another way of using raylib on these systems beside PLATFORM_DRM.

[2020-09-25 06:58] Leinnan commented on #1326
My old project made with raylib, entt and imgui, currently on hold:
![Image of editor](https://i.imgur.com/uF2vUTq.jpg)
Link to repo: https://git.sr.ht/~leinnan/raylibGame

[2020-09-25 07:36] kernelkinetic commented on #1096
@raysan5 I have new information to clarify this `/dev/dri/card*` thing a little bit to find a proper solution for your `#define DRM_DEVICE_NAME` proposal, that I really like btw.

On Raspberry Pi the default situation `/dev/dri/card0` exposes the older VC4 driver interface and `/dev/dri/card1` the V3D interface that Platform DRM supports. But sometimes (maybe because you can switch the drives on R

[2020-09-25 07:39] chriscamacho commented on #1096
I originally embedded the image directly in the code - purposely to avoid
an include !

On Thu, 24 Sep 2020 at 17:37, Ray <notifications@github.com> wrote:

--

blog bedroomcoders.co.uk <http://bedroomcoders.co.uk>

Disclaimer:
By sending an email to ANY of my addresses you are agreeing that:

   1. I am by definition, "the intended recipient"

   2. All information in the email is mine to do with

[2020-09-25 07:40] muevoid commented on #1376
I have made a patch to do this just not sure how to incorporate into the build system. Here it is:
[code]

after doing this I also run sed -i 's/-lGL/-lGLESv2/g' build/build.ninja in the main directory however this is build system specific if it were in a makefile perhaps a ifeq?

[2020-09-25 07:45] chriscamacho commented on #1096
you can access V3d on /dev/card0 just fine, in the very early days of pi4
it was better to use /dev/card1 and the secondary display connector.

I can't remember why exactly this was, but afaik /dev/card0 should be fine.

On Fri, 25 Sep 2020 at 08:37, kernelkinetic <notifications@github.com>
wrote:

--

blog bedroomcoders.co.uk <http://bedroomcoders.co.uk>

Disclaimer:
By sending an email to ANY of

[2020-09-25 09:38] QuantScientist opened #1389 "Is there support for std++14/17?"
### Issue description
Dear team,
My existing CMake project relies on std++17, could I mix and match it with raylib, given that your CMake states:
`set(CMAKE_C_FLAGS "-std=gnu99 ${CMAKE_C_FLAGS}")`
`set(CMAKE_C_STANDARD 11)`

Whereas mine:
`LANGUAGES CXX C`
and:
[code]
### Environment

Windows 10, VC 19, Clion + CMake.

### Code Example

Provided above, this is a compilation / cmake question.

Than

[2020-09-25 12:16] QuantScientist commented on #1389
Made some progress, I can compile link and execute my code.

[2020-09-25 13:08] kernelkinetic commented on #1096
@chriscamacho At least on my up-to-date Raspberry Pi 4 Raspbian here I can open `/dev/dri/card0` but I can't get DRM resources for it.

[2020-09-25 14:20] #1380 closed

[2020-09-25 14:37] kernelkinetic commented on #1096
@alanbork I'm not a professional for graphics, but if the hardware supports it then triple buffering and vsync is possible with DRM because others already implemented it. Maybe if my current implementation is successully tested by some people in real world we could go to triple buffering.

[2020-09-25 15:01] chriscamacho commented on #1096
@kernelkinetic - interesting, I was using custom, butchered image last on PI4 so probably some wrinkles with RPI OS ?

in any case obviously - if you can't get it on /dev/dri/card0 it'll have to be card1 !

[2020-09-25 15:43] raysan5 commented on #1376
I'm closing this issue, if any user requires this specific implementation, it can be checked for reference.

[2020-09-25 15:43] #1376 closed

[2020-09-25 15:45] raysan5 commented on #1320
No plans to review this implementation for the moment.

[2020-09-25 15:45] #1320 closed

[2020-09-25 15:45] raysan5 commented on #1319
Updated! It should work now! Closing the issue!

[2020-09-25 15:45] #1319 closed

[2020-09-25 15:56] mattdiener commented on #1327
This is extremely useful for the project that I am working on. Thank you!

[2020-09-25 16:05] raysan5 commented on #721
`rlgl` framebuffer loading and tex-attaching mechanism have been redesigned.

All `GenTexture*()` functions have been reviewed and redesigned (and actually, simplified) with a more consistent implementations, using `rlgl` new functions for framebuffer management.

Still some points left:

 - Using internal batch system vs using raw OpenGL drawing (`GenDrawCube()`). glActiveTexture() / glBindTextur

[2020-09-25 16:10] raysan5 commented on #1096
@kernelkinetic Excuse the late resposne, about checking for `/dev/dri/card1` and fallback to `/dev/dri/card0` looks perfect for me.

Not sure if there is any tweak left, let me know and I'll merge. `PLATFORM_` flag names can be renamed later on.

[2020-09-25 16:17] QuantScientist commented on #1389
Thanks for your response! I moved from NanoUI to RayLib after endless issues with CMake.
So far so good, I shall keep you posted:
https://github.com/QuantScientist/TorchRayLib

[2020-09-25 16:18] QuantScientist commented on #1326
TorchRayLib++: A CMake based integration of the RayLib GUI library and the Libtorch C++ Deep Learning Library.
https://github.com/QuantScientist/TorchRayLib

https://github.com/QuantScientist/TorchRayLib/raw/master/asstes/torch_core_random_values.gif?raw=true

[2020-09-25 16:22] raysan5 commented on #1389
@QuantScientist Nice! I'll close this issue for now. Great project by the way! :D

[2020-09-25 16:22] #1389 closed

[2020-09-25 16:37] raysan5 commented on #1385
@chriscamacho I tried it again and now it works, I'm afraid I was testing/linking against the wrong `libraylib.a` version.

Verify that you are compiling the modified version and the define is properly considered.

[2020-09-25 16:49] kernelkinetic commented on #1096
@raysan5 No problem, everything fine here 😀 I've currently nothing to add so you can merge 👍

[2020-09-25 17:34] alanbork commented on #1096
I'm not sure PLATFORM_DRM is any more native than PLATFORM_DESKTOP though. In the end both use the same fkms drivers, right?

[2020-09-25 17:53] kernelkinetic commented on #1096
@alanbork The fkms driver is the native option at least on Raspberry Pi 4, there the framebuffer is emulated only. And PLATFORM_DRM goes fullscreen without any other program allowed on the screen while PLATFORM_DESKTOP uses a window on X.

[2020-09-25 18:05] gen2brain commented on #1096
Sorry for the intrusion, but can PLATFORM_DRM work while in X? And as I understand, since there is no window, it will always be fullscreen or it can be borderless square or something like that? And nothing is needed for input, it is all native Linux, very nice.
So any board with support for Linux, even if not supported in libdrm (intel,amdgpu,exynos,freedreno,nouveau,omap,radeon,tegra,vc4,vivante,

[2020-09-25 18:32] kernelkinetic commented on #1096
@gen2brain PLATFORM_DRM doesn't work when X is on the screen. You can switch from a graphical console running X to a text console and then start a raylib PLATFORM_DRM program. You can also switch between the two, but only one of them can draw at the screen at the same time.
Exactly, any board supporting GBM, DRM and OpenGL ES 2 (currently, this could be changed when you build raylib) should work.

[2020-09-25 18:48] kernelkinetic commented on #1295
@raysan5 Maybe the big GPU and CPU profiler https://github.com/wolfpld/tracy/ can give some impressions.

[2020-09-25 22:38] terraKote commented on #792
Still having this issue. Using raylib 3.0.0 (01 April 2020) with spdlog and having error "UnhideWindow can't override function with C binding" (C2733) at Visual Studio Community 2019, 16.6.1,

[2020-09-26 06:14] chriscamacho commented on #792
I've found much better results with window, when using the windows subsystem for linux

This does not encumber your exe with a dependency (other than possibly a single gcc dll which can be packaged with the exe (WSL does not do graphics or opengl or sound or anything else other than provide a build environment)

The Linux build tools when used in windows, give a much easier build environment, allo

[2020-09-26 06:23] chriscamacho commented on #1385
I placed

    slkjfghldgh

inside one of the #if defined(SUPPORT_GIF_RECORDING) in core.c

all compiles fine without error ??!!??

will delete working copy of raylib and try again....

[2020-09-26 06:52] chriscamacho commented on #1385
okay got it to compile ! (dunno what was going on there!!) :facepalm:

however there is a linux / glfw issue GLFW doesn't see CTRL-F12 because by default it bound to switching workspaces in a number of window managers, as I don't use workspaces, I was able to unbind the key combo to get it working

When supporting a platform other than windows it would be nice if default key bindings used in that

[2020-09-26 09:43] raysan5 commented on #1385
@chriscamacho Actually, raylib auto-gif-recording functionality should be redesigned... `rgif` is extremely slow and it should be replaced/reviewed. I'm considering `[msf_gif](https://github.com/notnullnotvoid/msf_gif)` a great candidate.

[2020-09-26 16:06] jamesl-github commented on #792
what example are you trying to build ?

[2020-09-26 18:56] Axilot opened #1390 "How would i render a window using vulkan?"
Hello there,
Im completely new to everything and id like to know if i am able to use vulkan for my renderings?

[2020-09-26 19:35] raysan5 commented on #1390
@Axilot Sorry, raylib does not support Vulkan.

[2020-09-26 19:35] #1390 closed

[2020-09-27 08:22] raysan5 commented on #1096
Pull Request has been finally merged! Thanks to all the contributors for this big and amazing addition to raylib!

It still requires some testing but hopefully `PLATFORM_DRM` will open the door to a broad set of embedded platforms. Please, let me know if you test it with some platforms other than Raspberry Pi 4!

:D

[2020-09-27 08:23] #1385 closed

[2020-09-27 08:24] raysan5 commented on #1385
@chriscamacho ALT key is the default control for camera on most 3D softwares, so I used it as default. It can be changed using `SetCameraAltControl()`.

[2020-09-27 08:26] raysan5 commented on #1096
@kernelkinetic About the Travis CI issue:
[code]
Would it be possible to review that? Maybe @a3f could take a look?

[2020-09-27 08:34] kernelkinetic commented on #1096
I've added lines 187..189 for all platforms which conflicts with line 194 which is only active for PLATFORM_DESKTOP. In my opinion the CMake files need some updates in general. A quick solution could be to activate lines 187..189 only if it's not PLATFORM_DESKTOP.

[2020-09-27 08:36] kernelkinetic commented on #1096
@raysan5 Beside my previous message about TravisCI, I'll also test PLATFORM_DRM on a beaglebone black embedded system 😉

[2020-09-27 08:43] raysan5 commented on #1127
PR #1318 has been merged, `rlDrawMeshInstanced()` has been added.

As commented, this implementation has some limitations in terms of the instanced properties: only transform Matrix can be changed for every instance. Other properties like color are not considered with this implementation, a lower level API could be required for them... maybe in a future.

[2020-09-27 08:43] #1127 closed

[2020-09-27 08:49] raysan5 commented on #1096
@kernelkinetic Nice! Let me know how it works on a BeagleBone Black!

About CMake, let's wait for @a3f opinion on that but for me a `PLATFORM_DESKTOP` check sounds good.

I'm curious about if `PLATFORM_DRM` works on ClockworkPi GameShell... I'll ask in Discord if anyone could try it...

[2020-09-27 10:30] pmprog opened #1391 "[Platform: DRM] Compilation on Odroid Go Advance"
**WARNING: Please, read this note carefully before submitting a new issue:**

It is important to realise that **this is NOT A SUPPORT FORUM**, this is for reproducible BUGS with raylib ONLY.

There are lots of generous and helpful people ready to help you out on [raylib Discord forum](https://discord.gg/VkzNHUE) or [raylib reddit](https://www.reddit.com/r/raylib/).

Remember that asking for suppor

[2020-09-27 11:31] pmprog commented on #1391
Using make PLATFORM=PLATFORM_DRM, everything builds, but trying to run an example yields:

[code]

[2020-09-27 11:51] kernelkinetic commented on #1391
I've seen this also sometimes when using cmake in Visual Studio Code with cmake-tools extension. On configuring it prints `PLATFORM=PLATOFRM_DRM` but on building it prints `PLATFORM=` and failed with at least similar errors. A clean reconfigure often helped but sometimes not.

[2020-09-27 12:37] GitSparTV opened #1392 "[core] Mouse movements are bound to the screen resolution"
### Issue description

On the maze example the mouse movements are bound to the screen resolution I have.
Also the camera movements are shuttering when I hold move key.

### Environment

Raspberry PI 4 no X11, 446f9ff commit. PLATFORM_DRM.

[2020-09-27 12:40] GitSparTV commented on #1392
Video:
https://imgur.com/R05SyMt

[2020-09-27 13:02] GitSparTV commented on #1392
Log:
[code]

[2020-09-27 19:13] terraKote commented on #792
I'm trying to build custom logging example. Here's my change:
[code]

[2020-09-27 19:42] jagorochi commented on #1386
Hi,
@raysan5  i just ran your code and it's what i see :
https://streamable.com/0qpkqg

i don't think this issue is closed :)

[2020-09-27 20:37] jagorochi commented on #1386
here is a more demonstrative example than a moving cube where i just alternatively display even/odd text from this png respectively on left/right side of the windows  :
![even_odd](https://user-images.githubusercontent.com/17936869/94375112-8d340300-0111-11eb-8e74-81b0ea309681.png)

**i only see "odd" displayed. Even is never visible.**

[code]

[2020-09-27 21:23] raysan5 commented on #1386
Very weird... 🤔

[2020-09-27 22:08] raysan5 commented on #1079
Moved this information to [Wiki](https://github.com/raysan5/raylib/wiki/raylib-integration-with-other-libraries).

[2020-09-27 22:08] #1079 closed

[2020-09-28 01:05] chriscamacho commented on #1386
can't replicate Linux 64 bit, just see odd even flashing every second...

[2020-09-28 01:06] chriscamacho commented on #1385
would you like me to look at implementing msf_gif ?

[2020-09-28 05:21] kernelkinetic commented on #1096
@a3f https://github.com/raysan5/raylib/issues/1391 may be related to CMake quirks.

[2020-09-28 06:54] jagorochi commented on #1386
INFO: Initializing raylib 3.0
INFO: DISPLAY: Device initialized successfully
INFO:     > Display size: 1920 x 1080
INFO:     > Render size:  256 x 128
INFO:     > Screen size:  256 x 128
INFO:     > Viewport offsets: 0, 0
INFO: GLAD: OpenGL extensions loaded successfully
INFO: GL: OpenGL 3.3 Core profile supported
INFO: GL: OpenGL device information:
INFO:     > Vendor:   Intel
INFO:     > Rendere

[2020-09-28 07:02] raysan5 commented on #1386
@jagorochi please, could you try with latest raylib from github main branch? it is raylib 3.1-dev

[2020-09-28 07:10] jagorochi commented on #1386
i just downloaded raylib-master this morning (didn't find a 3.1-dev branch or tag), compiled it with npp (F6:raylib_source_compile) and it's still the same

[2020-09-28 19:25] raysan5 commented on #1385
@chriscamacho feel free, actually replacement should be straight fordward, API is almost the same

[2020-09-28 20:59] raysan5 commented on #1198
Just a note, moved raylib integration with other libraries to [Wiki](https://github.com/raysan5/raylib/wiki/raylib-integration-with-other-libraries). It should be commented on the release!

[2020-09-29 11:48] paklau99988 opened #1393 "No make compile with CMake"
### Issue description
I clone the repo, try build get error.

### Environment

Win 10, use VC 19

### Issue Screenshot

![image](https://user-images.githubusercontent.com/65712388/94554364-a26c7700-0262-11eb-91dc-c8233379bfe7.png)

### Code Example

No code, just cmake want make work

[2020-09-29 11:58] kernelkinetic commented on #1393
This is a duplicate of #1391, please look at https://github.com/raysan5/raylib/issues/1096#issuecomment-699603920 and following comment(s) for the temporary solution.

[2020-09-29 15:18] tjammer commented on #1096
The problem here is that target_link_libraries for raylib_static is called once with keyword "PUBLIC" (line 189) and once without keyword (line 195). Cmake does not allow mixing these signatures. Either have both calls without keyword or both with.

I fix could look like this https://gist.github.com/tjammer/ec0ed7fabd701fe3387cacf2aaaf6a75

[2020-09-29 19:51] codz01 opened #1396 "loading resource from zip file"
Hi
does raylib support loading resources (image , sound, font) from zip file ?

[2020-09-29 20:31] codz01 commented on #1396
i just realize that you've already add *frommemory api's

[2020-09-29 20:31] #1396 closed

[2020-09-29 20:35] raysan5 commented on #1396
@codz01 yeah, it was just added two weeks ago, you can use PhysFS to load from zip.

[2020-09-30 11:40] jagorochi commented on #1386
this issue can be closed.
Intel released a driver update last week that solved the issue :
https://downloadcenter.intel.com/fr/product/136865/Carte-graphique-RX-Vega-M-GL-de-Radeon-

[2020-09-30 14:38] raysan5 commented on #1386
@jagorochi nice to know it was a driver issue!

[2020-09-30 14:38] #1386 closed

[2020-10-01 09:27] chriscamacho commented on #1392
off the top of my head the mouse is being handled differently - on this platform you'll need to adjust the mouse position back to the centre of the screen after getting the mouse movement delta - this platform really should behave the same should behave the same.

[2020-10-01 09:33] chriscamacho commented on #1374
is it worth comparing with https://github.com/jpcy/objzero ?

it does at least seem to triangulate meshed - something that makes the current loader fail with a lot of kenney.nl assets.

Not sure about the hashmap implementation ?

[2020-10-03 08:21] chriscamacho opened #1399 "[model] billboard doesn't discard alpha fragments..."
add to billboard example

    Vector3 billPosition2 = { 0.0f, 2.0f, 1.0f };

     ...

           DrawBillboard(camera, bill, billPosition2, 2.0f, WHITE);

the transparent areas obscures other billboards...

[2020-10-03 21:13] gavriil07 commented on #1198
A very nice addition would be to use the sokol gfx for the rlgl module in order to add support for metal and directx :) @raysan5

[2020-10-04 09:00] Tkap1 opened #1401 "[core] DrawGrid causes "Batch elements overflow (MAX_BATCH_ELEMENTS)" or just messes up the camera view"
### Issue description
Some values of **DrawGrid** **slices** param in combination with specific amount of calls to **DrawCube** cause raylib to either close with the error above or mess with the view. Here is GIF showing it in action: https://i.imgur.com/aIsk01O.gif

It is very consistent. It always happens when **draw_count** (the number of times I call **DrawCube**) is 890. If I start **draw_cou

[2020-10-04 09:44] chances commented on #168
@raysan5 I'm experiencing this issue _after_ I resize my app's window in macOS Catalina 10.15

[2020-10-04 10:07] raysan5 commented on #1198
@gavriil07 No plans to redesign `rlgl` to support `sokol_gfx`, actually, if it was redesigned it would be to support Vulkan directly.

About Dear ImGui support, we already have [c99-raylib-cimgui-template](https://github.com/WEREMSOFT/c99-raylib-cimgui-template).

[2020-10-04 10:09] raysan5 commented on #1399
@chriscamacho To discard fragments it would require a custom shader, raylib default shader doesn't do that, it's setup for standard alpha blending. The best option here is controlling the drawing order of elements each frame depending on camera distance.

[2020-10-04 10:09] #1399 closed

[2020-10-04 11:13] chriscamacho commented on #1399
which is not always possible, why not have a default billboard shader that
does discard alpha fragments?

as is, it's usefulness is limited where they should really be first class
3d citizens really what you have is something that is NOT beginner
friendly, manual Z sorting of billboards just shouldn't be needed

[2020-10-04 11:48] raysan5 commented on #1399
A billboard specific shader is an extra that only some specific users will require, I prefer to avoid it...

[2020-10-04 15:55] chriscamacho commented on #1399
sorry not being difficult here (honest!) but a default billboard shader is
very simple and would be transparent to the end user.  To a new coder this
should just work and not require manual Z sorting which is a steep learning
curve for a new programmer...

[2020-10-04 15:57] raysan5 commented on #1399
Not planned for the moment, not a priority, maybe in another moment.

[2020-10-04 20:01] bosoni commented on #1390
I have checked Think-Silicon's GLOVE (GL->Vulkan) and ANGLE.

GLOVE was quite slow when I tested its benchmarks (and seems to be sleeping state(or dead) so ANGLE is better way to go (it would be great having gl, d3d11, vulkan, metal platforms, just using gles2 codepath).

UWP uses ANGLE, then raylib runs on D3D11. So if using same method and compile ANGLE to use Vulkan, and using these compiled .l

[2020-10-04 20:13] bosoni opened #1402 "UWP compiling problem"
UWP doesnt compile because of miniaudio.h. There is now issue so when it is fixed, miniaudio.h should be updated.
https://github.com/mackron/miniaudio/issues/199

[2020-10-04 20:20] raysan5 commented on #1390
Sincerely, I really think it does not worth it.

[2020-10-04 20:39] bosoni commented on #1390
Ok. But if I ever make raylib+angle hack (with benchmarking test), I will let you know.

[2020-10-05 12:43] bosoni commented on #1402
Fix is in miniaudio dev branch and it works. It will be in the next miniaudio master version.

[2020-10-05 13:59] chriscamacho opened #1403 "[raymath] compile issue"
In file included from src/main.c:27:
    ../raylib/src/raymath.h: In function 'QuaternionFromMatrix':
    ../raylib/src/raymath.h:1331:5: error: missing initializer for field 'y' of 'Quaternion' {aka 'struct Vector4'} [-Werror=missing-field-initializers]
     1331 |     Quaternion result = { 0.0f };
          |     ^~~~~~~~~~
    compilation terminated due to -Wfatal-errors.
    cc1: all warnings

[2020-10-05 17:36] raysan5 commented on #1402
ok, nice

[2020-10-05 18:05] raysan5 commented on #1403
@chriscamacho Wow! Good catch! Actually I didn't understand properly the aggregate initializations! C language still surprises me! :D

[2020-10-05 18:05] #1403 closed

[2020-10-05 18:07] raysan5 commented on #1391
@kernelkinetic it seems this issue is related to some CMake configuration... can it be closed?

[2020-10-05 18:09] kernelkinetic commented on #1391
@raysan5 Absolutely, I just wanted to wait if someone other complains but obviously it happens only under very special circumstances. Can be closed imho.

[2020-10-05 18:36] #1391 closed

[2020-10-05 18:36] raysan5 commented on #1391
@kernelkinetic Ok, thanks! :D

[2020-10-05 18:45] BaconOFBurger commented on #1374
Seems like I missed a few stuff here as I see, I was overwhelmed with school stuff and completely forgot about this lol.
Anyway thank you so much guys for spending your free time on finding what the issue is, I guess like @rhf104 said I could temporarily fix this issue by recompiling raylib with this modification:
[code]
meanwhile tinyobjloader-c fixes their algorithm.

[2020-10-05 18:48] carlsmith opened #1404 "[wiki] Minor issue with the Home page."
I just lightly edited [the Home page of the wiki][1] and am having trouble with the second bullet point (my emphasis):

+ The second section ... includes information about library compilation on different platforms, and *library usage on games/apps/tools development*.

What does *library usage on games/apps/tools development* mean? The second section of the wiki only seems to include docs on build

[2020-10-05 19:02] raysan5 commented on #1404
@carlsmith that page was written with a bit of rush, I'm neither a native English speaker so there could be issues... feel free to edit it.

[2020-10-05 20:19] carlsmith commented on #1404
Thank you, @raysan5. Will do.

It's well written. I haven't needed to rewrite anything. I'm just editing little things as I read through it.

[2020-10-05 20:19] #1404 closed

[2020-10-05 20:52] BaconOFBurger commented on #1374
Update: Okay, I recompiled raylib with an increased ``HASH_TABLE_DEFAULT_SIZE`` size (set to 29) in ``tinyobj_loader_c.h``, it did indeed ~~fix~~ patch a few models like the ambulance but I still have 4 models out of 458 that simply refuses to load.

I'm pretty sure there's still another issue unrelated to this cursed algorithm since increasing the hash table size doesn't affect anything.

[models

[2020-10-05 21:00] raysan5 commented on #1374
@BaconOFBurger it seems issue is not related to raylib but tinyobjloader-c, did you open an issue on their repo? They should be aware of this problem...

[2020-10-05 21:32] BaconOFBurger commented on #1374
Done 😅

[2020-10-06 01:58] carlsmith opened #1405 "[request] USB Module"
I'd like to request including a low-level USB module that allows direct USB communication, rather than wrapping HID profiles (similar to the Web USB API).

Personally, I'd like to make audio software for Launchpads, DJ controllers et cetera, but a USB library would open up support for many different kinds of peripheral, from game related stuff (like the various Rock Band / DJ Hero style controller

[2020-10-06 06:29] chriscamacho commented on #1403
yeah for a "simple" language the details can be fun!

I think in this specific case its not much more than a theoretical issue as all members of result are always overwritten.

I can see it potentially causing a difficult to track error though, you think you are initialising every member but only the first one actually is. urgh!  its interesting that I only actually caught this with -Wextra (you'd

[2020-10-06 06:40] chriscamacho commented on #1404
@carlsmith please do keep up with the wiki edits, should you have specific technical questions about raylib I would be happy to take some load off Ray - you can contact me via my github profile homepage link.

[2020-10-06 07:02] chriscamacho opened #1406 "[models] OBJ loader diffuse colour issue"
This can be seen when attempting to use assets (from the highly recommended) kenney.nl - many other artists use this method for material handling, as you can have good simple looking low poly models without the need of extra texture resources.

Looking at a sample material file

    # Created by Kenney (www.kenney.nl)

    newmtl crystal
    Kd 0.1862318 0.8773585 0.5934362

    newmtl metal
    K

[2020-10-06 08:03] bosoni commented on #1402
miniaudio is now version 0.10.20 so you can update raylib's miniaudio and close this issue.

[2020-10-06 09:20] chriscamacho commented on #1406
okay, this one escapes me, first of all I modified LoadObj to show me the materials

    INFO: MODEL: [alien.obj] OBJ data loaded successfully: 6 meshes / 5 materials
    INFO: Kd = 0.186232 0.877358 0.593436 0.000000
    INFO: material 0 diffuse 47 223 151 255
    INFO: Kd = 0.843137 0.870588 0.909804 0.000000
    INFO: material 1 diffuse 215 221 232 255
    INFO: Kd = 1.000000 0.628524 0.202830

[2020-10-06 09:23] chriscamacho commented on #1406
BTW the colour that's used on all the materials is material zero's diffuse colour....

[2020-10-06 09:25] chriscamacho commented on #1406
okay its just dawned on me I see the issue now!

for (int i = 0; i < model.meshCount; i++)
{
    // TODO: Review color + tint premultiplication mechanism

    ...

    rlDrawMesh(model.meshes[i], model.materials[model.meshMaterial[i]], model.transform);

this is assuming that mesh[i] uses material[i]

The obj loader needs to handle multiple sub meshes as provided my tinyobjloader so each mesh can

[2020-10-06 10:08] chriscamacho commented on #1406
I have the multiple meshes loaded in a single model, however it looks like attrib.material_ids[m] is always returning -1

... I'm close!

[2020-10-06 10:30] chriscamacho commented on #1406
Have I hit the hashmap issue....? AFAICT this issue is with tinyobjloader, its just NOT giving any material ID's for the meshes, they are always all -1 !!!

[2020-10-07 01:07] chriscamacho commented on #1406
okay fixed the broken hashmap lookup.... but then realised materials are per face not just per mesh DOH!

so I need to think about the best way to change the model not into the OBJ sub meshes but into a sub meshes grouped by material ID....

[2020-10-07 07:48] chriscamacho commented on #1406
cracked it !!!

![obj-loader](https://user-images.githubusercontent.com/716361/95302169-7ad86880-0879-11eb-90cd-d46c522d9ba5.png)

this is an UNtextured OBJ with basic lighting shader and a bluish tint (drawModel colour)
its has a separate sub mesh per material, the meshes are picked out of the single blob of faces you get from the obj loader,  OBJ sub mesh's are not split out per material...!

I

[2020-10-07 07:53] chriscamacho commented on #1374
@BaconOFBurger are you actively working on this issue?

https://github.com/raysan5/raylib/issues/1406#issuecomment-704760368

do you want to combine our work into a single PR ?

[2020-10-07 14:13] chriscamacho commented on #1374
@BaconOFBurger I tried your models, but none of them induced the hashmap bug

I have applied a number of my own bug fixes to tinyobj_loader.h to allow proper material meshes, I think I might have accidentality fixed your hashmap issue ? (can you provide an obj where the hashmap definitely DOES NOT work for you please)

The only issue I did see is that the OBJ's weren't triangulated - as this can b

[2020-10-07 18:33] masterneme commented on #1198
Hi, I don't know if you gave up on raynet but I suggest you check out [enet](https://github.com/lsalzman/enet), I believe it has everything you need. Godot uses it and League of Legends did (I don't know if they do now), so it's already been battle tested.

[2020-10-07 18:42] BaconOFBurger commented on #1374
@chriscamacho

That would be a good idea since both issues are sort of related.

Uh sorry I'm really not familiar with C code at all, I really dislike working with C and I'm afraid I can't contribute a lot.

Didn't notice that, ill triangulating them with blender then. Ill let you know when I done that

[2020-10-07 18:58] masterex1000 commented on #1405
If by "low-level" usb library you mean being able to write code to directly communicate with usb devices, that would require you to write a driver, which is a whole other thing.

But Luckily, If your just worried about Launchpads and DJ controllers, They usually just use midi for communication. I know for a fact the launchpads do, and also that most usb-dj controllers do to.

So I'm guessing you r

[2020-10-07 20:45] carlsmith commented on #1405
Hi, @masterex1000. A lot of the devices only support MIDI over USB, though many do support plain MIDI as well. To be fair, I should have put more effort into the feature request. I'll update it now...

[2020-10-07 21:43] raysan5 commented on #1198
@masterneme thanks, I'm aware of `enet`, looks good... but I try to only use single-file single-header libraries with raylib. But maybe I consider it in the future.

[2020-10-07 21:46] raysan5 commented on #1406
@chriscamacho Very nice work, looks good.

[2020-10-07 21:47] raysan5 commented on #1405
@carlsmith I'm afraid this module is out-of-scope at this moment for raylib. My recommendation is combining raylib with some other USB library that offers that functionality.

[2020-10-07 21:47] #1405 closed

[2020-10-08 05:33] chriscamacho commented on #1374
@BaconOFBurger news! (of the good variety!)

I managed to replicate the issue by setting

    #define HASH_TABLE_DEFAULT_SIZE 1

:scream: the solution was to ask for twice what was being asked for (which was twice anyhow) this allows space plus space for collisions...

so don't break your neck triangulating everything in sight :WINK:

[2020-10-08 11:07] chriscamacho commented on #1406
closing this as I fixed the issue, see PR #1408

[2020-10-08 11:07] #1406 closed

[2020-10-08 18:57] raysan5 commented on #1374
Closing issue!

[2020-10-08 18:57] #1374 closed

[2020-10-08 20:20] Hairein opened #1409 "[core] Segmentation fault during DIFFUSE_MAP texture assignment to Heightmap Model"
### Issue description

I've got a problem with the current GitHub Raylib version (master,8thOct2020) usage of materials with the height map generation, it causes a segmentation fault during DIFFUSE_MAP texture assignment. I've made a small Linux sample project (main.c, makefile, heightmap.png) to show the problem with the online heightmap example code adapted.
Older version of Raylib on another co

[2020-10-09 00:17] carlsmith commented on #1405
@raysan5, I'm happy to use an external library for my own projects. I just thought a USB module might be worth proposing. Thanks for considering it.

P.S. I haven't forgotten about the wiki. I've just been busy.

[2020-10-09 06:11] chriscamacho commented on #1409
hi,

can you check with the very latest version of raylib from github, I'm unable to replicate this on Linux

[2020-10-09 06:21] kernelkinetic commented on #1409
@Hairein You could also run your project using a debugger like `gdb` to hopefully get more information about the possible source of error.

[2020-10-09 06:24] Hairein commented on #1409
Hi there, I just did this and this is what I get with the example project (listed the whole process done below, deleted the ./example before make start):
'Speicherzugriffsfehler' is the access violation error in German.

mkoleoso@AspireE5:~/GitHub/raylib$ git pull
remote: Enumerating objects: 11, done.
remote: Counting objects: 100% (11/11), done.
remote: Compressing objects: 100% (4/4), done.
rem

[2020-10-09 06:27] kernelkinetic commented on #1367
@raysan5 Raylib doesn't support multiple windows so if you want to merge some window-related state options and some non-window-related state options you could maybe call it just `SetState(...)` or `SetConfig(...)` and keep different flag sets for the different topics like `WINDOW_HIDDEN` and `CONFIG_FULLSCREEN`.

[2020-10-09 06:38] kernelkinetic commented on #1409
@Hairein You can run your example program using gdb debugger with `gdb example`, which should show you a `Program received signal SIGSEGV, Segmentation fault.` after a time and then you can input `backtrace` and hit enter to get more information _where_ the problem occurs.

[2020-10-09 06:40] Hairein commented on #1409
Hi again, running the example with "ddd ./example" to debug gives this output:
main.c:35 is the line: model.materials[0].maps[MAP_DIFFUSE].texture = texture;

---------------------------------------------------------------------------------------------
GNU DDD 3.3.12 (x86_64-pc-linux-gnu), by Dorothea LRegistered pretty printers for UE4 classes
Reading symbols from ./example...fertig.
(gdb) run
St

[2020-10-09 06:48] kernelkinetic commented on #1409
@Hairein Nice, someone who uses `ddd` 👍 😀  So thanks for the output, maybe @chriscamacho got now an additional hint.

[2020-10-09 07:37] chriscamacho commented on #1409
@Hairein this is going to sound like it won't work! but I had a very similar issue....

*completely* delete the raylib directory

re-clone from raysan5/raylib (make sure you're not using a fork !)

recompile raylib *then* recompile your test...

when getting a back trace you need to....

RAYLIB_BUILD_MODE=DEBUG make -j8

you need to add -g flag to your test project

[2020-10-09 07:53] Hairein commented on #1409
Yes, thanks, that worked for me this time!
I saw that although I had  previously performed "sudo make uninstall", some raylib libraries did remain in "/usr/local/lib", which I deleted manually before doing the steps you stated above.

So, I'm OK now and this issue can be closed.
Many thanks and regards,
Hairein

[2020-10-09 09:15] #1409 closed

[2020-10-09 09:15] raysan5 commented on #1409
@Hairein nice! 👍😄

[2020-10-09 09:16] raysan5 commented on #1367
@kernelkinetic yeah... still thinking about it...

[2020-10-09 11:32] chriscamacho commented on #1409
@raysan5  would love to know what that actually was, being as I think i hit it too.... (odd!) ah well!

[2020-10-10 17:27] #1402 closed

[2020-10-10 18:39] raysan5 commented on #1392
@GitSparTV I think @chriscamacho is right, managing the mouse while not X is up to the user, just reading mouse delta... problem is that letting user manage it is probably not possible at the moment...

Related code is in [`core.c`](https://github.com/raysan5/raylib/blob/master/src/core.c) module, in function `EventThread()`, that function creates inputs threads, it's used to read mouse...

There

[2020-10-10 18:40] raysan5 commented on #1096
I think it's time to close this issue. Thanks to you all for your time an effort implementing this new amazing feature! :)

[2020-10-10 18:40] #1096 closed

[2020-10-10 19:00] alanbork commented on #1096
Does that mean it's been merged?

On Sat, Oct 10, 2020 at 11:41 AM Ray <notifications@github.com> wrote:

[2020-10-10 19:51] raysan5 commented on #1096
@alanbork yes

[2020-10-11 08:09] chriscamacho commented on #1096
I just got to say, speaking for myself that, the fantastic end results from this issue, are really useful and appreciated !

[2020-10-11 17:21] kernelkinetic commented on #1392
The `EV_ABS` event reports absolute values, I would ignore the relative values reported by `EV_REL`. But I know that nowadays many devices have more than one input device file to support different modes like normal mouse, touch, multi-touch etc. and you need carefully select the right input device file to get the right values of interest. On Raspbian you can install the `evtest` package and use it

[2020-10-11 17:41] kernelkinetic commented on #1392
Okay. I'm completely wrong here with the input devices 😀 I think the __real__ source of the problem is, that X11 (like Windows) limits the mouse movements on the screen but reports the mouse movements to the programs, while on PLATFORM_DRM the limitation is already done (at https://github.com/raysan5/raylib/blob/fa357b8d5d934f54dd1b3cd343b05f06b732d28f/src/core.c#L5340 as you said, @raysan5 ) befo

[2020-10-11 17:44] kernelkinetic commented on #1392
@GitSparTV I see screen flickering only when on llvm pipe (which is software) rendering instead of V3D (which is hardware) rendering.

[2020-10-11 17:47] raysan5 commented on #1392
@kernelkinetic I think expected behaviour should be the same as on `PLATFORM_DESKTOP`. When setting a `CAMERA_FIRST_PERSON` mode, `DisableCursor()` is called, that internally calls:
[code]
The documentation for [glfwSetInputMode()](https://www.glfw.org/docs/3.3/group__input.html#gaa92336e173da9c8834558b54ee80563b) states that `GLFW_CURSOR_DISABLED` hides the cursor and provides virtual and unlimit

[2020-10-12 04:35] chriscamacho commented on #1392
I don't have time to get to this at the moment, but i've done stuff with /dev/input/mouse0 years back and its all more than doable!

[2020-10-12 15:25] kernelkinetic commented on #1392
I'll take a look into that.

[2020-10-13 14:59] kernelkinetic commented on #1392
In GLFW the mouse cursor handling is different if the cursor is hidden. When it's not hidden, it's limited to the screen/window size, if it's hidden it is not limited. I've changed the current mouse cursor handling for PLATFORM_DRM and PLATFROM_RPI to work the same way.

[2020-10-13 15:06] GitSparTV commented on #1392
If the issue is fixed on your or raysan repo, tell me, I can test it

[2020-10-13 15:08] kernelkinetic commented on #1392
It's in https://github.com/kernelkinetic/raylib/tree/fix_1392 and I've already sent a PR to raysan5. Just two lines changed...

[2020-10-13 16:55] GitSparTV commented on #1392
Ok I built PLATFORM_DRM on RPI4. Mouse movements are fixed. However keyboard movements are still shuttering

[2020-10-13 17:49] kernelkinetic commented on #1392
@GitSparTV Absolutely, I only fixed the mouse for now. But during this I also saw the keyboard stuttering I didn't noticed before. So step by step, I'll look into that, too 😀

[2020-10-13 17:53] GitSparTV commented on #1392
Yeah it's a shuttering and also a different keyboard trapping.
On PC if you hold a key the player moves constantly and smoothly.
On RPI when I hold a key player moves once, then after a second it continue moving.

[2020-10-13 19:45] gavriil07 commented on #1198
ok, but what will happen after apple drops opengl?

[2020-10-13 20:25] raysan5 commented on #1198
@gavriil07 well, raylib won't be supported on Apple platforms until someone writes a Metal backend.

[2020-10-13 23:39] GitSparTV commented on #1392
Do I need to create a new issue about keyboard input and camera moving?

[2020-10-14 06:18] raysan5 commented on #1392
@GitSparTV as @kernelkinetic is already reviewing it (or intents to), we can wait before opening the issue.

[2020-10-14 15:22] kernelkinetic commented on #1392
@GitSparTV I've fixed the keyboard stuttering in https://github.com/kernelkinetic/raylib/tree/fix_1392. If you are so kind to test and report here then I'll prepare a push request if it works for you too.

[2020-10-14 18:35] GitSparTV commented on #1392
@kernelkinetic Didn't work

[2020-10-14 18:43] kernelkinetic commented on #1392
@GitSparTV It worked for me obviously. Okay, I'll look again but to be honest if I cannot reproduce it again it's hard to find it...

[2020-10-14 18:44] GitSparTV commented on #1392
I'm using apple keyboard, I will test with a "normal" one right now

[2020-10-14 18:47] GitSparTV commented on #1392
it helped, little bit, it just a different shuttering pattern

[2020-10-14 18:47] GitSparTV commented on #1392
I will record the video

[2020-10-14 18:54] raysan5 commented on #1392
@kernelkinetic @GitSparTV actually, I remember working on this issue in the past with no success... but it was some years ago and I can't remember why I didn't fix it...

[2020-10-14 18:58] kernelkinetic commented on #1392
@raysan5 That's not a reason to not try it again 😀

[2020-10-14 19:01] GitSparTV commented on #1392
https://imgur.com/a/OtZG1sU
With different keyboard

[2020-10-14 19:12] kernelkinetic commented on #1392
@GitSparTV Thanks for the video. Your Raspberry Pi indicates low voltage with the ⚡ in the top right corner. It's also possible that this is the reason for the keyboard issue. Please check your power supply.

[2020-10-14 19:46] GitSparTV commented on #1392
Maybe, I can't find an adapter with sufficient power nearby.
Here is the latest log.

INFO: DISPLAY: no graphic card set, trying card1
INFO: DRM: choosen mode 800x600 (800x600p@60)
INFO: DISPLAY: Upscaling required: Screen size (800x450) smaller than display size (800x600)
INFO: DISPLAY: Device initialized successfully
INFO:     > Display size: 800 x 600
INFO:     > Render size:  800 x 600
INFO:

[2020-10-15 01:32] GitSparTV commented on #1392
I think you can test it by plugging RPi into low-power usb.
Like PC one. Test low-voltage as well

[2020-10-15 03:32] kernelkinetic commented on #1392
@GitSparTV No, you should in general use a specified power source if you want a working setup 😀 But it is good idea to try to reproduce this error, I'll check that 👍

[2020-10-15 05:21] chriscamacho commented on #1392
@GitSparTV looks like its jittering up and down, can you mod the code to mode forward with the right mouse button held down, just maybe its not the keyboard....

[2020-10-15 15:34] kernelkinetic commented on #1392
@GitSparTV I've checked two different power plugs, one causes a reset when I start the maze example, the second leads to some sporadic stuttering like in your video. Using the official power supply works as expected.

[2020-10-15 16:21] GitSparTV commented on #1392
Alright, then we know for sure it's due to low voltage

[2020-10-15 16:24] kernelkinetic commented on #1392
@GitSparTV If you found a suitable power supply and it doesn't work please open an issue again 👍

[2020-10-15 16:41] chriscamacho commented on #1392
@GitSparTV top tip get an old laptop psu and search for an automotive DC-DC module (there are a variety of input and output voltages find one that matches your sacrificial laptop PSU and outputs 5V) they often deliver in the ball park of 10A if required....

I wouldn't recommend powering from gpio instead get a USB plug shell and solder that up, you can then use it with a USB-C adaptor...

that wa

[2020-10-18 12:16] masterneme commented on #1392
Hi, I want to say that I experience the same issues as @GitSparTV.

I tested the examples some months ago with a RPi 3A+ and had that flickering.
Last week I got a RPi 0W and it still happens.

I just tried again with just the Zero, a keyboard and the official power supply and it stutters, so I don't think is a voltage issue.

It also happens with other examples. I noticed the stuttering kinda mim

[2020-10-18 12:24] masterneme commented on #753
Hey @raysan5, I asked you recently about enet. You told me that you're looking for single files with single headers.

But do you actually like enet? I mean, if someone took the source code and put it all together in a single organized file+header, would you use it or does enet lack features that you want?

[2020-10-18 12:27] nxrighthere commented on #753
A single-header fork is available [here](https://github.com/nxrighthere/ENet-CSharp). It's used in several games in production.

[2020-10-18 13:39] kernelkinetic commented on #1392
@masterneme Did you also try https://github.com/kernelkinetic/raylib/tree/fix_1392?

[2020-10-20 22:37] raysan5 commented on #1392
@kernelkinetic feel free to send a PR with the fix if required.

[2020-10-20 22:38] raysan5 commented on #753
@nxrighthere Oh! Thank you very much for sharing!

[2020-10-21 12:21] AlbertoFrancoDD opened #1414 "[core] raylib.h clashes with Windows.h"
### Issue description
When including windows.h alongside with raylib.h there are function clashes because of no namespacing in raylib. This happens with other libraries too (e.g. eigen with Matrix)

### Code Example
Easy enough to reproduce with the following code in windows

[code]

[2020-10-21 13:52] AlbertoFrancoDD commented on #1401
I believe this is a problem with the fact that you are never drawing the elements. To keep the batch small the limit is at 8192 elements but you can increase it (say to 64K) and then you will be able to draw more elements in the same draw call. An alternative would be to call `rlglDraw()` in your loop.

[2020-10-21 13:56] kernelkinetic commented on #1392
@raysan5 Hm, I'm not sure because until now no one confirmed that it work's better than before 🤔

[2020-10-21 14:05] GitSparTV commented on #1392
@masterneme

[2020-10-21 16:34] masterneme commented on #1392
I just tested it with a Zero W using PLATFORM_RPI and unfortunately neither the mouse nor the keyboard work. It behaves like in @GitSparTV's video.

I will try now with a RPi 3A+...

[2020-10-21 16:37] masterneme commented on #753
What a coincidence @nxrighthere , I recently starred your fork before posting here, I hope @raysan5 likes it. I want to use it for some Unity projects.