[2022-08-09 07:52] #2621 closed

[2022-08-09 08:01] archie2x commented on #2621
Alternate fix is to set cmake_minimum_required to 3.1 instead of setting the policy explicitly

[2022-08-09 14:38] knuxyl opened #2623 "[FEATURE REQUEST] OPUS audio support"
OPUS is the latest open source audio codec that provides much better quality and lower bitrates than all competitors. It would be great to have this implemented as an alternative to OGG. This would help in distributing smaller builds due to smaller file sizes.

I looked through the OGG decoder and this is out of my capabilities atm.

[2022-08-09 15:39] raysan5 commented on #2621
@archie2x feel free to send a new PR if you think the second solution will be better iin the long term.

[2022-08-09 15:40] raysan5 commented on #2623
@knuxyl do you know any single-file header-only library that loads OPUS format? raylib only uses single-file header-only libraries for file-formats integration with the library.

[2022-08-12 03:28] arfire333 opened #2632 "Random Results Using DrawTextureEx"
Please, before submitting a new issue verify and check:

 - [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported (No outstanding issues)
 - [x] My code has no errors or misuse of raylib (Not that I'm aware of)

### Issue description

Running the attached program results in the background screen having random behavior.  Sometimes it

[2022-08-12 03:49] arfire333 commented on #2632
A different variant of the problem that may shed some light on what is wrong.
![image](https://user-images.githubusercontent.com/72059150/184281701-5de8d25f-4eaf-48f0-8f28-4adff97f3114.png)

[2022-08-12 06:23] raysan5 commented on #2632
@arfire333 This looks very weird, it could be an issue with the logic. Please, could you try the following minimal example to verify the issue is related to raylib:

[code]

[2022-08-12 07:21] arfire333 commented on #2632
@raysan5 The code you posted seems to work and made me go back and look again.  Thank you for the look and I'm sorry to have submitted the ticket.  I believe I have found the issue.

[2022-08-12 07:21] #2632 closed

[2022-08-12 08:16] raysan5 commented on #2632
@arfire333 Nice! Glad you found the issue! :)

[2022-08-12 12:19] chriscamacho opened #2633 "[rmodel] DrawSphere - ERROR: RLGL: Batch elements overflow"
I note the checkRenderBatchLimit has been commented out ?

render much more than 20-40 spheres and I'm seeing a batch overflow

[2022-08-12 12:32] raysan5 commented on #2633
@chriscamacho are you using latest raylib from github master branch? that change shouldn't be in the release...

[2022-08-13 21:12] raysan5 commented on #2633
fixed

[2022-08-13 21:12] #2633 closed

[2022-08-14 09:29] herbygillot opened #2638 "raylib failing to build on macOS: use of undeclared identifier 'GLFW_MOUSE_PASSTHROUGH'"
Please, before submitting a new issue verify and check:

 - [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [ ] My code has no errors or misuse of raylib - `N/A`

### Issue description

When trying to build `raylib` on macOS against external `glfw` (`-DUSE_EXTERNAL_GLFW=ON`), the build is failing with:

[code]

Build works

[2022-08-14 13:48] Mi1ax commented on #2638
I'm not sure, but i thinks `GLFW_MOUSE_PASSTHROUGH` used in GLFW v3.4

[2022-08-14 15:32] raysan5 commented on #2638
@herbygillot @Mi1ax Yes, you are right, it was added for GLFW 3.4 but latest official release is still 3.3.8. raylib uses GLFW 3.4-dev since raylib 3.5 afair but that flag is not in 3.3.8.

[2022-08-14 22:02] chriscamacho commented on #2633
😁 👍 cheers!

On Saturday, 13 August 2022, Ray ***@***.***> wrote:

https://ci3.googleusercontent.com/proxy/jnlaknRlgi8Tr2BAUYwLV3jUDn3UPoxlRbrSzn85TenMYys-FdYSGJ2z9gT3aK27qTgooI29V4WaIT8O_gVHOX9P_8usL1EOMbtwGtbEJJhfTaWd-5lOGraKOx0KyrBQbZIgM_oM1Sc7X8wHurYz3H-pbLG3YbXaKn5pJ2Q8K36PtChSpeu8VXREcan5MLjda6fSJjYQLG3zI9ZJyi1-EX2QIaCa7_Tl6X1SFCnp5Q=s0-d-e1-ft#https://github.com/notifications/beacon/AAFO4SN

[2022-08-15 21:34] KyrietS commented on #1992
Currently, the implementation of `DrawTextEx` has this:

[code]

So by "allow users to configure it as desired" your probably meant to copy the whole implementation of `DrawTextEx` function and change this piece of code above to "our desire"? At least that's how it's done in the examples. This is kinda sad not gonna lie 😕

The default line heights are huge:
![image](https://user-images.githubuserc

[2022-08-16 17:28] jamesl-github commented on #2638
could you just define it yourself ?
https://www.glfw.org/docs/3.4/group__window.html

#define  GLFW_MOUSE_PASSTHROUGH
<https://www.glfw.org/docs/3.4/group__window.html#ga88981797d29800808ec242274ab5c03a>
   0x0002000D

On Tue, Aug 16, 2022 at 1:13 PM Scott Helvick ***@***.***>
wrote:

[2022-08-16 18:15] jamesl-github commented on #2638
the error is undeclared identifier
so I was thinking, just identify it
the link I posted tells you what GLFW_MOUSE_PASSTHROUGH is defined as
so I thought just copy that line and paste it in your main or set it in
your make file
you'd still be using the external GLFW, but you'd be using your own
GLFW_MOUSE_PASSTHROUGH

On Tue, Aug 16, 2022 at 1:49 PM Scott Helvick ***@***.***>
wrote:

[2022-08-17 08:23] raysan5 commented on #2638
Just added a temporal patch to fix this issue. I don't like it.

[2022-08-17 08:23] #2638 closed

[2022-08-17 22:18] GitTub101 opened #2646 "[module] Short description of the issue/bug/feature"
**WARNING: Please, read this note carefully before submitting a new issue:**

It is important to realise that **this is NOT A SUPPORT FORUM**, this is for reproducible BUGS with raylib ONLY.

There are lots of generous and helpful people ready to help you out on [raylib Discord forum](https://discord.gg/raylib) or [raylib reddit](https://www.reddit.com/r/raylib/).

Remember that asking for support

[2022-08-17 23:11] #2646 closed

[2022-08-18 15:50] herbygillot commented on #2638
Thanks for this patch, @raysan5.  It works, and because of this, we were able to update `raylib` in MacPorts to the current 4.2.0 version: https://ports.macports.org/port/raylib/

[2022-08-18 17:03] KyrietS commented on #1217
For me this was enough to compile raylib with `Windows.h` (actually I needed raylib with [spdlog](https://github.com/gabime/spdlog) library which includes `Windows.h` under the hood):

[code]

[2022-08-18 17:47] fctr commented on #1217
That is quite interesting, but is that for command line EXEs, or Windows GUIs?

[2022-08-18 18:54] KyrietS commented on #1217
I can compile it with `/SUBSYSTEM:CONSOLE` and `/SUBSYSTEM:WINDOWS`.

Also note: if you want to include `raylib.h` **after** including `Windows.h` then you also need to add:
[code]

Because raylib uses these two names as function parameters.

[2022-08-18 19:04] fctr commented on #1217
So much for my superior knowledge. I guess after 45+ years as a programmer I've already peaked... 🤣

Thanks for keeping on top of this and keeping it SIMPLE.

[2022-08-18 20:36] orcmid commented on #1217
Heading for my 65th anniversary as a programmer, I definitely have peaked :).

I am befuddled that `windows.h` got away with defining two lower-case preprocessor variables, `near' and `far'.  I usually find this sort of cruft deep in the nest of stuff that `windows.h` pulls in.  Adding new meaning to dependency hell.

[2022-08-19 07:35] CarlVitasa commented on #324
What is the equivalent for Mac?

[2022-08-19 08:04] msmshazan commented on #324
Check this Stack overflow answer
https://stackoverflow.com/a/23870490

[2022-08-19 19:32] bztsrc opened #2648 "[models] Support Model3D (.m3d) file format"
Hi,

Could you please add [Model 3D](https://bztsrc.gitlab.io/model3d/) format to the supported models? It has an stb-style single header SDK written in ANSI C, looks simple to integrate.

I've already started the necessary work, see below (note this is just a minimal implementation, only loads meshes, but does not handle all the M3D features like skeletal animations etc.) Here are the steps I mad

[2022-08-20 08:31] raysan5 commented on #2648
Hi @bztsrc! Your Model3D format looks great! I like it a lot! Congratulations!

Feel free to send a PR with this amazing addition! :D

[2022-08-20 11:42] bztsrc commented on #2648
Thanks!

Sadly since the recent changes in github, I cannot create PRs any more (I have no probs on gitlab, so this must be a github configuration issue).

The [Goxel2](https://github.com/goxel2/goxel2)'s maintainer likes this format too, and he has chosen it as Goxel2's main format. I have the same PR creation problems there too :-( (BTW, Model3D can store voxel images, but you won't notice that

[2022-08-20 11:47] raysan5 commented on #2648
@raysan5 Ok, no worries, I will implement the changes you provided.

Are you planning to add animations support? It would be great!

[2022-08-20 12:49] Trithilon opened #2650 "[BUG] Launching examples using absolute paths in Linux causes model loads to fail"
Please, before submitting a new issue verify and check:

 - [Y] I tested it on latest raylib version from master branch
 - [Y] I checked there is no similar issue already reported
 - [Y] My code has no errors or misuse of raylib

### Issue description

*Briefly describe the issue you are experiencing (or the feature you want to see added to raylib). Tell us what you were trying to do and what happ

[2022-08-20 13:30] Trithilon opened #2651 "[ISSUE] Missing GLSL 1.2 shader for basic_lighting example."
Please, before submitting a new issue verify and check:

 - [Y] I tested it on latest raylib version from master branch
 - [Y] I checked there is no similar issue already reported
 - [Y] My code has no errors or misuse of raylib

### Issue description

The basic_lighting example doesn't work on RPi OS Desktop (it launches but the cube in the center is white).

### Environment

OpenGL 2.1 on RPIOS

[2022-08-20 16:36] bztsrc commented on #2648
Thank you very much! It's great if raylib can handle .m3d files out-of-the-box, because I'm getting to like this lib more and more. I've just recently started experimenting with it, but so far it's pretty awesome!

Yes! I'm studying the IQM code now on how to fill up the variables with a skeleton based animation. But it's not simple, because IQM uses joints, while M3D is using a bone skeleton, wit

[2022-08-21 09:47] raysan5 commented on #2651
@Trithilon Please, could you move this improvement to a separate PR to avoid mixing issues?

[2022-08-21 09:50] raysan5 commented on #2650
@Trithilon I'm afraid this is the expected behaviour with most applications, it's up to the user to manage the working directory and resources loading when required. `GetWorkingDirectory()` and `GetApplicationDirectory()` are provided for that task.

[2022-08-21 09:50] #2650 closed

[2022-08-21 14:12] Trithilon commented on #2651
@raysan5  : Silly question, how do I decouple/undo my commit c006ff6 from pr #2649 ? I am unable to find an option to do that.

[2022-08-21 16:57] Peter0x44 commented on #2651
@Trithilon you probably have to force push it out of existence
`git reset --soft HEAD~1`
`git push -f`

[2022-08-21 19:23] raysan5 commented on #2651
I think that implementing the changes in separate branches and PR each one individually should also work.

[2022-08-21 19:32] raysan5 commented on #2648
raylib animation system was designed following most tipical conventions, actually it should be equivalent to a standard bone system, independent of the IQM file format.

First format supported with animations was IQM but actually, glTF animations was also partially supported in the past. Current structutes should be able to accomodate any skeletal bones-based system, as far as I know.

[code]

`Bo

[2022-08-21 19:42] bztsrc commented on #2648
Thank you for the information!

Looks like I can load the animations almost as-is. :-)  One question remains, M3D files can store multiple animations (so it should return multiple ModelAnimation records). For example, there can be an animation for walking, one for attack, one for jumping etc.)

Thank you, in the meantime I've figured it out myself, here's an updated version with pretty useful mate

[2022-08-21 19:55] bztsrc commented on #2648
What I mean by that, to handle that, this prototype would need to change:
[code]
to
[code]
or
[code]
but obviously these would break the raylib API, so I'm not sure how to proceed.

One solution could be to use animCount as input for the action id (and keep it for frame count as output), but that feels extremely hackish. (This is not a problem for IQM only because the mesh and animation are separa

[2022-08-22 08:24] BohongHuang opened #2655 "[rtext] Add support for multi-page BMFont"
Please, before submitting a new issue verify and check:

 - [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description

I'm working on the Unicode font display in my pixel-style game. However, aware that texture size limitation exists on some platforms, I generate a

[2022-08-22 08:54] raysan5 commented on #2655
@BohongHuang I'm afraid supporting `BMFont` multipages is out of scope, it's a specific file-format provided by an external tool and despite raylib supports its basic form, it's not something I consider should belong to raylib.

In those cases, unicode font should be loaded directly from .ttf file and managed by user in case of requiring multiple atlas.

[2022-08-22 08:54] #2655 closed

[2022-08-22 09:11] raysan5 commented on #2648
@bztsrc I'm afraid I don't understand the problem, current `LoadModelAnimations()` should be able to load all the included animations (walk, run, attack...), why `action` parameter is required? what is the action id?

Could it be that `actions` are actually the separate animations? As per my understanding, each `action` could be loaded into one `ModelAnimation`.

[2022-08-22 09:26] raysan5 commented on #2651
@Trithilon Feel free to send a PR only with this change.

[2022-08-22 12:18] BohongHuang commented on #2655
All right. Thanks for the reply.

[2022-08-22 12:53] Trithilon opened #2656 "[audio] Audio doesn't play on `PLATFORM_DRM` or `PLATFORM_RPI`"
Please, before submitting a new issue verify and check:

 - [ Y ] I tested it on latest raylib version from master branch
 - [ Y ] I checked there is no similar issue already reported
 - [ Y ] My code has no errors or misuse of raylib

### Issue description
Audio examples do not play sound of a Raspberry Pi Zero 2 W.

### Environment

Replicated on RPI02W piCore CLI - with and without DRM.

### Co

[2022-08-22 13:01] Trithilon opened #2657 "[audio] Audio playback stops randomly for audio examples on Raspberry Pi `PLATFORM_DESKTOP`"
Please, before submitting a new issue verify and check:

 - [ Y ] I tested it on latest raylib version from master branch
 - [ Y ] I checked there is no similar issue already reported
 - [ Y ] My code has no errors or misuse of raylib

### Issue description

audio_module_playing example stops playing audio after 30 seconds and keeps seeking through the whole track.

### Environment

Have a compute

[2022-08-22 18:29] bztsrc commented on #2648
The action parameter is the name of the animation, and action id is just the index. For example, a typical game model can have one animation for "walking", one for "attacking", one for "jumping", then you can use the action name to find the action id for that animation.

Yes, exactly. The model has a bind pose (stored in the bones chunk), and then several animations (so called actions in M3D parla

[2022-08-22 21:54] Trithilon opened #2660 "[core] Mouse wheel not working in `PLATFORM_RPI` or `PLATFORM_DRM`"
Please, before submitting a new issue verify and check:

 - [Y] I tested it on latest raylib version from master branch
 - [Y] I checked there is no similar issue already reported
 - [Y] My code has no errors or misuse of raylib

### Issue description

Any example which uses mouse-wheel input doesn't work (for instance - core_input_mouse_wheel). So any example which involves zoom-in using mouse-wh

[2022-08-22 22:05] Trithilon opened #2661 "[core] Mouse orientation not working on FPS camera examples in `PLATFORM_RPI` or `PLATFORM_DRM`"
-+Please, before submitting a new issue verify and check:

 - [Y] I tested it on latest raylib version from master branch
 - [Y] I checked there is no similar issue already reported
 - [Y] My code has no errors or misuse of raylib

### Issue description

Any example with mouse look (for instance, core_3d_camera_first_person ) will instantly start spinning on RPI or DRM environments. This does not

[2022-08-22 22:13] raysan5 commented on #2660
@Trithilon Afaik, native mouse device access does not support mouse wheel events, it requires a windowing system. I could be wrong, please correct me if you know any native headless mouse driver supporting mouse wheel.

[2022-08-22 22:17] raysan5 commented on #2648
@bztsrc I see. Personally I would keep it simple and just skip the animations naming for now and just use the index to refer to any animation. User is responsible to define the animation index for their models on user code. Actually, same approach is planned for `glTF` models that can also contain multiple animations.

[2022-08-22 22:25] Trithilon opened #2662 "[core] Mouse panning and rotation not working in `PLATFORM_RPI` and `PLATFORM_DRM`"
Please, before submitting a new issue verify and check:

 - [Y] I tested it on latest raylib version from master branch
 - [Y] I checked there is no similar issue already reported
 - [Y] My code has no errors or misuse of raylib

### Issue description
This issue only happens in examples (eg. models_mesh_picking) which have mouse middle button based pan and orbit.
It has two problems-
1. Clicking t

[2022-08-23 04:28] bztsrc commented on #2648
Ok, understood! I was also assuming that I'm overthinking this.

Good news, here's a modified version! This loads now vertex colors correctly (and fallbacks to a clay-like color if there are no materials not vertex colors either), and I've implemented bones, skin and animations too. I've also added `examples/models/models_loading_m3d.c`, and two example models, suzanne.m3d (the well-known blender

[2022-08-23 05:20] clbr commented on #2660
The native /dev/mouse does support wheels, and for more complex mice, /dev/input/eventX nodes can be used too (no X/windowing system required to use evdev input).

[code]

[2022-08-24 07:41] Deadtrix21 opened #2663 "[module] Short description of the issue/bug/feature"
**WARNING: Please, read this note carefully before submitting a new issue:**

It is important to realise that **this is NOT A SUPPORT FORUM**, this is for reproducible BUGS with raylib ONLY.

There are lots of generous and helpful people ready to help you out on [raylib Discord forum](https://discord.gg/raylib) or [raylib reddit](https://www.reddit.com/r/raylib/).

Remember that asking for support

[2022-08-24 08:28] #2663 closed

[2022-08-26 01:58] bztsrc commented on #2648
Hi,

Here's the newest version:

[model3d.tgz](https://github.com/raysan5/raylib/files/9429168/model3d.tgz)

Please merge this as soon as possible, because it contains memory leak fixes too.

1. I did lots and lots of tests and found some potential memory leaks fuzzing with invalid model files. These has been fixed.
2. Otherwise I've fixed the texture issue (I've modified the m3d.h too). Long stor

[2022-08-26 08:06] raysan5 commented on #2648
@bztsrc Hi! Excuse the late response! Just implemented the latest changes provided. Thanks!

Just note I'm not implementing the argv inputs for the `models_loading` example.

[2022-08-26 08:25] bztsrc commented on #2648
No worries, and I'm the one saying thanks! :-)

That's okay! I needed that because drag'n'drop is not working for me at all (and I'm more of a CLI guy, I don't have any resource-eating shiny eye-candy heavy file manager installed, just mc). It's perfectly fine if you not merge that part! (But if you don't mind me asking, I'm curious, any particular reason why to refuse CLI arguments? You don't hav

[2022-08-26 18:00] raysan5 commented on #2648
I try to keep examples as simple as possible and avoid the CLI arguments because when compiling examples for web they can't be used. But I like CLI a lot, actually [all my tools](https://raylibtech.itch.io/) have powerful CLI.

I'm afraid I don't know where it could be the issue, maybe on parent transform propagation between bones? Have you tried calculating a bind pose for one specific frame? You

[2022-08-26 21:03] bztsrc commented on #2648
Ah, I see, make sense.

:thumbsup:

That's what I'm doing now dumping the transformation matrices and vertices along the way. (I'm doing the same thing in my viewer which works correctly and comparing the two outputs. But it's difficult and going slowly.)

I'm over that, that was the very first thing I've checked and the bones look okay to me, that's why I'm stuck. (You can still see drawing the b

[2022-08-27 05:59] chriscamacho commented on #2648
I'd set aside the bank holiday weekend (at least in part!) to make a shader to replay animations (maybe with key frame morphing) but hit a fairly hard brick wall

https://gitlab.com/bztsrc/model3d/-/issues/3

Hopefully this is a quick fix for some change in blender...

[2022-08-28 00:58] defce74 opened #2666 "[core] Building for Wayland instead of X11 on Ubuntu 22.04 produces compile error in GLFW lib"
- [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Building for Wayland instead of X11 on Ubuntu 22.04 produces compile error in GLFW lib

`external/glfw/src/wl_platform.h:57:10: fatal error: wayland-xdg-shell-client-protocol.h: No such file or directory`

in `raylib/src/Mak

[2022-08-28 13:02] TokyoSU opened #2668 "[rmodels] Animation not smooth"
Please, before submitting a new issue verify and check:

 - [X] I tested it on latest raylib version from master branch
 - [X] I checked there is no similar issue already reported
 - [X] My code has no errors or misuse of raylib

### Issue description

When using UpdateModelAnimation(), the frame argument is int but it cause some animation which is using 1 or 2 frame to play super fast, using a fl

[2022-08-28 13:31] raysan5 commented on #2668
@TokyoSU I'm afraid that raylib does not implement any interpolation mechanism. So frames can only be int.

[2022-08-28 13:31] #2668 closed

[2022-08-28 14:36] tejohnso opened #2669 "[audio] SIGSEGV Segmentation fault with pipewire / pulseaudio / wireplumber"
Please, before submitting a new issue verify and check:

 - [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description

After initial boot, a raylib process calling *InitAudioDevice* results in a segmentation fault.

This is similar to https://github.com/raysan5/rayl

[2022-08-28 14:58] tejohnso commented on #2669
My systemd journal shows a *lot* of activity at `10:39:24` when I started the raylib process. The segfault is on line 46.

Perhaps the initialization takes a circuitous route that miniaudio doesn't expect.

[journalctl.txt](https://github.com/raysan5/raylib/files/9439889/journalctl.txt)

[2022-08-28 16:33] tejohnso commented on #2669
If I step through the process up to raudio.c:421 calling `ma_context_init`, and then step over that, I get all the same wireplumber messages as before (eg: failed to activate item: Object activation aborted: proxy destroyed) but there is no segfault. Then if I allow execution to continue, the program runs without error.

So without an artificial pause, `ma_context_init` is returning MA_SUCCESS eve

[2022-08-28 17:12] tejohnso commented on #2669
Closing here as I believe this is more of a miniaudio issue than a raylib issue.

[2022-08-28 17:12] #2669 closed

[2022-08-28 17:17] raysan5 commented on #2669
@tejohnso thanks, still I will let @mackron know about it.

[2022-08-28 20:25] hiddenfrog opened #2670 "[build] raylib 4.2.0 release, some zip files do not contain the expected libraries"
raylib-4.2.0_win32_mingw-w64.zip
empty lib directory, there are no libs and dll files

raylib-4.2.0_win64_mingw-w64.zip
missing dll in lib

[2022-08-28 20:40] hiddenfrog opened #2671 "[build] raylib 4.2.0 release, windows msvc16 dll and lib, `raylibVersion` symbol is not exposed"
there is no export of "raylibVersion" in raylibdll.lib, only in the static lib raylib.lib

(in the linux dynamic lib "raylibVersion" is exported)

so "raylibVersion" can not be found ie. with the d lang binding "raylib-d" (https://github.com/schveiguy/raylib-d) when you dynamic link to raylib in windows

(tested with the libs in raylib-4.2.0_win64_msvc16.zip and also with self compiled versions in

[2022-08-29 07:32] eoli3n opened #2672 "easy install on ubuntu"
I'm sysadmin, I need to automate deployment process for 800 hosts for a University.
Is there a way to package raylib for Ubuntu, as deb package with a ppa, or as flatpak ?

[2022-08-29 07:37] AndyMender commented on #2672
I think there are 2 options
- using `cpack` through cmake and distributing that
- building a native deb package for Ubuntu

This might be a good starting point for a native package - [ArchLinux PKGBUILD](https://github.com/archlinux/svntogit-community/blob/packages/raylib/trunk/PKGBUILD)

[2022-08-29 07:40] eoli3n commented on #2672
For now, I will build on a NFS export.

[2022-08-29 12:38] raysan5 commented on #2666
GLFW has been updated to latest version lately but it seems Wayland compilation requires some previous step to generate some wayland specific code files.

I don't know how those files should be generated, help is welcome.

In the meantime, you can use CMake to build GLFW and generate the files automatically.

[2022-08-29 12:50] gen2brain commented on #2666
There is a script in raylib-go that I am using occasionally, on the update, to generate needed Wayland files https://github.com/gen2brain/raylib-go/blob/master/raylib/external/scripts/glfw-generate-wayland.sh.

From the next major GLFW release both X and Wayland should be compiled together and detected and used on runtime.

[2022-08-29 12:55] raysan5 commented on #2666
@gen2brain Thanks for the info! I didn't know Wayland compilation required those shenanigans...

Does it mean this wayland-specific-files generation process won't be needed after GLFW 3.4 official release?

[2022-08-29 13:27] gen2brain commented on #2666
Not sure if it will be needed, in that GLFW commit that is referenced above it seems it will not be needed.

[2022-08-29 14:55] defce74 commented on #2666
@raysan5 Why not just state in the wiki, that if you wish to build for Wayland, that at this stage cmake is the preferred (or only) option? It works and the glfw website itself certainly encourages using cmake <https://www.glfw.org/docs/latest/compile.html> .. it also states in the manual compilation section that use of the Wayland API is "experimental and incomplete".. might be worth waiting for

[2022-08-30 01:57] Ataraxia-Mechanica opened #2674 "[rtextures] Support for GL_TEXTURE_LOD_BIAS"
Please, before submitting a new issue verify and check:

 - [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description

GL_TEXTURE_LOD_BIAS is a parameter of a texture that changes which level of mipmap would be used for rendering, changing this value would control h

[2022-08-30 06:11] defce74 commented on #2666
@raysan5 update: this may be a separate issue but testing both make and cmake builds, I'm getting ~60fps using a make build but only ~45fps with a cmake build.. this is reproducible as I tried different raylib commits with the same result.. definite slowdown with cmake builds. not sure if this is just linux or relevant to windows also ?

[2022-08-30 17:55] TokyoSU opened #2676 "[rmodels] Memory leak when loading iqm"
Please, before submitting a new issue verify and check:

 - [X] I tested it on latest raylib version from master branch
 - [X] I checked there is no similar issue already reported
 - [X] My code has no errors or misuse of raylib

### Issue description

Found that color array is not free at the end of LoadIQM() unlike the other array being free.

- Where it is defined:
https://github.com/raysan5/ra

[2022-08-31 06:15] bztsrc commented on #2648
Okay, now I'm totally and absolutely confused. In an effort to figure out where the problem is, I've modified the blender exporter like this:
1. I've commented out all axis transformations in exporter (hence the model loaded with Z up, Y forward)
2. I've commented out all bone space calculations in the exporter
3. I've commented out all vertex calculations in the exporter

The exporter now saves t

[2022-08-31 14:41] chriscamacho commented on #2648
this is fantastic work, can't wait for a complete art path with bone animation, I have some interesting ideas for it !

[2022-08-31 14:52] Pirolye opened #2677 "[rmodels] GetRayCollisionMesh() doesn't work properly with .obj file"
### Issue description

GetRayCollisionMesh() does not work properly on correctly loaded models (.obj) with modified transforms.
Fails me at line 3683 rmodels.c

### Environment

Win10 newest, VS 2022 newest, tested both on raylib-master latest and raylib 4.2, GTX 1050ti newest driver.

### Issue Screenshot

![image](https://user-images.githubusercontent.com/22526998/187708055-eef1db32-864b-4746-94

[2022-08-31 16:28] chriscamacho commented on #2677
There is no way for GetRayCollisionMesh to know what "position" the cube was drawn (hence the transform param) either ensure you add the models draw position onto the transform you use, or simply always draw at a position of (Vector3){0,0,0} and then move / rotate etc the model via the model.transform (which is what I do almost exclusively)

[2022-08-31 16:30] bztsrc commented on #2648
Okay, here's an update. This has almost everything fixed, and bones are working properly, displayed consistently in models_loading_m3d.c as well as in m3dview. Now only the skin issue remains, which turns out was responsible for the right leg / left leg alignment problem (still exists, but since the model is properly oriented, now it appears on a different axis).

[model3d.tgz](https://github.com/

[2022-08-31 16:39] chriscamacho commented on #2677
here's a working example
[code]

[2022-08-31 16:57] Pirolye commented on #2677
Interesting. DrawModelEx (which is what DrawModel uses) calculated the model's transform from the arguments passed.

Originally, I thought the same as you.

Line 3273 of rmodels.c:
[code]

[2022-08-31 17:00] #2677 closed

[2022-09-01 08:15] raysan5 commented on #2676
@TokyoSU Thanks for reporting, implemented proposed fix.

[2022-09-01 08:15] #2676 closed

[2022-09-01 08:27] raysan5 commented on #2648
@bztsrc Hi! Nice to see the implementation is taking shape! Congratulations on your progress!

I just implemented the latest changes you send!

[2022-09-01 08:55] raysan5 commented on #2670
@hiddenfrog `raylib-4.2.0_win32_mingw-w64` has been removed from the build sytem, the compiler provided is 64bit and no 32bit libs are available to generate the 32bit raylib versions.

`raylib-4.2.0_win64_mingw-w64` has been reviewed. It's working again.

Changes will be reflected in next release.

[2022-09-01 08:55] #2670 closed

[2022-09-01 08:57] raysan5 commented on #2671
@hiddenfrog No idea why this happens, `raylibVersion` symbol is defined as a global, non-static variable in `rcore.c` as:
[code]
Help is welcome.

[2022-09-01 09:19] raysan5 commented on #2674
@Ataraxia-Mechanica Just added `RL_TEXTURE_MIPMAP_BIAS_RATIO` support to `rlTextureParameters()` for OpenGL 3.3 only, it's expects as parameter a integer percentage value.

`rlgl` is intended for adavance users, so the function is not directly exposed in raylib.

[2022-09-01 09:19] #2674 closed

[2022-09-01 09:26] raysan5 commented on #2666
Information has been added to the Wiki: https://github.com/raysan5/raylib/wiki/Working-on-GNU-Linux#wayland

@defce74 The framerate issue you mention is a separate one and I have no idea why that happens but it seems it is more related to OS or compilation than raylib, the raylib code is the same in both cases.

[2022-09-01 09:26] #2666 closed

[2022-09-01 10:59] disketteman opened #2678 "[build] Example raylib_opengl_interop fails for wasm"
I cloned fresh [master](64cca24526d8d2f82e87039a1d492dcbe07b994d) and followed instructions for [wasm build](https://github.com/raysan5/raylib/blob/master/projects/CMake/README.md). While the raylib itself apparently compiled fine, I got the error bellow. I'm not really familiar with `glad` and the opengl interopt, but I wonder if raylib_opengl_interop is even supported for wasm. The log is pretty

[2022-09-01 11:10] disketteman opened #2679 "[build] webassembly build doesn't use USE_GLFW=3"
Recently I downloaded the [raylib build](https://github.com/raysan5/raylib/releases/download/4.2.0/raylib-4.2.0_webassembly.zip) from the GitHub Releases but I got some GLFW related linker errors (sorry, I don't have the project on this computer so I can't provide the errors at the moment). I noticed that the build doesn't have `USE_GLFW=3` mentioned in the [docs here](https://github.com/raysan5/r

[2022-09-01 11:10] #2678 closed

[2022-09-01 11:34] disketteman commented on #2678
It seems to be trivial to fix and it's already [removed from some platform](https://github.com/raysan5/raylib/blob/64cca24526d8d2f82e87039a1d492dcbe07b994d/examples/CMakeLists.txt#L112), so let me fix that.

[2022-09-01 11:37] disketteman commented on #2679
Looks like [it's done](https://github.com/raysan5/raylib/blob/64cca24526d8d2f82e87039a1d492dcbe07b994d/examples/CMakeLists.txt#L99) already for cmake, but in the build definition cmake is not used if I understand correctly.

[2022-09-01 14:44] JoaoSilveira opened #2680 "[core] Improve Drag&Drop support"
Please, before submitting a new issue verify and check:

 - [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description

I'm having a great time with raylib, but I wish I could do these two things:

1. Know if the user is currently dragging something over the window
2

[2022-09-01 15:02] raysan5 commented on #2680
@JoaoSilveira raylib uses GLFW to process the drag & drop events and I'm not sure if that functionality is exposed, I think it is not. In any case, the dropped files can be just ignored if not required by the program.

[2022-09-01 15:02] #2680 closed

[2022-09-01 18:50] raysan5 commented on #2648
@bztsrc AMAZING! Congratulations! This is a great addition to raylib! Animations support was highly demanded by the raylib community, IQM had many issues and glTF animations were not properly supported... Now we have a great file format with animations support! Thank you very much Zoltan! :D

Just reviewed the code and the example and merged it, now I'm officially announcing it to the community!

[2022-09-01 18:50] #2648 closed

[2022-09-01 19:43] GuvaCode commented on #2648
yes, everything works as it should with your model. I tried to take another one and this is what comes out.
blender plugin from your master branch

![swat](https://user-images.githubusercontent.com/18312729/187998855-177ab3ba-0ccc-4bc6-9a37-3189a639914f.gif)

[2022-09-01 19:43] Peter0x44 commented on #2648
First, thanks for the great work here! I'm sure it took a long time, this is something very nice raylib has been missing.

I noticed for some strange reasons the example seems to be trying to open the files ".png" and ""
This doesn't look right to me, placing a breakpoint on LoadFileData shows this:
[code]
This call with that data seems to originate from _m3d_gettx, as this backtrace shows
[code]

[2022-09-01 20:43] Peter0x44 commented on #2679
yeah, adding it to CMAKE_C_FLAGS does nothing but create warnings.
I did try editing this to put it in CMAKE_EXE_LINKER_FLAGS but I remember it also didn't work for reasons I don't remember.

[2022-09-01 21:01] raysan5 commented on #2679
@disketteman afaik `-s USE_GLFW=3` is only required at wasm program linkage, not when raylib library is generated. Actually, if that flag is added at sources compilation it shows a warning with that info.

[2022-09-01 21:01] #2679 closed

[2022-09-01 23:08] defce74 commented on #2666
@raysan5 ok would you like me to open a separate issue for this?

[2022-09-01 23:18] ryzaldev commented on #252
in visual studio  2022 symbol no result timeEndperiod  reference in closewindow

[2022-09-01 23:22] raysan5 commented on #2666
@defce74 Feel free to open a separate issue if you think it is related to raylib sources but it's needed more info to investigate it and, personally, I'm not investigating it. Let's see if someone is up for that task.

[2022-09-02 00:48] defce74 commented on #2666
@raysan5 ok, so before opening this as an issue, when I get some time, I'll look into it a bit myself as (correct me if I'm wrong) its probably some build settings in the Cmake config? I'll go back and look at some previous commits and see if I can find a build where cmake and make were comparable in terms of performance.

fyi as a test I am making 320,000 calls to DrawPixel per frame plus a few o

[2022-09-02 07:19] bztsrc commented on #2648
Thank you!

@GuvaCode: Can you please [open an issue in my repo](https://gitlab.com/bztsrc/model3d/-/issues) and attach the original model file? I'll look into it. Looks like the skeleton is fine, most of the mesh is fine, just one vertex per bone goes off? Interesting, I would definitely need the original model to debug this.

@Peter0x44: again, please open an issue in my repo and attach the orig

[2022-09-02 07:50] GuvaCode commented on #2648
Good. I'll do it in a few hours.

[2022-09-02 10:01] DavidXu251 commented on #958
@TheRealMJP
THANKS! This works for my Surface Pro 4 too, and this issue doesn't happen on my desktop computer. Seems like this is an issue specific to this device. Maybe it's an INTEL driver issue. Bad luck...

I'm using Python and Pyray. The pause just simply got away after I added the "import OpenGL.GL as gl" and "gl.glFinish()" Python code.

[2022-09-02 10:50] Peter0x44 commented on #2648
@bztsrc the file I am using is simply the one included in the repo, at `examples/models/resources/models/m3d/CesiumMan.m3d`. I won't have time today, but I can file an issue in the repo tomorrow.

[2022-09-02 12:21] tejohnso opened #2683 "[core] `GetTouchPosition()` never indicates no touch"
Please, before submitting a new issue verify and check:

 - [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description

GetTouchPosition seems to retain the previous position that was touched. It does not return to {0,0}

### Environment

Android  7

### Code Example

[2022-09-02 15:37] tejohnso commented on #2683
I guess it is meant to be used with GetTouchPointCount but that also fails to indicate no touch since after the first touch it also does not go back to 0.

[2022-09-02 19:28] #2671 closed

[2022-09-02 19:28] raysan5 commented on #2671
Fixed. Next release will include the symbol in the DLL.

[2022-09-03 14:45] MrRedux opened #2686 "Raylib android makefile "compile_project_class_dex" Error 1"
![image](https://user-images.githubusercontent.com/112194829/188274848-38da6551-542b-4e57-885a-de1792d5111b.png)

First of all i do not know if this is a bug. Maybe its something caused by my computer. If that's the case, i'm truly sorry for wasting your time.
----

https://github.com/raysan5/raylib/wiki/Working-for-Android

I installed everything according to this page.

I'm currently at this pag

[2022-09-03 21:49] #2686 closed

[2022-09-04 08:37] raysan5 commented on #2686
@MrRedux Did you solve the issue?

[2022-09-04 08:39] MrRedux commented on #2686
Yes. Sorry for taking your time. I changed from build tool 33.0.0 to 30.0.3

[2022-09-04 15:53] bztsrc opened #2688 "[rmodels] Minor fix in M3D skeletons for certain model files"
Hi,

Just a minor issue. So far all issues turned out to be exporter issues, except this one. I forgot that the M3D vertex table might contain normalized positions, and I set the coordinates correctly for the mesh, but not for the bones, hence the mesh and and the skeleton gets misaligned if this model variant is exported and loaded into raylib.

This simple fix takes care of it, one just have to

[2022-09-04 16:50] raysan5 commented on #2688
@bztsrc Thanks for the review! Merged!

[2022-09-04 16:50] #2688 closed

[2022-09-04 17:31] saarbastler opened #2689 "SIGSEGV, Segmentation fault on Raspberry PI 3B+"
Please, before submitting a new issue verify and check:

 - [X] I tested it on latest raylib version from master branch
 - [X] I checked there is no similar issue already reported
 - [X] My code has no errors or misuse of raylib

### Issue description

Segmentation fault with all examples on a Raspberry PI 3B+ with a 5inch DSI LCD.

I tried raylib release 4.2 and the master branch, I tested with 1

[2022-09-04 17:51] raysan5 commented on #2689
@saarbastler what driver did you enable with `raspi-config`? It's probably an issue with the display configuration...

[2022-09-04 17:59] saarbastler commented on #2689
![grafik](https://user-images.githubusercontent.com/10219421/188327165-92f88092-cddf-4e8b-bd7f-f3232b6facb3.png)

see screenshot

[2022-09-04 18:38] raysan5 commented on #2689
@saarbastler I see. No idea about the issue, it works fine with HDMI output. Feel free tosend a PR if you investigate it and find some fix.

[2022-09-04 19:09] saarbastler commented on #2689
It doesn't work with HDMI with my setup. I just unplugged the display and connected to an HDMI monitor.

It lists a lot of screen resolutions, but at the end there is still a Segmentation Fault at the and (cannot take a screenshot)

Do you have any idea, how to investigate this ?

[2022-09-05 10:09] raysan5 commented on #2689
@saarbastler Sorry, not much idea... I think it can be related to some driver or system configuration, not raylib itself...

[2022-09-05 11:40] bztsrc commented on #2689
Yeah, I agree. But if possible I think raylib should return gracefully in this case too, returning an error code if possible (depends if the error happens in the driver itself, or if it returns an invalid value and therefore in raylib trying to use that invalid value).

First, remove all existing object files and recompile with debug information. To do that, go to the `src` directory, and run
[cod

[2022-09-05 11:53] bztsrc commented on #2689
Ah, why I've mentioned the memory dump file: if you're not going to use it with gdb, then delete it immediately, because it can be *HUGE*. Hundreds of megabytes or even gigabytes, so get rid of it as soon as possible, otherwise those files will fill up your SDCard within a blink of an eye.

[2022-09-05 18:56] saarbastler commented on #2689
Thanky you all four your help !

First I build in Debug and started whith valgrind, the output is (last few lines)

[code]

[2022-09-05 19:02] saarbastler commented on #2689
I had another idea:

I setup another SD Card, connected the PI only by HDMI and compiled raylib and the examples.

It worked as expected!

After that, I disconnected HDMI and connected the DSI LCD. And It also worked with the DSI LCD.

I don't understand the reason, but its reproducible, with the first SD card I have the Segmentation Fault.

Not sure how to continue with this issue.

[2022-09-05 19:16] bztsrc commented on #2689
That's irrelevant in this case.

They key is, you have recompiled raylib on the second SDCard. According to the valgrind output, the problem was in your first SDCard's libc (and in libdl), so this has nothing to do with raylib, just as raysan5 suspected. Either you had a buggy installation on the first card, or you have used a libdl library which wasn't compiled for that specific version of libc.

[2022-09-05 19:20] saarbastler commented on #2689
Thanky a lot.

[2022-09-05 19:20] #2689 closed

[2022-09-06 08:19] raysan5 commented on #2689
@saarbastler glad you get it working! :)

@bztsrc thanks for the help with the issue!

[2022-09-06 20:47] TiagoARAlves opened #2690 "Problem compiling raylib program in code blocks"
I am adding the raylib library in code blocks but I don't know what is going on, because I get this error:
`-------------- Build: Debug in testefinal (compiler: GNU GCC Compiler)---------------

g++.exe -LC:\Users\tiago\Documents\raylib\lib -o bin\Debug\testefinal.exe obj\Debug\main.o   C:\Users\tiago\Documents\raylib\lib\libraylib.a
C:\MinGW\bin/ld.exe: C:\Users\tiago\Documents\raylib\lib\librayl

[2022-09-06 20:54] raysan5 commented on #2690
@TiagoARAlves It seems there is some missing libraries on linkage, probably winmm and gdi32.

In any case, this is a build configuration issue, not an issue with raylib itself.

You can join raylib Discord for build configuration issues.

[2022-09-06 20:54] #2690 closed

[2022-09-07 15:57] TSnake41 commented on #2656
Probably related to pulseaudio/whatever not being active.

[2022-09-08 13:21] bztsrc opened #2691 "[examples] Minor fix in the comment"
Hi,

This is really really a very small thing, does not influence behaviour at all. In `models_loading_m3d.c` the comment says
[code]
This warning should be removed, because thanks to @TokyoSU and others, I've implemented `bpy.data.actions` in the Blender exporter. Using timeline markers is just a fallback option from now on, no more needed to have multiple animations in one model file. It's enoug

[2022-09-08 22:04] #2691 closed

[2022-09-08 22:04] raysan5 commented on #2691
@bztsrc Reviewed! :)

[2022-09-10 10:33] milen-prg opened #2693 "DrawText crashes raylib"
### Issue description

*If include windows.h, the DrawText crashes. Other works good, for example DrawFPS or DrawCircle*

### Environment

*Windows 10 Pro 64bit, OpenGL 3.3, msys2/mingw64 g++*

### Code Example

[code]

[2022-09-10 10:45] raysan5 commented on #2693
@milen-prg windows.h should be moved to a separate translation unit than raylib.

[2022-09-10 10:45] #2693 closed

[2022-09-11 16:01] Not-Nik opened #2695 "[rlgl] rlLoadExtensions makes possibly wrong assumptions about existing extensions"
Please, before submitting a new issue verify and check:

 - [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description

`rlLoadExtensions` always marks certain extensions as supported even on systems that might not have them. If `GRAPHICS_API_OPENGL_33` is defined, i

[2022-09-14 10:11] raysan5 commented on #2695
@Not-Nik Good catch! Feel free to send a PR with the GLAD checks for the specific cases.

[2022-09-15 20:53] hatkidchan opened #2697 "[releases] No binaries in latest (4.2.0) mingw release"
Please, before submitting a new issue verify and check:

 - [-] I tested it on latest raylib version from master branch
 - [+] I checked there is no similar issue already reported
 - [+] My code has no errors or misuse of raylib

### Issue description

There are binaries of raylib in previous release (3.7.0), but not in latest one (4.2.0).
I'm talking about `lib/{raylib.dll,libraylib.a,libraylibdl

[2022-09-15 20:55] JeffM2501 opened #2698 "[build] `raylib-4.2.0_win32_mingw-w64.zip` missing libs"
The Raylib-4.2.0_win32_mingw-w64.zip package is missing the premade library (.a files).
![image](https://user-images.githubusercontent.com/322174/190506872-0e0c6458-cc8e-4161-b1e5-33e6f399f6ae.png)

The 64 bit package has them, and the 32 bit package should be consistent.

[2022-09-15 20:57] JeffM2501 commented on #2697
duplicate of #2698

[2022-09-15 22:10] Shpendicus commented on #2683
Is this in the newest release 4.2 ?

[2022-09-15 22:12] raysan5 commented on #2698
@JeffM2501 I'm aware of this issue but it seems GitHub Actions Host system only includes MinGW-w64 64bit libraries, 32bit libraries were removed or moved at some point.

Maybe the script could be reviewed to setup a proper environment but I'm not sure if it could work (I already tried in the past)

[2022-09-16 07:46] #2697 closed

[2022-09-16 14:10] felipetesc opened #2699 "[module] Feature Request"
### Issue description

This is not a bug, or an issue, but only a feature request. I would like to propose the addition of the Roboto font as an extra resource available  for our programs. At the moment I'm using raylib to create a small GUI project, and it would be very intersting for all of us to have a font which is simple and easy to read when our programs run on Win/Mac/Linux/Android/iOS ...

[2022-09-16 14:34] Shpendicus commented on #2699
If I may lini in shortly, how are u doing IOS development with latest raylib, I would like to know that too  ^^

[2022-09-16 19:09] tejohnso commented on #2683
Yes. I ended up using gestures, not realizing "tap" was considered a gesture. Enabling both tab and double-tap and then checking with `GetGestureDetected`.

[2022-09-16 19:13] Shpendicus commented on #2683
So it works now that way?

[2022-09-16 19:29] tejohnso commented on #2683
Yes.
So depending on how GetTouchPosition is *supposed* to be used, this issue can possibly be closed. If it's supposed to be usable outside of the gestures paradigm, then I'm not so sure.

[2022-09-16 19:31] Shpendicus commented on #2683
But isnt a TAP _(2x clicks in short period behind each other)_ also a Gesture? just by logic I mean. Or am I wrong

[2022-09-16 19:59] tejohnso commented on #2683
Tap is a gesture.
And if GetTouchPosition is meant only to be used along with gestures, then no problem.

Personally, I didn't think a tap or double tap would be considered gestures. I thought they'd be things like swiping, double finger expand, shrink motions, four finger dragging, that kind of thing. And I wasn't interested in that level of interaction so I wasn't looking at gestures.

[2022-09-17 02:05] felipetesc commented on #2699
[html5](https://www.raylib.com/games/transmission.html)

[2022-09-17 11:54] Shpendicus commented on #2699
@felipetesc looks cool, but I meant indeed more the HOW you are coding for IOS with raylib, how does ur code looks, i thought IOS is not supported by raylib yet?

[2022-09-17 14:41] felipetesc commented on #2699
Check:  https://github.com/raysan5/raylib/wiki/Working-for-Web-(HTML5)
Use webview: https://developer.apple.com/documentation/webkit/wkwebview
Create WebView in App (Swift 5, Xcode 12, 2022) - iOS Development - https://www.youtube.com/watch?v=JafGypqFvs4
Communication :  https://medium.com/@sreeharikv112/communication-from-webview-to-native-ios-android-app-6d842cefe02d
Sync cookies: https://medium

[2022-09-18 14:32] gordonshamway23 opened #2704 "[core] Listing files recursively not working (raylib 4.2.0)"
Hello everyone.

When calling LoadDirectoryFilesEx with scanSubdirs=true only files in the top level directory ("basePath") are listed.
I had a quick look in the in the sources and found the issue.
The first line in the ScanDirectoryFilesRecursively function:

`
static char path[MAX_FILEPATH_LENGTH] = {0};
`

must be wrong. Actually it should be:

`
char path[MAX_FILEPATH_LENGTH] = {0};
`

In orde

[2022-09-18 14:48] gordonshamway23 opened #2705 "[core] File extension case sensitivity on Windows"
When loading images, textures, sounds, etc, the raylib loading functions will fail when your file extensions are not lower case. This is only relevant on windows systems. Linux OSes have case sensitive filenames.
As an example i tried to load a png file called "test.PNG" on windows 10:

`Image img=LoadImage("test.PNG")`

Which does not succeed even if the file exist.
If i rename the file to "test.

[2022-09-18 16:06] simeonradivoev opened #2707 "[models] `DrawMeshInstanced()` does not work"
### Issue description

`DrawMeshInstanced` straight up does not work. It does not display anything with the official example code from the master branch. The Example webgpl demo also doesn't work, shows only a black screen.

### Environment

Windows, GTX 1070, OpenGL 330, Chrome 105.0.5195.127

### Issue Screenshot

![image](https://user-images.githubusercontent.com/9950198/190916625-53d2beb7-8157

[2022-09-18 17:29] williamfjm opened #2708 "[draw] draw on video in real time"
hello all again .i have used raylib for a while for some small projects .
But due to the scarcity of raspberrys, I had to migrate my software to some arm tv boxes that do not have omxplayer or dispmax.
so i had to switch to mplayer as player .but i need to draw on the video in real time .

so I wonder if it is possible to leave a totally transparent zone in raylib to let the video run without the

[2022-09-18 20:38] #2695 closed

[2022-09-18 21:01] #2683 closed

[2022-09-19 16:11] raysan5 commented on #2708
Afaik, `pl_mpeg` is one of the best options out there for software video frames decompresion. Did you measure the cost of frame-decompression? Drawing an overlay over the frame with raylib should have a very low cost so probably the bottleneck is on the video frame decompresion.

[2022-09-19 16:20] #2704 closed

[2022-09-19 16:20] raysan5 commented on #2704
@gordonshamway23 Thanks for the review!

[2022-09-19 16:29] raysan5 commented on #2707
Just tested `examples/shaders/shaders_mesh_instancing` using the provided solution at `projects/VS2022/raylib.sln` and it works as expected.

Reviewed issue with shaders name, not it should work also on web but it requires to be recompiled.

[2022-09-19 16:29] #2707 closed

[2022-09-19 16:31] raysan5 commented on #2705
This issue was discussed in the past and finally opted for the case sensitivity in all platforms... but maybe it's a good time to review it again...

[2022-09-19 16:46] jasonswearingen opened #2714 "[audio] Memory/state corruption in the `audio_module_playing` example (regression)"
- [X] I tested it on latest raylib version from master branch
 - [X] I checked there is no similar issue already reported
 - [X] My code has no errors or misuse of raylib

### Issue description

I updated the Raylib-CsLo (C# Wrapper) to Raylib 4.2.   To verify, I run all the examples (all 100+).   They all "work", however I run the examples is a little different:  They are all run within a single

[2022-09-19 16:51] jasonswearingen commented on #2714
I had a typo in my initial report.  The issue is in the ModulePlaying example.    I have edited the original to correct.

[2022-09-19 16:58] jasonswearingen commented on #2714
It seems the "MusicPlaying" Streaming example also has the same problem.

[2022-09-21 01:41] TITANDERP opened #2715 "Working Directory defaults to user folder on Mac OS"
Just as it says in the title, currently on macOS Monterey 12.6.

Was pulling my hair out wondering how to embed the resource folder to my project because each resource file was throwing a "Error, file not found."

Changing my current working directory before runtime solved the issue.

I can confirm this issue is not prevelant on Windows, to the best of my knowledge.

[2022-09-23 02:06] Grobnar opened #2716 "[models] `GenMeshHeightmap()` scaling error"
I discovered an issue while trying to tile heightmaps as map pieces where gaps would appear between the tiles.
Weirder still, when testing I found that the size of the gap would change based on the resolution of the heightmap used.

The issue turned out to be with the scaleFactor value in GenMeshHeightmap.
It essentially scales the heightmap image up to the desired scale of the mesh.
Then it creat

[2022-09-23 02:10] Grobnar commented on #2716
Sorry, first time submitting an issue and I didn't read the contributing guidelines first.
This is in the rmodels.c file.

[2022-09-25 05:07] masterex1000 opened #2718 "[rcore] Having Caps-Lock or Num-Lock on locks all pressed keys down"
- [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description

If you have num lock or caps lock enabled it'll "lock" whatever keys you press to be down, until you disable num/caps lock and press the key again.

It looks like this issue was introduced in a recent comm

[2022-09-25 12:13] raysan5 commented on #2718
@masterex1000 My bad, just fixed the issue.

The point of that commit is being able to detect if CAPS/NUM lock keys are enabled. Those two special keys behave different than the other keys because they work like sticky-keys, once pressed they get stuck and that state should be detected. Now raylib can detect it with this fix.

I'm aware it's a bit hacky solution and could imply other issues, let's

[2022-09-25 12:13] #2718 closed

[2022-09-25 13:41] #2716 closed

[2022-09-25 13:42] raysan5 commented on #2716
@Grobnar Thanks for the improvement! Function reviewed! :)

[2022-09-25 18:20] RobLoach commented on #2705
I'd still vote a no on case insensitivity, but that's just me :shrug:

[2022-09-26 00:27] orcmid commented on #2705
@RobLoach @raysan5 The problem with attempting to be cases sensitive on a case-insensitive platform is that things can go very badly and mysteriously if two filenames are used that only have some case differences.

So, somehow, the platform differences need to be honored in a simply-understandable manner.

File extensions are a distinct problem.  On current Windows versions there are multiple exte

[2022-09-26 19:11] gordonshamway23 commented on #2705
I can totally understand the arguments for continuing with case-sensitive file search. Maybe my problem was more related to the fact that a format of a file is determined by looking at the file extension, which is ok so far. But I don't like that this is done case-sensitive, which means you can only load "test.png", but not a file called "test.PNG", which is the same on all operating systems. A us

[2022-09-27 09:21] RandomErrorMessage opened #2722 "[rcore] GLFW_LOCK_KEY_MODS, GLFW_MOD_CAPS_LOCK, GLFW_MOD_NUM_LOCK not available in emscripten"
The following commits break emscripten builds as the `glfw3.h` included with emsdk does not have `GLFW_LOCK_KEY_MODS`, `GLFW_MOD_CAPS_LOCK`, `GLFW_MOD_NUM_LOCK`. See: https://github.com/emscripten-core/emscripten/blob/main/system/include/GLFW/glfw3.h

ea87491a82a0fc778056d1538d37ec851e8e0fbe
2ef0b064e50279f84531fd265990f29327775dbf

[code]

[2022-09-27 13:51] raysan5 commented on #2722
@RandomErrorMessage Thanks for reporting! Actually I imagined it could happen considering those flags were added recently to GLFW...

[2022-09-28 04:28] Shadowblitz16 opened #2725 "[core] `GetGamepadAxisMovement()` is not returning expected value"
Please, before submitting a new issue verify and check:

 - [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description

GetGamepadAxisMovement is not returning correct values.
They should be returning a unit circle for x and y but seem to be returning a 1 and a 0.5 w

[2022-09-28 19:07] darthdeus opened #2728 "[core] Window is opened on a secondary monitor on Linux/X11"
### Issue description

The "hello world" of raylib opens the window on a wrong (secondary) monitor on Linux/X11. The same does not happen when using raw glFW or SDL2, or any other program tested on the same machine.

### Environment

Arch Linux x86_64, OpenGL 4.6.0, NVidia driver 515.65.01, GPU RTX 3060.

### Issue Screenshot

N/A

### Code Example

Any raylib example reproduces this, e.g.

[code]

[2022-09-28 20:08] Peter0x44 opened #2729 "[build] `rcore` module does not compile under linux with `-std=c99` *without* `-D_GNU_SOURCE`"
Please, before submitting a new issue verify and check:

 - [ ] I tested it on latest raylib version from master branch
 - [ ] I checked there is no similar issue already reported

### Issue description
Under Linux, rcore.c cannot compile as c99, without defining _GNU_SOURCE

`gcc -c rcore.c -DGRAPHICS_API_OPENGL_33 -DPLATFORM_DESKTOP -std=c99`
[code]
 Now, adding -D_GNU_SOURCE to that command, it

[2022-09-29 09:08] #2722 closed

[2022-09-29 09:23] #2725 closed

[2022-09-29 09:24] raysan5 commented on #2725
@Shadowblitz16 I'm afraid this issue could be related to the gamepad mapping, not detecting the correct Gamepad.

Just updated to latest [GamecControllerDB](https://github.com/gabomdq/SDL_GameControllerDB).

[2022-09-29 10:01] raysan5 commented on #2728
@darthdeus That's weird... I checked the code at `InitGraphicsDevice()` in `rcore`, where the window is created and actually, it does mostly the same than your GLFW3 implementation.

I reviewed some function calls order but it shouldn't change anything... I'm afraid this issue should be debugged carefully on the target platform, unfortunately I'm not using Linux. Is your monitor the primary monito

[2022-09-29 10:07] raysan5 commented on #2729
@Peter0x44 Could this define just be added under the mentioned lines in `rcore`? (I don't know it it could have any side effect)

[2022-09-29 21:14] RandomErrorMessage commented on #2728
The glfwSetWindowPos to "center the window" is what causes it. In my configuration my primary monitor is on the right, and my secondary is on the left. Meaning position 0x0 is the top-left corner of my secondary monitor.

https://github.com/raysan5/raylib/blob/45da03df236db2090ac9a53aac572b0b91278a64/src/rcore.c#L4118

[2022-09-30 08:11] raysan5 commented on #2728
Last commit should fix this issue.

[2022-09-30 08:11] #2728 closed

[2022-10-01 04:40] darzaccaro commented on #1828
FWIW, I had this same issue when using the pre-compiled binary, but everything works fine when building from source.

[2022-10-02 09:06] raysan5 commented on #2705
@gordonshamway23 @RobLoach @orcmid After thinking about it I decided to keep it as-is, I prefer to keep the same behaviour between all platforms despite the annoyance it could imply on Windows devices. In any case, users can check the case-sesitivity on their side.

[2022-10-02 09:06] #2705 closed

[2022-10-02 09:30] raysan5 opened #2735 "[shapes] `DrawLineBezier*()` functions redesign"
As stated in this PR (https://github.com/raysan5/raylib/pull/2721), `DrawLineBezier*()` functions do not work as expected, leaving gaps between the lines. Solution requires a redesign of those functions using triangle-strip.

`DrawLineBezier()` calls `DrawLineEx()` that calls `DrawTriangleStrip()`. That last function should actually manage the gaps properly because it's a triangle strip.

`DrawLin

[2022-10-02 10:27] kgpjay commented on #2735
hi @raysan5, please assign me this issue, I would can work on this.

[2022-10-02 11:15] raysan5 commented on #2735
@kgpjay You got the issue assigned, feel free to ask if you have any question. Remember to check the required [coding conventions](https://github.com/raysan5/raylib/blob/master/CONVENTIONS.md).

[2022-10-02 17:30] raysan5 commented on #2714
@jasonswearingen Please, could you test the provided fix?

[2022-10-03 00:06] Shadowblitz16 commented on #2725
How do I do that?
I use the C# version of raylib.

rock candy xbox 360 controllers are kinda old too.

[2022-10-03 05:06] rileyocall opened #2739 "[audio] Audio examples don't work when compiled with the latest version of Emscripten"
### Issue description

Emscripten update 3.1.21 makes "ccall" a legacy function which is not available with the default compiler flags (those in the raylib makefile). The audio examples compiled with the latest version of Emscripten don't produce sound in the browser and there is an error in the javascript console due to a missing reference to "ccall".

A working solution to the problem is to add

[2022-10-03 07:01] raysan5 commented on #2725
@Shadowblitz16 you should test the C gamepad example

[2022-10-03 19:25] cyberic99 opened #2740 "[raudio] No sound since 4.2.0"
After upgrading to the latest raylib version, my archlinux x86_64 application suddenly stopped making any sound.
(I first encountered the problem using python bindings)

So I tried to compile audio_sound_loading.c example against different raylib versions:

raylib 4.0: sound OK
raylib 4.2: no sound
2e26cf48 (latest master as of now): no sound

I can see the sound source in pavucontrol, and I see n

[2022-10-03 19:44] electronstudio commented on #2740
i would bisect around https://github.com/raysan5/raylib/commit/22c17da4d7b33f1c3a345b2e04e7935e16603ae9

[2022-10-03 20:15] raysan5 commented on #2740
@cyberic99 I just published an update of rFXGen yesterday and audio works as expected. I would need more info to track the issue properly, maybe is Arch Linux specific.

[2022-10-03 22:57] Shadowblitz16 commented on #2725
I did twice.
The first time I thought it was raylib only, but the second time a noticed in the gamepad example that my axes were things like... ```1, 0.5```
and
```1, -1``` when pressing diagonal, and my movement was only going in 8 directions and not 360.
Also the devs of raylib-cs said it was a problem with c raylib.

[2022-10-04 17:05] Peter0x44 commented on #2729
@raysan5 I think it can, but perhaps not in that exact place in rcore
One thing to be aware of is that it must be defined *before* any other header is included, because some headers can apparently include each other

`man feature_test_macros` for me says:
[code]

[2022-10-04 17:13] polarvoid commented on #2656
Hey, I could try and take a look into this. Could you provide some more context? I see a lot of issues particularly regarding RPis and Audio/Middle Mouse Button here.

[2022-10-04 17:27] raysan5 commented on #2656
@polarvoid Actually Raspberry Pi requires some more testing, afaik audio/gamepad worked ok in previous version.

[2022-10-04 17:30] polarvoid commented on #2656
If y'all need any help with that, I can take a look. I have a few Pis that I can test on.

[2022-10-04 17:30] Trithilon commented on #2656
I just received my new RPi 4 and 3B+ - so happy to test stuff out as well.

[2022-10-04 17:32] polarvoid commented on #2656
One can never have too many of em XD.

[2022-10-04 18:37] Trithilon commented on #2660
So something like this?
https://forums.raspberrypi.com/viewtopic.php?t=30762#p267522

[2022-10-05 05:15] clbr commented on #2660
Yes.

[2022-10-06 10:56] hatkidchan opened #2744 "[rshapes] Inconsistent and wrong rendering of lines"
### Issue description

Line drawing functions are not consistent between normal and texture mode, as well as just wrong in general (i.e. they're off by a pixel, not long enough and so on). When line is exactly vertical or horizontal, they're offset to one or other side, and sometimes end point of line is not reaching specified coordinates.

### Environment

Platform: Desktop
OS: Arch Linux
OpenGL:

[2022-10-06 19:24] cyberic99 commented on #2740
yes... that's it:

[code]
sound OK
[code]
no sound

[2022-10-06 21:18] raysan5 commented on #2740
@cyberic99 It seems the issue could be related to miniaudio? On Windows it works as expected.

[2022-10-06 22:34] raysan5 commented on #2739
@rileyocall I compiled `rFXGen` some days ago with emscripten 3.1.23 and I think audio worked for me in local execution... but I could be confused...
[code]
The uploaded version is compiled with GitHub Action using 3.1.0 and [it works ok](https://raylibtech.itch.io/rfxgen).

In any case, is it possible to avoid the `ccall()`?

[2022-10-06 22:37] cyberic99 commented on #2740
I took the latest raylib master, downgraded miniaudio to v0.10.42, and the sound does work correctly...

should I report directly to miniaudio project ?

[2022-10-06 22:43] raysan5 commented on #2740
@cyberic99 Thanks for testing, pinging @mackron about it.

[2022-10-07 07:24] mackron commented on #2740
There's not enough information to go on. Need to see some kind of log. Maybe try compiling with the `MA_DEBUG_OUTPUT` define. You could also try replacing miniaudio with the version currently in the dev branch in the miniaudio repository - I've got a few fixes for various things in there which *might* fix this.

[2022-10-07 15:39] chriscamacho commented on #2740
FWIW works just fine on Void Linux (64bit) - with sometimes flaky intel SOF audio chip, cloned a day or so ago...

[2022-10-07 15:54] cyberic99 commented on #2740
OK I'll do this and report back, thank you

[2022-10-07 17:23] gunner0781 commented on #996
Hi, I have a similar problem when I run the program it give WARNING: FILEIO: [resources/player.png] Failed to open file

[2022-10-09 15:39] JupiterRider commented on #2656
I had **no issues** on Raspberry Pi OS Lite (64-bit, Debian 11 bullseye).

I used raylib 4.2 PLATFORM_DRM and played a .wav file using the audio jack.

Its a Raspberry Pi 3B+

[2022-10-09 20:54] cyberic99 commented on #2740
Ok, so updating to miniaudio [4d813cf](https://github.com/mackron/miniaudio/commit/4d813cfe23c28db165cce6785419fee9d2399766) didn't fix the problem.

But I have found a kind of workaround that could help:
I have 2 soundcards, a ``Notepad-12FX Analog Surround 4.0`` and a ``Jabra usb headset``

When I start the audio test with the notepad soundcard selected, I get no sound, and switching the output

[2022-10-09 21:48] raysan5 commented on #2740
@cyberic99 Thanks for testing and the detailed report! Hopefully this issue could be addressed with provided info! :)

[2022-10-10 04:56] Trithilon commented on #2656
@JupiterRider : I was using RPI Zero 2 W, so there was no headphone jack. There was no HDMI sound.
I'll check this at my end as well tomorrow now that I just got my RPI 4 and 3B+

[2022-10-10 09:34] cyberic99 commented on #2740
Glad I could help.

If you need more info please let me know, at least I have something reproducible with my specific setup

[2022-10-10 15:54] raysan5 commented on #2744
@hatkidchan Thanks for the super-detailed report! Actually, this is a very tricky issue because it depends on the GPU, the drivers and also the OS. It's difficult to find a proper solution...

There was already a hack in `BeginDrawing()` trying to address this issue but it worked so randomly that finally it was commented. Here the related code from `rcore` module:

[code]

[2022-10-10 16:36] hatkidchan commented on #2744
Oh wow! I should've checked if that was already tested option. Too bad it works not reliably enough..

For a "solution" I think using software renderer for those who really wants pixel-perfect rendering. Though, that may require a lot of unnecessary checks and redirects and such, so it's not a great solution to use at runtime, and having that as a compile-time option is also not ideal because it's

[2022-10-10 16:47] hatkidchan commented on #2744
According to [this](https://stackoverflow.com/a/10041600/15495257) answer on SO, it may be not even possible to draw pixel-perfect lines reliably using OpenGL. So no matter how much we tweak offsets, translation, matrices and whatnot, there will be at least some GPU that'll just make it look wrong. So software render it is then...

I'm not sure whether I should close that issue 'cause it's not rea

[2022-10-11 08:11] yangyagami commented on #2609
I test it on the linux. I had set my code file as UTF-8. It doesn't work.

---- Replied Message ----
| From | ***@***.***> |
| Date | 08/05/2022 19:59 |
| To | ***@***.***> |
| Cc | ***@***.******@***.***> |
| Subject | Re: [raysan5/raylib] How to display chinese character? (Issue #2609) |

@yangyagami Just tested it and it works as expected on my device:

I think it can be related to the code fil

[2022-10-11 11:14] raysan5 commented on #2744
@hatkidchan Oh! Good catch! Feel free to send a PR to review it!

About the software renderer option, actually, it has been on my TODO list for a long time (at least for 2D drawing), some improvements have been done in that line to `rtextures` module in the last few years. All the `Image*()` functions were intended for that. But it requires more work than expected, not only to get it working but t

[2022-10-11 11:17] hatkidchan commented on #2744
I think I also should create separate issue for that 'cause it's technically out of scope of current one. Gonna do it in a couple hours

[2022-10-11 11:19] raysan5 commented on #2744
@hatkidchan No worries, no need to create a separate issue, you can just send the PR directly.

[2022-10-11 15:17] chriscamacho commented on #2744
might this have an impact ?
https://registry.khronos.org/OpenGL-Refpages/gl4/html/gl_FragCoord.xhtml
might need setting in the default shader ?

[2022-10-12 08:19] raysan5 commented on #2740
@cyberic99 Could you try reverting to previous miniaudio version, the one that worked as expected, but using current raylib master branch. Just to make sure the issue is on miniaudio side, so this issue could be moved to miniaudio repo.

[2022-10-12 08:31] raysan5 commented on #2698
One possible solution to this issue could be downloading and using [`w64devkit`](https://github.com/skeeto/w64devkit/releases/tag/v1.16.1) 32bit package to compile the library.

Help implementing this solution is welcome.

[2022-10-12 12:19] chriscamacho commented on #2698
my far the easiest way to make a windows executable is with Linux (no really! it just works) I've also used Window Subsystem for Linux to do this... I make a tutorial for this sometime ago
https://bedroomcoders.co.uk/looking-again-at-compiling-a-windows-raylib-app/
you can easily adapt for 32bit if you're using last centuries hardware... seriously does anyone still run windows on 32bit hardware an

[2022-10-13 17:33] hatkidchan opened #2755 "[rtextures] ImageDrawTextEx is not scaling down resulting image"
- [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description

Glyphs are not scaled down when rendering text using `ImageDrawTextEx`

### Environment

OS: Arch Linux
OpenGL: 4.6 (Core Profile) Mesa 22.1.7
GPU: Intel(R) HD Graphics 4600

### Issue Screenshot
![image](

[2022-10-13 17:45] hatkidchan commented on #2755
![image](https://user-images.githubusercontent.com/35804000/195668392-add4fe81-66e9-434f-863c-4c143ba97578.png)

Scaling when height returned by `MeasureTextEx` differs from ours works too. Gonna open a PR now

[2022-10-14 15:43] #2755 closed

[2022-10-14 15:46] raysan5 commented on #2744
I'm afraid I'm closing this issue, there will be always some OpenGL implementation that won't be pixel-perfect and trying to over-engineer a solution just for it implies an additional maintenance cost in the long term.

For pixel-perfect, the best solution is a software implementation, like the one provided by `Image*()` functions, it can be expanded in the future and maybe even expose a software

[2022-10-14 15:46] #2744 closed

[2022-10-14 15:50] hatkidchan commented on #2744
I'm really looking forward pixel perfection in future, thanks a lot!

[2022-10-14 23:28] susyboy23 opened #2758 "[question] How i compile raylib with msvc"
so, i was triying to compile raylib with visual studio 2019, and it have me some external linking errors, some one have a clue how to fix this?

![image](https://user-images.githubusercontent.com/89088882/195957351-65ebc5b6-4a21-4f4b-a88e-7a22c35be99d.png)

[2022-10-15 00:25] orcmid commented on #2758
The problem seems to be in `raylib.lib`.

Have you looked in the `raylib\projects\VS2022\` folder for Visual Studio solutions and examples?  Those should work with VS2019.  If you get one of those to compile and run, you should be able to scavenge from one of the examples to build your own project.

PS: Use one of the release sources available on GitHub.  These should be more stable and suitable f

[2022-10-15 13:17] raysan5 commented on #2758
@susyboy23 provided VS2022 preconfigured project should work ok.

[2022-10-15 13:17] #2758 closed

[2022-10-15 13:18] raysan5 commented on #2740
It seems this issue is out of scope of raylib.

[2022-10-15 13:18] #2740 closed

[2022-10-15 13:19] raysan5 commented on #2735
@kgpjay Are you working on this feature? Any progress?

[2022-10-15 19:21] JojoPlusPlus opened #2759 "[rcore] Rename GetScreenWidth/GetScreenHeight to GetWindowWidth/GetWindowHeight"
`GetScreenWidth()` and `GetScreenHeight()` might be a bit misleading. I did not find out about that they return the **window** width/height until just now. This made me search for ways of getting the window size in a few projects in the past, and I was actually about to start making a pull request for making the functions before I found out they existed with a different name.

Long story short, I

[2022-10-15 19:43] raysan5 commented on #2759
@JojoPlusPlus Those functions return the screen framebuffer size that could the same as window or not. Also, it's a multiplatform function, Android or Web have no window.

[2022-10-15 19:43] #2759 closed

[2022-10-16 04:43] orcmid commented on #2759
@raysan5

I think `InitWindow` sort of sets the raylib model, independent of how that maps on different platforms.  One can rename the parameters for free of course, using a prototype like

'''C
void InitWindow(winWidth int, winHeight int)
[code]

And either way, there is some explaining to be done, including with respect to platform differences.

I do think it would be devilish to explain

[code]

[2022-10-17 05:36] clibc opened #2762 "[audio] MSVC Build error : Cannot open include file: 'stdalign.h': No such file or directory"
Here is the error I get when I run ```build-windows.bat``` in raylib/projects/scripts.
[code]

[2022-10-17 09:34] raysan5 commented on #2762
@clibc It seems this issue is related to the C compiler that does not provide the required library for C11 compilation.

You should try updating/changing the compiler. You can also try compiling with `/std:c99` instead of `/std:c11`.

[2022-10-17 09:34] #2762 closed

[2022-10-17 16:13] orcmid commented on #2762
@raysan5

It's even more complicated than that.
https://learn.microsoft.com/en-us/cpp/standard-library/cstdalign?view=msvc-170

This problem does not happen with Visual Studio 2022 Build Tools and that script in raylib release 3.7.0.  I will dig a little farther.  As far as I can tell off-hand, `stdalign.h` is not included in any MSVC libraries because of the C++ keyword conflict.

[2022-10-17 17:40] orcmid commented on #2762
@raysan5 @clibc

Here's a build with my adaptation of `build-windows.bat` building for x64.  Note that `std:c11` must be used because of `struct` cases that are used in raylib and that are not supported in C99.

Although not shown in the replay of parameter options on the console, the raylib `*.obj` cache is compilied with options `/w /c` and the game file is compiled with options `/w3 /c`.  The d

[2022-10-17 18:31] orcmid commented on #2762
Here is the Visual Studio 2022 VC command-line x64 compile with my VCrayApp script and raylib release 4.2.0 after I corrected the source file names for creating the `*.obj` cache.

[code]
It strikes me that having that in `miniaudio.h` is a mistake with respect to `raudio.c` dependency, but that needs more exploration.

[2022-10-17 19:37] orcmid commented on #2762
The problem is a mistake in `miniaudio.h` lines 3893-3907.  The `#include <stdalign.h>` is done whenever the `__STDC_VERSION__` variable is larger than `201112L`.  A way to fix it is to add

[code]
to line 3893.  Then the `#include` will never be attempted with Visual Studio and VC and the `#else` case will work.

(However, my compiled sample program cannot now be executed for some reason that I s

[2022-10-18 00:31] orcmid commented on #2762
I have confirmed the change to `miniaudio.h` after having to reinstall my VS 2022 Build Tools for some other reason.

I get clean compiles of `raudio.c` and my example file compiles and runs as expected.

It's interesting that the commentary in `miniaudio.h` confesses that the alignment adjustment is not necessary although there can be slight performance improvements in some cases.  This should no

[2022-10-18 04:47] bitRAKE opened #2764 "[core] Multi-monitor fullscreen forces mode change"
Presently, I'm _just_ trying to make a HighDPI (per monitor) aware window; which can also toggle between fullscreen and windowed. My system setup is irregular in that there are two monitors with different DPI and different resolutions. All the example code works well on the primary display.

Following the examples, my test application also works well on the primary display. Initially, I was using

[2022-10-18 08:10] abhinav-0401 commented on #706
i am experiencing the same issue with libraylib.so.4.2.0, after compiling with cmake

what is the underlying issue?

[2022-10-18 21:09] cyberic99 commented on #2740
OK so I downgraded miniaudio to v0.10.42, with raylib master, and it works.

So it seems to be a regression in miniaudio between v0.10.42 and v11.8

@mackron do you want me to open an issue in miniaudio repo ?

Thank you

[2022-10-18 22:03] mackron commented on #2740
Feel free to create an issue in the miniaudio project.

[2022-10-20 04:41] orcmid commented on #2740
@cyberic99 The 0.11.10 release of miniaudio was just released.  You should retest with that `external/minaudio.h` to determine whether your problem has been solved.  I will also check on the `#stdalign.h` problem of #2762.

[2022-10-20 04:51] orcmid commented on #2762
@clibc I have confirmed that the just-released `miniaudio.h` version 0.11.10 repairs the `#include <stdalign.h>` defect.  You can manually introduce it into `raylib/src/external`, revert to raylib-4.0.0, or wait for a new raylib release beyond 4..2.0.

[2022-10-20 10:05] Maor2871 commented on #2118
Hey, I'm currently facing the same issue of `miniaudio / Null`.
I work on windows, and followed the steps in: [https://github.com/raysan5/raylib/wiki/Working-for-Android](url).
My app runs as expected, but with no sound.
I don't use android studios, and the workaround didn't do the job.
I tried to edit `miniaudio.h` by adding
`#define MA_SUPPORT_AAUDIO`
`#define MA_ENABLE_AAUDIO`
but with no succe

[2022-10-20 10:13] sogaiu commented on #2118
I never tried on Windows, but perhaps @seprab might have some tips?

[2022-10-20 10:23] mackron commented on #2118
Are you compiling with an Android toolchain? You need to compile with a proper Android compiler. No other configuration is supported by miniaudio. You can't just compile on a Windows or Linux compiler and expect it to work on Android. The "workaround" mentioned above is working by coincidence, not by design.

[2022-10-20 11:14] Maor2871 commented on #2118
I'm using the `Command line tools` package as described in [Working-for-Android](https://github.com/raysan5/raylib/wiki/Working-for-Android) under the Android SDK section.
In the Makefile.Android i have theses settings:
`JAVA_HOME              ?= C:/open-jdk`
`ANDROID_HOME           ?= C:/android-sdk`
`ANDROID_NDK            ?= C:/android-ndk`
`ANDROID_TOOLCHAIN      ?= $(ANDROID_NDK)/toolchains/l

[2022-10-20 11:36] mackron commented on #2118
OK, that should work. Are you able to compile with `-DMA_DEBUG_OUTPUT` and post the log here so I can take a look? There might be an error in there that might explain what's going on.

[2022-10-20 12:32] Maor2871 commented on #2118
Well, trying to enable `-DMA_DEBUG_OUTPUT` got me to understand that I have to `#define` inside `raudio.c` right before the `#include "external/miniaudio.h"` line. On the one hand I reached the same as @futureapricot in this regard and didn't manage to compile raylib source code with it. On the other hand, I realized this is the same spot I need to `#define` `MA_SUPPORT_AAUDIO `, and as for the ot

[2022-10-20 13:36] UradaSources commented on #1945
Thanks a lot! This turned out to be supported in glfw. I'll look into it later. But raylib itself doesn't seem to have an api like StartInput? Will this be added in the future?

[2022-10-20 16:31] raysan5 commented on #1945
@jdeokkim It seems those changes are not merged yet but I reopen this issue to keep track of it.

[2022-10-20 16:35] Peter0x44 commented on #2739
`-s EXPORTED_RUNTIME_METHODS=ccall` also works for me.
Using the latest emscripten, it is required to work.
I don't know if avoiding the ccall is possible or what replacements exist.

[2022-10-20 16:48] raysan5 commented on #2739
@Peter0x44 Just opened a related issue on `miniaudio` project. For now, I think your solution is the optimus one, feel free to send a PR with that addition. Thanks!

[2022-10-20 19:22] lorenzo774 commented on #2118
I tried to define the macros but with no success.

[code]

I have a question that maybe is stupid, do I need to use miniaudio to manage audio for android or does raylib use it automatically?

[2022-10-20 19:58] lorenzo774 commented on #2118
@Maor2871 I ```#define``` inside ```raudio.c``` as you said but I have to compile the source code (no success).

[2022-10-20 23:46] mackron commented on #2118
The detection of Android as the build system is very simple in miniaudio. It surprises me that it wouldn't get picked up automatically. Here's what it does:

[code]

And then a bit further down:

[code]

One thing that does seem odd is that for some reason I've put that bottom section inside the Unix detection section (`MA_UNIX`) so I'm wondering if maybe that's what the compiler is skipping over

[2022-10-21 02:53] UradaSources commented on #1945
I took a quick look at the glfw api and did some tests, just simply register a callback function with glfwSetCharCallback to get the output of ime! This callback function is called once for each complete character returned by ime, and the codepoint is the corresponding character unicode code.

[2022-10-21 07:01] daipom commented on #1945
Hi, I am one of those working on this GLFW PR.

* [Add IME support for each platform glfw/glfw#2130](https://github.com/glfw/glfw/pull/2130)

We are already working on the corresponding work for raylib.

* raylib: https://github.com/clear-code/raylib/tree/better-ime-support
* sample application: https://github.com/clear-code/RaylibIMEInputSampleApp

We are planning to make a PR for raylib once GLF

[2022-10-21 08:28] jdeokkim commented on #1945
@daipom The sample application looks very nice, thank you for your hard work!

[2022-10-21 11:22] Maor2871 commented on #2118
Hey @mackron, I have tested the new `miniaudio.h` after reversing `raudio.c` and it seems to be working!
I get `> Backend:       miniaudio / AAudio` as expected and the app indeed plays the sound.

@lorenzo774, The `#define MA_SUPPORT_AAUDIO` and `#define MA_ENABLE_AAUDIO` seems right, but note that `miniaudio.h` is inside the `external` folder, which is why you should enter: `#include "external/m

[2022-10-21 19:40] mackron commented on #2118
Thanks for checking that. Good to hear. Just waiting on confirmation for another fix and will then get this released.

[2022-10-21 19:42] mackron commented on #2739
I've pushed a potential fix for this to the miniaudio dev branch. Is someone able to give that a try just to confirm it's working?

[2022-10-21 20:18] raysan5 commented on #2739
@rileyocall Please, could you verify this fix works for you?

[2022-10-22 10:36] raysan5 commented on #1945
@daipom Wow! The example is very impressive! Congratulations!

Thank you very much for working on this issue, this is an amazing improvement.

Feel free to send a PR when ready and let's see the complexity/dependencies it adds to raylib and the better way to implement it... In any case, we can put it under a compilation flag for users requiring it.

[2022-10-22 12:33] nobytesgiven commented on #2735
Working on this, will open a pull request soon.

[2022-10-23 10:18] lorenzo774 commented on #2118
@Maor2871 ```miniaudio.h``` is already included using the Makefile, I updated miniaudio using @mackron changes.
Still doesn't work.

[2022-10-23 13:48] gen2brain opened #2769 "[audio] SetAudioStreamBufferSizeDefault does not set the buffer size"
This can be confirmed with the `audio_raw_stream.c` example, it sets the buffer size to 4096, but the buffer size is always `1024*3 (3072)`:

[code]

[2022-10-23 20:13] nobytesgiven opened #2771 "[rtextures] inverse premultiply function (FEATURE REQUEST)"
I suggest a new function: `void ImageAlphaInversePremultiply(Image *image)`
This function makes sense since `void ImageAlphaPremultiply(Image *image)` exists.
I needed such function in #2770 to avoid the black edges when blurring and I assume it will be useful elsewhere too.

I can make a quick pr if needed, most of the code will remain the same with `ImageAlphaPremultiply`

[2022-10-23 21:51] mackron commented on #2118
@lorenzo774 I'm suspecting your issue might be different. Can you post a log of some kind? Maybe compile with the `-DMA_DEBUG_OUTPUT` option.

[2022-10-23 21:57] lorenzo774 commented on #2118
@mackron
[code]
The music file is inside ```android.<project-name>/assets```

[2022-10-24 04:50] daipom commented on #1945
@jdeokkim  @raysan5 Thanks!
It may take a while to be merged in GLFW.
If it is not a problem, we would like to send a PR in draft status and request a review in advance.

[2022-10-24 10:02] johnnikolay opened #2772 "[build] __ANDROID_API__ version is hardcoded to value incompatible with most of the recent android targets"
**WARNING: Please, read this note carefully before submitting a new issue:**

It is important to realise that **this is NOT A SUPPORT FORUM**, this is for reproducible BUGS with raylib ONLY.

There are lots of generous and helpful people ready to help you out on [raylib Discord forum](https://discord.gg/raylib) or [raylib reddit](https://www.reddit.com/r/raylib/).

Remember that asking for support

[2022-10-24 11:38] raysan5 commented on #2739
I tested it and it works.

[2022-10-24 11:38] #2739 closed

[2022-10-24 11:40] raysan5 commented on #2771
@nobytesgiven It seems a very specific function to me, personally I never required it. I prefer to avoid it for the moment, we are already adding several new functions to raylib and it increases maintenance cost.

[2022-10-24 11:40] #2771 closed

[2022-10-24 11:42] raysan5 commented on #1945
@jmorel33 Feel free to open a PR in draft, also useful for further discussion about this feature.

[2022-10-24 11:47] raysan5 commented on #2772
@johnnikolay Where is `__ANDROID_API__` hardcoded in raylib source code? Afaik is a configuration option of the build system...

[2022-10-24 12:16] johnnikolay commented on #2772
https://github.com/raysan5/raylib/blob/master/cmake/LibraryConfigurations.cmake#L48

[2022-10-24 12:44] raysan5 commented on #2772
@johnnikolay I'm afraid I don't know CMake, that build system was user contributed. Still, it looks like a build config option to me, could it be changed? Feel free to send a PR with the review if required.

[2022-10-24 14:31] johnnikolay commented on #2772
Author: Sergey Solovyev <sergeysol@tencent.com>
Date:   Mon Oct 24 15:14:38 2022 +0100

    Update api version to 23

diff --git a/cmake/LibraryConfigurations.cmake b/cmake/LibraryConfigurations.cmake
index 1e60e828..80813505 100644
--- a/cmake/LibraryConfigurations.cmake
+++ b/cmake/LibraryConfigurations.cmake
@@ -45,7 +45,7 @@ elseif (${PLATFORM} MATCHES "Android")
     set(GRAPHICS "GRAPHICS_AP

[2022-10-24 14:33] raysan5 commented on #2772
@johnnikolay I'm afraid I don't use CMake and I'm not building for Android at this moment, probably other users should answer this question.

[2022-10-24 14:36] #2735 closed

[2022-10-24 14:51] johnnikolay commented on #2772
`Feel free to send a PR with the review if required.
`
@raysan5  I do not have permissions to create branch in this repo and create PRs.

[2022-10-24 14:57] raysan5 commented on #2772
@johnnikolay you have to create a fork, do the changes in your fork, test the changes if they work as expected and send a PR.

[2022-10-24 19:14] k-novak opened #2773 "[camera] Zoom does not work with orthogonal projection"
Version: raylib 4.2.0 (11 August 2022)
IDE/Compiler: Visual Studio 2022 Community edition
Code example: core_3d_camera_free from examples

The program works fine, when `camera.projection = CAMERA_PERSPECTIVE;` Zoom/pan/rotation are all fine.
If `camera.projection` is changed to `CAMERA_ORTHOGRAPHIC`, zoom does not works anymore.
In raylib.h/`struct Camera3D` there is a comment: `float fovy;

[2022-10-24 22:55] thatpersonthatw commented on #818
Hey, I too am also having this problem. I have raylib 4.2.0 installed.

[2022-10-25 04:20] daipom commented on #1945
@raysan5 Thanks! I will open the PR in draft soon!

[2022-10-25 04:59] mackron commented on #2118
Did you compile with `-DMA_DEBUG_OUTPUT`? If so, are you able to filter by "miniaudio" and see if that shows anything? I can see from that log that it's falling back to the Null backend (silence) which explains why you can't hear anything, but there's no information about why AAudio and OpenSL failed (`MA_DEBUG_OUTPUT` should show some details about the failure).

[2022-10-25 13:26] anggape commented on #2772
im building android project just fine even with __ANDROID_API__ harcoded into raylib cmake config

[2022-10-25 13:26] anggape commented on #2772
@raysan5 should i add android studio project to projects template?

[2022-10-25 15:29] Samarth13Dev commented on #706
@wwesleyaraujo

It fixed the problem. Thanks!

[2022-10-25 17:25] anggape commented on #2772
@SergeySol84 https://github.com/anggape/raylib-2772

[2022-10-25 17:57] johnnikolay commented on #2772
@anggape  you need to use stderr in your program, for example
`DEBUG_ERR("Trigger compilation error");`

[2022-10-25 18:35] anggape commented on #2772
https://github.com/anggape/raylib-2772/commit/7c3a52d02d87759d743156bae40fe3fc1d9dcd39
https://github.com/anggape/raylib-2772/actions/runs/3323365022/jobs/5493614050

no error still working

[2022-10-25 19:15] SergeySol84 commented on #2772
@anggape  you also need to use windows toolchain where you will hit the following
[code]
Are you on windows or linux ? Also pleae check if  stdio.h in your ndk is containing the code above ? Maybe you are using old ndk.

[2022-10-25 20:49] mackron commented on #2118
I don't have an explanation for your case. Without seeing the miniaudio debug output I can't know what's going on. Here's how it's being logged:

[code]

Where `MA_ANDROID_LOG_TAG` is "miniaudio". Assuming the messages are being logged at all, I would expect you should be able to filter by the "miniaudio" tag.

[2022-10-25 20:56] mackron commented on #2769
The number you quoted is the size of the buffer used internally by miniaudio, but `SetAudioStreamBufferSizeDefault()` relates to the size of the buffer of the raylib `AudioStream` object. They're two entirely independent buffers.

[2022-10-25 22:44] cyberic99 commented on #2740
Thanks @orcmid , you were right !
commit d5cd5ebd80ad02a3a9129ecf080007fce7efe4d6
(ie updating from miniaudio v0.11.9 to v0.11.11)
fixes my issue

Thanks !

[2022-10-26 02:47] anggape commented on #2772
building on windows still works fine https://github.com/anggape/raylib-2772/actions/runs/3325777901/jobs/5498817568

[2022-10-26 08:24] gen2brain commented on #2769
Thanks, and sorry for the issue.  I am trying to create examples for my `pl_mpeg` port to Go, audio works in SDL, WEB, etc. but I have issues with raylib, I thought this was my problem.

[2022-10-26 08:24] #2769 closed

[2022-10-26 09:32] anggape commented on #2772
im curious what happen if we completely delete __ANDROID_API__ define on raylib config, does that break anything?

[2022-10-26 09:38] johnnikolay commented on #2772
Indeed, minsdk 21 works, thanks @1ethanonly.  I can compile raylib now. Should be good enough for me as I can still run my app which is using higher min target.

[2022-10-26 09:59] anggape commented on #2772
turn out we don't actually need to define -DANDROID and -D__ANDROID_API__ since its defined by android studio

https://github.com/anggape/raylib-2772/actions/runs/3327909276/jobs/5503283092

[2022-10-27 09:38] #2772 closed

[2022-10-27 10:18] JosephSBoyle opened #2782 "Lack of tests"
### Issue description
There are a lack of tests for the functionality contained in raylib, which acts as a barrier to refactoring and improving the quality of the code, as well as adding new features.

I would be happy to help write some basic unit tests - is this a direction that the project is interested in?

Additionally, what would be the mechanism for running these tests - would it be `Make`?

[2022-10-27 11:03] raysan5 commented on #2782
@JosephSBoyle I'm aware of that and actually, the examples are used as unit tests for the functionality provided.

I'm not interested in following another direction.

[2022-10-27 11:03] #2782 closed

[2022-10-27 11:11] JosephSBoyle commented on #2782
@raysan5 May I ask why you're not interested in supporting tests in this project? To me it seems like an obvious enhancement but I'm interested in your thoughts on this.

[2022-10-27 11:14] raysan5 commented on #2773
@k-novak Camera system is being completely redesigned but feel free to send a PR with this addition for current implementation.

[2022-10-27 11:22] raysan5 commented on #2764
@bitRAKE Thank you very much for the detailed report. I'm afraid there have already been some related issues but it's very difficult to find a proper solution for all them, here we have multiple variables involved: monitors, resolutions, dpi and OS.

Also all the desktop window/display mechanisms are controlled by underlying library GLFW. Taking into considderation all involved variables could req

[2022-10-27 11:26] raysan5 commented on #2782
@JosephSBoyle Because I'm the only long-term maintainer of the project and I can't assume more work. Maintaining a unit tests system requires lot of work and an increment in the project complexity.

I also think raylib won't benefit that much of unit tests, a prove of that is that it did not required them for the last 9 years and afair, nobody asked for them in that time.

[2022-10-27 11:28] raysan5 commented on #2714
The provided PR should fix the issue. Reopen if still present.

[2022-10-27 11:28] #2714 closed

[2022-10-27 11:29] raysan5 commented on #2656
I think this issue is related to OS configuration, raylib is proven to work in similar platforms.

[2022-10-27 11:29] #2656 closed

[2022-10-27 11:36] raysan5 commented on #2660
Reviewed this issue but it seems mouse wheel is actually read: https://github.com/raysan5/raylib/blob/master/src/rcore.c#L6469

Please, could someone review this issue?

[2022-10-27 11:38] raysan5 commented on #2661
This issue is probably related to the missing `DisableCursor()` implementation for `PLATFORM_RPI`/`PLATFORM_DRM`. That function locks cursor inside the window returning only relative movements.

[2022-10-27 11:40] raysan5 commented on #2662
Probably related to not reading `MOUSE_MIDDLE_BUTTON` on `PLATFORM_RPI`/`PLATFORM_DRM`.

[2022-10-27 12:51] jasonswearingen commented on #2714
Thanks Ray, I haven't been able to rebuild my native wrapper but when I do I'll let you know if the issue persists.

[2022-10-27 12:53] gen2brain commented on #2764
I recently had issues with fullscreen on Linux and multi-monitors. Changing to fullscreen needs several seconds, both monitors disconnect, then you wait, etc. My solution was to implement what SDL calls `WINDOW_FULLSCREEN_DESKTOP`, i.e. you store the window position, then set `FLAG_WINDOW_UNDECORATED|FLAG_WINDOW_TOPMOST` and then you set the window size to monitor size. When toggling clear the fla

[2022-10-27 13:07] renzo70 commented on #706
I'am using Ubuntu 20.04 and it fixed the problem.

[2022-10-27 13:08] renzo70 commented on #706
I'am using Ubuntu 20.04 and executing it after installation fixed the problem.

[2022-10-27 14:01] chriscamacho commented on #2782
unit tests, a great way to find bugs you can think of - shame most bugs are usually things you don't think about...

[2022-10-27 16:25] chrislavoy commented on #2660
I was able to reproduce the issue on a Raspberry PI 2 Model B running bullseye in native mode.

Repro steps:
- Cloned latest raylib from master
- Compiled raylib and examples using `PLATFORM_DRM`
- Ran core_input_mouse example
    - Mouse movement and button presses work as expected
- Ran core_input_mouse_wheel
    - Mouse wheel input not working as expected

I verified that the system is register

[2022-10-27 22:08] chrislavoy commented on #2660
Dug into this issue a bit and what I found was that `CORE.Input.Mouse.currentWheelMove.y` is getting set properly when the mouse wheel is scrolled. However, by the time `GetMouseWheelMove()` is called the value of `currentWheelMove.y` is `0`. Changing `GetMouseWheelMove()` to use `previousWheelMove.y` instead of `currentWheelMove.y` results in the expected behavior.

As for why this is happening m

[2022-10-28 11:14] daipom commented on #2764
I am not familiar with the behavior of multiple monitors, but I have recently touched on the fullscreen specifications of GLFW and raylib.

I understand that it is raylib's specification to try to change the resolution while keeping the window size (framebuffer size) when going fullscreen.
raylib intentionally tries to keep the current window size as much as possible at each point.

* https://gith

[2022-10-28 13:03] daipom commented on #2764
@bitRAKE @raysan5
I have confirmed that the fullscreen toggling without changing the resolution does not work as expected in a multiple-display environment.
I'd be happy too if we could fix this!
I'll try to find the cause!

[2022-10-30 11:42] Thomas1664 opened #2784 "[glfw] Do not use pre-release"
Raylib uses bundled GLFW version 3.4.0 which is not released yet. Because the macro `GLFW_MOUSE_PASSTHROUGH` which will be added in GLFW version 3.4.0, users of raylib have to use the bundled version of GLFW. This leads to ABI problems if a user wants to use GLFW in their own project as well and uses the latest version of GLFW which is 3.3.8 as of now.

### Proposed solution

Put the use of `GLFW_

[2022-10-30 13:30] raysan5 commented on #2784
@Thomas1664 Feel free to send a PR with the proposed review.

[2022-10-30 16:08] Thomas1664 commented on #2784
Thanks for the quick reply. Unfortunately, there are some problems with duplicated symbols on Windows when using external GLFW:

[code]

I don't know what the cause of these build errors is.

[2022-11-04 01:46] Shalindor commented on #2764
Thats funny, i experienced the same as @bitRake because i also have such
an irregular monitor setup. Primary display is 2560x1440 native resolution
and secondary display is an older one with 1920x1080 native resolution.

I coded a little module to use virtual resolution with proper scaling
based on the "raylib game template" and the example "core_window_letterbox.c".
It should work in a window but

[2022-11-04 08:37] beetaa commented on #827
@raysan5 when compiling examples for desktop (win11, mingw64), all goes well using `c99`, but when compiling examples for html5 using `c99`,  `core_loading_thread` problem appears. version of raylib is `4.50-dev`

![image](https://user-images.githubusercontent.com/5688224/199927619-2b651743-367b-4ad0-8d3f-64ad55b063cb.png)

I tried the use `c11` for compiling:

![image](https://user-images.githubu

[2022-11-06 15:38] beetaa commented on #1680
@efejjota @raysan5 @IanBand  I found this pr in glfw repo. [Win32: Do the event processing during window resize/move](https://github.com/glfw/glfw/pull/1426)

[2022-11-10 12:16] raysan5 commented on #2784
At the moment, we will keep using the dev version but it will be updated as soon as new release is published.

[2022-11-10 12:16] #2784 closed

[2022-11-11 02:30] Shadowblitz16 commented on #2725
@raysan5

[2022-11-11 02:50] Me2L commented on #319
I am using raylib 3.0 with notepad++, so what should I do to change the openGL to 3.1 or an older version?
https://github.com/raysan5/raylib/wiki/FAQ This link is just to ask a new question.

[2022-11-12 08:54] beetaa commented on #1217
thank you, it works and help me so much.

[2022-11-12 08:55] beetaa commented on #1217
thank you, it works and help me so much

[2022-11-14 20:53] bztsrc opened #2801 "[models] Question about how to add hooks"
Hi,

First I'll try to explain the problem in a nutshell.

All model formats I have seen so far simply store the filepath of the assets in the model file. I find that solution conceptually broken for several reasons, and to my experience there's lot of problems with models because of this. For example:
1. people tend to store *absolute* paths in them, which is just plainly wrong, my directory stru

[2022-11-16 18:20] bztsrc commented on #2801
Here's the proposed solution. Let me know if you need any change. I've deliberately not used m3d related variable names, because separate asset loaders might come in handy for other formats as well.

I've added a single `SetLoadAssetCallbacks` API call, because I saw no point in setting the load/free hooks independently. If these aren't set, then the behaviour is 100% backward compatible (eg. uses

[2022-11-21 12:13] raysan5 commented on #2801
@bztsrc Hi! Excuse the late response! I think this is a complex topic, I've also found that issue when dealing with OBJ models and I couldn't find a good solution, I neither like the idea of leting the used library (`tinyobjloader-c`) to make the files loading for me, I would prefer to just get the path and manage it myself... but that implies other issues... as I said, no easy solution to the pro

[2022-11-21 12:32] bztsrc commented on #2801
Except I keep getting issues about letting to load the model from a different directory than the assets ([for example](https://gitlab.com/bztsrc/model3d/-/issues/11#note_1088542983)).

Yep, something like that. Ideally the asset-specific hook should be simple as
[code]
What path is used, always depends on the app, and therefore should not be stored in the models (that latter ideally should only st

[2022-11-21 12:53] raysan5 commented on #2801
@bztsrc Ok, I see. But, is that new hook mechanism required because the m3d file-format is changing? I mean, avoiding the use of filepaths directly inside the .m3d file, replacing it by that kind of filename-id (with no path and no extension).

But... the current callback will be specific to m3d file format, no other asset file will require that approach, right? I think it could be confusing for u

[2022-11-22 20:41] diffproject opened #2806 "[linking] raylib linking issue on windows"
I am trying to compile an example from raylib examples. Here is my batch file to compile it (I am attaching a text file as Github is not parsing the batchscript correctly):

[New Text Document.txt](https://github.com/raysan5/raylib/files/10070908/New.Text.Document.txt)

But when I call the above batch script (runr.bat in my system) with a file, for example:
`.\runr.bat textures\textures_bunnymark.

[2022-11-22 21:39] orcmid commented on #2806
The linker is attempting to find a program written for the Windows GUI with entry point WinMain.

My question is about these two lines in your batch script:

[code]

Why are you not simply removing the `::` from the first of these two and not using the second, manually-expanded one?

[2022-11-22 22:14] diffproject commented on #2806
The manually expanded line is the line from the console output of npp when you execute with F6. Since it was working there I thought I would try it out in the batch script.

[2022-11-23 04:23] diffproject commented on #2806
turns out there was a typo in the batch script, it should be FILENAME not FILE_NAME.

[2022-11-23 04:23] #2806 closed

[2022-11-25 05:31] daipom commented on #2764
Sorry for the delay.
I am checking this problem, and I do not see any problem with the implementation of raylib.
`GetCurrentMonitor` can select the correct monitor, and `glfwSetWindowMonitor` is called with the expected parameters.
I am checking the implementation of GLFW now.

[2022-11-25 06:24] daipom commented on #2764
I'm unsure of the root cause, but I found out why this problem is occurring.
The monitor logic of GLFW is not working as expected.

* https://github.com/glfw/glfw/blob/dd8a678a66f1967372e5a5e3deac41ebf65ee127/src/win32_monitor.c#L257-L260

If the window size is matched to the screen size, it is expected that `best` and `current` video mode matches here.
However, when the monitor is the second disp

[2022-11-25 07:04] daipom commented on #2764
Here are my conclusions.

* This seems to be a platform-specific issue. (Win32)
* This seems to be a issue to be handled in GLFW.
* If we can find out why the refresh rate of the sub-display is 1 smaller, we may be able to find a workaround.

[2022-11-25 07:11] daipom commented on #2764
Oh, I can set the refresh rate of the display in the detailed setting of the display.
My second display's refresh rate was 59.7.
When I set it `60`, this problem no longer occurs.

@bitRAKE Could you try this?

[2022-11-25 09:08] daipom commented on #1945
I have created the drat PR!

[2022-11-25 14:35] jdeokkim commented on #1945
@daipom 👏👏👏👏👏👏👏

[2022-11-25 15:10] Shalindor commented on #2764
Unfortunally there is nothing for me to set, cause my secondary display is already set to 60 Hz refresh rate in the display settings. I  had no delays or blinks when switching the fullscreen window between the monitors.

The problem occurs when switching a fullscreen window from primary display (2560x1440) to secondary display (1920x1080) . It does not change the size/resolution according to the v

[2022-11-26 02:17] daipom commented on #2764
@Shalindor So your problem is a little different from @bitRAKE?

How do you do this?
I thought that to do this, I would have to change the fullscreen back to a window and then move the window to another display and go fullscreen again.

[2022-11-26 11:21] Shalindor commented on #2764
Doing this depends on a function to detect at which monitor the window is currently located as in the pull request [https://github.com/glfw/glfw/pull/2220](https://github.com/glfw/glfw/pull/2220)
Then, in case of glfw, i modified the internal _glfwInputWindowPos in window.c, which is called internally from glfw to call
possible window position callbacks, that is in [https://github.com/glfw/glfw/pu

[2022-11-27 09:30] Staxcelrom opened #2811 "railib is not even Build to"
railiba is not even Build to Cmake.

[code]

[2022-11-27 09:36] raysan5 commented on #2811
The name of the libary is `raylib`, not railib or railiba.

I don't maintain the CMake build system but afaik it works as expected. Feel free to ask in raylib Discord about build configuration.

[2022-11-27 09:36] #2811 closed

[2022-11-27 10:08] Staxcelrom commented on #2811
why then do you write about Cmake in the description for the build under Windows ?

https://github.com/raysan5/raylib/wiki/Working-on-Windows

Raylib already comes with ready-to-use makefiles and **CMake** build system to compile source code, examples and templates. You can download the raylib [Windows Installer](https://github.com/raysan5/raylib/releases).

[2022-11-27 10:51] daipom commented on #2764
こんばんは！ @Shalindor

Thanks for the explanation!

I understand `glfwGetWindowMonitor` returns not the monitor of the current display but the monitor of the initial display.
However, the raylib function `GetCurrentMonitor` has a logic to search the monitor of the current display.

* https://github.com/raysan5/raylib/blob/2fd6d7e8c09ac9a13d1e8a9d36741934cb6a1f09/src/rcore.c#L1723-L1745

When I try to

[2022-11-27 11:34] raysan5 commented on #2811
@Staxcelrom Wiki was open for editing until last week, everyone can edit it. In any case, it does not imply I should maintain that build system.

[2022-11-27 13:37] Shalindor commented on #2764
こんばんは @daipom

Your advice is appreciated, but have you tested the following scenario:

1. Create a fullscreen window at any display (raylib uses the primary display by default)
2. Switch that fullscreen window to another display (WIN + Shift + Arrow Left or Right)
3. Important to understand the displays must have different resolutions for the problem to occur, if all involved displays have the sa

[2022-11-27 18:00] Staxcelrom commented on #380
Rayliba is crap - use SDL.

[2022-11-27 18:37] locriacyber opened #2812 "[texture] LoadTexture call on nonexistent file suceed in empty texture"
- [X] I tested it on latest raylib version from master branch
 - [X] I checked there is no similar issue already reported
 - [X] My code has no errors or misuse of raylib

### Issue description

When `LoadTexture` tries to load something not there, the error is only displayed stdout/stderr.

### Environment

- Linux

### Issue Screenshot

![a](https://user-images.githubusercontent.com/74560659/204

[2022-11-27 18:55] Shalindor commented on #2764
@daipom
Fun fact, right now i recognized even the "king of the hill" engine Unreal has that problem with irregular monitor setups and fullscreen windows. For example, in Fortnite moving the fullscreen game window to my secondary monitor with lower resolution all is fine, but then moving back to the primary display with higher resolution, the so called fullscreen game window is suddenly shown with

[2022-11-27 18:59] Staxcelrom opened #2813 "You're an idiot ? You write in C without a namespace..."
You're an idiot ? You write in C without a namespace... but you didn't even bother to do, for example, how to prefix functions in OpenGL - for example, rayliba__BeginDrawing, rayliba__CloseWindow ... to prevent function name conflicts!
You are a complete degenerate.

[2022-11-27 20:15] orcmid commented on #2812
What do you expect to happen?

`LoadTexture` returns a `Texture2D`.  If the load fails, the `Texture2D` should be the initialized result `{0}`.

Can you inspect that to determine the texture was not loaded?

[2022-11-27 20:41] Staxcelrom commented on #1217
let's be honest - you're just an idiot degenerate, whose brains flowed through his ears, and you could not put the "railib" prefix in front of the raillib functions, as is done in the SDL, opengl ...

[2022-11-27 21:24] bitRAKE commented on #2764
Some games hide the problem by making other displays black (No Man Sky, for example) - it is indeed an industry wide problem to universally support varied displays in an elegant way. It seems to need a coordination of hardware, OS, and software layers.

[2022-11-27 21:39] #2813 closed

[2022-11-27 21:41] raysan5 commented on #2812
Actually, the log output of raylib is the expected behaviour.

[2022-11-27 21:41] #2812 closed

[2022-11-27 21:42] raysan5 commented on #1217
@Staxcelrom thank you very much for your feedback! You are welcome! 👍🙂

[2022-11-27 21:43] raysan5 commented on #2813
@Staxcelrom Thank you very much for your feedback! Really appreciated! 👍🙂

[2022-11-27 21:44] raysan5 commented on #380
@Staxcelrom Thank you very much for the review! I'm sure it will be useful for many raylib/SDL users! 👍🙂

[2022-11-27 23:42] locriacyber commented on #2812
For example, if the games files are corrupted or missing, or the game is launched in incorrect working directory, then some sprites would simply be missing.

This worked! Thanks! What's the reliable way to detect this? `mipmaps == 0`, or `id == 0`?

[2022-11-28 01:57] daipom commented on #2764
@Shalindor @bitRAKE Thanks for the explanation!
It seems I misunderstood how to reproduce this issue.

The application-side toggle logic I had assumed is as follows.
I had assumed that we use this kind of logic to toggle the fullscreen to the windowed state, and then move the window to another display.

[code]

So we need to move the display without returning the fullscreen to the windowed state?

[2022-11-28 04:01] Alex-Janssen commented on #2813
Kindness makes the world go round :|. I think whoever wrote this is quite clever.

[2022-11-30 06:47] wtjcn opened #2819 "[core] need render to a sub area of texture"
just like viewport in a OpenGL window

[2022-11-30 09:37] raysan5 commented on #2819
You can use a RenderTexture and Begin/EndScissorMode().

[2022-11-30 22:40] rudowect commented on #319
https://github.com/raysan5/raylib/wiki/Frequently-Asked-Questions#can-i-run-raylib-in-my-old-pc