[2020-10-21 16:57] kernelkinetic commented on #1392
@masterneme Thanks for testing, good to know! So I can try to reproduce and analyse it on a Raspberry Pi Zero W 👍

[2020-10-21 17:33] masterneme commented on #1392
I got the same result with the A+.

[2020-10-21 17:35] CodingCor commented on #1414
I didn't even need to include a Windows Library by myself. When i tried to build the example Project in Windows using CMake just a few Minutes ago the same error occured.

[2020-10-21 17:57] GitSparTV commented on #1392
I think the issue might be reopen

[2020-10-21 18:01] kernelkinetic commented on #1392
I also checked Raspberry Pi Zero W and moving around in the `models_first_person_maze` example is horrible and not useable in any way 😀 So I can analyze this now 👍

[2020-10-21 19:27] jamesl-github commented on #1414
which example project ?
I've built raylib many times on MS Windows 10 and mingw64-w64 version  x86_64-7.3.0-posix-seh-rt_v5-rev0
never had a problem

[2020-10-22 23:24] CodingCor commented on #1414
The one provided in the CMake Tutorial. When compiling MinGW tries to include winuser.h somewhere, with that include the function name clashes are raised.

[2020-10-24 08:33] raysan5 commented on #1401
@Tkap1 I tried your example with 890 and it works ok for me. Are you using latest raylib from GitHub master branch?

This issue should be solved.

[2020-10-24 17:25] kernelkinetic commented on #1392
Is there a reason that there is absolutely no multitasking access control code for the data that `EventThread` accesses? I'm not finished with analyzing but that _could_ be a problem anyways...

[2020-10-24 19:05] raysan5 commented on #1392
@kernelkinetic that code was user contributed, I reviewed it and it looked ok but it can probably be improved.

[2020-10-24 21:31] chriscamacho commented on #1392
@kernelkinetic I can see potential problems...!

for example if SetMousePosition is setting CORE.Input.Mouse.position and the event thread then stamps on it...

[2020-10-25 09:23] kernelkinetic commented on #1392
Thanks @raysan5.
Yes, me too on many other lines, @chriscamacho. I think we should try to stay away from threading because raylib is an immediate mode library and could handle these repeatable tasks well in it's main loop. I propose to add the necessary code to or call it from `ProcessKeyboard()`. Any doubts?

[2020-10-25 10:51] raysan5 commented on #1414
Yes, `windows.h` symbol collisions is an known issue. Here it is a workaround: https://github.com/raysan5/raylib/issues/1217

[2020-10-25 10:51] #1414 closed

[2020-10-25 10:52] kernelkinetic commented on #1392
I found out that this _is_ the reason for the stuttering. The main thread clears and checks `CORE.Input.Keyboard.currentKeyState` while the thread must set it during this time. That works most of time on a PC that is really fast compared to a Raspberry Pi. There most of the keys set from the thread are lost in the time period between checking and clearing. So it heavily depends on the speed of the

[2020-10-25 10:54] raysan5 commented on #1392
@kernelkinetic Probably a separate issue should be open to track it.

About inputs reading on a separate thread, long time ago, raylib did all the inputs reading on main thread but there were problems with mouse resolution, so, it was moved to separate threads. We can keep keyboard reading on main thread but mouse should be done in a separate thread...

[2020-10-25 10:56] raysan5 commented on #1401
@Tkap1 Checking your GIF, you are using raylib 3.0, please, could you try with latest raylib from GitHub? This issue should be resolved by now.

Feel free to reopen the issue if problem persists.

[2020-10-25 10:56] #1401 closed

[2020-10-25 10:56] raysan5 commented on #1312
This issue is actually solved, stream system could require some improvements in the future.

[2020-10-25 10:56] #1312 closed

[2020-10-25 11:03] kernelkinetic commented on #1392
@raysan5 No problem, then I'll keep the separate thread and add the access protection code.

[2020-10-25 15:21] kernelkinetic commented on #1392
https://github.com/kernelkinetic/raylib/tree/fix_1392 contains a fix that removed the keyboard stuttering. Maybe @GitSparTV and @masterneme will be so kind to test it 😉

Multithreading data protection isn't implemented because it's a really big task and needs some discussions first. But anyways, this should at least fix the stuttering issue for now.

[2020-10-25 15:56] GitSparTV commented on #1392
Tested.
Mouse: fixed
Screen shuttering: fixed

New problem, if you hold a key and then press a second key, the first key is marked as released. Holding W, then pressing A. No forward moving

[2020-10-25 17:46] masterneme commented on #1392
Tested with the 3A+, the mouse is fixed but the keyboard still stutters. And I confirm what @GitSparTV said about pressing multiple keys at the same time, diagonals are not posible.

I tried the Animation and YawPitchRoll examples too and the behavior is like I described in my first post, as if Raylib couldn't take over processing the keyboard inputs, mimicking the same rythm you see when you pres

[2020-10-25 17:54] kernelkinetic commented on #1392
Things getting strange on my Zero 😀 If I start `model_first_person_maze` example by via ssh connection and control it via a locally connected keyboard then it works as expected, two simultanoues key presses leads to a diagonal move and releasing one of the keys moves again in the right direction. But if I start locally using the connected keyboard, it shows the key errors you currently report. Stu

[2020-10-25 17:58] GitSparTV commented on #1392
I can't get diagnoal movement. Only one direction

[2020-10-25 18:11] kernelkinetic commented on #1392
I've checked raysans raylib also and it seems that it has the same problems, so they are not introduced by my changes but are now visible because it's no more stuttering or at least less than before. So maybe I should PR this changes and we should open a new issue about this. I've also a an idea what's going wrong: As far is I've seen raylib grabs the key on two different ways to get local and ssh

[2020-10-25 18:13] masterneme commented on #1392
I tried the 3.0.0 release and the inability to do diagonals is there too.

[2020-10-25 18:16] GitSparTV commented on #1392
I tried to play on raylib site and it was working fine

[2020-10-25 18:56] masterneme commented on #1392
My Zero acts exactly like the 3A+, mouse fixed but no diagonals and stuttering.

[2020-10-26 19:13] raysan5 commented on #1333
@atomicstan Please, could you give it a test to this addition?

[2020-10-26 21:54] atomicstan commented on #1333
Oh well, I'm sorry, I assumed it's not going to happen in foreseen future and I later abandoned and deleted (?) my little 2d project completely. 😢 Is anyone from the community available to play with that?

[2020-10-26 22:22] raysan5 commented on #1333
@atomicstan ok, no worries. I already asked the community to test it.

[2020-10-28 18:30] mattj1 commented on #1086
Not sure how helpful this is, but I wrote a hack to allow me to drag a window between monitors that "mostly" works:

https://gist.github.com/mattj1/606a94527badb6ffa7d22245c9b745b1

(I'm on a Mac, btw)

Note: GLFW is required, and you have to specify your viewport size to rlViewport.

[2020-10-29 18:20] raysan5 commented on #1086
hi @mattj1! Thank you very much for the git! I'm reviewing it!

[2020-10-29 19:23] raysan5 commented on #1333
I'm not fully convinced with current solution but it works.

[2020-10-29 19:23] #1333 closed

[2020-10-31 13:39] kernelkinetic commented on #1392
I've discovered that diagonal walking is working when using the cmake build system and not working when using make. Can anyone confirm or dispute, please?

[2020-10-31 18:55] Tkap1 opened #1417 "[rlgl] Batch elements overflow (MAX_BATCH_ELEMENTS)"
https://github.com/raysan5/raylib/issues/1401
I don't think I can reopen an issue that someone else closed, so I am creating a new one.

I've updated to the latest version, and the problem still happens for me.

Just in case I'm doing something wrong, this is the whole process that I went through:
1) git clone https://github.com/raysan5/raylib
2) go into raylib\projects\VS2017 and open raylib.sln

[2020-11-01 01:10] GoldenThumbs opened #1418 "[camera] Rename Camera3D.type to Camera3D.projection"
Currently in raylib the setting/property relating to camera projection is called `type`. I feel that is very confusing, especially with all the camera *mode* stuff. A beginner could very easily get confused by this naming convention, so my suggestion is to rename the `Camera3D` property from `type` to `projection`.
I'd also like to propose changing `CAMERA_PERSPECTIVE` and `CAMERA_ORTHOGRAPHIC` to

[2020-11-01 02:04] jamesl-github commented on #1418
could you stick a #define in there somewhere so PROJECTION_ORTHOGRAPHIC would "overwrite" CAMERA_ORTHOGRAPHIC

[2020-11-01 11:04] raysan5 commented on #1417
@Tkap1 why are you doing this?
[code]
You are incrementing the cubes to draw 890 + 60*frame, that's too much, my GPU just freezes while testing.

Could you provide another example with a fixed number of cubes with the same result, I can not test it properly with those lines. When using just 890 cubes, it works perfectly, so, I have no way to find a solution.

[2020-11-01 12:32] masterneme commented on #1392
I'd like to try but I have no idea how to use cmake 😳

[2020-11-01 12:50] kernelkinetic commented on #1392
@masterneme It's not that hard: `cd raylib && mkdir build && cd build && cmake .. -D PLATFORM=DRM && cmake build .` should do it already. If not I can probably help you via discord.

[2020-11-01 13:04] Zizap5 opened #1419 "[core] Cursor/window position offset issue"
When creating a window it is not at the intended position. This only happens when the height matches the monitor height (which is in my case 1080). The screen position no longer matches the cursor position.

Example code:

[code]

Edit:
UndecorateWindow is not the problem as I first thought. However, windowed mode (decorated or not) is. In fullscreen mode this works fine.

[2020-11-01 13:48] GitSparTV commented on #1392
Tested with cmake. It's working there, lol

[2020-11-01 13:50] kernelkinetic commented on #1392
@GitSparTV Thanks for testing, I'm glad to see that I'm not totally dumb 😀 Hopefully I find the differences to get this working with makefiles too!

[2020-11-01 13:51] masterneme commented on #1392
OK, and what's the equivalent of PLATFORM_RPI, PLATFORM=RPI?

[2020-11-01 13:54] kernelkinetic commented on #1392
@masterneme Exactly.

[2020-11-01 13:55] raysan5 commented on #1392
In the Makefile is `PLATFORM=PLATFORM_RPI`, not sure about CMake.

[2020-11-01 14:28] kernelkinetic commented on #1392
The cmake build includes a `cmake/config.h` with additional settings like
[code]
and others.
Sadly I don't know how to integrate these differences properly. Anyone can help?

[2020-11-01 15:02] masterneme commented on #1392
After some tinkering, CMake says that the correct values for PLATFORM= are Desktop;Web;Android;Raspberry Pi;DRM and if I just write `cmake .. && cmake --build .` I can see on the console that it uses PLATFORM=PLATFORM_DESKTOP WITH GRAPHICS=GRAPHICS_API_OPENGL_33

I'll do more experiments.

[2020-11-01 15:35] masterneme commented on #1392
OK I confirm that the flags for CMake are:

`PLATFORM=Desktop`
or
`PLATFORM=Web`
or
`PLATFORM=Android`
or
`PLATFORM="Raspberry Pi"`
or
`PLATFORM=DRM`

[2020-11-01 16:53] Tkap1 commented on #1417
@raysan5

This drawing approach is just to illustrate my problem, not a real use case. It came up in a real project while drawing around 1000 small cubes, so I stripped my project down to the bare minimum that could reproduce the bug.

I'm not incrementing 60 cubes per frame, I'm incrementing 1 cube per frame.

Yes.

[code]
https://gfycat.com/HonoredHatefulBass
I'm guessing this is somehow GPU rel

[2020-11-01 17:58] p8nut opened #1420 "[core] Errors are hidden in the Library and not getting up in the Application Layer"
### Issue description

As part of the simplification of the code, most functions are currently returning `void` as if they could not fail but in reality they are failing silently and only Log errors.

I would like to propose that the choice of what to do with an error could be left to the application developer.

for instance, in the [last commit](https://github.com/raysan5/raylib/commit/01d9af12f7

[2020-11-01 18:15] raysan5 commented on #1417
@Tkap1 Sorry, I meant 60 frames per second, not per frame.

Ok, trying with 898 cubes I can reproduce the issue! Now I can look into it! :D

[2020-11-01 18:18] trikko opened #1421 "[models] MeshNormalsSmooth() is not efficient and probably wrong"
```MeshNormalSmooth()``` takes a vertex and iterates all the others, looking for vertices with a distance < epsilon.
Then it calculates their normals and sums it.

That's not a good idea, IMO:
- Two close vertices can be not physically linked, I don't think summing normals makes sense.
- It's quadratic.

A simpler and faster way to smooth a model could be:
- Iterating through each triangle
- Summi

[2020-11-01 18:27] GitSparTV commented on #1392
If you have an error remove `build` folder entirely and make sure you called `--build` not `build`

[2020-11-01 18:30] kernelkinetic commented on #1392
@masterneme When you successfully ran `cmake --build .` you'll find the examples in your build directory in the subdirectory `examples`.

[2020-11-01 19:30] masterneme commented on #1392
Success!

I ran `make PLATFORM=PLATFORM_RPI` inside the examples folder to build the executables.

I confirm that everything works as expected, the mouse, diagonals and no stuttering.

I tried with core_3d_camera_first_person, models_animation, models_first_person_maze, models_yaw_pitch_roll and they move smooth as butter.

All this with the 3A+, I'll try with the Zero now.

[2020-11-01 19:42] raysan5 commented on #1392
@kernelkinetic @masterneme great news! feel free to send a PR when ready! It will hopefully be included for raylib 3.5. :D

[2020-11-01 19:44] kernelkinetic commented on #1392
@masterneme Thanks for testing!
@raysan5 It's working for the CMake part only and we should fix the makefiles, too. But I can't do that, so I'll send a PR soon.

[2020-11-01 21:46] masterneme commented on #1392
It doesn't let me compile with the Zero, something about not finding X11, strange. I think I'll just let it go as everything works with the 3A+.

[2020-11-02 12:01] chriscamacho commented on #1420
at the vary least true/false should be returned, this avoids the need for return code enums and all sorts of tiresome stuff, you can dump further info via the log (as now), returning false will at least allow for a graceful exit...

[2020-11-02 22:12] trikko commented on #1326
A simple blob editor using D and raylib.
https://github.com/trikko/BlobEditor

![output](https://user-images.githubusercontent.com/647157/97924922-be32d380-1d60-11eb-80b2-64848d6d25d2.gif)

[2020-11-02 22:24] pedromundo opened #1423 "[raudio] Segfault when loading (relatively) large files as Wave."
- [x] I tested it on latest raylib version from master branch.
 - [x] I checked there is no similar issue already reported.
 - [x] My code has no errors or misuse of raylib (I hope?).

### Issue description

When loading multiple-minute .mp3 files as Wave's and calling the GetWaveData(Wave) method the application segfaults with no further explanation, I understand that we're supposed to use the Mu

[2020-11-03 03:36] KingMagnaRool opened #1424 "[build] error while loading shared libraries: librarylib.so.301..."
### Issue description

I installed Raylib using the recommended CMAKE guide on the website.  I can compile an executable with the flags "-lraylib -lGL -lm -lpthread -ldl -lrt -lX11" either in the terminal or in Code::Blocks, but I couldn't run it as it complained that there was a missing library "librarylib.so.301."  This happened on three separate computers.  I knew that by the third time that th

[2020-11-03 07:40] chriscamacho commented on #1424
did you run ldconfig ?

[2020-11-03 15:38] chriscamacho opened #1425 "[models] malloc(): invalid size (unsorted) in OBJ loader"
[rocket.zip](https://github.com/raysan5/raylib/files/5482317/rocket.zip)

this small obj used to load into raylib.... but not it fails to load, for the life of me I just can't see it at the moment!

[2020-11-03 15:40] chriscamacho opened #1426 "[models] should check and warn for untriangulated OBJ's"
I have a small OBJ that used to load but now doesn't causing the above issue (and abort)

Will attach zipped OBJ

[2020-11-03 15:40] chriscamacho commented on #1426
[rocket.zip](https://github.com/raysan5/raylib/files/5482334/rocket.zip)

OBJ that causes the issue

[2020-11-03 16:40] KingMagnaRool commented on #1424
I did not run Idconfig, but that wasn't in the

[2020-11-03 16:45] KingMagnaRool commented on #1424
Didn't mean to close the issue

No I didn't, but that wasn't in the raylib install guide on Linux, at least for cmake.  I ran exactly what was recommended.
"git clone https://github.com/raysan5/raylib.git raylib
cd raylib
mkdir build && cd build
cmake -DSHARED=ON -DSTATIC=ON ..
make
(sudo) make install"
The issue was librarylib.so.301, since when I deleted that as shown in the pictures, I could ru

[2020-11-03 18:23] chriscamacho commented on #1426
other single mesh single materials obj's load including ones exported from blender

[2020-11-03 18:27] raysan5 commented on #1425
This issue seems a duplicate of #1426

[2020-11-03 18:27] #1425 closed

[2020-11-03 18:34] chriscamacho commented on #1426
got a 404 first time i posted didn't realise it had worked...

[2020-11-03 18:41] raysan5 commented on #1423
@pedromundo Thanks for the detailed issue!

Actually it seems it could be related to the differences in size reported, so the crash, typical from an array out-of-bounds...

Also note that when loading an MP3 as a Wave, samples are converted to float automatically, so no worries about the 16bit vs 32bit.

raylib is using dr_mp3 (`drmp3_open_memory_and_read_f32()`) to read the file data, maybe issue

[2020-11-03 18:42] Skabunkel commented on #1426
What version of raylib are you using?

[2020-11-03 20:07] chriscamacho commented on #1426
turns out the model had quads in it, but I could have sworn it was working previously!

at any rhate, whats the best way to detect if the model isn't triangulated...?

rather than a random memory corruption(!) There should be some sensible failure message - title of this bug maybe needs changing!

[2020-11-03 20:10] chriscamacho commented on #1426
I was very suspicious it could have been my past commit to split the meshes into material meshes that broke something !

[2020-11-03 20:53] mackron commented on #1423
Is this crash happening with all files, or just that one file? It's on 30MB or so, so would have thought it would be a virtual memory thing. I'll check dr_mp3 when I get a chance.

[2020-11-03 21:28] pedromundo commented on #1423
I've tested it with 3 multiple-minute mp3 files (~4, 5, 7 MB in size) and it seems to crash in the same way. With a tiny mp3 file (162KB), then it is fine.

[2020-11-03 22:08] chriscamacho commented on #1426
removing the trianglation flag when loading OBJ stops it crashing, but obviously messes up the model..

not sure exactly whats going on, but splitting meshes up by material still isn't out of the woods yet.

any thoughts about how you'd like to handle this ?

[2020-11-03 22:32] raysan5 commented on #1426
@chriscamacho technically, triangulation of quads should not influence splitting meshes... maybe an issue with tinyobjloader-c?

[2020-11-03 22:39] #1392 closed

[2020-11-03 23:03] chriscamacho commented on #1426
maybe not updatiing mesh offsets or something, I dunno, it *should* just work, tiny obj has all the verts in one blob with the meshes haviing aa length and offset. adding extra verts seems to be messing with it but I can see how

[2020-11-03 23:28] pedromundo commented on #1423
Did a small test with dr_mp3.h (from master) and everything seems to work just fine calling both f32 and s16 versions of drmp3_open_memory_and_read_pcm_frames_X. LoadFileData was just copy-pasted from raudio.c@master (the joys of 'simple' software).

Compiled this as:
`clang++ -Ofast -fpie main.cc --std=c++17`

[code]

[2020-11-05 06:14] chriscamacho commented on #1426
@raysan5 can you look at updating the external (tiny obj loader) I looked but not having a great deal of look with new loader callback...

[2020-11-07 21:01] rjopek opened #1427 "libgcc_s_seh-1.dll"
How to solve the problem with the library libgcc_s_seh-1.dll

TDM-GCC use binaries based around GCC 9 this set includes a library libgcc_s_seh_64-1.dll
**RayLib** requires the use of a library libgcc_s_seh-1.dll (if I use ready-made binaries: raylib-3.0.0-Win64-mingw)
After renaming everything is ok, but that's not the solution.

[2020-11-08 14:14] Kamelitoloveless commented on #374
Hi raysan5,
I stumble upon the same problem today with VS2019, why not set the project to be a StartUp Project when you release the file so it will not happens anymore? isn't it the right fix?

[2020-11-08 18:21] rjopek commented on #1427
It follows no one uses this version?

C:\>gcc --version
gcc (tdm64-1) 9.2.0
Copyright (C) 2019 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.

Okay, I will have to use a different version.

Kind regards,
Rafał

[2020-11-08 18:22] #1427 closed

[2020-11-09 20:43] Zizap5 commented on #1419
Finally found a reasonable workaround:

[code]

[2020-11-10 11:45] chriscamacho commented on #1426
@raysan5  can I suggest you roll back to before my materials mesh PR, it might make issues easier to find, even trying with the latest version of tiny_obj_loader I'm seeing lockup issues with larger OBJ's

I'm still not seeing what is happening when on the fly triangulation is happening.

[2020-11-10 17:33] GoldenThumbs commented on #1418
@jamesl-github not a fan of that solution. Kind of seems like a bad way to handle that. Still, would be nice so it doesn't break compatibility.... IDK, to me this seems like the kind of thing that shouldn't *have* a define that changes it. One or the other, not both.

[2020-11-13 18:51] rjopek opened #1430 "GetMatrixModelview(void)"
Should be improved "GetMatrixModelview()"
[ v3.0 quick reference card download as PDF ](https://www.raylib.com/cheatsheet/cheatsheet.html)

[2020-11-14 09:48] #1430 closed

[2020-11-15 10:02] raysan5 commented on #1424
@KingMagnaRool Instructions could have some missing part. In any case it seems an issue with CMake and unfortunately I'm not maintaining CMake build system. You can try running a Clean and compiling it again.

[2020-11-15 10:02] #1424 closed

[2020-11-15 10:08] raysan5 commented on #1423
@pedromundo It seems the issue could be related to [LoadMP3()](https://github.com/raysan5/raylib/blob/master/src/raudio.c#L2027) in `raudio` module, did you check it?

Actually, there is a difference, you are using `drmp3_open_memory_and_read_pcm_frames_f32()` while the function is using `drmp3_open_memory_and_read_f32()`, maybe that's the issue...

[2020-11-15 11:38] raysan5 opened #1432 "[text] Consider characters padding on char rectangle"
When generating font atlas containing the different characters, padding is considered to separate the characters in the atlas but not considered on character rectangle, it uses the minimum char area required (as provided by the ttf rasterizer).

There are several cases, like adding shader-based outlines or glow effects that require an additional padding to the rendered quad to apply those effects

[2020-11-15 11:51] raysan5 commented on #1367
Working on this issue, just some notes:

[code]
Above list shows multiple Window config flags, some of those options could be enabled or disabled, so, managing them with flags could be a bit confusing...

Possible functions to manage Window config:

[code]

Following functions should also be reviewed, do we need all them? are they consistent?
[code]

[2020-11-15 12:43] mackron commented on #1423
`drmp3_open_memory_and_read_f32()` was renamed to `drmp3_open_memory_and_read_pcm_frames_f32()` over a year ago. You should probably upgrade dr_mp3 and try again (might have some API changes to deal with, though).

[2020-11-15 12:54] raysan5 commented on #1423
@mackron doing it now! :D

[2020-11-15 13:16] pedromundo commented on #1423
I was gonna take a shot and see how far I'd get "fixing"  it myself, but it appears to be taken care of? :)

[2020-11-16 10:53] chriscamacho commented on #1426
discovered a few more OBJ's that lock up the loader, again I think this is another hashmap issue, but I can't see exactly what it is, is it worth me writing an OBJ loader from scratch... ?

[2020-11-16 23:31] raysan5 opened #1434 "[models] LoadOBJ() is broken"
After updating to latest `tinyobjloader-c` version, OBJ loading does not work... :(

[2020-11-16 23:33] raysan5 commented on #1426
It seems at this point LoadOBJ() stopped working... :(   #1434

[2020-11-16 23:33] raysan5 commented on #1423
@pedromundo Did you try the fix? Does it work now?

[2020-11-17 08:43] chriscamacho commented on #1434
did you add a file loader? I have it working but with lockups on some OBJ's

Would I be wasting my implementing an OBJ loader from scratch (it wouldn't be the first time I've done this...

[2020-11-17 13:19] pedromundo commented on #1423
Didn't try it yet, will do it later today!

[2020-11-17 18:15] pedromundo commented on #1423
The issue does not appear to be fixed yet.

I get the same behavior as before, where with either ASAN or lldb (which increase the virtual memory size) it just works.

Oddly enough, Raylib now reports 16019712 total samples for the same file I used in my earlier testing, where the reported size was 16017408.

The apple crash reporter tracks it down to GetWaveData, but I don't know much else right n

[2020-11-17 19:07] raysan5 commented on #1423
@pedromundo Can you confirm `LoadWave()` works? Now it uses _almost_ same code than the one you posted for your test, `LoadMP3()` was reviewed and `dr_mp3` was updated to latest version...

Maybe that part works and the actual problem is in `GetWaveData()`?

[2020-11-18 18:57] pedromundo commented on #1423
Indeed, I added some extra tracing to my application and the application is fine as far as `LoadWave()` is called, then it crashes the next line where I call GetWaveData().

As that function looks very simple, I can try recompiling raylib with address sanitizer and checking if anything useful comes up.

[2020-11-18 19:04] pedromundo commented on #1423
That went well:
[code]

[2020-11-18 22:37] chriscamacho commented on #1423
@pedromundo ya gotta love libasan, if you add -g you should get line numbers on the back trace, compile both raylib and your app with libasan and -g

I use the following flags for asan btw

    -fsanitize=address,leak,undefined,pointer-compare,pointer-subtract -fno-omit-frame-pointer

[2020-11-18 23:12] pedromundo commented on #1423
@chriscamacho yeah, I've taken a liking to ASAN (and TSAN) as they've really helped me pull through some annoying issues in an embedded environment recently.

In any case, here's another ASAN report (which should have all the goodies):
[code]

[2020-11-19 11:56] chriscamacho commented on #1423
just out of interest, can you replicate the issue from a C application (I assume main.cc is c++ ??) ?

[2020-11-19 12:12] chriscamacho commented on #1434
I've wasted far too much time trying to debug the external code, I came to the conclusion that writing an OBJ loader from scratch would frankly be faster.

I spent a few days and now have some code that can load OBJ's that would cause the external code to lockup (another hashmap issue above the ones I previously found...)

I don't know what the current issue is but with a little more work and test

[2020-11-19 19:13] raysan5 commented on #1423
@pedromundo After some investigation I detected a big issue with raylib! In several functions I was mixing frameCount with sampleCount! raylib stores sampleCount = frameCount*channels... more info in commit https://github.com/raysan5/raylib/commit/7f6cd93d62284c2b206208c7c756e1ff066c162b.

Now, it should work.

[2020-11-19 19:28] raysan5 commented on #1434
@chriscamacho Actually `LoadOBJ()` was using my custom obj loading implementation up to version 2.0 or 2.5, then I decided to change to `tinyobjloader-c` to support more features and avoid maintaining that part... since then it seems I had more issues than benefits... :(

OBJ is a simple text file but it has lots of side cases and options, additionally parsing the text is usually slow... easy to l

[2020-11-19 23:02] pedromundo commented on #1423
@raysan5 oof, that’s good to hear! I’ll update all the things and take a look tomorrow.

[2020-11-20 12:01] chriscamacho commented on #1434
well... I've almost finished writing one myself...

[2020-11-20 12:44] chriscamacho commented on #1434
@raysan5 I'm almost done with the loader, do you want me to do a PR with it ?

[2020-11-20 18:32] pedromundo commented on #1423
After updating to 4eae763 I can confirm that it now works as expected, thanks!

[2020-11-20 18:32] #1423 closed

[2020-11-20 18:34] raysan5 commented on #1423
@pedromundo nice! :D

[2020-11-20 18:49] raysan5 commented on #1434
@chriscamacho It depends on two factors:

1. Would it be an independent library single-file header-only?
2. Would you maintain the library and any possible issue that arise from it?

[2020-11-20 19:29] chriscamacho commented on #1434
more than happy to maintain it...

what do you mean by independent ? it relies on at least the Mesh and Model
structs and also uses

GetWorkingDirectory
LoadFileText
GetDirectoryPath
RL_CALLOC
LoadMaterialDefault
LoadTexture
MatrixIdentity
rlLoadMesh
RL_FREE

I suppose I could reimplement these but it seems a waste, and is likely a
fair but of work...

currently making a specific part of the parsi

[2020-11-20 21:51] Not-Nik commented on #1420
Maybe adding an errno like system could makes things easier. Functions still return void thus not introducing any API changes (returning a from a void function with `return void_returning_function()` is valid), but they set an internal error variable if they fail. The user can check and handle the error after the call if needed. If there is another call to a library function with this variable set

[2020-11-20 22:02] raysan5 commented on #1434
@chriscamacho In raylib, all functions or libraries that load some file-format are implemented in an engine agnostic way, to avoid coupling.

In the case of `LoadOBJ()`, the function or the library loading the .obj file should directly return a obj-specific mesh data structure (that can be similar to raylib Mesh) and material file path. A separate function could also be in charge of material loadi

[2020-11-20 22:14] raysan5 commented on #1420
@Not-Nik I prefer just returning a true in case of success and false in case of error, and also log the possible error.

Here the list with the functions I'm considering to implement this behaviour:

[code]

Actually, those are (almost) all the raylib functions performing some file access.

[2020-11-21 08:23] chriscamacho commented on #1420
how about LoadModel LoadTexture etc ?

[2020-11-21 08:25] chriscamacho commented on #1434
what specific issue do you have with directly coupling this to raylib ?

I'm really not seeing any advantage here, and a number of disadvantages...

[2020-11-21 09:02] raysan5 commented on #1434
In raylib I put lot of efford trying to decouple modules as much as possible, I like that modularity and from my point of view it seems the most organized way to work. The advantages are having an engine independant library to load obj that can be used by anyone and not tied to raylib.

What disadvantages do you see? I know it requires more work, a better design and connecting the library to rayli

[2020-11-21 09:04] raysan5 commented on #1420
oh, yes, most of those function use `LoadFileData()`, I forgot to add it to the list.

[2020-11-21 12:44] chriscamacho commented on #1434
no one is going to use it outside raylib

Its significant work and duplication of code for no actual benefit...

I'll pass thanks.

[2020-11-21 12:46] chriscamacho commented on #1420
you'll still need to pass it up the chain as it were, so if LoadFileData fails, what ever function uses it should pass back to the application at least false or if its returning for example a Model, then there should be some easy way to look at a Model and see that it didn't get loaded and is a default stand in....

[2020-11-21 12:55] raysan5 commented on #1420
@chriscamacho Sorry, no plans to do that, it will imply changing all the API to a different paradigm. It's a design decision.

[2020-11-21 13:14] #1434 closed

[2020-11-21 15:01] chriscamacho commented on #1434
the reason the current master is seg faulting btw, is that you are setting the file loader callback to NULL...

[2020-11-21 20:20] chriscamacho commented on #1420
I understand that you have specific goals and aims for raylib however please do consider it makes it very hard to teach good programming practices when teaching using raylib.

Just assuming that something has worked, and the application not having a clear way to signal to the application if something goes wrong, leads new coders to get into the habit that's its okay not to check things and just as

[2020-11-21 22:40] raysan5 commented on #1420
Sorry, I said I'm not changing all the API despite being the supposed best way to do things. Already considering changing the above functions.

In any case, it can also be taught to students as a bad-design example or even proposed as an improving exercise for them.

[2020-11-21 23:10] raysan5 commented on #1420
Implemented considered functions.

[2020-11-21 23:10] #1420 closed

[2020-11-22 07:32] chriscamacho commented on #1420
sorry are you really saying that I should teach using raylib as a bad design example ???

[2020-11-22 08:48] raysan5 commented on #1419
raylib has some security checks to avoid placing the Window outside of the display area.

Using `FLAG_WINDOW_UNDECORATED` is the best option.

[2020-11-22 08:48] #1419 closed

[2020-11-22 13:36] Not-Nik commented on #1420
with all due respect, i think this library should be considered more than just as a tool to teach students

[2020-11-22 14:02] chriscamacho commented on #1420
it's not just beginners that want to stick to good programming practices....

On Sun, 22 Nov 2020 at 13:36, Nikolas <notifications@github.com> wrote:

--

blog bedroomcoders.co.uk <http://bedroomcoders.co.uk>

Disclaimer:
By sending an email to ANY of my addresses you are agreeing that:

   1. I am by definition, "the intended recipient"

   2. All information in the email is mine to do with as I

[2020-11-22 19:37] damucz commented on #1198
There is already a fork of single-header enet. We are using it couple of years already. However, no rush, there are few other libs, with fallback to emscripten's TCP WebSockets/WebRTC. enet is UDP only. Choose wisely.
https://github.com/zpl-c/enet

[2020-11-23 10:20] Coriiander commented on #1420
A possible solution is to keep the public API as is, but adding a few extra functions to it. A simple Error callback mechanism will do. If the user so desires, he can setup his own callback handler and track errors this way. Alternatively, something like the Win32 API uses could do (SetLastError, GetLastError). All that RayLib has to do is to indeed set errors when they occur. This would change no

[2020-11-24 23:26] raysan5 commented on #1367
Implemented on commit https://github.com/raysan5/raylib/commit/3d1ae3500c731aa37d8f887cd165db480c4890eb.

Still under testing, some flags do not work as expected.

[2020-11-25 02:15] danger89 opened #1436 "Why not call it a media library?"
Consider renaming it from 'gaming library' to media library. Just like SDL and SFML.

I mean, its not really a full-blown game library or engine, but that is the strength I think.

I will try to use raylib of creating an actual desktop application. I think that would also be possible right? If so, try to include this somewhere in your README, and brother the scope of the use of raylib 👍🏽 .

Regard

[2020-11-25 02:45] assyrianic commented on #1436
Because the intent of Raylib is for the creation of games as opposed to other forms of media. Most of the API and the general library architecture is geared towards game development.

[2020-11-25 02:51] danger89 commented on #1436
I know, but it doesn't need to be. In fact there is already a whole [raygui](https://github.com/raysan5/raygui) project.

I just want to say you may want to extend the usage of raylib. Why not? Promote also application development on the website.

[2020-11-25 02:54] assyrianic commented on #1436
but that's the overall purpose of Raylib. If you wish to use it for purposes that aren't gaming, there's nothing stopping you, but the intent for raylib is to provide an easy-to-use pure C API for quicker game development.

[2020-11-25 03:29] jamesl-github commented on #1436
this is funny because people on the SFML forums are always asking why do you call it SFML "Simple and Fast Multimedia Library" when most people use it to make games -- why don't you call it a game library

[2020-11-25 03:39] danger89 commented on #1436
LOL, yeah true, it's because people don't know what they are talking about. And don't know the differences.

[2020-11-25 09:38] raysan5 commented on #1436
@danger89 raylib started as a videogames library to teach my students and I like to keep the original description, actually, that's probably the most common use for the library, learn (and enjoy) videogames programming.

And yes, raylb can be sued to create desktop/web applications, I use it for that: https://raylibtech.itch.io/

[2020-11-25 09:38] #1436 closed

[2020-11-26 18:34] ernastovich opened #1438 "raylib on Raspberry Pi 2 B+ ignoring SetTargetFPS();"
Hello all,

I'm having a little bit of trouble with the loop frequency of Raylib on the Raspberry Pi 2 B. The program appears to ignore the SetTargetFPS(##); call. I tested it with several different numbers ranging from extreme values 10 to 200, but there was no change in behavior (neither slowing down, no speeding up). I even tried completely commenting out the SetTargetFPS line, and that also ha

[2020-11-26 19:31] raysan5 commented on #1438
What are you seeing if you `DrawFPS()`? Maybe is VSync enabled?

[2020-11-26 20:42] ernastovich commented on #1438
Ok so I just tried that, here's what happened -

I had the SetTargetFPS(60); set to 60 FPS
The DrawFPS(); showed it dropping down from 60 to 10, then back up to 12, and it stayed still at 12.

Could you please elaborate on the VSync part? I'm not familiar with what that is, I googled it but come up empty handed. It sounds like VSync is always enabled in RPI by default (?) I could have misunderstoo

[2020-11-26 21:12] raysan5 commented on #1438
VSync is the vertical synchonization, when enabled, the GPU tries to sync your framerate with the display refresh rate. Not sure if it can be enabled on RPI...

Which raylib examples are you testing? Does it happen with all the tested examples?

[2020-11-26 21:32] ernastovich commented on #1438
You know, I hadn't actually tried any of the example codes. I just tried them now that you mentioned it, and it actually works fine. The FPS dropped to 50 at minimum. Maybe my code is too inefficient and is causing it to lag.

[2020-11-27 21:47] RandomErrorMessage opened #1439 "[raymath] MatrixLookAt Performance"
The MatrixLookAt calls the rather costly InvertMatrix function, I found this odd since every other implementation of a LookAt function I've seen does not do this. Eg. https://www.scratchapixel.com/lessons/mathematics-physics-for-computer-graphics/lookat-function

Am I missing something? Should this be refactored?

[2020-11-28 09:56] raysan5 commented on #1439
@RandomErrorMessage This function was implemented long time ago, maybe it could be refactored... Just take into account that raylib matrices are right-handed, column major.

[2020-11-28 09:57] raysan5 commented on #1438
@ernastovich could you share the code you are testing?

[2020-11-28 15:52] JeffM2501 opened #1440 "[core] Several functions allocate memory inside raylib but do not provide functions to deallocate it"
Functions like GetImageData allocate memory inside Raylib but do not provide any functions to deallocate the memory.
Currently the only options are to leak the memory, or free it from within the client code.
On Windows when using Raylib as a dll calling free from the client code will cause a debug assert because the memory was allocated from the DLL module and must be deallocated in the same modul

[2020-11-28 16:44] JeffM2501 opened #1441 "[models] Models assume that they own meshes"
If you create multiple Models that use the same manually created Mesh, and then call UnloadModel, each call to Unload will free the same Mesh memory and throw an exception.
Currently any call to a GenMesh function that is then used in a LoadModelFromMesh call, must never call UnloadMesh.
Basically anytime a Mesh is attached to a Model, it assumes complete ownership of the memory.
This behavior pre

[2020-11-28 17:47] raysan5 commented on #1441
Actually, now I remember that issue already pop up in the past: https://github.com/raysan5/raylib/issues/1000

I'll review it again.

[2020-11-28 18:23] raysan5 commented on #1440
I reviewed all raylib functions and here it is a list with the functions allocating memory:

| Function with MEM_ALLOC | Function to MEM_FREE | Possible solutions |
| :--------- | :----- | :--------- |
| LoadFileData() | ❗ | IDEA: UnloadFileData() / MemFree() |
| LoadFileText() | ❗ | IDEA: UnloadFileData() / MemFree() |
| GetDirectoryFiles() | ✔️ ClearDirectoryFiles() | Using `Get/Clear` conventio

[2020-11-28 20:19] JeffM2501 commented on #1440
In my option keeping parity with load/unload would be best, it is excessive, but consistency in the API is better for users in this case.

[2020-11-28 23:05] ernastovich commented on #1438
Absolutely.

Fair warning, I'm an electrical engineer by profession, and an analog engineer at that, so my programming skills are juvenile to say the least. You're about to see some ugly code with insufficient comments :D

`#include "raylib.h"

#include <time.h>

#include <math.h>

#include <stdlib.h>

#include <stdio.h>

//#include "bcm2835.h"

void speedtape(void);

float inttofloat(int x);

voi

[2020-11-29 09:07] raysan5 commented on #1438
@ernastovich Sorry, I'm afraid I can not be reviewing that much code, you should provide a short sample illustrating the issue. With a long piece of code the issue is probably on user code and not in raylib.

I take a quick look to this code and you are calling `Draw*()` functions outside `BeginDrawing()`/`EndDrawing()`, that's not recommended. Also, you are calling `LoadFont()` inside the loop se

[2020-11-29 09:07] #1438 closed

[2020-11-29 13:44] chriscamacho opened #1446 "[model] missing RL_FREE"
around line 3100 (near end of LoadOBJ) there is an RL_FREE missing (commented out??), also the material counts haven't been freed

    //RL_FREE(fileData);

should be

    RL_FREE(fileData);
    RL_FREE(matFaces);

untriangulated meshes are still causing seg faults, no idea what's happening there...

[2020-11-29 14:04] #1439 closed

[2020-11-30 05:53] ernastovich commented on #1438
Ray, completely understandable! And thank you for the pointers, I want to emphasize the example codes within raylib actually worked perfectly! So the problem is indeed within my code.

I went through the process of continually commenting out bits and pieces of the code and checking the resultant FPS, and I did get it to finally run at 60 FPS.

Thanks again for the support! Have a happy holiday sea

[2020-11-30 13:25] chriscamacho commented on #1446
also notice diffuse colour doesn't seem to be working, works okay with my OBJ loader, so its not rlgl ... quite a puzzle!

[2020-12-01 16:12] CyVlBel opened #1447 "[question] Linking issue with raylib as external dependency."
### Issue description

Cannot link with prebuilt binary raylib_static.lib in my project.

### Environment

I'm using Windows, Microsoft Visual Studio 2019, C++17, glfw3 latest raylib (from repository)

### Issue Screenshot
![изображение](https://user-images.githubusercontent.com/43202094/100765272-5f688480-3408-11eb-8830-8c059db2ff53.png)
This is my project properties
![изображение](https://user-i

[2020-12-01 18:58] terrehbyte commented on #1447
You might be missing some additional external dependencies that are specific for Windows. Check the table in the [wiki](https://github.com/raysan5/raylib/wiki/raylib-dependencies) for `DESKTOP:Windows` and make sure that you're adding them to your Additional Dependencies property.

In this specific case, your LNK2019 errors in the output in your screenshot suggest that you need to additionally lin

[2020-12-01 19:41] CyVlBel commented on #1447
many thanx! This solved my problem.

[2020-12-01 19:41] #1447 closed

[2020-12-01 20:38] raysan5 commented on #753
Another great alternative: enet single-header fork: https://github.com/zpl-c/enet

[2020-12-01 22:25] raysan5 commented on #1446
I'll try to review `LoadOBJ()` more carefully when I have time...

[2020-12-01 22:25] #1446 closed

[2020-12-01 22:27] raysan5 commented on #1426
`LoadOBJ()` requires a full review. I put it on my TODO list. Closing this issue for now.

[2020-12-01 22:27] #1426 closed

[2020-12-01 22:44] raysan5 commented on #1441
Still thinking about this but for the moment added the function, it was the easier solution...

[2020-12-01 22:44] #1441 closed

[2020-12-01 22:48] raysan5 commented on #1421
Just copying the D solution for convenience:
[code]

[2020-12-01 22:50] #1367 closed

[2020-12-03 18:56] raysan5 commented on #1418
I won't apply this change for the moment, it would break lots of things... maybe for 4.0...

[2020-12-03 18:56] #1418 closed

[2020-12-03 18:58] raysan5 commented on #1281
I'm closing this issue, already #1086 open regarding HighDPI on macOS... actually it requires a full review...

[2020-12-03 18:58] #1281 closed

[2020-12-03 19:04] raysan5 commented on #1198
Latest feature about Windows flags #1367 has been implemented but several issues arise, actual they have been present for some time. Those issues are:

 - Fullscreen mode changes window/framebuffer width/height to match a supported video-mode for the current monitor
 - HighDPI does not work properly, again, framebuffer width/height are changed on window minimize/maximize and restore

I'm going to

[2020-12-03 19:04] #1198 closed

[2020-12-04 11:50] jdeokkim commented on #1326
leko-demo: A block puzzle game inspired by the game 'blox forever', made with raylib and raygui. Only the gameplay screen and the settings window have been implemented so far. (https://github.com/jdeokkim/leko-demo)

![leko-demo](https://raw.githubusercontent.com/jdeokkim/leko-demo/main/leko-demo.gif)

[2020-12-07 02:33] pakeke-constructor commented on #958
I am getting this as well, on a laptop.

Setting target fps of 60 yeilds about 5 FPS.

Here are my specs:
GTX 1050ti
i7-8750h @ 2.2ghz
16gb ram

[2020-12-07 02:49] jamesl-github commented on #958
are you sure its using the 1050ti and not the GPU that's built into the CPU ?

[2020-12-07 17:18] object71 commented on #1326
Check out my simple Pong game:

Itch.io page: https://object71.itch.io/pong
Source: https://github.com/object71/Pong

<img src="https://img.itch.zone/aW1nLzQ3Mjg4NTIucG5n/347x500/zHGtux.png" alt="Pong window" />

[2020-12-09 07:05] object71 commented on #1241
On web the request fullscreen function is not guaranteed to succeed. It needs to be in response to a UI event directly (not polled at some point).

[2020-12-10 11:40] chriscamacho opened #1454 "[models] GenMeshHemiSphere seg faults if rings or slices < 3"
basically as title, I'd suggest simply checking the parameters and setting them to 3 if they are less than three, possibly with a warning to the tracelog...

[2020-12-12 10:58] #1326 closed

[2020-12-12 11:03] raysan5 commented on #1454
@chriscamacho Oh, nice catch! Feel free to send a PR with the fix.

[2020-12-12 11:37] raysan5 commented on #1329
This issue could be somewhat related to #1440. One possible solution would be exposing `MemAlloc()`/`MemFree()` callbacks for the user to hook.
[code]
And then define in `utils` module:
[code]
At raylib initialization, we make sure to get valid callbacks:
[code]
With this implementation, users have two options to use custom memory control:

 1. Redefine `RL_MALLOC`/`RL_FREE` and recompile raylib.

[2020-12-12 11:39] raysan5 commented on #1241
@object71 Thanks for your answer! Yeah, that's it... I'll try to give it another go...

[2020-12-12 12:06] chriscamacho commented on #1454
you do realise that doing a PR for simple things is a PITA? its 30 seconds for you but by the time I've forked, cloned, done the fix and submitted the PR itself, I've probably lost more than 1/2hr for a 30 second fix, worth doing it for a major feature but github is a pita for submitting quick simple fixes, then again I could be holding it wrong...

[2020-12-12 12:10] raysan5 commented on #1454
@chriscamacho Believe me, it's not 30 seconds for me. But ok, I'll check it carefully when I will have time and I could focus on this.

[2020-12-12 14:04] object71 commented on #1241
Glad I could help. Wasn't sure what your test setup is as in the raylib examples the button was outside the canvas. I am just guessing as this could be the most obvious problem :)

[2020-12-12 16:28] Buhlean opened #1455 "[examples] text_input_box.c writes out of array bounds"
### Issue description

In https://github.com/raysan5/raylib/blob/master/examples/text/text_input_box.c ,
this code:

[code]

writes at position -1 if we started with a letterCount of 0 (which is the default value). That is tested for, but only after we already wrote there.

### Environment

WIN64

### Issue Screenshot

Unnecessary.

### Code Example

https://github.com/raysan5/raylib/blob/master/e

[2020-12-12 16:35] raysan5 commented on #1455
@Buhlean Good catch! Feel free to send a PR with the fix! :)

[2020-12-12 16:35] Buhlean commented on #1455
I had several gripes and nitpicks with this example, but this is the first real error. If you want I could prepare a pull request!

For that case, a couple questions:

- There is a function at the end of the file that is never called. It is marginally helpful, but doesn't show off any real raylib functionality. Should it stay?
- The FPS are set unusually low and don't match their comment. Which sh

[2020-12-12 17:38] Buhlean commented on #1455
I decided to
- delete the function,
- keep the loop (for clearer comments and easier control flow) and
- adjust the comment since frame time animations need a certain framerate to work.

[2020-12-13 10:04] raysan5 commented on #1455
@Buhlean Excuse my late responses:

1. That function has been left there on pourpose, to be a reference for some users that requested it on the past.
2. Using a higher framerate would complicate the example a bit so I chose a fast and easy solution.
3. I never use do-while loop, sorry, I don't like that kind of structure.

[2020-12-13 11:39] object71 commented on #1006
What happened to this feature?
I saw there  was a pull request but it was closed without merge?

[2020-12-13 14:23] Buhlean commented on #1455
Readded the function, it's only the fix and the comment adjustment now.

[2020-12-13 15:06] #1455 closed

[2020-12-14 07:53] seccopower commented on #153
To make it work I just ` sudo ldconfig`

[2020-12-14 19:42] #1454 closed

[2020-12-14 22:39] #1417 closed

[2020-12-17 01:47] copark86 opened #1465 "[example] Image processing example does not work"
The buttons in the image processing example do not respond at all.

I have tried the WebGL example on the official homepage on Edge, Chrome, iPhone and it didn't show any response to the buttons. I also confirmed it does not work too when compiled on Raspberry Pi.

I remember it was working well previously.

[2020-12-17 11:22] raysan5 commented on #1465
@copark86 Actually, I'm afraid mouse never worked on that example, you can check the source code... but I'll update it to support mouse.

[2020-12-18 18:03] #1465 closed

[2020-12-18 18:04] #1336 closed

[2020-12-19 11:22] raysan5 commented on #1432
Latest commit implements proposed solution (2), for now it's ok... but actually there it could be further improved.

Instead of expanding the character source rectangle from the texture atlas (that requires having that padding available in the atlas), I think it would be possible to just draw the character with the minimum source-rec area into an expanded quad... probably a specific shader would b

[2020-12-19 11:22] #1432 closed

[2020-12-19 18:46] raysan5 commented on #1440
Two additional functions have been exposed (`MemAlloc()` / `MemFree()`) for advance users requiring access to the library internal allocation mechanisms.

[2020-12-19 18:46] #1440 closed

[2020-12-23 13:55] raysan5 commented on #1241
I've been doing some more test and it seems it works on some situation... it really seems browser dependant... I'll investigate it further after raylib 3.5 release...

[2020-12-23 15:48] assyrianic commented on #1329
[rmem.zip](https://github.com/raysan5/raylib/files/5735975/rmem.zip)

I have split up rmem into rmem.h and rmem.c
To use it for a project, rmem.h has to be used for both raylib and the host app so that `MemPool` or the other allocators can be defined as global variables.

[2020-12-24 11:04] object71 commented on #1241
I would suggest to drop the feature in raylib itself and leave up to the developers to do it themselves in the browser. You may implement soft fullscreen where you expand the html canvas to full width and height with a high 3nough z index.

[2020-12-25 03:03] Jack-Ji opened #1469 "[raymath] raymath isn't bundled in the prebuilt tarballs"
### Issue description

First, congrats on 3.5 release! What a great achievement!
I just downloaded the prebuilt tarball from github, seems to me raymath is missing.
Is it on purpose?

EDIT: turns out "additional" modules like raymath/rlgl are all missing in the tarball,
and the same problem exists in v3.0 either.

### Environment

NA

### Issue Screenshot

NA

### Code Example

NA

[2020-12-25 18:27] edubart commented on #1469
I miss `raymath.h` in the tarball, I have to manually search Raylib release tag in GitHub and download it every Raylib release.

[2020-12-26 12:51] iostapyshyn commented on #168
@raysan5 I experience the same issue just after creating the window with raylib 3.5.0. Strangely enough moving the window around a bit fixes it immediately.

[2020-12-26 13:00] raysan5 commented on #168
@iostapyshyn yeah, it seems GLFW framebuffer resize callback is called when moving the Window and it solves the issue... I'm reopening it for further investigation...

[2020-12-26 15:12] dakota72 commented on #1042
Can you share your solution?

[2020-12-27 21:44] Not-Nik commented on #1469
Same for other API exposing headers, like `rlgl.h` and `rnet.h`. Imo all headers should be installed by default, so that you can easily access them. This also makes updating via a package manager easier.

[2020-12-28 10:04] raysan5 commented on #1469
yeah, I'm aware of that. I like to keep the library with just the minimum required header, for users starting on coding. Advance users can just pick the required headers from the sources or just fork the repo.

[2020-12-28 10:36] Jack-Ji commented on #1469
I'm definitely a rookie in gamedev (not a rookie in programming however), but I still hope all api are immediately available
after downloaded the tarball, all I need should be just make utility, compiler, a decent editor and the prebuilt tarball, nothing more.

[2020-12-28 10:54] raysan5 commented on #1469
@Jack-Ji Actually all API is immediately available in `raylib.h`. Auxiliar libraries like `raymath` or `rlgl` are used internally by raylib.

Maybe `raymath` would be the only header that some advance users could require for some 3d math...

[2020-12-28 10:59] Jack-Ji commented on #1469
I see that you want to keep tarball minimum, though the statements in the feature list is really misleading:

[code]

[2020-12-28 11:22] raysan5 commented on #1469
Those statements list some internal features of the library, no intention to confuse anyone. In any case, those headers could be grab directly from the repo if anyone requires them.

[2020-12-28 11:22] #1469 closed

[2020-12-29 07:11] jmorel33 opened #1484 "[raylib.h] missing GetWindowMonitor(void) (new feature)"
Hey guys,

as I am working on my first RayLib project, I was looking for a way to know which monitor is currently used by the window, and could not find a function in the library that does that.

I tried to include the winuser.h so I can use MonitorFromWindow and that is not possible,.

I found this troubling not to know what monitor the window is currently on as all of the RayLib GetMonitor funct

[2020-12-29 12:37] #1484 closed

[2020-12-29 20:09] rdominick opened #1489 "[shaders] rlights.h -- RLIGHTS_IMPLEMENTATION not working as intended"
You cannot include rlights.h in multiple source files because the full declaration of lightsCount is in the header section, causing a symbol collision on link.

[2020-12-29 21:02] raysan5 commented on #1489
@rdominick Oh! Good catch! Solved! :)

[2020-12-29 21:02] #1489 closed

[2020-12-29 23:26] zzador opened #1491 "[models] LoadMeshes is empty is release 3.5"
In the current release 3.5 the implementation of "LoadMeshes" in "models.c" at line 840 it reads:

[code]

Is that known & wanted?

[2020-12-30 07:38] jmorel33 commented on #1295
I up vote this, and would enjoy a way to know what OpenGL/GLSL support the system has prior to saying; yes the game will run fine.

[2020-12-30 16:47] raysan5 commented on #1491
@zzador Oh, yes... I kept it to remember... but I probably I should have just removed that function...

[2020-12-30 16:47] #1491 closed

[2020-12-30 18:28] funcelot commented on #1241
better approach is to warn in console log mechanism as Chrome does.

[2020-12-30 19:45] Elkantor opened #1494 "[models] LIGHT_DISTANCE const value is undefined"
- [X] I tested it on latest raylib version from master branch
 - [X] I checked there is no similar issue already reported
 - [X] My code has no errors or misuse of raylib

### LIGHT_DISTANCE constant value is not defined in *models_material_pbr.c*

There is a compilation problem in the *examples\models\models_material_pbr.c* file at line 60:

[code]

*LIGHT_DISTANCE* is undefined.

### Environment

[2020-12-30 19:59] Elkantor commented on #1494
There's [a PR for this issue](https://github.com/raysan5/raylib/pull/1493) we can close it when the PR will be merged

[2020-12-31 01:15] zzador opened #1495 "[models] Double allocation of "vboId" in GenMeshPlane"
It seems there is a possible double allocation of the vboId-buffer from the `Mesh` type within the function `GenMeshPlane` as it is first allocated at line 1383:
`1383:    mesh.vboId = (unsigned int *)RL_CALLOC(DEFAULT_MESH_VERTEX_BUFFERS, sizeof(unsigned int));`
before the preprocessor #IF and then again within the preprocessor #ELSE statement in line 1486:
`1486:    mesh.vboId = (unsigned int *)

[2020-12-31 07:38] #1494 closed

[2020-12-31 18:33] JeffM2501 opened #1501 "[Models,Materials] Create LoadFromMemory versions of all Loaders"
It is currently not possible to load in several file types "from memory", such as Models, Meshes, Materials, and Animations. These loaders often reference other files and thus can not make use of a single "from memory" function.

To allow resource/asset management systems, raylib should allow the client code to install callbacks to handle all file reads, both binary and text. This will allow appli

[2020-12-31 20:24] JeffM2501 commented on #1501
A better option may be to have an installable callback that is used to get the data from a file, effectively replacing LoadFileText and LoadFileData. This would allow all file system access to be virtualized with less work.

[2020-12-31 21:05] JeffM2501 commented on #1501
I have done an initial workup of what installable file system callbacks would look like in this branch in my fork. https://github.com/JeffM2501/raylib/tree/virtual_fs_hooks

The changes are minimal and all existing functionality is preserved. These changes allow my asset management system to hook in and provide raylib with file read functionality. This means that once installed the user can just u

[2021-01-02 20:29] ChrisDill opened #1506 "[core] Add function to update gamepad mappings"
### Issue description

I ran into the same issue as #1319 with a ps5 dual sense controller. I fixed it with a PR(see #1505) that updates mappings.h, however this issue will likely happen again when [SDL_GameControllerDB](https://github.com/gabomdq/SDL_GameControllerDB) updates.

The mappings can be replaced manually using [glfwUpdateGamepadMappings](https://www.glfw.org/docs/latest/input_guide.htm

[2021-01-03 09:08] Saikyun commented on #1086
Cheers, this helped me a lot. Thanks!

[2021-01-03 19:09] funcelot commented on #1086
i use another approach, i send this flag directly, i will send code in my fork soon

[2021-01-03 20:17] jamieS95 opened #1509 "[core] demo's not working rpi4 kernel 5.10"
demo's not working rpi4 kernel 5.10 with newest mesa  from the repo and kms enabled

INFO: Initializing raylib 3.5
INFO: DISPLAY: No graphic card set, trying card1
INFO: DISPLAY: Selected DRM connector mode 800x600 (800x600p@60)
INFO: DISPLAY: Upscaling required: Screen size (800x450) smaller than display size (800x600)
INFO: DISPLAY: Device initialized successfully
INFO:     > Display size: 800 x

[2021-01-03 21:22] raysan5 commented on #1509
Ouch... Maybe @kernelkinetic could take a look?

[2021-01-03 21:43] #1495 closed

[2021-01-04 05:52] kernelkinetic commented on #1509
Since `drmModeSetCrtc()` applies the settings to the screen controller and `-13` looks like `-ENOACCES` maybe there is just something wrong with some access rights and a quick `sudo ...` test should work to run the demonstration examples again, @jamieS95?

[2021-01-04 07:16] funcelot commented on #1086
this is because of call SetViewport with incorrect screen widths and heights, on HiDPI systems, render width is often not equals to screen width, so GetWindowScaleDPI willl return {2.0f, 2.0f} not {1.0f, 1.0f}

[2021-01-04 07:21] RemySzpuuk commented on #1295
This sounds like a good idea.

[2021-01-04 10:19] jubalh commented on #1180
@raysan5 why was there no noexamples tarball released for 3.5.0?

[2021-01-04 10:30] raysan5 commented on #1180
@jubalh because I'm afraid there is no automatic system to generate it...

[2021-01-04 10:48] jubalh commented on #1180
Would you mind adding it? It's pretty good because of this licensing issue and the much smaller tarball :-)

[2021-01-04 11:06] AudioMorphology commented on #1509
I have seen this too, when compiling for PLATFORM_DRM and running within a Terminal session on the Pi desktop - seems the app isn't able to set Crtc as it's not Master. Presumably the desktop is already master. Running as sudo makes no difference - I tried patching core.c to call drmSetMaster(3); prior to drmModeSetCrtc() but that didn't fix it.

@jamieS95 Set the Pi to boot to Command Line rather

[2021-01-04 11:13] raysan5 commented on #1180
@jubalh ok, but... is there still some licensing issue?

[2021-01-04 11:17] raysan5 commented on #1509
@AudioMorphology Oh, yeah, you are right, I also found the same issue... actually `PLATFORM_DRM` is expected to run with no desktop, to run raylib on desktop, then compile it for `PLATFORM_DESKTOP`.

[2021-01-04 11:23] jubalh commented on #1180
Even without license issue the smaller tarball is super nice to have for distros.

In April 2020 you said:

And that was quite fine.

[2021-01-04 11:56] raysan5 commented on #1180
@jubalh I don't remember how it did it the last time... this time just updated the GitHub automatically generated .tar.gz archive: https://github.com/raysan5/raylib/releases/download/3.5.0/raylib-noexamples-3.5.0.tar.gz

Please, let me know if it works ok.

[2021-01-04 12:21] jubalh commented on #1180
That tarball seems to be missing the CMakeLists.txt in the root directory.

[2021-01-04 12:27] raysan5 commented on #1180
@jubalh Oh... sorry, I removed it with cmake directory... ok, reuploaded.

Please note, I don't use and don't maintain CMake, it was a user contribution, I don't know if it currently works...

[2021-01-04 12:56] jamieS95 commented on #1509
@raysan5
would having the api like this have any benefit?

https://github.com/raysan5/raylib/wiki/Working-on-Raspberry-Pi
*maybe some changes for  opengl 2.0, open gl es, drm...

//native without windowing system (use from command line)
make PLATFORM=PLATFORM_NATIVE
//x11 windowing system (use from desktop)
make PLATFORM=PLATFORM_WINDOWED

[2021-01-04 13:10] raysan5 commented on #1509
@jamieS95 Actually, `PLATFORM_DESKTOP` is correct, it does not have to be `WINDOWED`...

About `PLATFORM_NATIVE`, maybe it could be reviewed in a future but no plans for now.

Does it work with the proposed solutions?

[2021-01-04 13:55] jubalh commented on #1180
Oh, I'm surprised to hear that. I remember that I contributed meson build files and removed them when CMake was added. I thought it would be the default for building on Linux now.

What should I use as the official supported build method?

[2021-01-04 14:02] raysan5 commented on #1180
@jubalh I created, use and maintain the plain Makefiles for all supported platforms.

[2021-01-04 14:10] jubalh commented on #1180
Does it also contain library versioning like the meson and cmake file did/do?

[2021-01-04 14:18] jamieS95 commented on #1509
booting to cli solved issue

[2021-01-04 14:18] #1509 closed

[2021-01-04 14:29] raysan5 commented on #1180
@jubalh not sure if that's what you mean... I keep a RAYLIB_VERSION variable with current version that is used in some places...

[2021-01-04 14:40] jubalh commented on #1180
I mean library versioning which was discussed in:
* https://github.com/raysan5/raylib/issues/293 (general lib versioning issue)
* https://github.com/raysan5/raylib/pull/299 (meson fix)
* https://github.com/raysan5/raylib/pull/417 (cmake fix)
* https://github.com/raysan5/raylib/issues/613#issuecomment-498714345 general discussion

[2021-01-04 14:47] jubalh commented on #1180
@raysan5 Nevermind! I continue to use the CMake files :-) They still contain the library versioning. That's great! Hopefully they will always be in sync! Cheers!

[2021-01-04 17:25] MikeDX opened #1510 "[core] 1/4 screen (half size) when using retina display on osx"
- [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description

On OSX with a retina display, rendertextures show only in the lower 1/4 of the window. This can be seen in the julia fractal shader demo.

Commit https://github.com/raysan5/raylib/commit/468a0bedd844586e7b

[2021-01-04 20:03] alexandervrs opened #1511 "[core] Add Gamepad Vibration functionality"
### Issue description

I wish there was some functionality to vibrate the gamepad with raylib for some enhanced haptics experience. Xbox and PS gamepads support this out of the box for desktop & consoles, HTML5's Gamepad API still doesn't have any functionality for this, but in that platform the method would just not do anything.

I propose there would be 2 methods:

### Code Example

[code]

[2021-01-04 22:02] funcelot commented on #168
Just see this, i made a pull request which seems fixes all bugs for windows 10 https://github.com/raysan5/raylib/pull/1512

[2021-01-04 22:04] funcelot commented on #168
can you test my pull request, i made for windows 10? it all worked! cant believe i did it

[2021-01-04 22:19] funcelot commented on #1294
ok, i need to test https://github.com/raysan5/raylib/pull/1512 with this one, sadly enougth, i can test on windows only

[2021-01-04 22:50] Andrew-Maxwell opened #1513 "[core] Mouse disappears when project is compiled for web"
- [X] I tested it on latest raylib version from master branch
 - [X] I checked there is no similar issue already reported
 - [X] My code has no errors or misuse of raylib

### Issue description

When Raylib projects are compiled for web, the cursor is hidden when interacting with them. At first, the cursor is visible, but after clicking, the browser says something like "xyz has control of your poi

[2021-01-05 09:29] funcelot commented on #1241
probably, it is better to make a placeholder, cause chrome and other browsers are changing too much, one day they decide to add fullscreen support in webgl, other day, don't. it is unpredicatable, can we support or not this feature in the future or not, i think it is related even to different chrome versions

[2021-01-05 09:37] funcelot commented on #168
@jamiltron @raysan5 I will do some tests, on mac os x, and also fullscreen toggle on mac os x on my mac book pro retina mid 2013, PR https://github.com/raysan5/raylib/pull/1512 to see if that will work

[2021-01-05 21:14] JeffM2501 commented on #1501
The more I look at this, the more I feel that the initial proposal will not work. Many of the model loaders load additional files such as materials and textures via relative paths. This means that a simple "from memory" type function can never work, since it is not possible to reference other data blocks in the same way that files can be referenced.

The only real solution to this is file IO callb

[2021-01-06 22:17] raysan5 commented on #1511
This features depends on GLFW, at least for `PLATFORM_DESKTOP`. Related to https://github.com/glfw/glfw/issues/57

[2021-01-06 22:18] raysan5 commented on #1510
This issue could (maybe) be solved by https://github.com/raysan5/raylib/pull/1512

[2021-01-07 22:35] pJotoro opened #1518 "[raudio] Error When Playing Sounds (Windows 10, Notepad++, C, TCC)"
### Issue description
I get this error when I try to play sounds:
`tcc: error: undefined symbol '__sync_synchronize'
tcc: error: undefined symbol '__sync_lock_test_and_set'
tcc: error: undefined symbol '__sync_val_compare_and_swap'`

### Environment
As the title states, I'm using Windows 10, Notepad++, C, and TCC.

### Code
`#include "raylib.h"

int main(void)
{
    // Initialization
    //-------

[2021-01-07 23:56] Heliosphan opened #1519 "Example code only renders blank screen of various colours - Raspberry Pi 3B+ Raspberry Pi OS Lite latest version"
Using RayLib v3.5 fresh download, have a Raspberry Pi 3B+, standard Raspberry Pi OS **Lite**, fresh download.

Git Cloned the RayLib sources. Then compiled the libraries as per the RasPi instructions on the Wiki (PLATFORM=PLATFORM_RPI). Then I compiled all the examples in the same way as per instructions.

Many of the examples render just blank screens - depending upon the screen blanking colour s

[2021-01-08 01:40] Guddler commented on #1510
Hi just so you know - I tested this with pr #1512 and saw no difference in behaviour at all. This is on macOS and the same project as @MikeDX

If I start the application on my iPad screen (a retina screen used as second display) then the whole application renders to the bottom left quad of the application window. If I drag the window to a non-retina screen the rendering is correct.

[2021-01-08 05:39] chrisws commented on #1519
I noticed that as well. It seems to be caused by fix #1517

I tried jumping back to the prior commit with `git checkout 33ed14230608667c18b7d28d2f03722354e1c1a2` and it now displays correctly.

[2021-01-08 17:36] Heliosphan commented on #1519
Awesome, thanks chrisws, I recompiled the lot with this commit in place and boom - the first demo that failed before now works just fine.
Thanks for your assistance!
I guess there's still a bug though...

[2021-01-08 21:02] funcelot commented on #1510
@MikeDX Did you try to set screeen scale matrix to MatrixScale(2.0f,2.0f,1.0f) instead of MatrixIdentity, and double the size of a screen parameters?

[2021-01-08 23:26] Guddler commented on #1510
I just took another look at #1512 and spotted that all the changes were wrapped in defines that effectively comment them out on macOS. Oops, small wonder it did nothing.

So with a very quick and dirty hack to add the changes to macOS, render is correct when I drag the Window to a HiDPI screen (my iPad) but not at all correct when the screen starts off on a standard DPI screen. Looks like a starti

[2021-01-09 05:59] raspbiamantes opened #1522 "how to add other library like wiring pi in raspberry???"
hello, pleas sorry for my bad english .
 i want to compile a code in c++ with raylib and wiringpi to use the gpio ports but to complie a code with raylib i use
for example:

make core/core_basic_window PLATFORM=PLATFORM_DESKTOP GRAPHICS=GRAPHICS_API_OPENGL_21

in wich part i can add -lwiringPi to use this library???

[2021-01-10 00:47] raysan5 commented on #1519
Change reverted in commit https://github.com/raysan5/raylib/commit/bbc09288bd1732611ebd930eaf28d43f1310b784

[2021-01-10 00:47] #1519 closed

[2021-01-10 00:51] raysan5 commented on #1522
@raspbiamantes You should locate in  `src/Makefile` the place where the libraries are included, it's called `LDLIBS` and you should add `-lwiringPi` there. Feel free to join [raylib Discord](https://discord.gg/VkzNHUE) for questions of this type.

[2021-01-10 00:51] #1522 closed

[2021-01-10 19:48] raysan5 opened #1523 "raylib 3.6 roadmap"
Here it is my wish list for next raylib version, this time I'll try to keep it smaller and release it earlier, let's see if possible... Feel free to comment here about proposed improvements or, if you have some specific requirement/feature, feel free to comment on [raylib 2021 wishlist Discussion](https://github.com/raysan5/raylib/discussions/1502).

- [x] `core`: Review: `GetFileExtension()` vs `

[2021-01-11 03:36] EvanGrimes opened #1524 "[raylib] raudio.c, raylib.h, and windows.h connflicting types"
### Issue description

Raylib.h, raudio.c and windows.h all have conflicting types against each other, making it not able to compile

### Environment

CLion, Windows 10

### Issue Screenshot

https://imgur.com/a/kXVYEbT

[2021-01-11 08:38] raysan5 commented on #1524
This issue has already been listed before: https://github.com/raysan5/raylib/issues/1217#issuecomment-618428626

[2021-01-11 08:38] #1524 closed

[2021-01-11 20:34] object71 opened #1525 "[physac] MSVC compiler cannot compile this file correctly"
- [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description

When compiling with MSVC (generated projects with CMake) I and include physac.h I get the following errors:

`D:\Projects\raylib-cpp\vendor\raylib\src\physac.h(410): error C4576: a parenthesized type follo

[2021-01-12 09:27] nezvers commented on #437
I've been trying this for some time and can't get it working in npp.
`echo > Setup required Environment
echo -------------------------------------
SET RAYLIB_PATH=C:\raylib\raylib
SET COMPILER_PATH=C:\raylib\mingw\bin
ENV_SET PATH=$(COMPILER_PATH)
SET CC=gcc
SET CFLAGS=$(RAYLIB_PATH)\src\raylib.rc.data -s -static -Os -std=c99 -Wall -Iexternal -DPLATFORM_DESKTOP
SET LDFLAGS=-lraylib -lopengl32 -lgd

[2021-01-12 11:31] aixp opened #1526 "Enhancement Request: ability to change RL_CULL_DISTANCE* without library rebuilding"
In particular, for BeginMode3D.
For example, default RL_CULL_DISTANCE_FAR=100 is too low for my program.

May be add to camera parameters?

[2021-01-12 13:03] schveiguy opened #1527 "[text] Add DrawText() functions that take a specified length"
### Issue description

I am using raylib as a teaching tool for the D programming language. It is a wonderfully thought out and simple library, and I'm enjoying my time with it. One thing that sticks out to me when using from D is the requirement for text to be Null terminated. In most modern programming languages (D included), text consists of an array, which carries a length attribute, which mak

[2021-01-12 18:48] raysan5 commented on #1526
@aixp Sorry, no plans for now, for advance raylib usage, just use `config.h` to compile raylib for your needs.

[2021-01-12 18:48] #1526 closed

[2021-01-12 18:59] raysan5 commented on #1527
@schveiguy Sorry, no plans to redesign the library to accept an extra input paramater that, actually, it's not required in C language by design.

In any case, raylib uses a custom `TextLength()` function, I can consider allowing some option to replace it by a custom implementation (despite requiring recompiling the library with that option yourself), would it work for you?

[2021-01-12 19:00] raysan5 commented on #1525
@object71 Yeah, `physac` library requires some review... Feel free to send a PR with this improvement.

[2021-01-12 19:06] raysan5 commented on #1518
@helloguysmaster It seems this issue could be a regression of https://github.com/raysan5/raylib/issues/435#issuecomment-380386426.

It seems a starting point for investigation...

[2021-01-12 19:06] schveiguy commented on #1527
Unfortunately no, because the parameter is still only a `char *`. The length needs to be orthogonal to the actual string data.

There are plenty of precedents of C functions that do not require null termination for character data, but you are right that the "normal" string type in C is simply a null-terminated `char *`. It just makes things awkward for other-language bindings that use a pointer/le

[2021-01-12 19:09] raysan5 commented on #1513
This "issue" is actually a "feature" added for convenience on web... but it was probably not a good idea...

Related code is just a single line in `core.c` -> `EmscriptenMouseCallback()` -> `emscripten_request_pointerlock()`

I'll review it... maybe adding a custom flag to support it automatically or not?

[2021-01-12 19:16] raysan5 commented on #1527
Sorry then, no plans to add those additional functions for the moment...

[2021-01-12 19:16] #1527 closed

[2021-01-12 20:10] gen2brain commented on #1518
Raylib uses miniaudio v0.10.25, changelog for v0.10.26 says `  - Fix compilation with TCC.`

[2021-01-12 20:16] Hecatonecles opened #1529 "[models] Expose Mesh GPU uploading (rlLoadMesh()) in raylib"
Hey there i can manipulate al the mesh data but cant update the mesh without rlgl.h.
But rlgl isnt avaiable on my programming language (FreeBASIC) :/
So i think a simple raylib intern UpdateMeshData function where nice.

I also think Raylib is a nice piece of code.

salute and keep it up :)

[2021-01-12 21:52] raysan5 commented on #1518
Updated to latest miniaudio. Please, could you test it?

[2021-01-12 22:03] Andrew-Maxwell commented on #1513
Ah, OK. That clarifies things, thanks. IMO the best way to do it would be to have a Raylib function which you can call to lock/unlock the pointer, but I don't how how easy to implement that would be. Anyway, thank you for telling me how to change it - that resolves the issue for me.

[2021-01-12 23:38] raysan5 commented on #168
Duplicate of #1510

[2021-01-12 23:38] #168 closed

[2021-01-14 09:19] pmprog opened #1531 "[core] 8bitdo M30 controller state mismatch"
**WARNING: Please, read this note carefully before submitting a new issue:**

It is important to realise that **this is NOT A SUPPORT FORUM**, this is for reproducible BUGS with raylib ONLY.

There are lots of generous and helpful people ready to help you out on [raylib Discord forum](https://discord.gg/VkzNHUE) or [raylib reddit](https://www.reddit.com/r/raylib/).

Remember that asking for suppor

[2021-01-14 23:12] raysan5 commented on #1531
@pmprog Did you try with latest version from GitHub? Gamepad DB was updated some days ago, actually, you can check that controller [configuration on the DB](https://github.com/raysan5/raylib/blob/master/src/external/glfw/src/mappings.h#L69).

[2021-01-15 09:04] pmprog commented on #1531
Yes, I did a pull to refresh the repo.
I cannot remember if I even deleted and recloned, but I'll try that again in case something hadn't gone right

[2021-01-15 23:47] gilzoide opened #1533 "[build] CMake build error on Linux, including "src/external/dirent.h" instead of system's"
Building with CMake on Linux errors with the following message:
[code]

The build is including `src/external/dirent.h` instead of the system's default `dirent.h`, it seems the problem is adding `src/external` to import path here: https://github.com/raysan5/raylib/blob/master/src/CMakeLists.txt#L108.

[2021-01-16 02:15] gilzoide opened #1534 "[core] `GetFileName` and `GetDirectoryPath` gives wrong results for absolute Unix paths"
Both `GetFileName` and `GetDirectoryPath` called with absolute paths with a leading slash/backslash (e.g.: "\directory\file" or "/root/file") returns wrong results.

Test program:
[code]

Turns out Windows also have absolute paths starting with backslashes (https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file#fully-qualified-vs-relative-paths), although I think it is not that common

[2021-01-16 09:33] #1534 closed

[2021-01-16 09:36] raysan5 commented on #1533
@object71 Please, could you take a look to this issue?

[2021-01-16 09:45] object71 commented on #1533
Yes, that adds a bit more info on the issue that @RobLoach had. @raysan5 I will take a look

[2021-01-16 09:45] gilzoide commented on #1533
I'm looking more closely at this, seems every `#include` to any `src/external/*.h` headers is in the form `#include "external/*.h"`, so it seems to me it's safe to just remove this line (I'm not that familiarized with the source code, so can't say for sure at the moment).

Also, no mentions to `src/external` in Makefile, so...

[2021-01-16 09:59] gilzoide commented on #1533
The only places I found references to `src/external` were on examples/projects/templates Makefiles, I guess they are not even required there if all these projects use only the raylib API

[2021-01-16 10:40] raysan5 commented on #1533
@gilzoide Thanks for checking it, yeah, probably not required... I can't remember now why it's there...

[2021-01-16 11:07] object71 commented on #1533
I will submit a pull request later today. I just need to test it again because something was not compiling on windows when I initially submitted the change

[2021-01-16 13:04] #1533 closed

[2021-01-16 15:19] nonunknown opened #1537 "[Wiki] Default Vscode folder doesnt work"
### Issue description

Followed the WIKI for how to use VSCode, configured as it demands, got an error!

### Environment

Windows 10 x64
Intel HD Graphics 3000

### Issue Screenshot

![image](https://user-images.githubusercontent.com/58845030/104815727-08224600-57f5-11eb-86c9-757fc930b96b.png)

### Code Example
N/A

[2021-01-16 20:46] dylan-conway commented on #1537
You copied the VSCode project directory from the raylib/projects directory? What was your method of installing the library?

[2021-01-16 20:54] nonunknown commented on #1537
from itchio mingw version

[2021-01-17 20:44] pmprog commented on #1531
I have just deleted and recloned the repo; and it's still reporting the same

[2021-01-17 21:09] pmprog commented on #1531
Ah, managed to find out the problem

The controller is reporting as "8BitDo M30 gamepad", but with an identifer of "03000000c82d00000650000000000000". Where-as in your mapping file, it's got an identifier of "03000000c82d00005106000000000000"

The actual identifier of "03000000c82d00000650000000000000" belongs to "8BitDo M30" on the row above; however, this is configured differently.

I switched t

[2021-01-17 23:32] raysan5 commented on #1531
@pmprog Thanks for the investigation and report. It seems it could be an issue in the database... In any case, it is external to raylib so closing this issue.

[2021-01-17 23:32] #1531 closed

[2021-01-18 21:38] JeffM2501 opened #1540 "[core] F12 can never be used as a key, even if screenshot is disabled"
### Issue description
The F12 key is always captured by the KeyCallback in core.c even if screenshot is disabled. This prevents any client code from ever being able to use or detect that key as a key press. The configuration define of SUPPORT_SCREEN_CAPTURE and SUPPORT_GIF_RECORDING all happen inside the     else if (key == GLFW_KEY_F12 && action == GLFW_PRESS) and the regular system key capture i

[2021-01-20 16:07] raysan5 commented on #1540
Solved.

[2021-01-20 16:07] #1540 closed

[2021-01-20 16:19] raysan5 commented on #1537
Just tried it and it works ok for me. Feel free to edit Wiki if there is some part that is not clear.

[2021-01-20 16:19] #1537 closed

[2021-01-20 19:57] raysan5 commented on #1525
@object71 Reviewed physac library, please, let me know if it works.

[2021-01-21 09:45] bloodhaze13 commented on #753
zpl-c/enet is the particular repo that I used in my multiplayer pong clone I wrote a couple of days ago. I have little to no background in C and managed to get it up and going fairly quickly which suggests it must be fairly easy to use.
- Client snippets: https://pastebin.com/6Y84AzRd
- Server snippet: https://pastebin.com/XBwXGeZX

Rough mapping of code snippets to proposed API below:
[code]

So

[2021-01-21 13:12] raysan5 commented on #753
@bloodhaze13 thanks for the info! Current `rnet` implementation was contributed by an user following a proposed API but development was stopped, I tried to pick it up but it required more time than expected, I'm not an expert on networking...

Lately I also keep an eye to another very promising library: https://github.com/nathhB/nbnet

[2021-01-21 13:39] #1506 closed

[2021-01-21 13:49] #1525 closed

[2021-01-21 13:56] raysan5 commented on #1511
About gamepad vibration for web, some info:

- https://developer.mozilla.org/en-US/docs/Web/API/GamepadHapticActuator
- https://www.w3.org/TR/vibration/
- https://github.com/w3c/gamepad/issues/19

[2021-01-21 15:26] muevoid opened #1541 "[models] Multiple meshes not working correctly"
Please, before submitting a new issue verify and check:

 - [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description

Loading a gltf model with multiple meshes isn't working for me as you can see here:
![blender](https://user-images.githubusercontent.com/38061852/1

[2021-01-21 20:30] JimmyDeemo commented on #1343
Sorry to resurrect this thread but I have hit this same issue and would like to know what the correct compiler flags are to build the 'basic window' sample. Right now I have;

`clang++ -framework CoreVideo -framework IOKit -framework Cocoa -framework GLUT -framework OpenGL lib/raylib.a raylib_game.cpp -o build/raylib_game`

Taken from the Wor[king with MacOS](https://github.com/raysan5/raylib/wiki

[2021-01-21 20:55] raysan5 commented on #1343
@JimmyDeemo Afaik, it should work... 🤔

[2021-01-21 21:46] JimmyDeemo commented on #1343
Thank you. This error seems strangly familiar...perhaps it is environmental. I'll try and get eyes on the Discord myself.

[2021-01-21 21:49] object71 commented on #1525
@raysan5 It is fine now

[2021-01-22 01:18] Nv7-GitHub commented on #1510
I am having this issue, are there any quick fixes to this?

[2021-01-22 09:49] JimmyDeemo commented on #1343
Found it! Looks like you need to tell clang to compile in C++11 mode by adding `-std=c++11` to the arguments. Meaning that the following works for me;
`clang++ -std=c++11 -framework CoreVideo -framework IOKit -framework Cocoa -framework GLUT -framework OpenGL lib/raylib.a raylib_game.cpp -o build/raylib_game`

[2021-01-22 09:55] raysan5 commented on #1343
@JimmyDeemo Thank you very for investigating this issue and reporting the solution here! It would be helpful for future users! 👍

[2021-01-22 10:02] JimmyDeemo commented on #1343
No worries @raysan5 , i've added a note here too; https://github.com/raysan5/raylib/wiki/Working-on-macOS. Hope that's formatted okay.

[2021-01-22 10:59] raysan5 commented on #1513
Removed the automatic pointer lock on mouse-click, now it's up to the user to enable/disable it using `EnableCursor()`/`DisableCursor()`.

[2021-01-22 10:59] #1513 closed

[2021-01-22 11:09] raysan5 commented on #1501
@JeffM2501 Yeah, I found the same problem when implementing the other `Load*FromMemory()` functions, `Models` are complex structures that could get data from multiple files: meshes, materials, textures, shaders... Actually, almost all `Model` fileformats (.obj, .gltf...) reference external files for the different types of data.

Agree that file IO callbacks is the best (and probably only) option.

[2021-01-22 11:09] #1501 closed

[2021-01-22 11:17] raysan5 commented on #1529
done.

[2021-01-22 11:17] #1529 closed

[2021-01-22 11:27] raysan5 commented on #1541
@muevoid please, could you provide the tested gltf model?

[2021-01-22 12:19] muevoid commented on #1541
I believe it meets all of the restrictions for sure no hierarchies but not sure exactly about transforms I cleared parent on all the meshes in blender so I don't think so but I'm not 100% sure. Here's the 3 model files the glb, gltf, and the blend file https://github.com/muevoid/Vinox/tree/main/resources. They are all in that folder.

[2021-01-22 12:30] raysan5 commented on #1541
@muevoid Checking file `mc.gltf` with a text editor it seems every Cube node defines `rotation` and `translation` transformations so I'm afraid that can be the issue. Those transformations are not applied to loaded vertex. You should export the model with the transformations already applied to the mesh vertex data. A quick Google check [gave me this link](https://blender.stackexchange.com/question

[2021-01-22 12:33] muevoid commented on #1541
That worked! Thank you I had tried to search for the restrictions previously but could not figure it out I appreciate the help!

[2021-01-22 12:33] #1541 closed

[2021-01-22 21:57] Guddler commented on #1510
Nothing quick that I am aware of as yet

[2021-01-23 17:59] dbampersand commented on #1510
The quick fix I've been using is to use SetWindowPosition after you've initialized the window:

`InitWindow(screenWidth,screenHeight,"aaaa");
SetWindowPosition(100,100);`

and when you change the window size:

`if (IsWindowResized())
{
    SetWindowPosition(GetWindowPosition().x+1,GetWindowPosition().y+1);
}`

This, for whatever reason, seems to fix it.

[2021-01-24 17:11] Nv7-GitHub commented on #1510
When I did that, It made everything twice as big, although it did move it from the bottom left to the top left. Are there any fixes for the twice as big thing?

[2021-01-25 07:36] jmorel33 opened #1547 "[core.c] Add option to set / change the screenshot key"
These changes were tested and work as expected.

### in raylib.h
`RLAPI void SetScreenshotKey(int key);                         // Set a custom key for screenshots (default is F12)`

### in core.c

_**add container for screenshot key in keyboard;**_
`       struct {`
`            int exitKey;                    // Default exit key`
`            int screenshotKey;              // Default screenshot

[2021-01-25 09:50] raysan5 commented on #1547
@jmorel33 Sorry, no plans to add that option. To use a custom key, just do it on user code:
[code]

[2021-01-25 09:50] #1547 closed

[2021-01-25 13:57] jmorel33 commented on #1547
How nice of Raysan5 ...

[2021-01-25 14:21] RemySzpuuk commented on #1547
Well there isn't really a point in adding something which is already possible.

[2021-01-25 14:27] jmorel33 commented on #1547
It is *NOT* possible at all, it's all hardcoded to the F12 key making F12 useless.

[2021-01-25 14:28] jmorel33 commented on #1547
I just opened up the screenshot capability to be able to change the key to anything or disable, just like the Escape to exit.

[2021-01-25 14:53] RemySzpuuk commented on #1547
Oh I see what you mean. You want the F12 key to be usable and not just stuck to screenshots! You didn't describe what you wanted very well so I didn't understand. I would definitely be in support for this change.

[2021-01-25 15:30] raysan5 commented on #1547
You can just comment `SUPPORT_SCREEN_CAPTURE` on `config.h` to free F12 and use any custom screenshot mechanism, like, i.e. two gamepad buttons.

[2021-01-25 16:00] jmorel33 commented on #1547
My change is to free the F12 key as well as being able to assign screenshot within the core, which is the elegant and clean way to do it.

[2021-01-25 16:37] ChrisDill opened #1548 "[raudio] InitAudioDevice and CloseAudioDevice inconsistent when called multiple times"
Please, before submitting a new issue verify and check:

 - [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description

I found a bug when calling `InitAudioDevice` and `CloseAudioDevice` multiple times. I found this in Raylib-cs since examples are in the same projec

[2021-01-27 03:35] nitrologic opened #1550 "[core] eglGetConfigs() usage could be redundant or no obvious"
It is not obvious why eglGetConfigs is being called here

https://github.com/raysan5/raylib/blob/88a6f16c9a552ebb8c39fff57cf16cfce7c88913/src/core.c#L3869

when several lines further on eglChooseConfig is called making the results of the eglGetConfigs seemingly redundant?

Apologies if I have missed something obvious in this code.

Simon

[2021-01-27 21:18] object71 opened #1552 "[models] Add functions to interpolate between animation poses"
Please, before submitting a new issue verify and check:

 - [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description

3D models currently don't support interpolation between pose transforms. I believe it would be benefitial to add to the API.

[2021-01-28 10:29] #1006 closed

[2021-01-28 10:55] object71 opened #1553 "[models][gltf] Similar to IQM on model loading interpolate a const set of poses"
Please, before submitting a new issue verify and check:

 - [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description

Currently when loading a model (look at gltf animation example) you would only get two poses. This is not the correct mapping for the current versi

[2021-01-28 11:13] raysan5 commented on #1553
@object71 Agree.

[2021-01-28 14:41] object71 commented on #1550
Based on what I see around that code it is probably mostly for better error messaging - having frame buffer configurations VS having frame buffer configurations that match the attributes specified in framebufferAttribs

[2021-01-28 15:47] gilzoide opened #1554 "[core] First frame hiccup on Linux when compiling raylib with embedded GLFW"
Hi! I'm on a x86_64 Manjaro Linux on X11 and everytime I build raylib + some project, it gives this super long first frame.
![raylib-first-frame](https://user-images.githubusercontent.com/4603360/106160969-2bd67c00-6165-11eb-932d-53b390563404.gif)

I tracked down that this problem doesn't occur when linking with the raylib installed in my system, which uses external GLFW (https://github.com/archli

[2021-01-28 17:35] raysan5 commented on #1554
@gilzoide this is very weird...

[2021-01-28 19:14] gilzoide commented on #1554
I know, right? Don't know if anyone had this problem before, maybe it's just my build environment making something unexpected...

I'd say this is not a big problem, because it's just me and I guess building executables linking with external GLFW is fine, Linux distributions have good package managers, maybe most users will have GLFW installed already.

[2021-01-28 19:17] gilzoide commented on #1554
I just now tried rolling back to 3.5.0 and building the physics example again, same problem.
3.0.0, 2.6.0, same thing.
2.5.0 worked! =O

I'll use `git bisect` later to find out what the hell is happening, this is really bugging me out!

[2021-01-28 20:01] gilzoide commented on #1554
Just FYI, after bisecting, first bad commit is 83916bd3c271d45fd60431b66fca0560cd0c2f93, regarding a GLFW update.
It's a big commit, I'll not go into it today, but will later. I'll keep in touch if I discover more about it.

[2021-01-29 06:06] maks opened #1555 "audio doesn't work on Chrome m88"
https://raylibtech.itch.io/rfxgen as an example doesn't work on current stable Chrome.

The error in the console is pretty self-explainatory:
[code]

[2021-01-29 09:20] raysan5 commented on #1555
@maks yeap, that's a know issue and I'm afraid it's a security constraint, it's required an user action to enable it. You can check https://www.raylib.com/examples.html and https://www.raylib.com/games.html. Audio should be working in those cases because Audio Context is started with a user action.

rfxgen does not work if accessed directly from the link you shared but if you access from https://r

[2021-01-29 09:27] #1555 closed

[2021-01-29 19:50] ChrisDill opened #1556 "[models] Add GenMeshDefault to improve Mesh generation"
### Issue description

Currently to generate a Mesh with your own data(vertices, texcoords etc), you need to allocate it manually and make sure the vertexCount is setup properly. This works although I think it can be made easier for most use cases.

My suggestion is to add a `GenMeshDefault` function to help with Mesh creation. You pass in the vertexCount, triangleCount and a enum to flag the arra

[2021-01-30 17:46] chances commented on #1510
I'm experiencing this issue _after_ I resize my app's window in macOS Catalina 10.15

[2021-01-31 17:13] JeffM2501 commented on #1556
AllocateMeshData from

https://github.com/JeffM2501/raylibExtras/blob/1c56e6e2fe617642f0529d3fc73d2a33373ec9e5/RLGeoTools_C/RLGeoTools.c#L40 effectively does this already, having it included in the base system would be nice.

I would not call It GenMeshDefault because that makes it seem like the generated mesh is valid (like the default font is valid, and the default texture is valid). In this cas

[2021-01-31 17:18] raysan5 commented on #1556
`GenMeshCustom()`, I like it!

[2021-01-31 17:50] ChrisDill commented on #1556
@JeffM2501 Makes sense. I agree that `GenMeshCustom` is a clearer name.
I have also looked at existing GenMesh functions and I think they can use this too since the data sizes are calculated the same.

[2021-02-02 08:26] kolyan666 opened #1562 "[raudio] Error on InitAudioDevice() closes the app automatically"
Platform: Windows (miniaudio)

Steps to reproduce:
- call InitAudioDevice()
- wait for a number of users to report the app failing on startup without an error message

So far, 2 of my friends were unable to run my game.
One didn't have his headphones plugged in, another one had that happen with "Generic USB audio" as the default device.

Console output in both cases:
``` ERROR: miniaudio: [WASAPI]

[2021-02-02 08:49] DavidGRX opened #1563 "[rlgl] Valgrind reports memory leak in raylib"
I've made a simple program using raylib and got valgrind errors. I reduce the program to the following:
#include "raylib.h"

int main(void)
{
    const int screenWidth = 1200;
    const int screenHeight = 650;
    InitWindow(screenWidth, screenHeight, "raylib [shapes] example - bouncing ball");
    CloseWindow();        // Close window and OpenGL context
    return 0;
}

Compiled it with g++ minim

[2021-02-02 09:49] #1553 closed

[2021-02-02 11:10] raysan5 commented on #1550
Actually that code was recently contributed by @kernelkinetic to support `PLATFORM_DRM`, probably he can provide more details about that.

[2021-02-02 11:23] raysan5 commented on #1562
@kolyan666 Actually the error message is displayed in the console output and closing the app is the expected behaviour...

@mackron Does exist some fallback mechanism for those cases? Is it possible to support/enable some? I mean, to just let the program run with no audio...

[2021-02-02 11:35] raysan5 commented on #1563
@DavidGRX Thanks for reporting. I think the memory leak (if any) could be outside raylib but, just in case, I reviewed `LoadShaderProgram()` to avoid some ugly code.

Please, let me know if it works now.

Also, maybe related to https://github.com/raysan5/raylib/issues/1185

[2021-02-02 11:36] raysan5 commented on #1554
@gilzoide Did you investigate this issue a bit further?

[2021-02-02 11:54] mackron commented on #1562
That error is not be critical and should not be causing initialization of audio to fail. Specifically, the error is getting thrown when retrieving the exclusive mode device format. I can see that each error case in `InitAudioDevice()` has an trace message labelled with "AUDIO: ". Which one of those is getting thrown?

I'm going to change that error message to a warning.

[2021-02-02 13:38] gilzoide commented on #1554
I was participating on GGJ, so only had some time to try finding anything yesterday, after resting from my laptop.
I read some parts of the diff, but couldn't get anything yet.
By the symptom, I would guess it is tied to some change in X11 windowing, but I don't know any specifics about how X11 works (well, at least not yet) =P
May also be some blocking IO taking too long, maybe in event handling.

[2021-02-02 14:56] kernelkinetic commented on #1550
@nitrologic Without checking this in a compiler I would say you're right 👍  https://github.com/raysan5/raylib/blob/88a6f16c9a552ebb8c39fff57cf16cfce7c88913/src/core.c#L3853 could be replaced by an appropriate call to `eglChooseConfig` and https://github.com/raysan5/raylib/blob/88a6f16c9a552ebb8c39fff57cf16cfce7c88913/src/core.c#L3869 could be removed. This line is a relict of a previous version of

[2021-02-02 21:22] raysan5 commented on #1550
@kernelkinetic @nitrologic Feel free to send a pull request! :D

[2021-02-02 22:01] nitrologic commented on #1550
Thanks all for the comments. I am on a PowerVR embedded platform where EGL_NATIVE_VISUAL_ID always returns 0 effectively making it unsupported by current implementation.

Also I am more keen on using best practical config per platform so after reading notes for [eglChooseConfig](https://www.khronos.org/registry/EGL/sdk/docs/man/html/eglChooseConfig.xhtml)

I will be testing the #else block that fo

[2021-02-03 07:28] mackron commented on #1562
I've pushed a change to the dev branch to change the wording of that message from an error to a warning, but I don't expect it'll fix anything with your issue. You should post the full log so we can see more details.

[2021-02-03 07:52] DavidGRX commented on #1563
@raysan5, valgrind still shows some warnings but ends up with

==1781==
==1781== HEAP SUMMARY:
==1781==     in use at exit: 145,025 bytes in 2,780 blocks
==1781==   total heap usage: 78,500 allocs, 75,720 frees, 60,078,179 bytes allocated
==1781==
==1781== Searching for pointers to 2,780 not-freed blocks
==1781== Checked 2,391,324 bytes
==1781==
==1781== LEAK SUMMARY:
==1781==    definitely lost:

[2021-02-03 07:52] #1563 closed

[2021-02-03 18:05] ChrisDill commented on #1556
Here is my initial implementation for `GenMeshCustom`. Been testing it with existing GenMesh functions/examples and it is working as expected.

Unsure on the enum name. We could use it with `rlUpdateMesh` and `rlUpdateMeshAt` in rlgl so maybe `MeshAttributeType`?

[code]

[2021-02-03 19:04] JeffM2501 commented on #1556
I don't think it's valid to generate a mesh without vertices, so having that as a flag is a bit redundant. The same may be true for texture coords as well. I see rlLoadMesh always assumes the vertecies and texcoords buffers exists. The others are checked against null.

I'd put the word "GEN" in the enums to show they go with generation, and so they don't conflict with other future terms.
I'd call

[2021-02-03 20:09] ChrisDill commented on #1556
I can remove checks for required data if that is intended. Though I would keep the flags for updating the mesh.
For example you can pass a vertex flag to `rlUpdateMeshAt` for the buffer without needing to specify the exact buffer id.

The GEN prefix makes sense if the flags are only used for generation. Maybe `MeshBufferType` for the name? Should make it clear what is going on for both use cases.

[2021-02-03 21:17] piderking opened #1565 "RAYLIB EXAMPLES on rpi"
when every I use ./ to run the compiled program it?

I followed the steps for raspberry pi 0-3. Not the desktop. I already restarted. Thanks!
Error below, I don't know if this is a easy problem.

INFO: Initializing raylib 3.5
* failed to add service - already in use?

[2021-02-04 15:24] gilzoide commented on #1554
Ok, so I was trying to revert some changes here and was lucky enough to find the offending change in one of my first tries, it lies in `src/external/glfw/src/input.c` (https://github.com/raysan5/raylib/commit/83916bd3c271d45fd60431b66fca0560cd0c2f93#diff-3d2c96f50499add372ed6bec2a6ac275934c46378bd7b02093ab8e44f423aa57)

I noticed this little delay is present on the build without the first long fra

[2021-02-05 07:56] kernelkinetic commented on #1550
@nitrologic `eglChooseConfig` returns you a list of matching configurations and it's up to you to select one from this list. Using `EGL_NATIVE_VISUAL_ID` is just one of several ways to choose. From my experiences this doesn't work on every platform and you added that this also doesn't work on your PowerVR. You can retrieve other attributes by calling `eglGetConfigAttrib()` near https://github.com/

[2021-02-05 18:04] raysan5 commented on #1565
@piderking that's because you are compiling with `PLATFORM_RPI`, that's intended to run from outside the desktop interface. To run in a desktop window, just compile using `PLATFORM_DESKTOP`.

[2021-02-05 18:04] #1565 closed

[2021-02-05 18:06] raysan5 commented on #1550
@nitrologic @kernelkinetic could this issue be closed?

[2021-02-05 18:12] raysan5 commented on #1554
@gilzoide Wow! Nice investigation! Thanks for the time and the detailed explanation! It seems not much can be done in raylib side, I'll close the issue. Hopefully it will be a good reference for anyone facing the same issue! Thanks! :D

[2021-02-05 18:12] #1554 closed

[2021-02-05 18:20] kernelkinetic commented on #1550
@raysan5 It can be closed for all I care.

@nitrologic I'm also available on raylib's discord server if there are further questions 🙂

[2021-02-05 18:21] raysan5 commented on #1562
Updated miniaudio to dev branch and reviewed logging as warnings instead of errors. Program should work now. Feel free to re-open if any issue persist.

[2021-02-05 18:21] #1562 closed

[2021-02-05 18:45] raysan5 commented on #1548
@ChrisDill This issue should be solved with latest commit. Multichannel buffers were not properly unloaded.

[2021-02-05 18:46] #1550 closed

[2021-02-05 18:50] raysan5 commented on #1421
Current implementation is probably wrong and it should be reimplemented from scratch.
In the meantime, I prefer to remove the function.

[2021-02-05 22:22] ChrisDill commented on #1548
I have tested the fix with the code example and my C# examples and it fixes the initial issue. However it also causes a crash in audio_multichannel_sound. If you play fxWav or fxOgg using `PlaySoundMulti` then close the program it will crash in `CloseAudioDevice`.

I tracked the crash to `UnloadAudioBuffer` here:
https://github.com/raysan5/raylib/blob/0f309b9b16c7986c5bda65ff002b7a5b432642d4/src/r

[2021-02-05 23:48] raysan5 commented on #1548
Ouch! I never liked that multichannel implementation... actually, it's on the raylib 3.6 roadmap to review/remove it... now it seems there is a reason for that...

[2021-02-06 16:06] Not-Nik opened #1568 "[models] Meshes aren't seperated"
Please, before submitting a new issue verify and check:

 - [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported<sup>1</sup>
 - [x] My code has no errors or misuse of raylib

<sup>1</sup>There is an issue regarding a similar problem, but it doesn't seem related (#1541)

### Issue description

When loading an OBJ file, raylib doesn'

[2021-02-06 16:59] JeffM2501 commented on #1568
It is a bug in tinyobj_loader_c.h. There is an off by one error when terminating the material name string. It ends up assigning all meshes to material index -1 because it thinks all meshes are assigned to "Material.00" and that doesn't exist in the hash table.

The issue has been fixed in the current version of https://github.com/syoyo/tinyobjloader-c but it has also been updated to use size_t, so

[2021-02-06 19:14] gilzoide commented on #1554
@raysan5 Well, actually, there could be a call to any joystick related function before creating the window to force the initialization routine, rolling the behaviour back to before upgrading GLFW.
A simple `glfwSetJoystickCallback(NULL);` is sufficient.
It seems GLFW joystick functionality is used only on Desktop platforms when `MAX_GAMEPADS > 0`, it could even be called only on those.

I know thi

[2021-02-06 21:17] raysan5 commented on #1554
@gilzoide oh! nice! feel free to open a PR.

[2021-02-07 12:10] kororro opened #1571 "[models] PBR system not considering environment maps properly?"
Please, before submitting a new issue verify and check:

 - [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description

PBR-example doesnt look like this https://raw.githubusercontent.com/raysan5/raylib/master/examples/models/models_material_pbr.png

### Environment

[2021-02-07 18:10] raysan5 commented on #1421
I'm closing this issue. At this point, it's up to the user that owns the mesh to smooth it or use an external software for it.

[2021-02-07 18:10] #1421 closed

[2021-02-07 18:22] raysan5 commented on #1548
@ChrisDill Just pushed a quick solution, it should work now but it requires a better design...

[2021-02-07 18:23] raysan5 commented on #1571
PBR system requires a complete review. That requires some work, not a priority at this moment.

[2021-02-07 19:22] raysan5 commented on #1568
@JeffM2501 I'm trying to update to latest `tinyobjloader-c` but now `tinyobj_parse_obj()` requires a `file_reader_callback` and, sincerely, it's a real pain. Here my quick test with no success:
[code]

Does a simple task as loading some text file data need to be so cumbersome? That's the kind of approaches that I try to avoid with raylib... still trying to guess who takes care of the `*data` buffe

[2021-02-07 19:57] ChrisDill commented on #1548
Tested the latest version and audio_multichannel_sound now works in C and C#!

[2021-02-07 20:01] raysan5 commented on #1294
@object71 Tested after latest PR and it still fails, GLFW picks a valid resolution for the monitor and scales to it ignoring requested width/height... :(

[2021-02-07 20:04] raysan5 commented on #1548
It still requires a better approach to the problem... but closing this issue for now...

[2021-02-07 20:04] #1548 closed

[2021-02-07 20:25] object71 commented on #1294
@raysan5 Sorry, it was working when I submitted it but I haven't tested it in some time, I will take another look.

[2021-02-08 13:58] Crydsch opened #1575 "[rlgl] Geometry Shader support"
Hey all,
i've been experimenting with geometry shaders and adding support for them to raylib.

## How
To do this i changed the following functions in rlgl.h and ralib.h
[code]

and added `unsigned int defaultGShaderId;` to `RLGL.State`
Since a pass-through geometry shader still imposes a considerable overhead i opted to not implement one in the default shader.
Instead `defaultGShaderId ` is never

[2021-02-08 20:51] piderking commented on #1565
Thank you! That helped a lot.

[2021-02-09 08:49] kororro commented on #1571
Yes, checked closely, seems environment map is missing (there are some warnings in the log).
Tested couple of examples and these works fine when exiting, but that pbr example throws exception when pressing ESC (or clicking X) on models.c UnloadModel(Model model)  function at line 802 (  RL_FREE(model.materials[i].params);  ).

[2021-02-09 12:03] raysan5 commented on #1575
@Crydsch I'm afraid I'm not adding this feature to raylib, it seems to have very specific use cases...

In any case, thank you very much for the detailed documentation, I can be useful for other users looking to implement it.

[2021-02-09 12:03] #1575 closed

[2021-02-09 14:24] npisanti opened #1580 "[templates] template makefiles not building on RPI 3"
Hi, i was trying to compile one of my projects on a Raspberry Pi 3 starting from the included makefiles, but there is a bug in them:

if i do `make PLATFORM=PLATFORM_RPI` it complains about `mingw32-make: Command not found`, aborting the compilation.

Probably the error is in this line:
https://github.com/raysan5/raylib/blob/master/templates/simple_game/Makefile#L192
which sets `MAKE` to `make` fo

[2021-02-09 14:42] raysan5 commented on #1580
@npisanti fixed.

[2021-02-09 14:42] #1580 closed

[2021-02-11 22:40] geofl opened #1583 "[core] Mac display rectangle size. bug"
I have been playing around the examples, I tried to apply the post-processing sample code on another example I have been working on and realized that the texture that the post-processing effects are rendered on is 1/4th of the actual screen size.

After @JeffM2501 instructions I tried using DrawTexturePro, which gave the exact results, after hacking it a bit and doubling the sizes it produced the

[2021-02-12 12:27] raysan5 commented on #1583
Please, could you confirm this issue is not a duplicate of #1510 and #1086?

[2021-02-12 12:31] #1583 closed

[2021-02-13 18:17] royalstream opened #1584 "Building with CLion/CMake/Emscripten for Web - [Success Story]"
To get it to work, I had to deviate slightly from whats recommended [in the wiki](https://github.com/raysan5/raylib/wiki/Working-for-Web-(HTML5)), so this could help some other newcomer (like me!) with a similar setup.

I used the following **CMake options** (find them under **CLion > Preferences > Build,Execution,Deployment > CMake**)

[code]

I did not use the **-S, -H, -B** options mentioned in

[2021-02-14 07:24] Jpe230 opened #1585 "[core] Left Click not registering using a touchscreen on a Raspberry Pi"
- [ ✅ ] I tested it on latest raylib version from master branch
 - [ ✅] I checked there is no similar issue already reported
 - [ ✅] My code has no errors or misuse of raylib

### Issue description

I'm using a cheap TFT display on a Raspberry Pi Zero, the cursor works great when using in tandem with tslib, the problem arrises that there's no implementation of a left click, so clickable elements a

[2021-02-14 12:38] nonunknown opened #1587 "[models] IQM bone transform not following parent"
### Issue description

Followed the animation at model module example, but the animation is messed!

### Environment
Windows 10 x64
* OpenGL 3.3
* AMD R7 200 series

### Issue Screenshot

https://user-images.githubusercontent.com/58845030/107877003-51bf8880-6ea8-11eb-96bb-b0335632476a.mp4

### Project Files

[ray.zip](https://github.com/raysan5/raylib/files/5977692/ray.zip)

[2021-02-14 16:36] #1585 closed

[2021-02-14 16:41] raysan5 commented on #1584
@royalstream Thanks! Added this piece of information [to the Wiki!](https://github.com/raysan5/raylib/wiki/Working-for-Web-(HTML5)#building-with-clioncmakeemscripten-for-web)

[2021-02-14 16:41] #1584 closed

[2021-02-14 20:35] pauljurczak opened #1590 "[build] CMake configuration problem on Ubuntu"
I'm using Ubuntu 20.04 with gcc 9.3.0. I have built the shared library from newest source from github following instructions at https://github.com/raysan5/raylib/wiki/Working-on-GNU-Linux. The process went fine, examples built and work fine too. I used `cmake-gui` to set some parameters though, because the command line version produced this:
[code]
In order to produce shared library, I checked `BU

[2021-02-15 18:11] FaSasoftware opened #1592 "Please Create an Macosx Installer for RayLib3.5"
Hi, it's very difficult to install and make an example with Raylib3.5 for MacOS X Big Sur...I'm trying to develop games with Netbeans 12.1 , but without success...Can you make an installer to make our life easier??? Or better with Netbeans 12 and Raylib 3.0 it worked quite easy.... now you have added libraylib.a  ...but how I can set up Netbeans??? I'm very near to success but I don't have the rig

[2021-02-15 20:19] raysan5 commented on #1592
Sorry, no plans for that, I never had a mac.

[2021-02-15 20:19] #1592 closed

[2021-02-16 01:31] homeless-schizo-retard opened #1593 "[models] GLTF loading issues"
Didn't see any duplicate issues.

### Environment
I'm using the latest Raylib version from master branch on ubuntu 20.10, gcc with very modern hardware. Models exported with blender 2.91.2

### First issue
Loading any GLTF file I've tried using the LoadModel() function causes a segmentation fault roughly half of the time, the problem gets much worse when loading multiple files. Sometimes it works

[2021-02-18 07:42] pauljurczak opened #1596 "[shapes] DrawLineEx() position off by one"
Fresh pull of raylib from github, built from source on Ubuntu 18.04 with gcc-10.1.0. This code snippet:
[code]
produces this image:

![raylib-1](https://user-images.githubusercontent.com/4933032/108321686-c123c980-7181-11eb-91e5-8977615cd721.png)

with the line produced by `DrawLineEx` being too high by 0.75.

[2021-02-19 22:12] pauljurczak commented on #1596
I created a pull request https://github.com/raysan5/raylib/pull/1598 with corrected version of `DrawLineEx`. Here is a test code (in C this time):
[code]
which produces:

![raylib-2](https://user-images.githubusercontent.com/4933032/108567069-bd4c9000-72c4-11eb-9b53-599979c9ed5e.png)

[2021-02-20 10:25] raysan5 commented on #1590
Hi @pauljurczak, thanks for reporting. I don't maintain the CMake build system, let's see if some other user can send a PR with a fix...

[2021-02-20 23:30] Crydsch opened #1603 "[rlgl] Memory leak regarding meshes"
In `models.h` all `GenMesh*` methods allocate memory for `mesh.vboId`. But in `rlgl.h` in the method `rlUnloadMesh()` there is no `RL_FREE(mesh.vboId)`.

[2021-02-20 23:58] Crydsch commented on #1603
I just found this function in `model.h`, so there its taken care of, but i guess it should be in `rlgl.h`.
[code]

[2021-02-21 10:40] raysan5 commented on #1596
Merged PR solves this issue. Closing the issue.

[2021-02-21 10:40] #1596 closed

[2021-02-21 11:11] raysan5 commented on #1603
Reviewed on latest commit, now every module (`rlgl`, `models`) takes care of the corresponding loaded data. `models` takes care of loading/unloading vertex data and `rlgl` takes cares of OpenGL related data.

[2021-02-21 11:11] #1603 closed

[2021-02-21 11:32] Crydsch commented on #1556
I'd like to add that keeping the flags and checks would allow one to create a mesh consisting only of an IndexBuffer.
Then with a corresponding custom VertexShader one can generate the vertices.
Of course we then need checks for the VertexBuffer and TexcoordBuffer in rlLoadMesh as well.
This would make this custom function far more versatile.

[2021-02-21 11:34] raysan5 commented on #1571
After a quick check, it seems the texture `irradiance cubemap` is not properly generated, also not sure about the `prefilter map`.

Probably related to some big changes introduced while working on #721. It requires some more investigation.

[2021-02-22 21:40] jjacenty opened #1607 "TUI"
Hello,

How to adapt raylib to a text environment, I mean [TUI](https://en.wikipedia.org/wiki/Text-based_user_interface)
Is there a plan to make a TUI module? Or simulating in this graphical environment, a text-based environment.

[2021-02-22 21:54] raysan5 commented on #1607
raylib is a primary a games programming library and it's expected to work with a graphic canvas but you can create text-style tools like [Midday Commander](https://github.com/Guevara-chan/Midday-Commander).

[2021-02-22 21:54] #1607 closed

[2021-02-25 08:01] nezvers commented on #1593
I haven't done any 3D importing with Raylib, but have some experience working with Godot. Have you tried Gltf Embedded?

[2021-02-26 02:42] coochewgames opened #1615 "[models] Loading a mesh after an unload fails, giving a warning on re-loading a mesh"
Entering the following steps:

[code]
or
[code]

gives the following output:

[code]
and the second load mesh fails.

[2021-02-26 08:10] object71 commented on #1590
@raysan5 We just need to update the documentation after the refactorings.
@pauljurczak This was refactored recently and the documentation is just not updated - there no logner is SHARED and STATIC (as you cannot use both at the same time) and there is only one BUILD_SHARED_LIBS

[2021-02-26 08:14] object71 commented on #1590
@raysan5 I updated the documentation - you could close this issue.

[2021-02-26 08:19] object71 commented on #1593
@homeless-schizo-retard Do you have a problem sharing your glb model? I can see that there is some warning there "glTF bones in unexpected format" and we can further investigate that.

[2021-02-26 14:53] raysan5 commented on #1590
@object71 thank you very much!

[2021-02-26 14:53] #1590 closed

[2021-02-27 10:31] paveb85394 opened #1617 "glfwPostEmptyEvent"
Is there anyway to call glfwPostEmptyEvent from a thread to force my render loop to render after waiting for events.

[2021-02-27 16:50] raysan5 commented on #1617
raylib provides the compilation flag `SUPPORT_EVENTS_WAITING` to allow stopping the main loop until an event is received, it uses internally `glfwWaitEvents()` but raylib does not expose `glfwPostEmptyEvent()`.

In any case, GLFW is linked with raylib by default, so, you can just declare `glfwPostEmptyEvent()` function or include `glfw.h` to use it in your code.

[2021-02-27 16:50] #1617 closed

[2021-02-27 20:08] thedaemon opened #1618 "[core] Everything runs too fast on FreeBSD, SetTargetFPS(60) not working"
FreeBSD 13. This was also an issue on FreeBSD 12.2 for me. Anything that I have compiled from the examples (lots of them) run too fast. I'm talking like 3000+ FPS even though

   SetTargetFPS(60);

It does nothing. changing this to anything, doesn't do anything on FreeBSD. Suggestions?

[2021-02-28 02:24] JeffM2501 opened #1619 "[Textures] PBR GenTexture functions leave OpenGL state with backface culling off"
The functions GenTextureCubemap, GenTextureIrradiance, and GenTexturePrefilter all disable backface culling, but never restore it. The code is there but it is commented out. This does not seem like a desired side effect of a function named "GenTexture...". My guess is this was an oversight during development and was not the intended behavior.

This is actually the only reason the skybox example wo

[2021-02-28 04:45] AngelJumbo opened #1620 "[shapes] A little error in the function of the collision between lines"
In the function CheckCollisionLines(....) I found this bit of code:
`const float xi = ((startPos2.x - startPos2.x)*(startPos1.x*endPos1.y - startPos1.y*endPos1.x) - (startPos1.x - endPos1.x)*(startPos2.x*endPos2.y - startPos2.y*endPos2.x))/div;`

"startPos2.x - startPos2.x" is always 0.

[2021-02-28 23:41] #1619 closed

[2021-03-01 00:48] rjopek opened #1622 "This declaration is not required."
Hi,

This declaration is not required:
https://github.com/raysan5/raylib/blob/0f10c44578c4500b770589e34cd8404bee4e8cba/examples/shapes/shapes_collision_area.c#L36

because it is only required:
https://github.com/raysan5/raylib/blob/0f10c44578c4500b770589e34cd8404bee4e8cba/examples/shapes/shapes_collision_area.c#L64

[2021-03-01 03:20] JeffM2501 opened #1623 "[Models] GLTF import issues"
I have identified a few problems with the GLTF file reader that cause problems when loading animations.

It appears that bone IDs are only assigned when a mesh primitive has the cgltf_attribute_type_joints attribute.
In this file, the primitives do not have this attribute, but instead each node in the bone tree directly references a specific mesh ID.
[PrototypePete.zip](https://github.com/raysan5/

[2021-03-01 09:57] #1622 closed

[2021-03-01 23:29] raysan5 commented on #1615
I'm afraid solving this issue would require a big redesign of the API. raylib current Model/Mesh API is designed to be simple, dealing with structs directly like all the other raylib functions but in this situation, it would require to a complete redesign of Model/Mesh API to use pointers instead, so, it could be properly checked if a Model/Mesh has been loaded/unloaded.

[2021-03-01 23:39] raysan5 commented on #1618
@thedaemon Are you running it on Desktop? raylib uses internally GLFW library and `glfwGetTime()` for time measurement and framerate limitations. It seems function may not be working properly...

[2021-03-01 23:40] raysan5 commented on #1620
Reviewed in commit https://github.com/raysan5/raylib/commit/3f6a08535fab019512f7c4560878d76fee77f83a.

[2021-03-01 23:40] #1620 closed

[2021-03-01 23:45] raysan5 commented on #1623
@JeffM2501 Wow! Very nice! Please, feel free to send a PR with the review.

[2021-03-01 23:49] JeffM2501 commented on #1623
Well that's part of the problem and the reason I wanted to open this issue for discussion. I don't know the correct fix.
I do not know enough about the format to know if there will be cases where mesh primitives will have cgltf_attribute_type_joints  and bone nodes that directly reference meshes. In this case should the primitives' geometry still be transformed? Should they get a bone entry?

[2021-03-01 23:54] raysan5 commented on #1623
Mmmh... yeah, I see... I'm afraid I neither know enough about the format to answer those questions... maybe @object71 can help with it?

[2021-03-02 00:18] raysan5 commented on #1523
-  `rlgl`: Consider removing `Texture2D` struct requirement for the low-level API, probably texture id is enough.

`rlgl` uses `Texture2D` in the following functions:

[code]

Most of them could be changed to just deal with the `id` and `width`/`height` **but** `Texture2D` is used by `Material` struct in `Model`, so, the struct definition can not be removed from `rlgl`, at least for now... It woul

[2021-03-02 00:48] coochewgames commented on #1615
Thanks for such a detailed explanation; does this entail that a mesh cannot ever be unloaded from the GPU?

[2021-03-02 03:36] thedaemon commented on #1618
I am running it on a Desktop. Ryzen 2700X, 16GB, Nvidia 960GTX with Nvidia binary drivers. Tested with FreeBSD 12.2 and 13. I can see if I can figure out how to test the glfwGetTime() code on my system if you need me to?

[2021-03-02 05:26] homeless-schizo-retard commented on #1593
Well the problem also persists with any gltf file I've tried downloading from the net or exporting with blender. I've treid glb, gltf + bin and gltf as well as different export settings.

[2021-03-02 06:59] object71 commented on #1623
I am not proficient enough either, last time I just researched (I own a book). I will check it out at some point

[2021-03-02 07:10] repane4229 opened #1625 "compile error when using it with boost"
I am trying one of the examples and when i try and include #include <boost/beast/ssl.hpp>
i a am usinf visual studio 2019 and using the vcpkg verson on ray lib

i get compile errors
error C2733: 'CloseWindow': you cannot overload a function with 'extern "C"' linkage
message : see declaration of 'CloseWindow'
error C2733: 'ShowCursor': you cannot overload a function with 'extern "C"' linkage
messag

[2021-03-02 10:01] raysan5 commented on #1615
@coochewgames nope, it is perfectly unloaded but it's not possible to reset the mesh id to know it was unloaded for future checks because raylib deals with a copy of the object instead of a reference. So, mesh is unloaded from gpu using its internal id but the id can not be reseted to 0 or -1.

[2021-03-02 10:09] raysan5 commented on #1618
@thedaemon I took a closer look and it seems issue can be in `Wait()` function [used here](https://github.com/raysan5/raylib/blob/master/src/core.c#L1861).

Just noticed this piece of code on `Wait()`:
[code]

Probably `__FreeBSD__` should also be checked, could you try it?

[2021-03-02 10:10] raysan5 commented on #1593
@homeless-schizo-retard Please, could you provide some sample file you verified that does not work properly?

[2021-03-02 10:12] raysan5 commented on #1625
@repane4229 This issue is related to `windows.h` duplicate symbols, here it is a proposed solution https://github.com/raysan5/raylib/issues/1217.

[2021-03-02 10:12] #1625 closed

[2021-03-02 10:35] homeless-schizo-retard commented on #1593
@raysan5 Here is an archive of a couple that I've tried working with [character 7z files](https://files.catbox.moe/4iaip7.7z)

[2021-03-02 10:54] coochewgames commented on #1615
Thanks again for the explanation; will just keep track of the mesh ids to make sure they are not re-used :-)

Is a big relief as I will be creating and removing a lot of meshes for the landscape.

[2021-03-02 10:54] #1615 closed

[2021-03-02 11:46] raysan5 commented on #1618
@thedaemon I pushed a possible fix, please let me know if it works.

[2021-03-02 13:45] rennurb3000 commented on #1593
Hi i also wanted to confirm, that i also cannot load gltf (and even obj files) on ubuntu 20.04 (master branch).
Even the examples wont work and default to the cube

[2021-03-02 14:02] rennurb3000 commented on #1593
3.0.0 was ok

[2021-03-02 17:43] execdotsh opened #1626 "[text] FormatText() buffer overflow"
https://github.com/raysan5/raylib/blob/ab36fbf24aa7fd89bfe0414276b0a962812ff62c/src/text.c#L1178
vsprintf() can easily overflow a buffer
example:
[code]
possible solution: use vsnprintf() instead of vsprintf()
[code]

[2021-03-03 09:25] chriscamacho opened #1628 "[camera] Camera look initial mouse position"
- [ X ] I tested it on latest raylib version from master branch
 - [ X ] I checked there is no similar issue already reported
 - [ ? ] My code has no errors or misuse of raylib

### Issue description

If the mouse position is set to the centre of the screen before the main loop starts, I would expect that
the 3d camera view would be looking down the Z axis

I believe this to be caused by the fact

[2021-03-03 16:04] masterex1000 opened #1630 "[rlgl] `rlMultMatrixf()` may be multiplying in the wrong order"
### Issue description

I've been having some issues with weird translations when using `rlMultMatrixf()`, after looking at its code I thought that I was just misusing it, But it seems to be used in the exact same way in other place in raylib.

The line that does the actual multiplication is this

[code]

[2021-03-03 16:36] JeffM2501 commented on #1623
I've done a little more research and tried a different gltf library.
https://github.com/syoyo/tinygltf

It includes a gltf viewer, and it does display my files correctly
![image](https://user-images.githubusercontent.com/322174/109838897-6e272900-7bfb-11eb-99b5-c7bf5bb6b8b4.png)

So hopefully when I have time I can go through what this library does for these elements and see what the right way to

[2021-03-03 18:55] raysan5 commented on #1626
@execdotsh thanks for the improvement!

[2021-03-03 18:55] #1626 closed

[2021-03-03 19:18] raysan5 commented on #1630
@masterex1000 Actually, **I think** `rlMultMatrixf()` multiplies the matrix in inverted order because it expects to receive the matrix float values aligned as row-major but internally they are converted into a columns-major Matrix. Other functions like `rlTranslatef()` generate the matrix properly.

Actually, `rlMultMatrixf()` can be changed to:
[code]

I'm not an expert on math so I could be miss

[2021-03-03 19:28] masterex1000 commented on #1630
`glMultMatrixf()` takes a column-major matrix, at least according to this page from khronos.org.

https://www.khronos.org/registry/OpenGL-Refpages/gl2.1/xhtml/glMultMatrix.xml

Along with that, on the same page it says that "replaces the current transformation with C × M × v", with C being the current matrix, M being the new matrix, and V being whatever vertex your using. So I'm guessing it just d

[2021-03-03 19:40] raysan5 commented on #1630
Actually, current `rlMultMatrix()` implementation is following the `glMultMatrix()` specs:
[code]
When compiling raylib for OpenGL 1.1 `rlMultMatrix()` just calls `glMultMatrix()`.

[2021-03-03 19:50] masterex1000 commented on #1630
Hmmm, Then am I confused how `glMultMatrix()` works and is used? This page says...

https://www.khronos.org/registry/OpenGL-Refpages/gl2.1/xhtml/glTranslate.xml

But it seems like the matrices would have to be in the opposite order for that to work....

Does that then mean that all the other rlgl transformation calls are wrong in opengl >1.1 since they are multiplying the new matrix * the current

[2021-03-03 20:03] raysan5 commented on #1630
Actually, raylib is also following those `glTranslate()` specs:
[code]
Here you have an **array of values** but the `Matrix` equivalent is actually a transposed version  to be multiplied with `glMultMatrix()`. `rlTranslatef()` calls `MatrixTranslate()` that returns a non-transposed version, so, when multiplying with `MatrixMultiply()` the order is inverted.

OpenGL 1.1 and raylib rlgl equivalent c

[2021-03-03 20:49] masterex1000 commented on #1630
Oh, Alright. Does that mean the matrices that opengl takes are transposed? And what order are you supposed to access elements in a raylib matrix?

Raymath says the matrix is opengl style, right handed, column major. Would row 0, column 1 (i guess matrix coords are normally given in row,column order, or at least it is for opencv) be `mat.m4` or `mat.m1`?

(Here is the matrix declaration if you don'

[2021-03-03 21:19] object71 commented on #1593
@rennurb3000 I fixed the last issue with the cube

[2021-03-03 22:56] object71 commented on #1593
I didn't have a problem loading the models you provided. One of the models doesn't have an embedded texture but otherwise all worked as expected on my side. I compile on windows using cmake and visual studio though so I guess someone with a linux environment could be more helpful.

[2021-03-03 22:58] object71 commented on #1623
@JeffM2501 Your solution looks good enough to me I will implement it (though in the for loop that assigns the bones I am also putting default values for the other 3 bones and their weights to 0. I am still considering what would be a good place to bind to the initial pose provided in gtlf.

[2021-03-04 00:11] raysan5 commented on #1630
Actually, it doesn't matter. raylib Matrix is aligned in memory as row-major:

`m0, m4, m8, m12, m1, m5, m9, m13, m2, m6, m10, m14, m3, m7, m11, m15`

but in operation terms raylib Matrix behave as column-major (and so raymath):

`m0, m1, m2, m3, m4, m5, m6, m7, m8, m9, m10, m11, m12, m13, m14, m15`

So, what is `row 0, column 1`? In memory alignment terms would be `m4` but for raymath in operatin

[2021-03-04 07:58] object71 commented on #1623
https://github.com/object71/raylib/tree/gltf-model-and-animations-exploring-problems I have this branch for the solution you initially proposed for loading the bones into the mesh. If you ifnd a better solution in tinygltf please post it here

[2021-03-04 13:25] homeless-schizo-retard commented on #1593
For me sometimes it works and sometimes it segfaults. If you try and load multiple it's way more likely to segfault

[2021-03-04 15:56] JeffM2501 commented on #1623
This does solve the issue of the model not crashing when drawing because it does have bone IDs, I think it is the correct fix for this part of the problem given how raylib stores animation.

The larger part of the issue is still the transform part, as your branch doesn't crash, but also does not draw the models correctly. I'm moving this weekend so I won't have time to look into the other lib for

[2021-03-04 15:58] object71 commented on #1623
Okay I will then look into loading the models into the initial bound pose.

[2021-03-04 16:44] chriscamacho opened #1634 "[core] potential fix for stuttering on Linux"
I know this is a bug bear of an issue...

I was experiencing really bad stuttering when experimenting with my TMX loader and parallax scrolling layers.  (oddly never noticed this with 3D ???)

in the end in config.h I commented out the BUSY WAIT and HALF BUSY WAIT defines

and in my application
    SetWindowState(FLAG_VSYNC_HINT + FLAG_MSAA_4X_HINT);
    SetTargetFPS(100000);

obviously as you are

[2021-03-04 18:34] chriscamacho commented on #1634
nah, while it is better its still stuttering, it NOT under high load according to GetTime() the entire update / render loop is taking at worst less than 0.5 millisecond (and often much less .02 milliseconds at best! no busy loop, busy loop 1/2 busy loop look very similar in timings, when looking from outside the Begin/EndDrawing section)

so the main render loop isn't the cause here, I've tried wi

[2021-03-04 18:41] raysan5 commented on #1634
@chriscamacho Actually, this issue was also noted in the past and it seems highly platform dependent.

[2021-03-04 19:01] chriscamacho commented on #1634
ok I think I have it!

    //with SUPPORT_HALFBUSY_WAIT_LOOP in config.h
    SetWindowState(FLAG_VSYNC_HINT + FLAG_MSAA_4X_HINT);
    SetTargetFPS(100000);

seems to work really well, it obviously noticable

with
    SetTargetFPS(60)

it sometimes looks okish and then will have bouts of looking really very horrible, tearing partway down the screen and bad stuttering.

I did try with clock_nanotime

[2021-03-04 19:22] raysan5 commented on #1634
@chriscamacho Actually, just enabling `SetWindowState(FLAG_VSYNC_HINT)` and omitting `SetTargetFPS()` should have the same result.

[2021-03-04 20:21] chriscamacho commented on #1634
using my test code using just glfw and GL 3v3 (under more load) which doesn't use any kind of wait timer just relying on glfwSwapInterval, it runs butter smooth in comparison, this is definitely and issue with Raylib

It would be nice to see a flag that removes all waits completely, just relying swap interval, however there must be some other issue here, as when I commented out all the wait code,

[2021-03-04 20:52] chriscamacho commented on #1634
commenting out the joystick section of poll inputs and commenting out SUPPORT_BUSY_WAIT_LOOP and SUPPORT_HALFBUSY_WAIT_LOOP makes a significant difference

after triple! checking, the game pad section of poll inputs seems to be causing an issue - could glfw events be handled in a separate thread ?

btw I don't have any joystick plugged into my system, so this could be part of the problem?

the sle

[2021-03-05 15:17] thedaemon commented on #1618
I am having issues compiling.
make              ✔  08:16:24 AM
-- Testing if -Werror=pointer-arith can be used -- compiles
-- Testing if -Werror=implicit-function-declaration can be used -- compiles
-- Testing if -fno-strict-aliasing can be used -- compiles
-- Using raylib's GLFW
-- Using X11 for window creation
-- Audio Backend: miniaudio
CMake Warning (dev) at /usr/local/share/cmake/Modules/Fi

[2021-03-06 18:32] JeffM2501 commented on #1623
I've done some digging into how tinyGLTF works. It renders and stores animations in a completely different way from raylib. It starts drawing from the bone tree first, always pushing the current bone transformation before drawing the mesh.  This is actually much more efficient since you don't have to re-upload vertices that are only attached to one bone since the bone transform will take care of i

[2021-03-06 23:22] object71 commented on #1593
@homeless-schizo-retard I'm sorry I just cannot reproduce. I can spin up a virtual machine at some point to test it under linux but I couldn't reproduce the segfault even 1 out of 20 times. I also tried both Visual C++ and MinGW on windows. This crash is most probably some linux or build setup issue.

[2021-03-06 23:27] object71 commented on #1523
@raysan5
This point - models: Review: LoadModelAnimations() requires UnloadModelAnimations()
There is an existing funciton named **UnloadModelAnimation** (without an 's' in the end)

[2021-03-07 10:36] raysan5 commented on #1523
@object71 yes, I know. The problem here is that `LoadModelAnimations()` allocates de array and also the individual animations but `UnloadModelAnimation()` only frees the individual model animation but not the internally allocated array. There could be situations where raylib default mem allocators are not the same as user code mem allocators, so, it's recommended to use same allocators to alloc/fr

[2021-03-07 18:00] object71 commented on #1294
@raysan5 I've explored the problem some more. What you probably want to achieve is already done in an example "**core_window_letterbox.c**" .

The main points are that:

- When in fullscreen mode you can only use resolution formats that the monitor supports.
- When toggling to fullscreen mode you would get the resolution closest to the window resolution you specified.
- You can't control that beha

[2021-03-08 17:51] raysan5 commented on #1329
After analyzing the addition of custom callbacks for memory allocators, they won't be added (https://github.com/raysan5/raylib/discussions/1631).

Advance users can just hook the custom allocators redefining raylib macros `RL_MALLOC`, `RL_FREE`... and re-compiling sources.

[2021-03-08 17:51] #1329 closed

[2021-03-08 18:40] raysan5 commented on #1523
- `text`: Redesign `DrawFPS()` to support `Color` parameter like other draw functions. **_BREAKING CHANGE_**

I decided to just skip this change to avoid lot of breaking... actually, one possible solution would be just add to `raylib.h`:
[code]

But I considered I doesn't worth it... at least for now... I can live with that function inconsistency...

[2021-03-08 21:23] raysan5 commented on #1294
@object71 Excuse for the late response! You are right with the main points but I don't think setting the higher possible resolution for fullscreen is the right approach, for example, a game that runs at HD (1280x720) will turn into 4K in a monitor supporting it with a consequent frame drop and possible issues with physics and logic (designed for 1280x720 resolution).

Fullscreen must use the close

[2021-03-08 21:51] #1294 closed

[2021-03-08 22:39] object71 commented on #1294
@raysan5 Well, okay, tomàto-tòmato. People could still set a higher resolution even for fullscreen using SetWindowSize. Maybe we need to also expose somehow the available monitor video modes

[2021-03-08 23:04] raysan5 commented on #1618
@thedaemon It seems this issue is related to GLFW of FreeBSD libraries... no idea... I've found [this bug](https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=210856), maybe related.

[2021-03-08 23:11] #1623 closed

[2021-03-09 05:34] object71 opened #1639 "[models][gltf] Not all example models are loaded correctly"
Please, before submitting a new issue verify and check:

 - [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description

When testing gltf model loading I submitted in the "./examples/models/resources/gltf" a few example models that are part of the public domain gltf

[2021-03-09 08:37] chriscamacho commented on #1634
something very odd happening, I'm not seeing this AT ALL with 3D !

Even running with 1000's 3D physics objects, spheres for example roll smoothly all the time...

[2021-03-09 23:45] ZaneL opened #1640 "[core] High CPU usage on Linux (Ubuntu)"
Hello,

I've packaged a raylib example (core_2d_camera) into a snap image and I noticed that it had a relatively high CPU usage on my linux laptop (~27%). I went ahead and built this same example normally to see if the snap image was the culprit, but it still maintained a CPU usage of ~27%.

When building and running this same example on my windows desktop PC (which is admittedly faster) it gets ~

[2021-03-10 17:27] chriscamacho opened #1641 "[core] glfwGetTime very expensive"
I've never really done much profiling before so I could be holding this wrong!

please see the analysis of two runs of an app one using GetTime each loop the other not

even the one not running GetTime show significant time spent with glfwGetTime

please see attached
[profile-with.txt](https://github.com/raysan5/raylib/files/6117750/profile-with.txt)
[profile-without.txt](https://github.com/raysan

[2021-03-10 17:39] chriscamacho commented on #1641
making with external version of glfw doesn't seem to have an impact

[2021-03-10 18:18] chriscamacho commented on #1641
running code that uses just GLFW and OpenGL does not show this issue, look like alas it is something in raylib, but no idea what!

could be what's causing this https://github.com/raysan5/raylib/issues/1634 ?

[2021-03-10 18:37] raysan5 commented on #1641
@chriscamacho sincerely, no idea.

[2021-03-10 18:46] raysan5 commented on #1640
Probably related issues: #415 #217

The CPU usage shown is probably related to the `SUPPORT_HALF_BUSY_WAIT_LOOP` option enabled by default to sync framerate, my recommendation is that you try enabling VSync.

[2021-03-10 18:51] raysan5 commented on #1634
Mmmh... joystick event just uses GLFW3 mechanism... maybe there is some issue there...

A part from that, no idea.

[2021-03-10 18:58] raysan5 commented on #1641
@chriscamacho If `SetTargetFPS(n)` is not set, then `Wait()` should never be called and sync could be just left to VSync with `SetConfigFlags(FLAG_VSYNC_HINT)`.

[2021-03-10 19:00] chriscamacho commented on #1641
still I would get rid of timeBeginPeriod(1);

[2021-03-10 19:03] ZaneL commented on #1641
How does timeBeginPeriod() get called on non-windows platforms? It looks like it has some if-defs that make it so that function is only used on win32

[2021-03-10 19:10] chriscamacho commented on #1641
@ZaneL crap! those #ifdefs keep catching me out! still on windows this will cause power management issues

I restored Wait() and removed SetTargetFPS(60), and that stops the issue, cpu usage at normal time

I'm gonna have to go through all my code and nuke SetTargetFPS !!!

I think this issue needs mentioning somewhere in the docs...

[2021-03-10 19:12] raysan5 commented on #1641
`timeBeginPeriod(1)` is only called on Windows at `InitTimer()` to set the timer resolution, actually due to this function, raylib requires linking with `winmm` library on Windows. It's weird it is causing trouble, I'd like to know what it does internally to the system... it also seems that behaviour depends on the version of Windows used, for Windows 10 it behaves in a differernt way than previou

[2021-03-10 19:16] chriscamacho commented on #1641
although 10 years old this is an interesting read download.microsoft.com/download/3/0/2/3027D574-C433-412A-A8B6-5E0A75D5B237/Timer-Resolution.docx

[2021-03-10 19:18] chriscamacho commented on #1634
it probably isn't the issue, doesn't happen at all with 3D

[2021-03-10 20:04] raysan5 commented on #1641
Ok, it seems this mechanism needs some review to improve CPU usage on Windows.

Just for reference, also adding link to [`Sleep()` docs](https://docs.microsoft.com/en-us/windows/win32/api/synchapi/nf-synchapi-sleep), actually, it's the reason to use `timeBeginPeriod()` and `timeEndPeriod()`.

[2021-03-10 20:14] chriscamacho commented on #1641
does it need to be set so low? it won't improve accuracy (according to the
docs) but it will increase power consumption which isn't ideal for laptop
users

On Wed, 10 Mar 2021 at 20:04, Ray ***@***.***> wrote:

--

blog bedroomcoders.co.uk <http://bedroomcoders.co.uk>

Disclaimer:
By sending an email to ANY of my addresses you are agreeing that:

   1. I am by definition, "the intended recipient"

[2021-03-10 23:37] ZaneL commented on #1640
I did a few experiments.

I left everything how it was, added SetConfigFlags(FLAG_VSYNC_HINT) and the CPU usage didn't change. I then removed that flag and defined `SUPPORT_BUSY_WAIT_LOOP` to core.c, recompiled everything and the CPU usage was 100%.

I then reverted everything to the default settings and even after running callgrind on the app to profile it, I can't see anything that sticks out. T

[2021-03-11 12:12] chriscamacho commented on #1640
@ZaneL  did you remember to remove SetTargetFPS, something I keep forgetting about!

[2021-03-12 03:14] ZaneL commented on #1640
I'm an idiot. The problem is that using the "top" command on linux to display the CPU usage displays the load based on one core. When you look at the windows resource monitor it calculates the CPU usage based on all cores. Long story short, when using the system monitor tool in ubuntu( which calculates the CPU usage the same way as windows), it actually performs better for me on Linux when compare

[2021-03-12 03:14] #1640 closed

[2021-03-12 08:39] chriscamacho opened #1642 "[Math] MatrixRotateZYX"
When I first contributed MatrixRotateZYX, (I think some time ago now) I struggled to get it right ! In the end using three calculated X,Y & Z matrices multiplied together which isn't ideal ! I did assume someone would look at this, shake their head, and do it right by now...

In the course of doing my matrix chain sandbox project, I ended up looking again at this, the project came in handy to test

[2021-03-12 09:20] chriscamacho commented on #1568
I too hit that brick wall !

a number of my projects rely on having sub meshes per material, so I have my own OBJ loader

I looked again at it and fixed a tiny memory leak, it seems fine on a what I've had to hand to test it with

Did I once contribute this, do you remember what the issue was ?

[2021-03-12 09:25] chriscamacho commented on #1295
It useful to get the monitor frame rate if possible...

[2021-03-12 10:51] chriscamacho opened #1643 "[models] DrawLine3D doesn't check buffer limit"
as per title. see models.c

[2021-03-12 11:41] chriscamacho commented on #1640
don't feel too bad unless you sync to frame and DON'T use SetTargetFPS there really is an issue (see this profile dump https://github.com/raysan5/raylib/files/6117750/profile-with.txt)

[2021-03-12 16:31] raysan5 commented on #1641
@chriscamacho I added `SUPPORT_WINMM_HIGHRES_TIMER` flag to allow disabling it if needed. When disabling it, the `Wait()` timer resolution moves to the order of +10ms, consequently frame sync does not work as expected, getting framerates of around 50 fps when 60 fps are requested.

In any case, disabling `WinMM` and letting VSync do the sync works like a charm.

[2021-03-12 17:34] JeffM2501 commented on #1639
Here is another model that does not import correctly.
[logo.zip](https://github.com/raysan5/raylib/files/6131855/logo.zip)
Obj works fine, but gltf does not.
It should look like this.
![logospin](https://user-images.githubusercontent.com/322174/110976749-23519380-8316-11eb-8626-dae25bf44e79.gif)

[2021-03-12 19:47] chriscamacho commented on #1641
👍

On Fri, 12 Mar 2021 at 16:32, Ray ***@***.***> wrote:

--

blog bedroomcoders.co.uk <http://bedroomcoders.co.uk>
Free source code and tutorials!

Disclaimer:
By sending an email to ANY of my addresses you are agreeing that:

   1. I am by definition, "the intended recipient"

   2. All information in the email is mine to do with as I see fit and make
such financial profit, political mileage, or

[2021-03-12 19:58] chriscamacho commented on #1639
@JeffM2501
out of interest I chucked the logo at my obj loader, it loaded fine but you
can see fine lines between the white "pixel" shapes
wanting to see if it was my loader I reverted to raylibs LoadModel and the
glb, but it was badly messed up the outer shape was okay bit the tris
looked if they were assigned to the wrong indexes or somthing, most odd!

On Fri, 12 Mar 2021 at 17:34, Jeffery Myer

[2021-03-12 20:44] object71 commented on #1639
Raylib logo cannot be loaded because the indicies are in a bigger format. Raylib saves its index values in a shorts array but for some reason this logo has an index array of unsigned int type and the values in this array are bigger than an unsigned short.

[2021-03-12 21:46] object71 commented on #1639
@raysan5 Can we make model index values to be unsigned int instead of unsigned short? Unsigned int should be the standard value for a model index (when drawing the vertices)

[2021-03-12 22:51] chriscamacho commented on #1568
@raysan5 did this https://github.com/raysan5/raylib/pull/1408 get lost somewhere along the way ?

[2021-03-12 22:55] JeffM2501 commented on #1639
I believe model uses unsigned short due to an OpenGL ES 2.0 limitation, it can't do full ints.

[2021-03-12 23:28] object71 commented on #1639
I debugged it - it the glb variant of the logo is saved with unsigned int size for the mesh indices

[2021-03-12 23:30] JeffM2501 commented on #1639
I would think the load function would have to deal with that conversion then, it is going to happen.

[2021-03-12 23:34] object71 commented on #1639
Yeah, okay managed to fix it witout changing to int

[2021-03-13 18:34] object71 commented on #1639
https://github.com/object71/raylib/tree/improve-gltf-support this is the branch I'm working on and I fixed the raylib logo and the crashing triangle but still need to improve it before submitting.

[2021-03-13 18:44] raysan5 commented on #1639
@object71 I took a quick look, very nice job! I usually prefer to keep all loading code contained in a single function but I understand GLFT is a complex format and having some separate functions benefits the design so it's ok.

Feel free to send a PR when ready.

[2021-03-13 18:47] object71 commented on #1639
I can return one function to load everything but it is getting too big in my opinion to easily wrap your mind of everything that is happening. @raysan5 I just need to simplify it for myself and can return it to previous version before the PR

[2021-03-13 18:53] raysan5 commented on #1639
@object71 No worries, we can keep the separate functions (maybe I'll rename some of them), glTF is a very important models format (actually, I think it's the new standard in the industry) and it's a good idea to keep the code as much organized as possible for future contributions and improvements.

[2021-03-14 10:11] raysan5 commented on #1523
Multiple enum values have been renamed for consistency and to be more descriptive in commit https://github.com/raysan5/raylib/commit/01e28263be9869b28acae5cf1128472269626edb.

[2021-03-14 17:42] object71 commented on #1639
I fixed most of them but still I have no idea on how to fix GeraboxAssy if anyone wants to have a fresh go with it I would be happy. All gear meshes appear in 0,0 coordinate though they should be translated.

[2021-03-14 17:52] raysan5 commented on #1639
@object71 I don't know how it works internally but... could there be some transform associated to every mesh or a transforms list?

[2021-03-14 18:49] chriscamacho opened #1649 "[models] free on params causes double free"
I was looking specifically at the PBR example in examples/models

I notice that GL (at least Nvidia's implementation) both allocates and free's material params.  So I uncommented the the freeing of it in UnloadModel to further investigate.  I loaded and unloaded an additional model (happened to be a multi mesh normally textured GLTF) and it didn't cause issues I also loaded a OBJ file with a MTL c

[2021-03-14 21:42] chriscamacho commented on #1649
I did some light hacking on rlights.h to reset the counter, so it could add 4 lights (set up exactly the same) to the simpleLighting shader

I'm using the pbr shader example just with a new instance of the model using a different shader

![pbr](https://user-images.githubusercontent.com/716361/111084857-69704800-850c-11eb-9b35-ecfd40616e0c.png)

other than making the model a little dimmer, the pbr

[2021-03-14 22:24] raysan5 commented on #1649
@chriscamacho actually, the PBR shader is not working properly... it was reported a while ago...

[2021-03-14 22:30] chriscamacho commented on #1649
I've got ComputeMaterialProperty working what its worth...

the light dot product seems wrong (ie zero or very close to it!)

[2021-03-14 23:46] chriscamacho commented on #1649
I'm getting somewhere but I do need a working MeshTangents, can anyone help?

[2021-03-14 23:47] chriscamacho commented on #1649
at the least can you initialise all params pointers to -1 and not free them it they are -1 !

[2021-03-15 06:11] chriscamacho commented on #1649
I've though about this, and as no where in RL does params get allocated, so no where in RL should it be free'd !  Its a basic principle, that I follow even structurally within my own apps... whatever "layer" of the infrastructure allocates, its that layer that deallocates

[2021-03-15 06:46] chriscamacho commented on #1649
I dumped the generated textures to png's - the brdf looks good
cube map and irradiance are all pure black
prelit is half alpha and bottom half pure black

could be why the skybox example isn't working too....

[2021-03-15 07:11] raysan5 commented on #1649
@chriscamacho yeah, the issue is probably there. You can use [RenderDoc](https://renderdoc.org/) tool to capture one frame and analyze the generated textures/cubemaps and all the OpenGL state, it's the tool I usually use to debug those graphics issues.

[2021-03-15 08:23] chriscamacho commented on #1649
I'm gonna call it - there's just too much broken on the pbr example, would be simpler to start from scratch...

Can I suggest removing it, so no one else wastes their time on it

I'd also convert dresden to a png and remove the hdr version

any thoughts on the params pointer?

[2021-03-15 21:05] chriscamacho opened #1651 "[raymath] QuaternionFromEuler params mis labeled"
the parameters are named in order Roll Pitch Yaw, which struck me as odd (ZXY !)

if you put an X axis rotation value into roll, a Y in pitch and a Z axis into yaw:

it behaves exactly as MatrixRotateZYX  ! (params specified as xyz, it's the rotation order that's ZYX !)

in any case the roll parameter is definitely effecting the X axis (X axis is pitch)
the pitch (param) is effecting the Y axis (y

[2021-03-15 21:34] BigZaphod opened #1652 "[examples] All of the examples appear to capture the mouse cursor, and some examples seem not to work at all."
I'm not sure if these belong as an issue or not, so I apologize up front if this is actually the wrong place for this.

I just ran across this library today and its super cool! I was exploring the examples page in my browser (Safari 14.1 on macOS Big Sur 11.3 beta on a 13" M1 MacBook Pro) and just wanted to note a couple of bits of feedback about them:

* The main thing that prompted me to post an

[2021-03-15 22:43] raysan5 commented on #1651
@chriscamacho Feel free to send a PR with the relabelling.

[2021-03-15 22:44] xdrie commented on #1086
I am seeing something like this too, but on Linux on a hidpi screen

[2021-03-15 22:52] raysan5 commented on #1652
@BigZaphod Thanks for reporting, here me answers:

It has already been corrected for next release, mouse is not captured anymore.

Sorry, not supported for the moment. It would require not only right-to-left support but also specific characters ligatures. No plans for the moment.

Yes, that's a browser related permissions issue. In Chrome they work when clicked from the examples page and a new ifr

[2021-03-16 09:28] chriscamacho commented on #1651
I'd be much more inclined if the examples were in a different repo, I'm at the end of a slow unreliable connection currently, I'll post a new version of the function here.

[2021-03-16 14:27] lvt87kr opened #1653 "[build] In function `Vector2Length': /raylib/src/raymath.h:221: undefined reference to `sqrtf'"
### Issue description

[code]

[code]

[code]

### Environment

[code]

### Project Structure

[code]

1. `/CMakeLists.txt`

[code]

2. `/examples/CMakeLists.txt`

[code]

3. `/examples/v1/src/main.c` and `/examples/v2/src/main.c`

[code]

[2021-03-16 17:26] chriscamacho commented on #1653
grab the Makefile that cmake overwrote, its well written and WORKS....

cmake a script 1,000 lines long to make over inflated makefiles..... what could possibly go wrong....

[2021-03-17 08:32] chriscamacho commented on #1634
After extensive hacking! I discovered if I give the GPU enough to do the issue goes away, so I'm closing this

Theres more info on Raylibs sub reddit

[2021-03-17 08:32] #1634 closed

[2021-03-17 10:01] lvt87kr commented on #1653
i think this issue is similar to [this r/raylib thread](https://www.reddit.com/r/raylib/comments/ecz6ja/problem_getting_started_with_project_cmake_file/fbf7e3o/) but the solution in the comments was not really helpful for me because i am stuck with cmake 3.10.2 which does not support `FetchContent`

[2021-03-17 10:11] lvt87kr commented on #1653
problem solved

[code]

[2021-03-17 10:11] #1653 closed

[2021-03-18 05:38] copark86 opened #1655 "[models] DrawPoint3D() draws a point using line segment"
It is drawing a line segment instead of a point. Looking at the code, it looks like the intension was to draw a point as a very short line segment.

p.s I just saw the comment above the function and realized that the actual intension is to draw a line segment. But it still looks like a line. Need to shorten the line length?

https://github.com/raysan5/raylib/blob/bc9194690c43a6a72d0fc9d16e29bc9831

[2021-03-18 12:26] raysan5 commented on #1655
@copark86 Yes, it's designed this way because raylib does not expose `GL_POINTS`, internal buffers for the batching system are just for lines, triangles and quads.

Actually, that function was contributed by a raylib user and I accepted it for convenience for other users, I'm not specially happy with it.

[2021-03-18 12:28] raysan5 commented on #1652
Yesterday I just reviewed most of those issues.

[2021-03-18 12:28] #1652 closed

[2021-03-18 12:40] raysan5 commented on #1651
@chriscamacho Just reviewed the function with a more descriptive naming and comment, please could you verify it is correct now?

[2021-03-18 12:42] #1643 closed

[2021-03-18 12:42] raysan5 commented on #1618
Feel free to reopen if issue persist.

[2021-03-18 12:42] #1618 closed

[2021-03-18 12:43] #1593 closed

[2021-03-18 12:47] raysan5 commented on #1642
implemented!

[2021-03-18 12:47] #1642 closed

[2021-03-18 12:59] raysan5 commented on #1649
@chriscamacho I prefer to leave the example, I'll try to review it at some point.

About `material.params`, I reviewed it to avoid alloc/free requirement.

[2021-03-18 13:00] raysan5 commented on #1628
Current camera system implementation should be redone from scratch.

[2021-03-19 07:03] chriscamacho commented on #1651
roapy connection permitting I will do so later today

[2021-03-19 07:08] chriscamacho commented on #1628
from memory I think you've said this before, to be honest as it is such a fundemental I think it needs to be properly spec'd out before any work starts

exactly how should it behave ?, what should and should be parametrised etc

[2021-03-19 07:23] chriscamacho commented on #1651
QuaternionFromEuler(float yaw, float pitch, float roll)

is still confusing

if I use it like this
QuaternionFromEuler( angleY, angleX, angleZ)

like the parameters suggest it won't work as expected !

[2021-03-19 07:28] chriscamacho commented on #1651
you have changed the behaviour of this function and broken any existing code relying on it

the previous behavior was correct if you ignored the parameter names and used it like this

QuaternionFromEuler( angleX, angleY, angleZ)

It applied the rotations in ZYX order which is "normal" behaviour for euler to Quat (or Matrix)

[2021-03-19 07:29] raysan5 commented on #1651
@chriscamacho how should it be? could you provide the right implementation?

[2021-03-19 07:49] chriscamacho commented on #1651
[code]

This is previous and I believe correct behaviour, I note that without changing the internal names that they are consistent once the parameters are correctly labelled

the code posted here does not break existing code bases, and works the same a MatrixRotateZYX

[2021-03-19 07:54] chriscamacho commented on #1651
oh quick test my GUI template uses MRxyz MRzyx and QfE you can graphically see the rotated body stays the same with 2 of them but changes with MRxyz (as expected)

[2021-03-19 08:01] chriscamacho commented on #1649
is 4 enough?

I'm not clear in my mind why the graphics driver was freeing this ? (at least when I was looking at the PBR example)

[2021-03-19 08:39] chriscamacho commented on #1639
I don't know if this helps, but I noticed when creating something in blender that some objects were misplaced with regard to each other, I'm no expert with blender but managed to work around the issue and thought it might give a clue as to whats going on

I selected all objects, then used in the menu Object / Apply / All transforms

the model then looked as intended in Raylib

in case it matters I

[2021-03-19 17:22] raysan5 commented on #1649
Actually, I considered just removing `material.params`, I can't think of any use case at the moment. In any case, I'm just leaving it as 4 and users can change that value if really required.

[2021-03-19 17:22] #1649 closed

[2021-03-19 17:24] raysan5 commented on #1651
Reviewed.

[2021-03-19 17:24] #1651 closed

[2021-03-19 17:24] #1655 closed

[2021-03-19 17:26] raysan5 commented on #1639
This issue is a bit generic and it seems some of the non-working cases have already been reviewed. Just closing it. Feel free to open a new issue with the specific cases that require review.

[2021-03-19 17:26] #1639 closed

[2021-03-19 17:32] raysan5 commented on #1628
I'm linking this issue to #1143 and closing, they are related.

About the initial mouse position, yes, that's an issue with `UpdateCamera()`, it's not considering initial camera parameters properly.

[2021-03-19 17:32] #1628 closed

[2021-03-19 17:36] raysan5 commented on #1568
@chriscamacho mmmh... it could have been lost while updating the tinyobj library... :(

[2021-03-19 17:46] raysan5 commented on #1641
Adding link to [related raylib reddit conversation](https://www.reddit.com/r/raylib/comments/m6vp9h/seeing_stuttering_juddering_this_might_be_why/) for completion.

[2021-03-19 17:46] #1641 closed

[2021-03-19 21:36] raysan5 commented on #1230
Updated several assets that license was not clear.

[2021-03-19 21:36] #1230 closed

[2021-03-19 21:54] chriscamacho commented on #1649
I still don't understand what the GL driver was doing allocating and deallocating to it ??? only ever come across it when I was attempting to fix the PBR sample...

[2021-03-19 21:58] raysan5 commented on #1523
- `text`: Improve bitmap fonts loading options: `charOrder`, `margin`, `padding`, `backColor`, `keyColor`...

After analyzing current implementation:
[code]
I came to the conclusion that no more parameters are actually required. `margin`/`padding` is checked from pixel `key` color, characters background is expected to be `BLANK` that actually is a nice requirement and requiring a specific `charOrd

[2021-03-19 22:05] chriscamacho commented on #1568
I could have a look at hacking it back in, including the multi mesh support I PR'd, I still have my old OBJ loader code I can abstract it from, but its a lot of work if I have to do it each update.

I'd PR to the external project, but I have no idea how to get that awful loading API to work....!

[2021-03-19 22:07] raysan5 commented on #1568
@chriscamacho yeah, actually it should be better to PR to the original project, also to help other users that probably are facing same issues with this library...

[2021-03-19 23:00] chriscamacho commented on #1568
I don't suppose you can show me a minimal example of using that loader API
it had me foxed last time I looked !

On Fri, 19 Mar 2021 at 22:07, Ray ***@***.***> wrote:

--

blog bedroomcoders.co.uk <http://bedroomcoders.co.uk>
Free source code and tutorials!

Disclaimer:
By sending an email to ANY of my addresses you are agreeing that:

   1. I am by definition, "the intended recipient"

   2. All

[2021-03-20 10:59] dbechrd commented on #520
There doesn't seem to be a way to disable the exit key entirely. There should be a KEY_NONE enum to completely disable this feature.

I want to have Escape be a modal key. I.e. when in-game chat or inventory is open, Escape should close the chat/inventory. If in-game chat isn't open, Escape closes the window. There's no way to do this if Raylib internally does key processing before it gets to my a

[2021-03-20 11:20] raysan5 commented on #520
@dbechrd `SetExitKey(0)` should work.

[2021-03-20 11:29] dbechrd commented on #520
I assumed the enum started at 0 and that would be the same as `KEY_APOSTROPHE`, but I see now that’s not the case! Will try this tomorrow thanks. 🙏🏼

[2021-03-20 11:32] chriscamacho commented on #520
so did I I think at one point I've even used

    #define KEY_INVALID 163

which also works for camera keys...

[2021-03-20 11:33] chriscamacho commented on #520
@raysan5 might it be worth adding

    #define KEY_INVALID 0

to raylib ?

[2021-03-20 11:38] dbechrd commented on #520
IMO, `KEY_NONE` (or “empty” or “null”) is more semantically correct in this case since we’re intentionally saying “unbind this event” rather than “invalid key code”.

[2021-03-20 12:08] raysan5 commented on #520
@dbechrd @chriscamacho Actually, following standard ASCII code names / Unicode, it should be `KEY_NULL`. Just added it.

[2021-03-20 12:34] raysan5 commented on #1086
Finally I opt for the option of letting the user manage the `RenderTexture` scaling on HighDPI.

[2021-03-20 12:34] #1086 closed

[2021-03-20 16:19] chriscamacho opened #1658 "[jar_xm] rare xm seg fault"
I guess I just got "lucky" but I managed to find a difficult to reproduce seg fault while playing xm tracker modules while creating old school 2.

The segfault happened seemingly at random with exactly the same binary and sometimes only once is say 20 runs and sometimes 2-3 times on the trot, often at the same point in the mod but not always (don't you love bugs like that!)

To be quite honest I c

[2021-03-20 17:37] chriscamacho commented on #1568
@raysan5 I looked at the latest upstream version:

although the example doesn't use materials I verified at least the diffuse colour is working by adding to the example

[code]
instead of setting the colour depending on the normal...

it looks like the previous hashmap bug etc has been fixed it also loads non-triangulated obj just fine

so nothing to fix upstream, I'm just going to see if I can fi

[2021-03-20 18:11] chriscamacho commented on #1568
as I though most of my mods were in loadOBJ (models.c) and seem to have survived

the colours are getting all the way through to rlgl rlDrawMesh setting the diffuse shader location !

so it should all work !??!

[2021-03-20 18:49] chriscamacho commented on #1568
this needs another pair of eyes I'm just not seeing it

[code]
in rlDrawMesh I'm doing some printf debugging
[code]
I'm seeing these values, the shader ID and LOC look okay
[code]

I've tried with the default shader and rlights (simple lighting) shader

[2021-03-20 20:02] raysan5 commented on #1658
@chriscamacho Hi! Wow! Sounds like a funny bug... I think some user was working on some `jar_xm` improvements but in the meantime I'll merge your fix.

[2021-03-20 20:02] #1658 closed

[2021-03-20 20:03] raysan5 commented on #1510
This issue should be fixed by now... Please, feel free to reopen if it still fails.

[2021-03-20 20:03] #1510 closed

[2021-03-21 00:32] raysan5 commented on #1523
Latest commit https://github.com/raysan5/raylib/commit/ed4ca6a7f386ef6bb86a6016d9e15ecb12ed287f addresses multiple issues.

[2021-03-21 05:56] chriscamacho commented on #1568
last GOOD commit is 82d61a5875c4a7eaa4c8caf9ed3b19a8441eb258
but its not just the tiny obj loader (if at all - at HEAD it seems to be passing colours to rlgl that are consistent with the model....)
I think there is a issue with VAO's added into the mix recently which is also causing an issue...

[2021-03-21 08:29] chriscamacho commented on #1568
@raysan5 my sincere apologies there appears to be nothing wrong with rlgl, in my defence (and its not much of one) I did have (no longer!) a number of different versions (some hacked!) of Raylib floating around, I think that's how I managed to completely confuse myself. Still not sure what's going any anyhow.

Just to prove how wrong I was, I've attached an example hammering the point home

It man

[2021-03-21 08:30] ejamshidiasl opened #1661 "build simple_game for android failed"
- [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description

i followed [this](https://github.com/raysan5/raylib/wiki/Working-for-Android) tutorial for build android game with raylib. i made libraylib.a without any problem then i changed Makefile.Android content for

[2021-03-21 08:33] chriscamacho commented on #1568
okay helps if I actually attach stuff when I say I will - sheesh....

[loadTest.zip](https://github.com/raysan5/raylib/files/6177058/loadTest.zip)

[2021-03-21 08:51] chriscamacho commented on #1568
@Not-Nik as a stop gap measure feel free to use my loader.  as supplied (test-room.obj) the mtl file has 3 identical coloured materials, so this screen shot is after randomising the colours, ignore the cross shaped thing that's a separate model
![test-room](https://user-images.githubusercontent.com/716361/111899134-846a1d00-8a22-11eb-839b-e02d93d9ddfe.png)

[2021-03-21 09:29] chriscamacho commented on #1661
any spaces in your path to the project folder ? (just a thought!)

[2021-03-21 11:55] ejamshidiasl commented on #1661
no
`C:\Users\Arman\Documents\git\raylib\templates\simple_game`

[2021-03-21 12:08] chriscamacho commented on #1183
i know this is a year old but I have something pertinent

I've been able to run raylib with GLES by using PLATFORM_DRM

no joy at all with nvidia driver but both nouveau and intel drivers working fine - but then I'm about done with proprietary blobs

This could open the way for custom "consoles" mini OS projects, all based on just a slimmed down Linux kernel...

It runs without root (no need for s

[2021-03-21 13:35] chriscamacho commented on #1661
ah well, was worth a try

is make in your command path, ie if you open up cmd and type make (could be make.exe depending on sdk) does it work. Similarly as G++ gcc ld cpp et al all working from any path.

if you have Windows Subsystem for Linux installed you might try with that, make gcc etc all come from that side of things so its less forcing a square peg through a round hole, the script seem to

[2021-03-21 17:20] chriscamacho commented on #1658
oh I've not had a great day today!

turns out I completely misread what the original code was doing it needs to go back to 1 (what I thought was increasing the alignment to 8 from 2 is actually much worse using a value of 7, param B is only every 16 and this does work with the value of 1 not 7, so it needs to go back as it was....

I'm going to stop coding for a few days I must be doing too much!

[2021-03-21 17:30] raysan5 commented on #1658
@chriscamacho Ok, no worries, I'm reverting this change. :)

[2021-03-21 17:32] chriscamacho commented on #1658
thanks for your understanding, sorry for the inconvenience! 😰

On Sun, 21 Mar 2021 at 17:30, Ray ***@***.***> wrote:

--

blog bedroomcoders.co.uk <http://bedroomcoders.co.uk>
Free source code and tutorials!

Disclaimer:
By sending an email to ANY of my addresses you are agreeing that:

   1. I am by definition, "the intended recipient"

   2. All information in the email is mine to do with as I s

[2021-03-21 17:39] raysan5 commented on #1661
@ejamshidiasl Updated Makefile to use `mingw32-make` while compiling on Windows. Also added a comment on the Wiki.

Compilation should work now.

[2021-03-21 17:39] #1661 closed

[2021-03-21 19:47] autopawn commented on #957
I would like to report the same issue. I had an .ogg file and, although it was loaded correctly, it didn't play.

After some toying around I found that `GetMusicTimePlayed(·)` always returned 0, even though `IsMusicPlaying(·)` returned 1.

Finally, I could hear the music calling
[code]
**on each frame**.

I am not sure is this workaround is efficient with the resources though.

[2021-03-21 19:55] raysan5 commented on #957
@autopawn Actually, that's the expected behaviour. You must update the Music stream buffer every frame.

[2021-03-21 20:03] autopawn commented on #957
Sorry, I saw https://github.com/raysan5/raylib/issues/957#issuecomment-527130878 and I thought that it was right since nobody commented on it.

Maybe improving the comment
[code]
on the cheatsheet, by adding something like `(this should be called on every frame)` could be useful.

Although, my failure not looking at the examples.

[2021-03-23 02:24] chriscamacho commented on #1658
while this wasn't the way to fix the issue on fixing it I discovered it was masking the original seg fault, so currently there are at least two issues (at least with playing the xm mod - and only sometimes)...

I can attempt to search out whats causing the seg fault (and I don't know for sure I could find it - the code path is unsurprisingly complex), but I'd be more inclined to find something tha

[2021-03-23 02:28] chriscamacho opened #1670 "[examples - rlgl solar system] rlCheckRenderBatchLimit not used"
Someone looking at the example may well assume its not needed, their application may well then dump them back to the console

If a buffer overflow is detected is there no way to recover ? is it even feasible to issue a warning, draw what you have and then reset the buffer ?

seems a bit harsh just exiting ...

btw nearly managed 24hrs before I resisted the urge to code...

[2021-03-23 10:36] raysan5 commented on #1658
@chriscamacho I'm afraid at this point `jar_xm` and `jar_mod` are the only options we have, I have no idea about the original code state.

[2021-03-23 10:38] raysan5 commented on #1670
@chriscamacho Yeah, probably `rlCheckRenderBatchLimit()` should be added to the example, for security and also for best practice.

[2021-03-23 15:48] chriscamacho commented on #1658
@raysan5 One of my (too many?) side projects is an on-going evaluation of different C mod replayer...

[2021-03-23 15:50] chriscamacho commented on #1670
I only mention it not to criticise the example author in anyway, it's just if it caused me some confusion, and pause for thought, it could cause real issues for someone learning... especially as if you overflow the buffer its a hard hit back to to console....

[2021-03-23 22:45] #1670 closed

[2021-03-24 13:22] OkiStuff commented on #1511
has anyone added Gamepad Vibration for web yet?

[2021-03-24 14:36] OkiStuff commented on #1523
`text`: Redesign `DrawFPS()` to support Color parameter like other draw functions. ***BREAKING CHANGE***
PR to complete this:
https://github.com/raysan5/raylib/pull/1675
The PR also prevents this from being a breaking change

[2021-03-24 16:07] raysan5 commented on #1523
@OkiStuff Thanks for the review, already commented on the PR about the reasons not to merge it. In any case, I'll reviewed the comment.

[2021-03-24 16:16] raysan5 commented on #1511
@OkiStuff I'm afraid not.

[2021-03-24 19:38] raysan5 commented on #1556
@ChrisDill @JeffM2501 I'm doing a huge redesign of `rlgl` module to move all Mesh/Materials management to `models` module and now I'm considering this function... my question is, what are the benefits of having the function instead of just letting the user create the `Mesh` manually? This function implies an additional enumerator and dealing with flags... just thinking about it...

I'm also consid

[2021-03-25 08:47] ChrisDill commented on #1556
The goal of `GenMeshCustom` was to make buffer creation easier since buffer sizes are set the same way. For example vertices is expected to be vertexCount * 3.

Creating a `Mesh` manually works though you need to make sure sizes are set properly. Maybe that is the tradeoff in flexibility. Unless the Mesh

I think `mesh.triangleCount` is useful for knowing how many triangles are being drawn.

[2021-03-25 08:50] ChrisDill commented on #1556
The goal of GenMeshCustom was to make buffer creation easier since buffer sizes are set the same way. For example vertices is expected to be vertexCount * 3.

Creating a Mesh manually works though you need to make sure sizes are set properly. Maybe that is the tradeoff in flexibility.

I think mesh.triangleCount is useful for knowing how many triangles are being drawn. It can't be expected to be e

[2021-03-25 08:56] ChrisDill commented on #1556
The goal of `GenMeshCustom` was to make buffer creation easier since buffer sizes are set the same way. For example vertices is expected to be `vertexCount * 3 * sizeof(float)`, texcoords is set to `vertexCount * 2 * sizeof(float)` etc.

Creating a `Mesh` manually works though you need to make sure it is set up properly. Maybe that is the tradeoff in flexibility.

I think `mesh.triangleCount` is u

[2021-03-25 09:15] chriscamacho commented on #1556
I think (off the top of my head) I might be relying on triCount in models.c to split OBJ's into material meshes, this needs careful review !  I still need to investigate further why its not currently working....

[2021-03-25 13:28] raysan5 commented on #1523
Very big change introduced in commit https://github.com/raysan5/raylib/commit/cba412cc313e4f95eafb3fba9303400e65c98984

[2021-03-25 13:45] raysan5 commented on #1556
@ChrisDill @chriscamacho Actually, just discovered that for some Meshes `(mesh.triangleCount*3 != mesh.vertexCount)`, that's because some meshes could contain indexed data... Mmmh... that should be investigated...

[2021-03-25 15:01] chriscamacho commented on #1568
@raysan5 its a -1 string error *again* in tinyobj_loader *sigh* this time a tiny bit higher up the chain...

I'm not doing a PR for this as it can't be fixed upstream as it already has been to my belief (with the latest version upstream)

to get the version you're using to work apply this patch...

[code]
basically he *is* allocating space + 1, but then putting the terminator at -1 so loosing the

[2021-03-25 15:39] Crydsch commented on #1556
This is generally the case when using IndexedRendering. Its very idea is to reuse vertecies, thus (mesh.triangleCount*3 != mesh.vertexCount).
I actually use this without an index buffer entirely, by generating the vertex data in the vertex shader.
In this special case it actually possible to have (mesh.vertexCount == 0).

[2021-03-25 17:38] chriscamacho commented on #1556
@Crydsch so what kicks the *vertex* shader, if you have no vertex data...

@raysan5 afaict by the time stuff comes out of tinyobj_loader its all indexed, but then I've just looked up the indexes and probably on some models duplicating some verts (deliberately) I can't see the "wasted" memory being significant and it's potentially less lookups for the GPU, but who knows what's faster on what hardwa

[2021-03-25 21:40] purewack opened #1679 "[build] Instancing functions entry points not defined on RPI"
I am trying to build the library on a fresh raspberry pi zero with all needed things already installed like build-essentials.

There are errors possibly related to the new issue of the rlgl redesign, but the following output of make might be useful:

[code]

[2021-03-25 22:06] lazaroblanc opened #1680 "[rglfw] Support continue drawing while windows is being resized"
I've already asked this question over [on the Discord server](https://discord.com/channels/426912293134270465/427518168995725317/824759090756583485).

I'd like for my windows to continue drawing while they are being resized.
At the moment drawing is interrupted until resizing of the window has stopped.

This issue has been addressed over [on Stack Overflow](https://stackoverflow.com/questions/4588

[2021-03-25 23:22] raysan5 commented on #1679
Those entry points should be defined in GL headers. In any case, definition should be:
[code]

Not sure how it could be addressed...

[2021-03-25 23:46] purewack commented on #1679
I have now tried with all the recommended libraries for the raspberry pi os in the case of errors - as stated in the wiki article, and have enabled the GL (full KMS) driver but same exact make output :/

[2021-03-26 07:07] kororro opened #1681 "Raylib UWP App doesnt compile"
https://github.com/raysan5/raylib/blob/master/projects/VS2017.UWP/raylib.App.UWP/App.cpp

    posX += GetGamepadAxisMovement(GAMEPAD_PLAYER1, GAMEPAD_AXIS_LEFT_X) * 5;
    posY += GetGamepadAxisMovement(GAMEPAD_PLAYER1, GAMEPAD_AXIS_LEFT_Y) * -5;

Error:
'GAMEPAD_PLAYER1': undeclared identifier  (line 197)

[2021-03-26 07:10] kororro opened #1682 "GLTF (raylib_32x32.glb) testfile problem"
resources/gltf/raylib_32x32.glb
does not load when testing models_gltf_model.c

Imported  raylib_32x32.glb  to blender, exported  raylib_32x32.glb  and then it works somehow.

[2021-03-26 17:54] chriscamacho commented on #1682
it would be helpful if you could detail the original source of the asset and if possible include it here for testing...

[2021-03-26 18:56] kororro commented on #1682
Ah my bad.
Deleted build/ dir and created projects again using cmake, now it works.

[2021-03-26 18:56] #1682 closed

[2021-03-26 19:00] kororro opened #1684 "GLTF test not updated"
models_gltf_model.c tries to load deleted file

    model[2] = LoadModel("resources/gltf/Avocado.glb");

https://github.com/raysan5/raylib/commit/75882f32548e564c06a3d14339fabf723601f628

[2021-03-26 19:31] chriscamacho commented on #1568
@raysan5 do you want me to look at the latest version of tinyobj_loader again, or are you intending to do this yourself ? in the mean time can you patch the current version in use as I have described ?

[2021-03-26 20:29] Crydsch commented on #1556
@chriscamacho I am using the normal `rlDrawMesh(..)`, then the vertex shader is invoked (once) for each index. You just don't have any vertex data input in your shader. You then generate your output data (including the vertex position) based on the given `gl_VertexID`.

Also, "un-indexing" meshes sounds very wrong to me. Indexed meshes should generally be preferred.
Not only is your memory footpri

[2021-03-26 22:26] chriscamacho commented on #1556
@Crydsch if unindexing is so wrong feel free to implement something better !

What you get in an OBJ is just a soup of vertexes, and a bunch of indexes, the easiest way to pick them apart is to "un-index" as you put it, _in practice in almost all the models I tested there were very few duplicated vertices_ - that's just how artists roll...

regarding your zero vertex technique its not zero vertice

[2021-03-26 22:56] Crydsch commented on #1556
@chriscamacho  Don't get me wrong, if there are not many duplicate indexes in a mesh then indexed rendering may not be beneficial.

Actually there is vertex data, just not in a buffer i need to load onto the gpu. I use the vertex shader to generate the vertex data.
This is probably a rather special case - true. If you're interested I'll gladly go into more detail on discord ;)

[2021-03-26 23:30] lazaroblanc commented on #1680
Can we update this to "(...) while window is being dragged & resized" ?

[2021-03-27 04:50] kororro opened #1686 "[build] master branch doesnt compile on VS2019 community"
rlgl.h
line 3121:  glDrawElements(GL_TRIANGLES, count, GL_UNSIGNED_SHORT, buffer + offset);
line 3134:  glDrawElementsInstanced(GL_TRIANGLES, count, GL_UNSIGNED_SHORT, buffer + offset, instances);

errors:   'void*': unknown size.

Adding   (char*)  before  buffer seems to work (dont know is it the right way)
glDrawElements(GL_TRIANGLES, count, GL_UNSIGNED_SHORT, (char*)buffer + offset);
glDrawEle

[2021-03-27 06:52] kororro commented on #1686
Just noticed this PR
https://github.com/raysan5/raylib/pull/1685

[2021-03-27 06:58] #1686 closed

[2021-03-27 11:10] chriscamacho commented on #1568
https://github.com/raysan5/raylib/pull/1687 did it anyhow

[2021-03-27 11:51] chriscamacho commented on #1552
Wouldn't it be better doing this in the vertex shader ?

Once there is the basic pose mesh, and the bone info, the shader can work this out on the fly, allowing for smooth animations as bones are interpolated between key frames.

[2021-03-27 13:11] chriscamacho commented on #1568
@raysan5 sorry thought the updated loader was working but with some models the internal OBJ layout that it parses to has changed somehow, I can't for the life of me see what's changed, but basically it breaks the original code that creates the raylib model...

the c version upstream is clearly a second class citizen to his c++ version the C version doesn't even get tested properly and leaks in pla

[2021-03-28 02:09] Nv7-GitHub commented on #451
I also have the same question as @pery77 , did you figure it out?

[2021-03-28 06:43] chriscamacho commented on #451
have a look at the examples for example(!) shaders_multi_sample2 is using an extra texture texBlue. also as ray said https://github.com/raysan5/raylib/issues/390 gives a clear example

[2021-03-28 12:47] chriscamacho opened #1690 "[core] Can only load shaders from file"
since LoadShaderCode has been moved into rlgl there is no way to load a shader except from a file

while rlLoadShaderCode can be used this only passes back an id, and you then have to manually add in the "default" shader locations, which is a bunch of needless boiler plate and code that should only be in one place (in case it later changes)

putting back an ability to load from memory shader code,

[2021-03-28 18:13] raysan5 commented on #1690
@chriscamacho Good point! Added function!

[2021-03-28 18:13] #1690 closed

[2021-03-28 18:16] raysan5 commented on #1684
Reviewed!

[2021-03-28 18:16] #1684 closed

[2021-03-28 18:21] raysan5 commented on #1681
reviewed!

[2021-03-28 18:21] #1681 closed

[2021-03-28 18:52] raysan5 commented on #1568
@chriscamacho Yeah, it seems a new obj loader is required.

I'm closing this issue and add the requirement to my list for next release.

[2021-03-28 18:52] #1568 closed

[2021-03-29 08:24] chriscamacho commented on #1690
thx :+1:

[2021-03-30 07:48] chriscamacho opened #1691 "[models] Normal matrix recalculated every vertex"
A number of shaders requiring normals, such as the simple lighting shader, recalculate the normal matrix each vertex:

abstract from typical vertex shader.
[code]

it would be more efficient to calculate the normal matrix at the same time the mvp / matModel matrix are being calculated and pass it to the vertex shader as a uniform, doing it just once for the whole model rather than each vertex

[2021-03-30 12:16] mkupiec1 opened #1692 "[shapes] CheckCollisionPointTriangle() - one ampersand symbol missing in logical AND operator"
https://github.com/raysan5/raylib/blob/b5aaf33058df329963c8d7825d58131bebd13647/src/shapes.c#L1471

is:
if ((alpha > 0) && (beta > 0) & (gamma > 0)) collision = true;

should be:
if ((alpha > 0) && (beta > 0) && (gamma > 0)) collision = true;

[2021-03-30 12:37] mkupiec1 opened #1693 "[shapes] CheckCollisionPointLine(); - new feature proposal"
### Issue description

New feature proposal to existing collision detection routines:
It checks if point [point] belongs to line created between two points [p1] and [p2] with defined margin in pixels[threshold].
[code]

[2021-03-30 18:07] mkupiec1 opened #1694 "[shapes] CheckCollisionPointPoly() - new feature proposal"
### Function description

New feature proposal to existing collision detection routines:
It checks if point [point] is inside polygon defined by array of points [points].

Routine divides polygon into triangles each starting at first vertex and counting if point is inside. Odd result means that point is inside polygon.
[code]

[2021-03-31 12:12] raysan5 commented on #1692
@mkupiec1 Oh! Good catch! Feel free to send a PR!

[2021-03-31 12:14] raysan5 commented on #1693
@mkupiec1 Nice addition! Feel free to send a PR! Please, just try to follow raylib [coding conventions](https://github.com/raysan5/raylib/wiki/raylib-coding-conventions).

[2021-03-31 14:22] raysan5 commented on #1679
@purewack I've been investigating this issue. It seems default RPI [OpenGL ES 2.0 libraries (extensions)](https://github.com/raspberrypi/firmware/blob/master/opt/vc/include/GLES2/gl2ext.h) do not match latest [Khronos GLES2 libraries](https://www.khronos.org/registry/OpenGL/api/GLES2/gl2ext.h). Actually RPI one dates from 2012 while Khronos one dates from 2013-2020.

I've checked that with latest

[2021-03-31 14:53] mkupiec1 commented on #1692
Done. Thanks a lot!

[2021-03-31 14:53] #1692 closed

[2021-03-31 14:53] #1693 closed

[2021-03-31 16:42] #1679 closed

[2021-03-31 18:43] raysan5 commented on #1691
@chriscamacho Mmmh, yeah, this could be a nice improvement. WIP

[2021-03-31 18:44] #1691 closed

[2021-04-01 02:09] chriscamacho commented on #1691
nice! :+1: :smile:

[2021-04-02 11:47] #1241 closed

[2021-04-02 11:48] raysan5 commented on #1680
I've been investigating if this is feasible and it seems with current raylib implementation it's not possible, users should work at a lower level to accomplish this. In any case, if anyone feels brave enough to investigate it further and find a possible solution, you are welcome.

[2021-04-02 11:48] #1680 closed

[2021-04-02 12:29] #721 closed

[2021-04-02 13:29] chriscamacho commented on #721
[code]

[2021-04-02 13:35] raysan5 commented on #721
@chriscamacho https://github.com/raysan5/raylib/commit/51f3129c5dfa4be70787fa9c4473335252abffcd

[2021-04-02 13:47] raysan5 commented on #1523
Most of the goals for the next release have been reached. Some features have been omitted and some additional ones implemented. I'm closing this issue, I'll prepare things for a new release. :)

[2021-04-02 13:47] #1523 closed

[2021-04-02 13:51] chriscamacho commented on #721
close ! :smiley:
[code]
is there a raylib build flag to enable instrumentation ? makes stuff like this a lot easier to track down

[2021-04-02 13:59] raysan5 commented on #1556
After lot of thinking about this functionality, I decided to add a simple `GenMeshDefault()` that loads by default and empty mesh with the most common vertex attributes: position, texcoord, normal, color. It also uploads the 0-initialized data to GPU (like the other `GenMesh*()` functions).

Advance users requiring some specific vertex attributes can create the `Mesh` manually.

[2021-04-02 13:59] #1556 closed

[2021-04-02 14:03] raysan5 commented on #1511
As this issue depends on an external library, I'm closing it. Feel free to open the issue on the specific repo that should implement it or just send a PR for review.

[2021-04-02 14:03] #1511 closed

[2021-04-02 14:37] CODESOLE commented on #1552
+1
Yeah, i really want that feature as well. I think my biggest wish right now.

[2021-04-04 15:05] damucz opened #1700 "GLTF scale multiplication - probably copy&paste issue"
https://github.com/raysan5/raylib/blob/14aa29d18b8d1ab0c750e9f1f721e312c78ad659/src/models.c#L4333

One parentTransform probably should be currentTransform?

[2021-04-05 01:04] jmorel33 commented on #1295
I personally have found an easy way to get the Monitor Refresh rate;
current_monitor = GetCurrentMonitor();
GetMonitorRefreshRate(current_monitor);

[2021-04-05 11:48] raysan5 commented on #1700
@damucz Good catch! Reviewed!

[2021-04-05 11:48] #1700 closed

[2021-04-06 07:20] Saikyun opened #1706 "[models] DrawGizmo is in the docs but removed from code"
- [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description

DrawGizmo is in the docs (e.g. https://www.raylib.com/cheatsheet/cheatsheet.html), but not in the code.
I'm not missing it, but it should probably be removed from the docs if it isn't available anymore. :)

[2021-04-06 09:50] raysan5 commented on #1706
@Saikyun Yeap, I'm aware of that, just removed it for `raylib 3.7`, I'm in the process of updating everything for the new release.

[2021-04-06 11:10] raysan5 commented on #1706
Updated cheatsheet for raylib 3.7.

[2021-04-06 11:10] #1706 closed

[2021-04-06 14:14] Delvix000 opened #1708 "[rlgl] Application crashes on Raspberry PI when using GRAPHICS_API_OPENGL_21"
There is an issue running the latest raylib version on a Raspberry PI 3B equipped with the latest Raspbian OS. Both raylib and the examples compile fine, but when trying to run any of them, they crash because it seems that GLAD is trying to load OpenGL 3.3 which is not supported on the PI. I compile both raylib and the examples with the default building method for the PI with X11
`make PLATFORM=PL

[2021-04-06 16:11] Crydsch opened #1709 "[rlgl] Expose OpenGL extensions supported"
I am currently writing a little extension for rlgl (support for texture arrays).
For this is need to query `ExtSupported` texture formats.

Would it be possible to make `rlglData RLGL` accessible from the outside?
In order to prohibit external manipulation, just pass a copy?
Something like:
[code]
Maybe just return `RLGL.ExtSupported` ?

[2021-04-06 19:42] raysan5 commented on #1708
@Delvix000 Please, could you try if it works now?

[2021-04-06 20:52] raysan5 commented on #1709
@Crydsch No plans to expose the full `RLGL` data but maybe `ExtSupported` in some way.

[2021-04-06 20:56] Crydsch commented on #1709
Sound fine to me. That would be great!

[2021-04-06 20:59] raysan5 commented on #1709
@Crydsch In any case, do not expect it for next release. Maybe for the following ones. No priority to review that part, neither to add textures arrays support.

[2021-04-06 21:10] Crydsch commented on #1709
No worries. I just came across this trying to write a little extension to make texture arrays work.
Would be great to be able to query supported formats like the `rlLoadTexture(..)` function.

[2021-04-07 15:06] #1708 closed

[2021-04-07 15:19] chriscamacho commented on #1587
does the loader provide all the bone data?

I'd have a stab at making a vertex shader to do this if ....

A) I had 2-3 different examples of bone animation IQM's
b) The loader does in fact provide all the relevant bone data
C) I've I have the time (I've started a new job) fatigue is an issue!

[2021-04-07 15:21] chriscamacho commented on #1709
My immediate reaction, would be yeah great for advanced user, but exposing what amounts to internal global variables is probably not a great idea!

For the future, it might be nice if an end user could (somehow?) request access to specific GL extensions, obviously this would be for advanced users....

[2021-04-07 19:30] Saikyun opened #1712 "[core] GetKeyPressed only returns non-zero when releasing the key"
Please, before submitting a new issue verify and check:

 - [x] I tested it on latest raylib version from master branch
 - [x] I checked there is no similar issue already reported
 - [x] My code has no errors or misuse of raylib

### Issue description

When calling `GetKeyPressed()` it only returns non-zero when releasing the key. Before (v3.0) it returned non-zero when depressing the key.

### En

[2021-04-08 06:56] Saikyun commented on #1712
Okay, so found the reason now, on this line it only puts keys on the queue on release: https://github.com/raysan5/raylib/blob/b3f75b91ff6859f5c19c4b1e6b17c78b5e66530f/src/core.c#L5034

Is this intended? Afaik it is more common to trigger on key press, something like this:
[code]

I can make a PR but I'm not sure what your intention is @raysan5. :)

[2021-04-08 19:07] Saikyun commented on #1712
FWIW I noticed GetCharPressed uses `GLFW_PRESS`.